<h3 class="search_heading">Search by contacts</h3>
<div class="row">
 <div class="col-12">
   <button type="button" class="btn btn-danger" id="clear_basic_filters" style="float: right;">Reset</button>
 </div>
</div>
<div class="row">
<input type="hidden" name="filter_country_name" id="filter_country_name" >
<input type="hidden" name="filter_state_name" id="filter_state_name" >
<input type="hidden" name="filter_city_name" id="filter_city_name">
<input type="hidden" name="filter_nationality_name" id="filter_nationality_name" >
<input type="hidden" name="filter_gender_name" id="filter_gender_name">
<div class="col-sm-6">
   <label class="col-sm-12 col-form-label">Country</label>
   <div class="col-sm-12">
     
      <select class="form-control select2 jsSelect jsCountry" name="country" id="country" multiple="multiple" data-placeholder="Select a country">
         <% for(var i = 0; i < countries_list.length; i++) { %>
         <option value="<%= countries_list[i].country_id %>"><%= countries_list[i].country_name%></option>
         <% } %>
      </select> 
   </div>
</div>
 <div class="col-sm-6">
   <label class="col-sm-12 col-form-label">State</label>
   <div class="col-sm-12">
     <select class="form-control select2 jsSelect jsState" name="state"
   id="state" multiple="multiple" data-placeholder="Select a state"> 
     </select>
   </div>
</div>

</div>
<div class="row">
<div class="col-sm-6">
   <label class="col-sm-12 col-form-label">City</label>
   <div class="col-sm-12">
     <select class="form-control select2 jsSelect " name="city" id="city" multiple="multiple" data-placeholder="Select a city">
      </select>
   </div>
</div>
<div class="col-sm-6 hide_clicker">
   <label class="col-sm-12 col-form-label">Nationality</label>
   <div class="col-sm-12">
      <select class="form-control jsSelect select2" name="nationality" id="nationality" multiple="multiple" data-placeholder="Select a nationality">
         <% for(var i = 0; i < nationality.length; i++) { %>
         <option value="<%= nationality[i].nationality_id %>"><%= nationality[i].nationalities_name  %></option>
       <% } %>
     </select>
   </div>
</div>
</div>
<div class="row">
<div class="col-sm-6">
   <label class="col-sm-12 col-form-label">Pincode</label>
   <div class="col-sm-12">
      <input class="form-control" type="text" placeholder="Enter Pincode" id="pincode" name="pincode">
   </div>
</div>
<div class="col-sm-6 hide_clicker">
   <label class="col-sm-12 col-form-label">Gender</label>
   <div class="col-sm-12">
      <select class="form-control jsSelect select2" name="gender" id="gender" multiple="multiple" data-placeholder="Select a gender">
         <option value="0">Male</option>
         <option value="1">Female</option>
      </select>
   </div>
</div>
</div>
<div class="row">
<div class="col-sm-6 hide_clicker">
   <label class="col-sm-12 col-form-label ">Locality</label>
   <div class="col-sm-12">
      <input class="form-control" type="text" placeholder="Enter Locality" id="locality" name="locality">
   </div>
</div>
<div class="col-sm-6 hide_clicker">
   <label class="col-sm-12 col-form-label ">Profession</label>
   <div class="col-sm-12">
      <select class="form-control jsSelect" name="profession" id="profession" multiple="multiple" data-placeholder="Select a profession">
      <% 
      if(profession)
      {
         for(var i = 0; i < profession.length; i++) {
      %>
      <option value="<%= profession[i]._id %>"><%= profession[i].name  %></option>
      <% 
         } 
      }
      %>
      </select>
   </div>
</div>
</div>
<div class="row">
<div class="col-sm-6 hide_clicker">
   <label class="col-sm-12 col-form-label ">Salary</label>
   <div class="col-sm-12">
      <input class="form-control" type="text" placeholder="Enter Salary" id="salary" name="salary">
   </div>
</div>
<div class="col-sm-6 hide_clicker">
   <label class="col-sm-12 col-form-label ">Source</label>
   <div class="col-sm-12">
      <select class="form-control jsSelect" name="source" id="source" multiple="multiple" data-placeholder="Select a source">
      <% 
      if(source)
      {
         for(var i = 0; i < source.length; i++) {
      %>
      <option value="<%= source[i]._id %>"><%= source[i].name  %></option>
      <% 
         } 
      }
      %>
      </select>
   </div>
</div>
</div>
<div class="row">

<div class="col-sm-6 hide_clicker">
   <label class="col-sm-12 col-form-label ">Lead From Date</label>
   <div class="col-sm-12">
      <input type="text" name="lead_from_date" class="form-control from_date" placeholder="Select Lead From Date" readonly>
   </div>
</div>

<div class="col-sm-6 hide_clicker">
   <label class="col-sm-12 col-form-label ">Lead To Date</label>
   <div class="col-sm-12">
      <input type="text" name="lead_to_date" class="form-control to_date" placeholder="Select Lead To Date" readonly>
   </div>
</div>
</div>
<div class="row">
<div class="col-sm-6">
   <label class="col-sm-12 col-form-label ">Operator Name</label>
   <div class="col-sm-12">
      <select class="form-control jsSelect" name="operator_name" id="operator_name" multiple="multiple" data-placeholder="Select a operator name">
      <% 
      if(operator_name)
      {
         for(var i = 0; i < operator_name.length; i++) {
      %>
      <option value="<%= operator_name[i]._id %>"><%= operator_name[i].name  %></option>
      <% 
         } 
      }
      %>
      </select>
   </div>
</div>
<div class="col-sm-6 hide_clicker" id="vue">
   <div class="col-sm-12 col-form-label" id="debug">
      <label class="">Ages (<b style="color: #0088cc;">{{ minAge }}</b> to <b
         style="color: #0088cc;">{{ maxAge }}</b> years)</label>
   </div>
   <div class="col-sm-12">
      <div id="ageSlider"></div>
      <input type="hidden" id="minAge" name="minAge" v-model="minAge" />
      <input type="hidden" id="maxAge" name="maxAge" v-model="maxAge" />
   </div>
</div>
</div>