<!-- SECTION 1 -->
<h2>
   <span class="step-icon"><i class="menu-icon mdi mdi-bullhorn"></i></span>
   <span class="step-number">Step 1</span>
   <span class="step-text">Campaign</span>
</h2>
<section>
   <div class="inner">
      <div class="row">
         <input type="hidden" name="page_name" value="add" id="page_name">
         <input type="hidden" name="stored_camp_id" id="stored_camp_id" value="">
         <div class="col-md-6">
            <label for="username">Campaign Name*</label>
            <input type="text" placeholder="Campaign Name" class="form-control" id="campaign-name"
               name="campaign_name">
         </div>
         <div class="col-md-6">
            <div class="form-holder form-holder-2">
               <label for="card-type">Category* <a href="/category/group" style="font-size: 10px;"
                  target="_blank">(Add new)</a></label>
               <select class="form-control jsSelect to_Category" name="category_id" id="category_id">
                  <option value="">---Select Category ---</option>
                  <%  for(var i = 0; i < category_list.length; i++) { %>
                  <option value="<%= category_list[i]._id %>"><%= category_list[i].name  %></option>
                  <% } %>
               </select>
               <p id="err_category" class="error"></p>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- SECTION 1 -->