<!-- SECTION 4 -->
<h2>
   <span class="step-icon"><i class="mdi mdi-email-outline"></i></span>
   <span class="step-number">Step 3</span>
   <span class="step-text">Send SMS</span>
</h2>
<section>
   <div class="inner">
      <h3 style="text-align: center;">SMPP & Record Selection</h3>
      <div class="form-row table-responsive" id="vue-confirm">
         <table class="table">
            <tbody>
               <tr class="space-row">
                  <th>Filter by:</th>
                  <td id="filter-by-val"></td>
                  <td></td>
               </tr>

               <tr class="space-row">
                  <th>Total Contacts:
                  </th>
                  <input type="hidden" id="total_contacts" name="total_contacts" value="0"/>
                  <td>
                     <span id="total-contacts-val">0</span> 
                     <img src="/public/images/loader.gif" style="display:none;width: 35px;height: 35px;" id="record_loader">
                  </td>
                  <td></td>
               </tr>

               <tr class="space-row">
                  <th>Record Selection</th>
                  <td>
                     <input type="text" name="from_rec_val" class="from_rec_val form-control" id="from_rec_val" placeholder="Min Record"/>
                     <p id="errmsg" style=""></p>
                  </td>
                  <td>
                    <input type="text" name="to_rec_val" class="to_rec_val form-control" id="to_rec_val" disabled="disabled" placeholder="Max Record"/>
                    <p id="max_err_msg"></p>
                  </td>

               </tr>
               <tr class="space-row prev_rec" style="display:none">
                                   
                 <th>Previous Record Selection</th>
                  <td colspan="2">
                    <span style="float:left">
                        <span class="from_rec_selec_txt"></span> <span class="prev_rec">to</span>
                        <span class="to_rec_selec_txt"></span>
                        <input type="hidden" name="from_rec_selec_val" class="from_rec_selec_val" id="from_rec_selec_val" disabled="disabled" />
                    <span style=""> &nbsp; 
                        <input type="hidden" name="to_rec_selec_val" class="to_rec_selec_val" id="to_rec_selec_val" disabled="disabled" />
                   </td>

               </tr>
               <tr class="space-row prev_rec" style="display:none">
                  <th>Previous Filter by:</th>
                  <td colspan="2" id="filter-by-prev-val"></td>
               </tr>
                <tr class="space-row">
                   <th>SMPP</th>
                   <td>
                      <select class="form-control jsSelect" name="smpp_name" id="smpp_name">
                      </select>
                      <p id="err_smpp_name" class="error"></p>
                   </td>
                  <td></td>
                </tr>
              
                <tr class="space-row">
                   <th>FROM<br/><span class="font11 redTxt">Select your Sender ID</span></th>
                   <td>
                      <select class="form-control jsSelect" name="sender_addr" id="sender_addr">
                      </select>
                      <a href="JavaScript:void(0);" id="senderid_preview" class="redTxt add_new_sender_id" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#previewSenderIDModal" style="font-size: 11px;text-decoration: underline;">Add new sender ids</a>

                      <p id="err_sender_name" class="error"></p>

                   </td>
                  <td></td>
                </tr>

               <tr class="space-row">
                  <th>Confirmation:</th>
                  <td>
                    <a  class="btn btn-success confirm_sms_send" name="button_mode" id="preview" >Preview</a>
                    <a href="JavaScript:void(0);" onclick="checkScheduleFinalStepandValidation()" id="scheduled_sms" class="btn btn-warning" name="schedule_button" data-toggle="modal" data-backdrop="static" data-keyboard="false">Schedule</a>
                    <a href="JavaScript:void(0);" id="test_sms" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#previewTestingSMSModal">Test with sms</a>
                    <p id="zero_notification" style="color: #ff6e8c;font-size: 13px;margin-top:10px;font-weight: bold;display:none;">Sorry..! Total contacts is zero..! you can't send the sms!</p>
                  </td>
                  <td></td>
               </tr>

            </tbody>
         </table>
      </div>
   </div>
</section>
<!-- SECTION 4 -->