<!-- ################# Add New Campaign - Modal POPUP - Start ################# -->
<div class="modal fade" id="previewCampaignModal" tabindex="-1" role="dialog" aria-labelledby="previewCampaignModal"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content" id="sender_id_content" style="width:700px;">

         <div class="modal-header">
            <h5 class="modal-title" id="createCategoryModal">Add New Campaign</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
         </div>

         <div class="modal-body">
          <form  id="add_camp_form">
            <div class="row">
               <div class="col-12">
                  <div class="form-group">
                     <table class="table table-bordered upload-file-table" style="background: #fff;">
                        <tbody>
                          <tr class="space-row">
                              <th>Campaign Category:</th>
                              <td>
                                  
                                  <select class="form-control " name="camp_cat_id" id="camp_cat_id">
                                  <option value="">-- Please select --</option>
                                    <% 
                                       if(category_list){
                                       for(var i = 0; i < category_list.length; i++) { 
                                       %>
                                    <option value="<%= category_list[i]._id %>"><%= category_list[i].name %></option>
                                    <% } 
                                       }
                                       
                                       %>
                                 </select>
                                <div id="camp_cat_id_validate"></div>
                              </td>
                           </tr>
                           <tr class="space-row">
                              <th>Campaign Name:</th>
                              <td>
                                  <input type="text" class="form-control" name="campaing_name" id="campaing_name" placeholder="Enter your campaign name" size=6>
                                 <div id="campaing_name_validate"></div>
                              </td>
                           </tr>
                          
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            
            <div class="modal-footer">
               <div class="row">
                  <div class="col-12">
                     <div class="form-group">
                        <!-- <button type="button" id="req_cancel_btn" class="btn btn-danger">Close</button>&nbsp;&nbsp; -->
                        <button type="submit" id="send_request" class="btn btn-success">Save</button>
                        <img src="/public/images/loader.gif" style="display:none;width: 35px;margin: auto;" id="save_campaign">
                     </div>
                  </div>
               </div>
            </div>
          </form>
         </div>

      </div>
   </div>
</div>

<!-- ################# Add New Campaign - Modal POPUP - Stop ################# -->
