      <% include ../layouts/header %>

<!-- content-wrapper start -->
<div class="content-wrapper">
  
  <div class="row">
<div class="col-12 grid-margin">
              <div class="card">
 
                  <div class="template-demo">
                    <a href="/public/sample-format/kasplo_sample_import_header_format.xlsx" class="btn btn-danger btn-fw" style="float: right;"><i class="mdi mdi-file-document"></i> Sample CSV (Upload Format)</a>
                  </div>

                <div class="card-body">
                  <h4 class="card-title" style="color:red;">Testing Page - CSV Import</h4>  
		        
                  <% if(import_success_msg!=''){ %>
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <%= import_success_msg %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <% } %> 

                  <% if(import_validation_msg!=''){ %>
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= import_validation_msg %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <% } %> 

                  <form class="form-sample" action="/upload/test_save" method="post" enctype="multipart/form-data" >
                    
                        <input type="hidden" value="<%= user.name %>" name="user_name">

                  <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                         
                          <label><b>Category</b></label>
                            <select class="form-control" name="category_id" id="category_id">
                              <option value="0" selected>Others</option>
                              <% 
                                if(category_list){
                                for(var i = 0; i < category_list.length; i++) { 
                              %>

                                  <option value="<%= category_list[i]._id %>"><%= category_list[i].name %></option>
                              <% } 

                                }

                              %>
                              
                            </select>
                          
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                         
                          <label><b>Source</b></label>
                            <select class="form-control" name="source_id" id="source_id">
                              <option value="" selected>None</option>
                              <% 
                                if(source_list)
                                {
                                  for(var i = 0; i < source_list.length; i++) { 
                                
                                %>

                                  <option value="<%= source_list[i]._id %>"><%= source_list[i].name %></option>
                              <% } 
                                }
                              %>
                              
                            </select>
                          
                        </div>
                      </div>

                      </div>

                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="card-title"> </label>
                            
                            <div class="input-group col-xs-12">                           
                                <input type="file" class="btn btn-dark"  placeholder="Upload Image" name="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">

                                <button type="submit" class="btn btn-theme btn-fw" style="float:right; margin-left: 20px; margin-bottom: 0px!important;  " id="upload_btn">
                                    <i class="mdi mdi-upload"></i>Upload</button>
                                    <img src="/public/images/loader.gif" style="display:none;float: right;width: 35px;height: 35px;" id="loader">
           
                             
                            </div>
                          </div>
                        </div>

                         

                  </form>
                </div>
              </div>
            </div>

  </div>

</div>
<!-- content-wrapper ends -->


      <% include ../layouts/footer %>

      <script>

$( document ).ready(function() {
 $("#category_id").select2();
 $("#source_id").select2();

  $('#upload_btn').on('click', function() {
      $("#loader").show();
  });

});
      </script>