<% include ./../layouts/header %>
<% include ./../layouts/top_header %>
<% include ./../layouts/side_menu %>
<% var access = user['permission_access'];  %>
<div class="col-md-10 compressedContentWidth">

  <div class="col-md-12 topSectionContent">

      <div class="campaignHeaderSection">
        <form class="form-sample"  method="post" enctype="multipart/form-data" id="bulk_upload">
                  
          <div class="col-md-12 sendSMSSecondarySec">

              <div class="col-md-5">

                  <h3> CSV Import </h3>

                  <p class="greyColor"> You can send SMS in batches upto 5,00,000. Upload a file containing<br>  Mobile Numbers. .csv and .xlsx format files are allowed .</p>

                  <p class="marginTop3"> <small> <b>Pick what you would like to import and click upload.</b> </small> </p>

                  <div class="form-group">

                      <div class="col-sm-12 marginTop3">

                          <label for="campaignname" class="">Category</label>
                          <select  class="form-control input-group-md" name="category_id" id="category_id">
                              
                          </select>
                          <div id="category_id_validate"></div>
                      </div>

                      <div class="col-sm-12 marginTop3">

                          <label for="lastname"> Source </label>
                          <select  class="form-control input-group-md" name="source_id" id="source_id">
                            <option value="" > None </option>
                          </select>
                          
                      </div>
                      <div class="col-sm-12 marginTop3">
                        <button type="submit" class="btn btn-primary" id="upload_btn">Upload</button>
                        <img src="/public/images/loader_form.gif" style="display:none;float: right;width: 35px;height: 35px;" id="loader">
           
                      </div>
                  </div>

              </div>

              <div class="col-md-7">

                  <div class="col-md-12 centerText">

                      <div class="dropZone">

                          <img src="../images/send_sms/drag_Files.svg" alt="">
                          <br>
                          <h4>Drop a file here</h4>
                          <p class="greyColor">Only .csv and .xlsx format files are allowed <br> or </p>

                      </div>

                      <input class="inputUpload" type="file" name="file_name" id="file_name" value="file_name" accept=".xlsx,.csv">
                      <div id="file_name_validate"></div>
                  </div>

              </div>

          </div>
        </form>
         

      </div>

  </div>

</div>

</div>

</div>
<% include ./../layouts/footer %>
<script src="../../public/scripts/dropdowns/dropdown.js"></script>
<script type="text/javascript">
$(document).on('click', '#bulk_upload', function() {
    var validator = $("#bulk_upload").validate({
      rules: {
        category_id: {
          required : true
        },
        file_name: {
          required: true,
          extension: "xlsx|csv"
        }
      },

      messages: {
        category_id: {
          required : "Please select category_id"
        },
        file_name: {
          required: "Please upload a file",
          extension: "Please upload file with .xls or .csv extension"
        }

      },

      submitHandler: function(form) {
        $("#loader").show();
        $("#upload_btn").prop('disabled', true);
        var formData = new FormData();         
        var file = document.getElementById("file_name").files[0]; 
        var category_id = $("#category_id").val();
        var source_id = $("#source_id").val();
        var user_id = $("#user_id").val();
        var user_name = $("#user_name").val();
        formData.append("category_id", category_id);
        formData.append("source_id", source_id);
        formData.append("file", file);
        formData.append("user_id", user_id);
        formData.append("user_name", user_name);

        var base_url='<%= upload_base_url %>/upload/save';
        $.ajax({
          type: 'POST',
          url: base_url,
          data: formData,
          dataType: 'json',
          contentType: false,
          processData: false,
          success: function (data) {

            if (data.status == 200) {
              $("#bulk_upload")[0].reset();
              $("#loader").hide();
              $("#upload_blk_btn").prop('disabled', false);
              swal({
                title: "Success",
                text: "Hi <%= user.name %>, File uploaded successfully!",
                icon: "success"
              }).then(function () {
                // when click ok then redirect back
                location.reload();
              });
          
            }             

          },
       
        });
      },
      errorPlacement: function (error, element) {
          var name = $(element).attr("name");
          error.appendTo($("#" + name + "_validate"));
      }
    });            
 }); //document ready 
 </script>