<% include ../layouts/header %>
<!-- content-wrapper start -->
<div class="content-wrapper">
   <div class="row">
      <div class="col-12 grid-margin">
         <div class="card">
            <div class="template-demo">
               <a href="/public/sample-format/kasplo_sample_import_header_format.xlsx" class="btn btn-danger btn-fw" style="float: right;"><i class="mdi mdi-file-document"></i> Sample CSV (Upload Format)</a>
            </div>
            <div class="card-body">
               <h4 class="card-title">Past Campaign Data Import</h4>
               <p style="font-weight: bold;">You can send sms in batches upto 5,00,000. Upload a file containing Mobile Numbers. Only <span style="color:red;">.csv and .xlsx</span> format files are allowed.</p>
               <% if(import_success_msg!=''){ %>
               <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <%= import_success_msg %>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <% } %> 
               <% if(import_validation_msg!=''){ %>
               <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <%= import_validation_msg %>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <% } %> 
               
               <form class="form-sample"  method="post" enctype="multipart/form-data" id="bulk_upload">
                  <br>
                  <p class="card-description">
                     Pick what you would like to import and click Go.
                  </p>
                  <input type="hidden" value="<%= user.name %>" name="user_name" id="user_name">
                  <input type="hidden" value="<%= user._id %>" name="user_id" id="user_id">

                    <div class="row">
                        <div class="form-group col-sm-4">
                           <label><b>Filter Category</b></label>
                           <select class="form-control required" name="category_id" id="category_id">
                            <option value="">-- Please select --</option>
                              <% 
                                 if(category_list){
                                 for(var i = 0; i < category_list.length; i++) { 
                                 %>
                              <option value="<%= category_list[i]._id %>"><%= category_list[i].name %></option>
                              <% } 
                                 }
                                 
                                 %>
                           </select>
                           <div id="category_id_validate"></div>
                        </div>

                    
                        <div class="form-group col-sm-4">
                           <label><b>Campaign</b></label>
                            <a href="JavaScript:void(0);" id="campaign_preview" class="redTxt add_new_campaign" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#previewCampaignModal" style="font-size: 11px;text-decoration: underline;">Add new campaign</a>
                           <select class="form-control" name="campaign_id" id="campaign_id">
                              <option value="" selected>-- Please select --</option>
                              <% 
                                 if(campaign_list)
                                 {
                                   for(var i = 0; i < campaign_list.length; i++) { 
                                 
                                 %>
                              <option value="<%= campaign_list[i]._id %>"><%= campaign_list[i].name %></option>
                              <% } 
                                 }
                                 %>
                           </select>
                           <div id="campaign_id_validate"></div>
                        </div>

                        <div class="form-group col-sm-4">
                           <label><b>Source</b></label>
                           <select class="form-control" name="source_id" id="source_id">
                              <option value="" selected>-- Please select --</option>
                              <% 
                                 if(source_list)
                                 {
                                   for(var i = 0; i < source_list.length; i++) { 
                                 
                                 %>
                              <option value="<%= source_list[i]._id %>"><%= source_list[i].name %></option>
                              <% } 
                                 }
                                 %>
                           </select>
                           <div id="source_id_validate"></div>
                           
                        </div>

                        <div class="form-group col-sm-4">
                           <label><b>Topper</b></label>
                           <select class="form-control" name="topper" id="topper">
                            <option value="" selected>-- Please select --</option>
                              <option value="sender">Used</option>
                              <option value="non-sender">Un-used</option>
                           </select>
                           <div id="topper_validate"></div>
                        </div>
                     
                        <div class="form-group col-sm-4">
                           <label><b>Campaign Sent Date:</b></label>
                           <input type="text" class="form-control campaign_sent_date" id="campaign_sent_date" readonly="readonly" style="cursor: pointer;">

                        </div>
                     </div>
                 
                  <div class="col-md-6">
                     <div class="form-group row">
                        <label class="card-title"> </label>
                        <div class="input-group col-xs-12">                           
                           <input type="file" class="btn btn-dark"  placeholder="Upload Image" name="file_name" id="file_name" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                           
                           <button type="submit" class="btn btn-theme btn-fw" style="float:right; margin-left: 20px; margin-bottom: 0px!important;" id="upload_btn">

                           <i class="mdi mdi-upload"></i>Upload</button>
                           <img src="/public/images/loader.gif" style="display:none;float: right;width: 35px;height: 35px;" id="loader">
                        </div>
                        <div id="file_name_validate"></div>
                     </div>
                  </div>
                  <div id="file_name_validate"></div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- Modal POPUP - Add new sender ID - Start -->
<% include add_new_campaign %>
<!-- Modal POPUP - Add new sender ID - Stop -->

<!-- content-wrapper ends -->
<% include ../layouts/footer %>
<script type="text/javascript">

    $(document).on("click","#send_request",function() {

         $("#sender_req_loader").show();
         var validator = $("#add_camp_form").validate({
         rules: {
            camp_cat_id:{
            required: true,
           },
           campaing_name:{
            required: true,
           }
         },
   
         messages: {
 
            camp_cat_id: {
             required: "Please select category",
            },

            campaing_name: {
             required: "Please enter campaign name",
            },
   
         },
         submitHandler: function(form) {


          var campaing_name = $("#campaing_name").val();
          var category_id   =  $("#camp_cat_id").val();
           $.ajax({
                url: '/campaign/temp_campaign_save',
                type: 'POST',
                dataType: 'json',
                data:{'campaing_name':campaing_name,'category_id':category_id},
                success:function(response){
                    
                    console.log('response');
                    console.log(response);

                    if(response.status=='200'){
                        $("#add_camp_form")[0].reset();
                        $("#sender_req_loader").hide();
                        $("#campaing_name_err").html('');
                        $("#camp_cat_id_err").html('');
                        $("#send_request").prop('disabled', false);                        
                        swal("Success", "Campaign Successfully saved!", "success")
                        .then((value) => {
                            $('#previewCampaignModal').modal('hide');
                            $('#campaign_id').append('<option value="'+response.campaignIndex+'">'+response.name+'</option>');
                        });

                        return true;
                    }
                },
              error: function (data) {
                swal("Error", "Oops something went wrong", "error").then((value) => {
                  $("#add_camp_form")[0].reset();
                  $("#loader").hide();
                  $('#send_request').removeAttr("disabled");
                });
              }
             });
         },
         errorPlacement: function (error, element) {
             var name = $(element).attr("name");
             error.appendTo($("#" + name + "_validate"));
         }
       });
    });

   $(document).ready(function() {

      $('.campaign_sent_date').daterangepicker({
         singleDatePicker: true,
         showDropdowns: true,
         opens: "right",
         locale: {
           format: 'YYYY-MM-DD'
         },
         maxDate: new Date()
      });     

     $("#category_id").select2();
     $("#source_id").select2();
     $("#campaign_id").select2();
     $("#topper").select2();
   });
   
   $(document).on('click', '#upload_btn', function() {
       var validator = $("#bulk_upload").validate({
         rules: {

           category_id:{
            required: true,
           },

           campaign_id:{
            required: true,
           },

           source_id:{
            required: true,
           },

           topper:{
            required: true,
           },

           file_name: {
             required: true,
             extension: "xlsx|csv"
           },

         },
   
         messages: {
 
            category_id: {
             required: "Please select category",
            },

            campaign_id: {
             required: "Please select campaign",
            },

            source_id: {
             required: "Please select source",
            },

            topper: {
             required: "Please select topper",
            },
 
            file_name: {
             required: "Please upload a file",
             extension: "Please upload file with .xls or .csv or .txt extension"
           }
   
         },
         submitHandler: function(form) {
           $("#loader").show();
           $("#upload_btn").prop('disabled', true);
           var formData = new FormData();         
           var file = document.getElementById("file_name").files[0]; 

           var category_id = $("#category_id").val();
           var campaign_id = $("#campaign_id").val();
           var source_id = $("#source_id").val();
           var topper = $("#topper").val();
           var campaign_sent_date = $("#campaign_sent_date").val();
           var user_id = $("#user_id").val();
           var user_name = $("#user_name").val();

           formData.append("category_id", category_id);
           formData.append("campaign_id", campaign_id);
           formData.append("source_id", source_id);
           formData.append("topper", topper);
           formData.append("campaign_sent_date", campaign_sent_date);
           formData.append("file", file);
           formData.append("user_id", user_id);
           formData.append("user_name", user_name);
   
           var base_url='<%= upload_base_url %>/upload/campaign_data_save';
           $.ajax({
             type: 'POST',
             url: base_url,
             data: formData,
             dataType: 'json',
             contentType: false,
             processData: false,
             success: function (data) {
   
               if (data.status==200) {
                 $("#bulk_upload")[0].reset();
                 $("#loader").hide();
                 $("#upload_btn").prop('disabled', false);
                 swal("Success", "Hi <%= user.name %>, File uploaded successfully!", "success")
                 .then((value) => {
                   location.reload(); 
                 });
               }             
   
             },
              error: function (data) {
                swal("Error", "Oops something went wrong", "error").then((value) => {
                  $("#bulk_upload")[0].reset();
                  $("#loader").hide();
                  $('#upload_btn').removeAttr("disabled");
                });
              }
           });
         },
         errorPlacement: function (error, element) {
             var name = $(element).attr("name");
             error.appendTo($("#" + name + "_validate"));
         }
       });            
    }); //document ready  
   
   function setHeader(xhr) {
   
     xhr.setRequestHeader('Authorization', token);
   }
</script>