<% include ../layouts/header %>
<% var access = user['permission_access'];  %>
<% if(access.hasOwnProperty('read')) { %>
<!-- content-wrapper start -->
<div class="content-wrapper">
   <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
         <div class="card-body">
            <h4 class="card-title">Suppress Contacts List</h4>
            <div class="float-right"><input type="text" class="form-control" name="contact_list" id="contact_search" onkeyup="load_table(1, 'search')" placeholder="Search mobile number" /></div>
            
             <div>
                <img src="/public/images/loader_report.gif" id="loader_report" class="loader_report" style="display:block;margin-left: auto;margin-right: auto;width: 30px;"> 
              </div>
            <div class="table-responsive">
              <div class="table_data" id="suppress_list"></div>
              <div id="pagination"></div>
            </div>
         </div>
      </div>
   </div>
</div>
<% } %>
<!-- content-wrapper ends -->

<% include ../layouts/footer %>

<script type="text/javascript">
  /* Page on Load */
  load_table(1);
   $(document).on('click', '.page-link', function(){
        var page_no = $(this).data('value');
        load_table(page_no);
      });  
  function load_table(page_no, is_search) {
    var search = $('#contact_search').val();
    $("#pagination").empty();
    $("#suppress_list").empty();
    $("#loader_report").show();
    jQuery.ajax({
      type : "POST",
      url : '/import/suppress_contact_list',
      data : {'page_no':page_no, 'search':search, 'is_search':is_search},
      dataType: 'json',
      success: function(response) {
        //console.log(response);
        $("#loader_report").hide();
        $('#loader').hide(); 
        $("#suppress_list").html(response.content_html);
        $('#pagination').html(response.pagination_content);
      }
    });
  }
</script>

