
<% include ../layouts/header %>
<!-- content-wrapper start -->
<div class="content-wrapper">
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">

        <div class="card-body">
          <h4 class="card-title">Suppress Contacts</h4>  
          <div id="notification"></div>             
          
          <div class="template-demo">
            <p style="font-weight: bold;float: right;font-size: 16px">Download Sample File
              <a href="/public/sample-format/kasplo_sample_supress_contact_xls_format.xls">
                <i class="mdi mdi-file-excel"></i>
              </a>
              <a href="/public/sample-format/kasplo_sample_supress_contact_xlsx_format.xlsx">
                <i class="mdi mdi-file-document"></i>
              </a>
              <a href="/public/sample-format/kasplo_sample_supress_contact_text_format.txt" download >
                <i class="mdi mdi-file"></i>
              </a>
              <a href="/public/sample-format/kasplo_sample_supress_contact_csv_format.csv" >
                <img src="/public/images/samples/csv.png" style="height: 15px;margin-top: -3px;"/>
              </a>
            </p> 
            
          </div>
          <form class="form-sample"  method="post" enctype="multipart/form-data" id="upload_blk_form">
            <br>
            <p style="font-weight: bold;">Upload a file containing Mobile Numbers with .csv, .xls, .xlsx and .txt</span> format files are allowed.</p> 
            <p class="card-description">
            Pick what you would like to import and click Go.
            </p> 
            <input type="hidden" value="<%= user.name %>" name="user_name" id="user_name">
            <input type="hidden" value="<%= user._id %>" name="user_id" id="user_id">

            <div class="col-md-6">
              <div class="form-group row">
                <label class="card-title"> </label>

                <div class="input-group col-xs-12">                           
                  <input type="file" class="btn btn-dark"  placeholder="Upload Image" name="file_name" id="file_name" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, .txt">
                  
                  <button type="submit" class="btn btn-theme btn-fw" style="float:right; margin-left: 20px; margin-bottom: 0px!important;  " id="upload_blk_btn">
                  <i class="mdi mdi-upload"></i>Upload</button>
                  <img src="/public/images/loader.gif" style="display:none;float: right;width: 35px;height: 35px;" id="loader">
                </div>
              </div>
            </div>
            <div id="file_name_validate"></div>
            <div class="form-group">
              <label for="ip-control">Block contact manually:</label>
              <div class="input-group col-xs-12">
                <textarea class="lined ip-control multi-contacts blk_numbers" rows="4"  name="blk_numbers" cols="60"placeholder="ex:-9183xxxxxxxx,9173xxxxxxxx" spellcheck="false" id="blk_numbers"></textarea>    
              </div>     
              <div id="blk_numbers_blk_validate"></div>
              <button type="submit" class="btn btn-success" id="block_contact_btn" style="margin-top:10px"><i class="fas fa-check" style="float:right; margin-left: 20px; margin-bottom: 0px!important;  " ></i>&nbsp;Block Contacts</button>  
              <img src="/public/images/loader.gif" style="display:none;float: right;width: 35px;height: 35px;" id="blk_loader"> 
            </div>  
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- content-wrapper ends -->
<% include ../layouts/footer %>
<script type="text/javascript">

$(document).on('click', '#upload_blk_btn', function() {
    var validator = $("#upload_blk_form").validate({
      rules: {
        file_name: {
          required: {
            depends:function() {
               $('#file_name').get(0).files.length !== 0;
               return true;
            }
          },
          extension: "xls|csv|txt|xlsx",
          
        }
      },

      messages: {
        file_name: {
          required: "Please upload a file",
          extension: "Please upload file with .xls or .csv or .txt or .xlsx extension"
        }

      },

      submitHandler: function(form) {
        $("#loader").show();
        $("#upload_blk_btn").prop('disabled', true);
        var formData = new FormData(); 
        
        var user_name = $("#user_name").val();      
        var user_id = $("#user_id").val();  
        var file = document.getElementById("file_name").files[0]; 
        formData.append("file", file);
        formData.append("user_id", user_id);
        formData.append("user_name", user_name);

        var base_url='<%= upload_base_url %>/upload/suppress'; 
        $.ajax({
          type: 'POST',
          url: base_url,
          data: formData,
          dataType: 'json',
          contentType: false,
          processData: false,
          success: function (data) {
           
            
             if (data.status=='200') {
               $('#notification').html('<div class="alert alert-success"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Success!</strong> Contacts blocked successfully.</div>');
               $("#upload_blk_form")[0].reset();
                $("#loader").hide();
             $("#upload_blk_btn").prop('disabled', false);
             } else {
              
              $('#notification').html('<div class="alert alert-danger "><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Error!</strong> A problem has been occurred while blocking contacts.</div>');
               $("#loader").hide();
             $("#upload_blk_btn").prop('disabled', false);
             }

             // setTimeout(function(){ 
             //    $('#notification').hide();
             //    location.reload(); 
             // }, 3000);
          }
        });
      },
      errorPlacement: function (error, element) {
          var name = $(element).attr("name");
          error.appendTo($("#" + name + "_validate"));
      },
    });            
 }); //document ready  

$(document).ready(function(){
  jQuery(document).ready(function() {
    validateNumbers();
    $('.blk_numbers').keypress(function(e) {
      if (e.keyCode == 65 && e.ctrlKey) {
        e.target.select()
    }
      if (/\D/g.test(this.value)) {
        this.value = this.value.replace(/\D/g, '');
      }
      this.value = this.value.replace(/[\n\r]+/g, "").replace(/(.{10})/g, "$1\n");
      validateNumbers();
    });

    function validateNumbers() {

      var value = $(".blk_numbers").val();
      var numbersArray = value.split(',');
      var validNumbers = [];
      var duplicateNumbers = [];
      var inValidNumbers = [];
      
      // remove empty elements
      var index = numbersArray.indexOf("");
      while(index !== -1)
      {
          numbersArray.splice(index,1);
          index = numbersArray.indexOf("");
      }
      
      for (var $i = 0; $i < numbersArray.length; $i++) {
        var number = numbersArray[$i];
        if (validNumbers.indexOf(number) !== -1 || inValidNumbers.indexOf(number) !== -1) {
          duplicateNumbers.push(number);
        } else if (number.match(/[789]\d{9}/)) {
          validNumbers.push(number);
        } else {
          inValidNumbers.push(number);
        }
      }
      $("#total").text('Total contacts ' + numbersArray.length);
      //$("#duplicate").text(duplicateNumbers.length);
      // if (duplicateNumbers.length > 0) {
      //   console.log(duplicateNumbers);
      //   $("#error_msg").text('number already exists');
      // }

      // $("#valid").text(validNumbers.length);
      // $("#invalid").text(inValidNumbers.length);
    }
  });
});

$(document).on('click', '#block_contact_btn', function(){

      var validator = $("#upload_blk_form").validate({

          rules: {
              
            blk_numbers: {
              required: true
            }
          },

          messages: {
          
            blk_numbers: {
              required: "Please enter mobile numbers"
            }

          },

          submitHandler: function(form) {

            var block_numbers = $("#blk_numbers").val(); 
            $("#block_contact_btn").prop('disabled', true);
            $("#blk_loader").show();
            var user_name = $("#user_name").val();      
            var user_id = $("#user_id").val();  

            $.ajax({
                type: 'POST',
                url: '/import/block_contact',
                data: {'block_contacts': block_numbers,'user_id':user_id,'user_name':user_name},
                dataType: 'json',
                success: function (data) {

                  if (data.status=='200') {

                    $('#notification').html('<div class="alert alert-success"><strong>Success!</strong> Contacts blocked successfully.</div>');
                    
                  } else {
                    $('#notification').html('<div class="alert alert-danger "><strong>Error!</strong> A problem has been occurred while submitting your data.</div>');
                  }
                  $("#upload_blk_form")[0].reset();
                  $("#blk_loader").hide();
                  $("#block_contact_btn").prop('disabled', false);
                }
            });
          },
          errorPlacement: function (error, element) {
            var name = $(element).attr("name"); console.log(name)
            error.appendTo($("#" + name + "_blk_validate"));
          },
    });            
 }); //document ready  
</script>