<% include ../../layouts/header %>
<!-- content-wrapper start -->
<div class="content-wrapper">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Sender ID</h4>
        <div class="smpp_drop_down row">
          <div class="col-sm-6">
            <select class="form-control jsSelect" name="smpp_drop_down" id="smpp_drop_down">
              <option value="" disabled="disabled" selected="selected">---Please select--</option>
                <% for(var i = 0; i < smpp_list.length; i++) { %>
                  <option value="<%= smpp_list[i].smpp_id %>"><%= smpp_list[i].name %></option>
                <% } %>
            </select>
          </div>
          <div class="offset-5">
            <button type="button" id="create_sender_id_btn" class="btn btn-primary btn-fw" data-toggle="modal" data-target="#SenderIDpopupModal" style="float: right;margin-bottom: 10px;">
            Create
            </button>
          </div>
        </div>
        <div class="table-responsive" >
          
          <table class="table table-bordered ">
            <thead>
              <tr>
                <th> ID </th>
                <th> SMPP Name </th>
                <th> Sender ID </th>
                <th> Status </th>
                <th> Action </th>
              </tr>
            </thead>
            <tbody id="load_table_data">
            </tbody>
          </table>
        </div>
        </div>     
    </div>

    <!-- create/update role popup modal start -->
<div class="modal fade" id="SenderIDpopupModal" tabindex="-1" role="dialog" aria-labelledby="SenderIDpopupModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><span class="senderid_popup_name">Create</span> Sender ID</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="sender_id_notification"></div>
        <form id="sender_id_form" type="post">
          <input type="hidden" name="prev_sender_id_val" id="prev_sender_id_val" />  
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="smpp_id">SMPP</label>
                  <select class="form-control jsSelect" name="smpp_id" id="smpp_id">
                    <option value="">---Please select--</option>
                      <% for(var i = 0; i < smpp_list.length; i++) { %>
                        <option value="<%= smpp_list[i]._id %>"><%= smpp_list[i].name %></option>
                      <% } %>
                  </select>
              </div>
              <div class="form-group">
                <label for="sender_id_name">Sender ID</label>
                <input type="text" class="form-control" name="sender_id_name" id="sender_id_name" placeholder="Please enter sender id name"> 
              </div>
              <div class="form-group">
                <label for="sender_id_status">Sender ID Status</label>
                <select class="form-control" id="sender_id_status" name="sender_id_status">
                  <option value="">---Please select--</option>
                  <option value="1">Approved</option>
                  <option value="2">Un Approved</option>
                </select>
              </div>
             
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary senderid_popup_name" id="sender_id_popup_btn_name">Add</button>
              <img src="/public/images/loader_form.gif" class="img-responsive " id="loader" style="width: 25px;display:none;" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- create/update role popup modal end -->
  </div>
</div>
<!-- content-wrapper ends -->



<% include ../../layouts/footer %>

<script type="text/javascript">
// This is our actual script
$(document).ready(function(){
   $("#load_table_data").hide();
});

$(document).on('change', '#smpp_drop_down', function () {
   
  
  var smpp_id     = $('#smpp_drop_down').val(); //normal smpp id
  load_sender_addr_table(smpp_id);
  
});

function load_sender_addr_table (smpp_id) {
  //
  $("#load_table_data").html('');
  $("#load_table_data").html('<td colspan="5" class="text-center"><img src="/public/images/loader_form.gif" class="img-responsive loader_add" id="loader"></td>');
  //$(".loader_add").show();
  $("#load_table_data").show();
  $.ajax({
    url      : '/smpp/get_sender_addr',
    type     : 'POST',
    data     : {
      'smpp_id'         : smpp_id,
      'type'            : 'table_list'
    },
    success : function (data) {
      $(".loader_add").hide();
      $("#load_table_data").html('');
      if (data.status == 200) {

        var smpp_data          = data.sender_data
        var sender_addr_data   = smpp_data.sender_address;
        if (sender_addr_data.length > 0) {
        for (i = 0; i < sender_addr_data.length; i++) {

          var html_sender_data   = '';
          html_sender_data += '<tr>';
          html_sender_data += '<td>' + (i+1) + '</td>';
          html_sender_data += '<td>' + smpp_data.name + '</td>';
          html_sender_data += '<td>' + sender_addr_data[i].sender_id + '</td>';

          if (sender_addr_data[i].sender_id_status == 1) { 
            var status_label = '<label class="badge badge-success">Enable</label>';
          } else { 
            var status_label = '<label class="badge badge-danger">Disable</label>';
          } 
          html_sender_data += '<td>' + status_label + '</td>';
          html_sender_data += '<td><a href="#" class="update_sender_id" data-toggle="modal" data-target="#SenderIDpopupModal"  id="update_sender_id" data-smppid=' + smpp_data._id + ' data-senderid=' + sender_addr_data[i].sender_id +' data-status=' + sender_addr_data[i].sender_id_status +'><i class="mdi mdi-pencil" data-name="mdi-pencil"></i></a><a href=JavaScript:deleteSenderByID("'+ smpp_data._id +'","'+ sender_addr_data[i].sender_id +'","'+ smpp_data.smpp_id +'"); class="delete_sender_id"   id="delete_sender_id"><i class="mdi mdi-delete" data-name="mdi-delete"></i></a></td>';
          html_sender_data += '</tr>';
          $('#load_table_data').append(html_sender_data);
        }
        $("#load_table_data").show();
      } else {
        $("#load_table_data").html('<td colspan="5" class="text-center"> No records found </td>');
        $("#load_table_data").show();
      }
        
      
      } else {
        $("select").val('').trigger('change');
        $('#sender_id_notification').html('<div class="alert alert-danger "><strong>Error! </strong> Unable to fetch sender data</div>');
      }
    }
  });
 } //load_sender_addr_table

$(document).on('click', '#create_sender_id_btn', function () {
  //$("#role_data_popup_Modal").show();
  $("#sender_id_form")[0].reset();
  $('.senderid_popup_name').html('Create');
  $('#sender_id_notification').html('');
});


$(document).on('click', '#update_sender_id', function () {
  var smpp_id   = $(this).data('smppid');
  var sender_id = $(this).data('senderid');
  var sender_id_status = $(this).data('status');
  $("#sender_id_form")[0].reset();
  $('#sender_id_notification').html('');
  $('.senderid_popup_name').html('Update');
  $("#loader").show();
  $("#sender_id_popup_btn_name ").prop('disabled', true);
  $.ajax({
    url      : '/smpp/get_sender_by_ids',
    type     : 'POST',
    data     : {
      'smpp_id'     : smpp_id,
      'sender_id'   : sender_id
    },
    success : function (data) {
      
      $("#loader").hide();
      $("#sender_id_popup_btn_name").prop('disabled', false);
      if (data.status == 200 && Object.keys(data.sender_data).length > 0) {
        $('#smpp_id').val(smpp_id);
        $('#sender_id_name').val(sender_id);
        $('#sender_id_status').val(sender_id_status);
        $('#prev_sender_id_val').val(sender_id);
        $('#sender_id_notification').html('<div class="alert alert-success"><strong>Success! </strong>' + data.message + '</div>');
      } else {
        
        $("#sender_id_form")[0].reset();
        $("select").val('').trigger('change');
        $('#sender_id_notification').html('<div class="alert alert-danger "><strong>Error! </strong>' + data.message + '</div>');
      }

    }
  }); //ajax
});

$(document).on('click', '#sender_id_popup_btn_name', function () {

    var menuForm  = $("#sender_id_form");
    var data_type = $('#sender_id_popup_btn_name').text();

    var validator = menuForm.validate({

      rules     : {
        smpp_id: {
          required: true,
         
        },
        sender_id_name: {
          required : { 
            depends:function() {
                $(this).val($.trim($(this).val()));
                return true;
            },
          },
          remote : { url : "/smpp/check_sender_id_exists", type :"post", data: {'smpp_id' : $('#smpp_id').val(), 'data_type' : data_type, 'prev_sender_id_val' : $('#prev_sender_id_val').val()}}
        },
        sender_id_status: {
          required : true
        }
      },

      messages : {
        smpp_id: {
          required : "Please select smpp_id",
          
        },
        sender_id_name: {
          required: "Please enter sender id name",
          remote   : "Sender ID already exists"
        },
        sender_id_status: {
          required : "Please select sender id status"
        }
      },

      submitHandler: function(form) {

        $("#sender_id_popup_btn_name").prop('disabled', true);
        $("#loader").show();
        var smpp_obj_id      = $('#smpp_id').val(); 
        var sender_id_name   = $('#sender_id_name').val(); 
        var sender_id_status = $("#sender_id_status").val();
        
        var prev_sender_id_val = $('#prev_sender_id_val').val(); 
        $.ajax({
          url      : '/smpp/sender_id_insert_update',
          type     : 'POST',
          data     : {
            'smpp_obj_id'     : smpp_obj_id,
            'sender_id_name'  : sender_id_name,
            'sender_id_status': sender_id_status,
            'prev_sender_id_val' : prev_sender_id_val,
            'data_type'       : data_type
          },
          success : function (data) {
            $("#loader").hide();
            if (data.status == 200) {
              $('#sender_id_notification').html('<div class="alert alert-success"><strong>Success! </strong>' + data.message + '</div>');
            } else {
              $("#sender_id_popup_btn_name").prop('disabled', false);
              $("#sender_id_form")[0].reset();
              $("select").val('').trigger('change');
              $('#sender_id_notification').html('<div class="alert alert-danger "><strong>Error! </strong>' + data.message + '</div>');
            }

            setTimeout( function() { 
              $('#sender_id_notification').hide();
              location.reload(); 
            }, 3000);
          }
        });
      }
    });            
}); 

function deleteSenderByID(smpp_obj_id, sender_id, smpp_id) {
  $.confirm({
    title: 'Delete!',
    content: 'Are you sure to delete this sender id?',
    icon: 'mdi mdi-delete',
    theme: 'modern',
    closeIcon: true,
    animation: 'scale',
    type: 'red',
    buttons: {
    omg: {
    text: 'Delete',
    btnClass: 'btn-danger',
    action: function(){

    /* Ajax - Tag Delete - Start */


    jQuery.ajax({
    type : "POST",
    url : '/smpp/delete_sender_by_ids',
    data : {'smpp_id' : smpp_obj_id, 'sender_id' : sender_id},
    success: function(data) {

       load_sender_addr_table(smpp_id);
    }
    });

    /* Ajax - Tag Delete */

    }
    },
    close: function () {
    }
    }
  });
  }
</script>

<style>
.error{
  color:red;
}

</style>