<% include ../layouts/header %>
<% var access = user['permission_access'];  %>
<!-- content-wrapper start -->
<div class="content-wrapper">
   <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
         <div class="card-body">
            <h4 class="card-title">profession</h4>
            <% if(access.hasOwnProperty('create')) { %>
            <button type="button" id="create_cat_btn" class="btn btn-primary btn-fw" data-toggle="modal" data-target="#createprofessionModal" style="float: right;margin-bottom: 10px;">
            Create
            </button>
            <% } %>
            <% if(access.hasOwnProperty('read')) { %>
            <div class="table-responsive">

                  <table class="table table-bordered custom_table">
                     <thead>
                        <tr>
                           <th>
                              ID
                           </th>

                           <th>
                              Name
                           </th>
                           <th>
                              Description
                           </th>
                           <th>
                              Status
                           </th>
                           <th>
                              Created at
                           </th>
                           <th>
                              Action
                           </th>
                        </tr>
                     </thead>
                     <tbody>
                        <!-- profession -->
                        <% for(var i = 0; i < profession.length; i++) { 

                            var d = new Date(profession[i].date_added),
                                month = '' + (d.getMonth() + 1),
                                day = '' + d.getDate(),
                                year = d.getFullYear(),
                                hours = d.getHours(),
                                minutes = d.getMinutes(),
                                seconds = d.getSeconds();

                            if (month.length < 2) month = '0' + month;
                            if (day.length < 2) day = '0' + day;

                            //var date=day+'-'+month+'-'+year+' '+hours+':'+minutes+':'+seconds;

                            var hours = d.getHours();
                            var minutes = d.getMinutes();
                            var ampm = hours >= 12 ? 'pm' : 'am';
                            hours = hours % 12;
                            hours = hours ? hours : 12; // the hour '0' should be '12'
                            minutes = minutes < 10 ? '0' + minutes : minutes;
                            var strTime = hours + ':' + minutes + ' ' + ampm;

                            var date_format = day + '-' + month + '-' + year + ' ' + strTime;

                        %>
                        <tr>
                           <td><%= profession[i]._id %></td>
                           <td><%= profession[i].name %></td>
                           <td><%= profession[i].description %></td>
                           
                           <% if(profession[i].status=='1') { %>
                              <td><i class="mdi mdi-check-circle-outline" style="color:green;"></i></td>
                            <% }else{ %>
                              <td><i class="mdi mdi-close-circle-outline" style="color:red;"></i></td>

                           <% } %>
                           
                           <td><%= date_format %></td>
                           <td><a href="#" class="update_profession" data-toggle="modal" data-target="#updateprofessionModal" id="<%= profession[i]._id %>"><i class="mdi mdi-pencil" data-name="mdi-pencil"></i></a></td>
                        </tr>
                        <% } %>
                     </tbody>
                  </table>

              
            </div>
            <% } %>
         </div>
      </div>
   </div>
</div>
<!-- content-wrapper ends -->

<div class="modal fade" id="createprofessionModal" tabindex="-1" role="dialog" aria-labelledby="createprofessionModal" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content" id="new_content">
        

      </div>
   </div>
</div>

<div class="modal fade" id="updateprofessionModal" tabindex="-1" role="dialog" aria-labelledby="updateprofessionModal" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content" id="update_content">
        


      </div>
   </div>
</div>

<% include ../layouts/footer %>

<script type="text/javascript">
// This is our actual script
$(document).ready(function(){

    
    $('#create_cat_btn').click(function(){
        $.ajax({
            type: 'POST',
            url: '/profession/popup_content',
            data: {'type':'add'},
            success: function (data) {
                $('#new_content').html(data.popup_content);
                $("#status").select2();
            }
        });
    });

     $('#create_cat_btn').click(function(){
      $('#createprofessionModal').modal({
      backdrop: 'static',
      keyboard: false
      });
    });
    
    $('.update_profession').click(function(){
      $('#updateprofessionModal').modal({
      backdrop: 'static',
      keyboard: false
      });
    });

});

 $(document).on('click', '#save_profession', function(){

        var professionForm = $("#add_profession");

        var validator = professionForm.validate({

            rules: {
                name: {
                  required: {
                      depends:function() {
                          $(this).val($.trim($(this).val()));
                          return true;
                      }
                    },
                  remote : { url : "/profession/checkProfessionExists", type :"post", data: {check_type: 'add'}}
                },
                description: {
                    required: {
                      depends:function() {
                          $(this).val($.trim($(this).val()));
                          return true;
                      }
                    }
                },
                status: {
                    required: true
                },
            },

            messages: {

                name: {
                  required: "Please enter profession name",
                  remote : "Profession name already taken"
                },
                description: {
                    required: "Please enter profession description"
                },
                status: {
                    required: "Please select the status"
                },

            },

            submitHandler: function(form) {

                $("#save_profession").prop('disabled', true);

                $("#loader").show();

                var name=$("#profession_name").val();
                var description=$("#profession_description").val();
                var status=$("#status").val();

                $.ajax({
                    type: 'POST',
                     url: '/profession/add',
                    data: {'cat_name':name,'description':description,'status':status},
                    success: function (data) {

                       $("#loader").hide();
               
                       if(data.status=='200')
                       {
                         $('#notification').html('<div class="alert alert-success"><strong>Success!</strong> profession created successfully.</div>');

                       }else{
                        $("#save_profession").prop('disabled', false);

                         $('#notification').html('<div class="alert alert-danger "><strong>Error!</strong> A problem has been occurred while submitting your data.</div>');

                       }

                       setTimeout(function(){ 
                          $('#notification').hide();
                          location.reload(); 
                       }, 3000);
                    }
                });
            }
    });            

 });

 $(document).on('click', '#btn_update_profession', function(){
        var professionForm = $("#add_profession");
        var profession_id = $("#update_profession_id").val();
        var validator = professionForm.validate({

            rules: {
                name: {
                    required: {
                      depends:function() {
                          $(this).val($.trim($(this).val()));
                          return true;
                      }
                    },
                    remote : { url : "/profession/checkProfessionExists", type :"post", data: {check_type: 'update', profession_id: profession_id}}
                },
                description: {
                    required: {
                      depends:function() {
                          $(this).val($.trim($(this).val()));
                          return true;
                      }
                    },
                },
                status: {
                    required: true
                },
            },

            messages: {

                name: {
                    required: "Please enter profession name",
                    remote : "Profession name already taken"
                },
                description: {
                    required: "Please enter profession description"
                },
                status: {
                    required: "Please select the status"
                },

            },

            submitHandler: function(form) {
                $("#btn_update_profession").prop('disabled', true);

                $("#loader").show();

                //var profession_id = $("#update_profession_id").val();
                var name=$("#profession_name").val();
                var description=$("#profession_description").val();
                var status=$("#status").val();

                $.ajax({
                    type: 'POST',
                    url: '/profession/update',
                    data: {'profession_id':profession_id,'cat_name':name,'description':description,'status':status},
                    success: function (data) {

                       $("#loader").hide();

                       if(data.status=='200')
                       {
                         $('#notification').html('<div class="alert alert-success"><strong>Success!</strong> profession updated successfully</div>');

                       }else{
                          $("#btn_update_profession").prop('disabled', false);
                         $('#notification').html('<div class="alert alert-danger "><strong>Error!</strong> A problem has been occurred while submitting your data.</div>');

                       }

                       setTimeout(function(){ 
                          $('#notification').hide();
                          location.reload(); 
                       }, 3000);

                    }
                });
          }
    });            

 });


 $(document).on('click', '.update_profession', function(){

        var profession_id=this.id;

        $.ajax({            
            type: 'POST',
            url: '/profession/popup_content',
            data: {'type':'edit','id':profession_id},
            success: function (data) {
                $('#update_content').html(data.popup_content);
                $("#status").select2();
            }
        });


 });


</script>

<style>
.error{
  color:red;
}

</style>