﻿<script src="/public/vendors/js/vendor.bundle.base.js"></script>
<script src="/public/vendors/js/vendor.bundle.addons.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="../../public/scripts/cdn/jquery.validate.js"></script>
<script src="../../public/scripts/cdn/bootstrap-editable.js"></script>
<script src="../../public/scripts/cdn/bootstrap-editable.min.js"></script>
<script src="../../public/scripts/cdn/moment.min.js"></script>
<script src="../../public/scripts/cdn/bootstrap-datepicker.min.js"></script>
<script src="../../public/scripts/cdn/daterangepicker.js"></script>

<script src="../../public/scripts/cdn/select2.min.js"></script>
<script src="../../public/scripts/cdn/jquery.steps.js"></script>
<script src="../../public/scripts/validations/multi-step-validation.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

</body>
</html>