<!DOCTYPE html>
<html lang="en">

<head>

  <title>Kasplo</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="../../public/images/kasplo_logo/samll_icon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../public/styles/cdn/bootstrap.min.css">
  
  <link rel="stylesheet" href="/public/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/public/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/public/vendors/css/vendor.bundle.addons.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../../public/styles/styles.css">
  <link rel="stylesheet" type="text/css" href="../../public/styles/manual.css">
  <link rel="stylesheet" type="text/css" href="../../public/styles/cdn/bootstrap-datepicker.min.css">
  <link rel="stylesheet" type="text/css" href="../../public/styles/cdn/daterangepicker.css">
  <link rel="stylesheet" type="text/css" href="../../public/styles/cdn/sweetalert.css">
  <link href="../../public/styles/cdn/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../../public/styles/multi-steps.css">
</head>

<body>