<footer>
  <div class="container">
    <p> Copyright © 2019 <a href="http://www.adcanopus.com" target="_blank">Adcanopus</a>. All rights reserved.</span> </p>
  </div>
</footer>

  <script src="/public/js/jquery-3.3.1.js"></script>
 
  <script>
    //paste this code under head tag or in a seperate js file.
    // Wait for window load
    window.onload=function() {
      $(".site-content").show(); //or fadeIn (what ever suits your needs)
      $(".se-pre-con").fadeOut();
    }

    $(document).ready(function() {

      $("ul").find("a").click(function(e) {
          e.preventDefault();
          var section = $(this).attr("href");
          $("html, body").animate({
              scrollTop: $(section).offset().top
          });
      });
      
    });

  </script>
<script type="text/javascript" src="/public/help/js/prettify/prettify.js"></script> 
<script src="/public/help/js/layout.js"></script>
 <script src="/public/help/js/jquery.localscroll-1.2.7.js" type="text/javascript"></script>
 <script src="/public/help/js/jquery.scrollTo-1.4.3.1.js" type="text/javascript"></script>

 </body>
</html>