<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Kasplo - Documentation</title>
<link href="http://fonts.googleapis.com/css?family=Raleway:700,300" rel="stylesheet"
        type="text/css">
<link rel="stylesheet" href="/public/help/css/style.css">
<link rel="stylesheet" href="/public/help/css/prettify.css">

  <style>

  .no-js #loader { display: none;  }
  .js #loader { display: block; position: absolute; left: 100px; top: 0; }
  .se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/public/images/Preloader_21.gif) center no-repeat #ffffff;
	  background-size: 50%;
    /*background-size: 125px;*/
  }
  .site-content{     
      display: none;
   }
 
  </style>
</head>
<body>
  <!-- Paste this code after body tag -->
  <div class="se-pre-con"></div>