<div class="col-md-12 paddingZero bodyContent">

    <div class="col-md-2 leftBarParent expandLeftBarWidth">

        <div class="col-md-12">

            <ul class="nav leftBar">

                <li class="nav-item userSec">
                    <a class="nav-link" href="profile.html">
                        <a href="" class="profileImageSec">
                            <!-- <img src="../../public/images/leftbar/campaign.svg" alt=""> -->
                        </a>
                        <span class="small-menu-title marginZero"><%= user.name %></span>
                        <br>
                        <span class="small-menu-title marginZero"></span>
                    </a>

                    <div class="userImageSec" href="">
                        <span> <a href=""> <img src="../../public/images/leftbar/notification.svg" alt=""> </a> </span> | <span> <a href="settings.html"> <img src="../../public/images/leftbar/settings.svg" alt=""> </span> </a> | <span> <a href=""> <img src="../../public/images/leftbar/message.svg" alt=""> </a> </span>
                    </div>
                </li>
  
                <li class="nav-item active">
                  <a class="nav-link imageAllign" href="/dashboard">
                    <img src="../../public/images/leftbar/dashboard.svg" alt="">
                    <span class="menu-title leftBarHeader">Dashboard</span>
                  </a>
                </li>

                <li class="nav-item">

                    <a class="nav-link toggledClass imageAllign" data-toggle="collapse" href="#campaign" aria-expanded="true" aria-controls="report">
                      <img src="../../public/images/leftbar/campaign.svg" alt="">
                      <span class="menu-title leftBarHeader">Campaign</span>
                      <i class="fa fa-chevron-down"></i>
                      <i class="fa fa-chevron-up displayNone"></i>
                    </a>

                    <div class="collapse" id="campaign">

                      <ul class="nav flex-column sub-menu leftBar">

                        <li class="nav-item">
                            <a class="nav-link" href="/campaign/list">
                                <span class="menu-title">Manage Campaign</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="send-sms.html">
                                <span class="menu-title">Send SMS</span>
                            </a>
                        </li>
        
                      </ul>

                    </div>

                </li>


                <li class="nav-item">

                    <a class="nav-link toggledClass imageAllign" data-toggle="collapse" href="#import" aria-expanded="true" aria-controls="report">
                      <img src="../../public/images/leftbar/import.svg" alt="">
                      <span class="menu-title leftBarHeader">Import</span>
                      <i class="fa fa-chevron-down"></i>
                      <i class="fa fa-chevron-up displayNone"></i>
                    </a>

                    <div class="collapse" id="import">

                      <ul class="nav flex-column sub-menu leftBar">

                        <li class="nav-item">
                            <a class="nav-link" href="/import/index">
                                <span class="menu-title">Manage Import</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <span class="menu-title">Suppress Contacts</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <span class="menu-title">Suppress List</span>
                            </a>
                        </li>
        
                      </ul>

                    </div>

                </li>


                <li class="nav-item">

                    <a class="nav-link toggledClass imageAllign" data-toggle="collapse" href="#smslink" aria-expanded="true" aria-controls="report">
                      <img src="../../public/images/leftbar/smslink.svg" alt="" >
                      <span class="menu-title leftBarHeader">SMS Link Testing</span>
                    </a>

                </li>

                
                <li class="nav-item">

                  <a class="nav-link toggledClass imageAllign" data-toggle="collapse" href="#report" aria-expanded="true" aria-controls="report">
                    <img src="../../public/images/leftbar/report.svg" alt="">
                    <span class="menu-title leftBarHeader">Reports</span>
                    <i class="fa fa-chevron-down"></i>
                    <i class="fa fa-chevron-up displayNone"></i>
                  </a>

                  <div class="collapse" id="report">
                    <ul class="nav flex-column sub-menu leftBar">

                      <li class="nav-item">
                        <a class="nav-link" href="category-report.html">  
                            <span class="menu-title">Category Report</span>
                        </a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="campaign-report.html">
                            <span class="menu-title">Campaign</span>
                        </a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="general-report.html">
                            <span class="menu-title">General </span>
                        </a>
      
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="contactwise.html">  
                          <span class="menu-title">Contactwise</span>
                        </a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="test-report.html">  
                          <span class="menu-title">Test Report</span>
                        </a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="click-report.html">  
                          <span class="menu-title">Karix Click Report</span>
                        </a>
                      </li>
                     
                      <li class="nav-item">
                        <a class="nav-link" href="sms-log-report.html">                  
                            <span class="menu-title">SMS Logs</span>
                        </a>
                      </li>
      
                      <li class="nav-item">
                        <a class="nav-link" href="smpp-report.html">                  
                            <span class="menu-title">SMPP Report</span>
                        </a>
                      </li>
      
                    </ul>
                  </div>
                </li>

                <li class="nav-item">

                    <a class="nav-link toggledClass imageAllign" data-toggle="collapse" href="#logs" aria-expanded="true" aria-controls="report">
                      <img src="../../public/images/leftbar/logs.svg" alt="">
                      <span class="menu-title leftBarHeader">Logs</span>
                      <i class="fa fa-chevron-down"></i>
                      <i class="fa fa-chevron-up displayNone"></i>
                    </a>

                    <div class="collapse" id="logs">

                      <ul class="nav flex-column sub-menu leftBar">

                        <li class="nav-item">
                            <a class="nav-link" href="activity-log-report.html">
                                <span class="menu-title"> Activity Logs</span>
                            </a>
                        </li>

                      </ul>

                    </div>

                </li>

                <li class="nav-item">

                    <a class="nav-link imageAllign" href="user-list.html" >
                      <img src="../../public/images/leftbar/accounts.svg" alt="">
                      <span class="menu-title leftBarHeader">Accounts</span>
                    </a>

                </li>


                <li class="nav-item">

                    <a class="nav-link imageAllign" href="/release-notes">
                      <img src="../../public/images/leftbar/releaseNotes.svg" alt="">
                      <span class="menu-title leftBarHeader">Release Notes</span>
                    </a>

                </li>


                <li class="nav-item">

                    <a class="nav-link imageAllign" href="user-document.html">
                      <img src="../../public/images/leftbar/help.svg" alt="">
                      <span class="menu-title leftBarHeader">Help</span>
                    </a>

                </li>


                <li class="nav-item">

                    <a class="nav-link imageAllign" href="/users/logout" >
                      <img src="../../public/images/leftbar/logout.svg" alt="">
                      <span class="menu-title leftBarHeader">Log Out</span>
                    </a>

                </li>
      
            </ul>

            <br>

            <span class="widthChangeIconSec handPointer">
                <img src="../../public/images/common/minimize.svg" alt="">
            </span>

            <span class="smallWidthChangeIconSec handPointer" style="display: none;">
                <img src="../../public/images/common/expand.svg" alt="">
            </span>
            
        </div>

    </div>