<div class="container-fluid">
  
  <div class="col-md-12 topBar">

      <div class="col-md-12">

          <div class="col-md-2 headerImgSec goToHome">
              <img src="../../public/images/kasplo_logo/logo.png" alt="">
          </div>

          <div class="col-md-4 rightHeaderSection">
              
              <p> <span> <%= activity_logs.get_login_time %> </span> &nbsp; &nbsp; | &nbsp; &nbsp; <span> <%= activity_logs.get_login_date %></span> </p>

          </div>
      
      </div>        
  </div>