<% include ../layouts/header %>
<% var access = user['permission_access'];  %>
<% if(access.hasOwnProperty('read')) { %>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Activity Logs</h4>
            <div>
              <img src="/public/images/loader_report.gif" id="loader_report" style="display:block;margin-left: auto;margin-right: auto;width: 30px;"> 
            </div>
            <div class="table-responsive">
              <% if(access.hasOwnProperty('update')) { %>
              <input type='button' class="btn btn-success" value='Mark as read' id='mark_read' onclick='markRead();' style="float:right;margin-bottom:5px;"> 
              <% } %>
              <div class="table_data" id="activity-log-content-section"></div>
              <div id="pagination"></div>
            </div>
        </div>
    </div>
</div>
 <% } %>
 <% include ../layouts/footer %>

 <script type="text/javascript">

$(document).ready(function() {
    $('.activity_custom_table').DataTable({ "order": [[ 0, "desc" ]]});

    
});  
function formatAMPM(date) {
  var hours = date.getHours();
  var minutes = date.getMinutes();
  var ampm = hours >= 12 ? 'pm' : 'am';
  hours = hours % 12;
  hours = hours ? hours : 12; // the hour '0' should be '12'
  minutes = minutes < 10 ? '0'+minutes : minutes;
  var strTime = hours + ':' + minutes + ' ' + ampm;
  return strTime;
}  


/* Page on Load */
load_pagination(1);

$(document).on('click', '.page-link', function() {
  var page_no = $(this).data('value');
  load_pagination(page_no);
});    

function load_pagination(page_no) {
  
  $("#pagination").empty();
  $("#activity-log-content-section").empty();
  $("#loader_report").show();
  jQuery.ajax({
    type : "POST",
    url : '/report/activity_report_pagination',
    data : {'page_no':page_no},
    dataType: 'json',
    success: function(response) {
      $("#loader_report").hide();
      $('#loader').hide(); 
      $("#activity-log-content-section").html(response.content_html);
      $('#pagination').html(response.pagination_content);
    }
  });
}

function checkAll(e) {
   $('input:checkbox').not(e).prop('checked', e.checked);
}

function markRead() {

  // var checkboxes = document.getElementsByName('check'); console.log(checkboxes.length)
  // var checked_ids = [];
  // for (var i = 0; i < checkboxes.length; i++) {
  //    var row = checkboxes[i].parentNode.parentNode;
  //    checked_ids.push(row.cells[1].innerHTML);
  //  }

  var checked_ids=[]; 
  $("#loader_report").show();
  $('#checkItem:checked').each(function(){
    
    var row = $(this).closest("tr").find(".lo_id");  
    var txtValue = row.find(".log_id").val(); 
    checked_ids.push(txtValue);
  });

   if (checked_ids.length > 0) {
     mark_checked_by_ids(checked_ids);
   }else{
     $("#loader_report").hide();   
     swal("Warning", "Atleast select one messages", "error"); 
   }
}

function mark_checked_by_ids(ids) {

  $.confirm({
     title: 'Message Read!',
     content: 'Do you want to DISMISS the messages?',
     icon: 'mdi mdi-success',
     theme: 'modern',
     closeIcon: true,
     animation: 'scale',
     type: 'green',
     buttons: {
         omg: {
             text: 'Read',
             btnClass: 'btn-success',
             action: function(){ 
                    
                    jQuery.ajax({
                      type : "POST",
                      url : '/report/mark_status_by_ids',
                      data : {'checked_ids':ids},
                      dataType: 'json',
                      success: function(response) {

                        if (response.status == 200) {
                           $("#loader_report").hide();
                          $('input[type=checkbox]:checked').each(function(){
                            var tr_row = $(this).closest("tr").find(".is_read"); 
                            var change_text = tr_row.html('<label class="badge badge-success">Read</label>').text(); 
                            $(this).removeClass();
                          });

                          $(".table input[type='checkbox']:checked").closest("tr").removeClass();
                          
                          var get_count = $('.count').text(); 
                          if (get_count > 0) {
                            var final_count = get_count - response.total_updated;
                          $('.count').html(final_count).text();
                          }
                          swal("Success", "Message Reading Successfully!", "success");

                        }
                        $('input:checkbox').prop('checked', false);

                      }
                    });

             }
         },
         close: function () {
         }
     }
  });
}
</script>