﻿<% include ./layouts/header %>

<div class="container-fluid">
  <div class="col-md-12 paddingZero bodyContent">
    <div class="col-md-10 compressedContentWidth">
      <div class="col-md-12 topSectionContent">
        <div class="addUserHeaderSection width100 height100vh">
          <div class="col-md-12 marginTop5px centerErrorImage">
            <img src="../../public/images/error_page/page_not_found.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



