      <% include ./layouts/header %>

        <div class="content-wrapper">         
          <% include ./partials/messages %>
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-group text-danger icon-lg"></i>
                    </div>

                    <a href="/category/group">
                      <div class="float-right">
                        <p class="mb-0 text-right color-gray">Category</p>
                        <div class="fluid-container">
                          <h3 class="font-weight-bold text-right mb-0"><%= category_count %></h3>
                        </div>
                      </div>
                    </a>

                  </div>
                    <p class="text-muted mt-3 mb-0">
                      <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Total Category
                    </p>
                  
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-bullhorn text-warning icon-lg"></i>
                    </div>

                    <a href="/campaign/list">
                    <div class="float-right">
                      <p class="mb-0 text-right color-gray">Campaign</p>
                      <div class="fluid-container">
                        <h3 class="font-weight-bold text-right mb-0"><%= campaign_count %></h3>
                      </div>
                    </div>
                    </a>
                    
                  </div>
                    <p class="text-muted mt-3 mb-0">
                      <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Total Campaign
                    </p>
                  
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">
                    <div class="float-left">
                      <i class="mdi mdi-cellphone-iphone icon-lg" style="color: #424964!important;"></i>
                    </div>
                    <div class="float-right">
                      <p class="mb-0 text-right color-gray">Contacts</p>
                      <div class="fluid-container">
                        <h3 class="font-weight-bold text-right mb-0"><%= contact_count %></h3>
                      </div>
                    </div>
                  </div>
                  <p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Total Contacts
                  </p>
                 
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="clearfix">

                    <div class="float-left">
                      <i class="mdi mdi-mouse-variant text-info icon-lg"></i>
                    </div>

                    <div class="float-right">
                      <p class="mb-0 text-right color-gray">Clicks</p>
                      <div class="fluid-container">
                        <h3 class="font-weight-bold text-right mb-0"><%= clicks_count %></h3>
                      </div>
                    </div>
                  </div>

                  <p class="text-muted mt-3 mb-0">
                    <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Total Clicks
                  </p>
                  
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Volume Report</h4>
                    <div class="chart_s" style="width: 100%;height: 100%;">
                    
                      <canvas id="lineChart" height="25vh" width="80vw"></canvas>
                    </div>
                </div>
              </div>
            </div>
            
          </div>            

          <div class="row">
            <div class="col-md-8 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <h4 class="card-title mb-0">Summary Report</h4>
                          <a href="/campaign/list" target="_blank"><small>Show All</small></a>
                        </div>
                        <p>Top 10 campaign summary reports</p>
                        <div class="table-responsive">
                          <table class="table table table-bordered table-hover">
                            <thead>
                              <tr>
                                <th>Campaign Name</th>
                                <th>Total Sender</th>
                                <th>Total Clicks</th>
                                <th>CTR</th>
                              </tr>
                            </thead>
                            <tbody>
                              
                              <% 
                              if(campaign_summary.length)
                              {
                                for(var i = 0; i < campaign_summary.length; i++) {  
                                  var total_clicks = campaign_summary[i].total_clicks;
                                  var total_sender = campaign_summary[i].total_sender;
                                  var ctr_percentage = (total_clicks/total_sender)*100;
                             
                              %>
                                <tr>
                                  <td><%= campaign_summary[i].name %></td>
                                  <td><%= campaign_summary[i].total_sender %></td>
                                  <td><%= campaign_summary[i].total_clicks %></td>
                                  <td><%= ctr_percentage.toFixed(2) %>%</td>
                                </tr>                             
                              <% 
                                   } 
                                }else{
                               %>
                               <tr><td colspan="4" style="color: #ff6a89;text-align:center;">No Records Found</td></tr>
                              <% 
                                }
                              %>

                             
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title mb-0">Recent Campaign</h4>

                        <% 
                          if(recent_campaign.length>0)
                          {
                            for(var i = 0; i < recent_campaign.length; i++) { 

                            var d = new Date(recent_campaign[i].created_at),
                                month = '' + (d.getMonth() + 1),
                                day = '' + d.getDate(),
                                year = d.getFullYear(),
                                hours = d.getHours(),
                                minutes = d.getMinutes(),
                                seconds = d.getSeconds();

                            if (month.length < 2) month = '0' + month;
                            if (day.length < 2) day = '0' + day;

                          const monthNames = ["January", "February", "March", "April", "May", "June",
                            "July", "August", "September", "October", "November", "December"
                          ];  

                          var month_name = monthNames[d.getMonth()];                          
                          var date_format=month_name+' '+day+', '+year;
                        %>

                        <div class="d-flex py-2 border-bottom">
                          <div class="wrapper">
                            <small class="text-muted"><%= date_format %></small>
                            <p class="font-weight-semibold text-gray mb-0"><%= recent_campaign[i].name %></p>
                          </div>
                          <small class="text-muted ml-auto"><a href="/campaign/view/<%= recent_campaign[i]._id %>" target="_blank">View</a></small>
                        </div>

                        <%   } 
                          }else{ %>
                          <div style="color: #ff6a89;font-size: 12px;"> No Records Found</div>
                        <% } %>

                      </div>
                    </div>
                  </div>

              </div>


          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Top 10 Category</h4>
                      <% if([top_ten_category_count]!='') { %>

                         <canvas id="pieChart" style="height:250px"></canvas>
                      <% }else{ %>
                        <img src="/public/images/not-found.png">
                      <% } %>
                </div>
              </div>
            </div>
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Top 10 Campaign</h4>
                      <% if([top_ten_campaign_count]!='') { %>

                         <canvas id="doughnutChart" style="height:250px"></canvas>
                      <% }else{ %>
                        <img src="/public/images/not-found.png">
                      <% } %>
                </div>
              </div>
            </div>
          </div>      
        </div>
        <!-- content-wrapper ends -->



      <% include ./layouts/footer %>

      <% 
      if(user.release_read_status=='0')
      {
      %>
        <% include release_notes %>
      <% 
      }
      %>
<script>
$(function() {

  $("#fvpp-close").click(function(){
    $("#my-welcome-message").css("display", "none");
  });
  var randomColorGenerator = function () { 
      return '#' + (Math.random().toString(16) + '0000000').slice(2, 8); 
  };

  var click_data = {
    labels: [<%= last_seven_days %>],
    datasets: [
        {

          labels: [],
          data: [<%= last_seven_days_count %>],
          label: 'Clicks',
          backgroundColor: [
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          
          borderColor: [
            'rgba(54, 162, 235, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
         
        }

    ]
  };

  var clicks_options = {

   responsive: true,

    tooltips: {
      mode: 'index',
      intersect: false,
    },

    hover: {
      mode: 'nearest',
      intersect: true
    },

   scales: {
      xAxes: [{
        display: true,
        scaleLabel: {
          display: true,
          labelString: ''//Month
        }
      }],
      yAxes: [{
        display: true,
        scaleLabel: {
          display: true,
          labelString: 'Value'
        }
      }]
    }
    
  };


  if ($("#lineChart").length) {
    var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
    var lineChart = new Chart(lineChartCanvas, {
      type: 'line',
      data: click_data,
      options: clicks_options
    });
  }

  var PieChartData = {
    datasets: [{
      data: [<%= top_ten_category_count %>],
      backgroundColor: [
        randomColorGenerator(),
        randomColorGenerator(),
        randomColorGenerator(),
        randomColorGenerator(),
        randomColorGenerator(),
        randomColorGenerator(),
        randomColorGenerator(),
        randomColorGenerator(),
        randomColorGenerator(),
        randomColorGenerator()
      ],
      borderColor: [
        'rgba(75, 192, 192, 0.05)',
        'rgba(75, 192, 192, 0.05)',
        'rgba(75, 192, 192, 0.05)',
        'rgba(75, 192, 192, 0.05)',
        'rgba(75, 192, 192, 0.05)',
        'rgba(75, 192, 192, 0.05)',
        'rgba(75, 192, 192, 0.05)',
        'rgba(75, 192, 192, 0.05)',
        'rgba(75, 192, 192, 0.05)',
        'rgba(75, 192, 192, 0.05)'
      ],
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [<%= top_ten_category_names %>]
  };

  var PieChartOptions = {
    responsive: true,
    animation: {
      animateScale: true,
      animateRotate: true
    },
    legend: {
        display: true,
        position: 'right'
    }

  };
  
 if ($("#pieChart").length) {
    var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
    var pieChart = new Chart(pieChartCanvas, {
      type: 'pie',
      data: PieChartData,
      options: PieChartOptions
    });
  }


  var doughnutChartData = {
    datasets: [{
      data: [<%= top_ten_campaign_count %>],
      backgroundColor: [
        randomColorGenerator(),
        randomColorGenerator(),
        randomColorGenerator(),
        randomColorGenerator(),
        randomColorGenerator(),
        randomColorGenerator(),
        randomColorGenerator(),
        randomColorGenerator(),
        randomColorGenerator(),
        randomColorGenerator()
      ],
      borderColor: [
        'rgba(75, 192, 192, 0.05)',
        'rgba(75, 192, 192, 0.05)',
        'rgba(75, 192, 192, 0.05)',
        'rgba(75, 192, 192, 0.05)',
        'rgba(75, 192, 192, 0.05)',
        'rgba(75, 192, 192, 0.05)',
        'rgba(75, 192, 192, 0.05)',
        'rgba(75, 192, 192, 0.05)',
        'rgba(75, 192, 192, 0.05)',
        'rgba(75, 192, 192, 0.05)'
      ],
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [<%= top_ten_campaign_names %>]
  };


  var doughnutChartOptions = {
    responsive: true,
    animation: {
      animateScale: true,
      animateRotate: true
    },
    legend: {
        display: true,
        position: 'right'
    }

  };

if ($("#doughnutChart").length) {
    var doughnutChartCanvas = $("#doughnutChart").get(0).getContext("2d");
    var doughnutChart = new Chart(doughnutChartCanvas, {
      type: 'doughnut',
      data: doughnutChartData,
      options: doughnutChartOptions
    });
  }

});
</script>

