<% include ./layouts/header %>
<% include ./layouts/top_header %>
<% include ./layouts/side_menu %>
    <div class="col-md-10 contentRightParentSec compressedContentWidth">

        <section class="dashboardTopBackground">

            <div class="col-md-12 paddingZero">

                <div class="dashboardCards">

                    <div class="iconSec">
                        <img src="../../public/images/dashboard/category_icon.svg" alt="">
                    </div>

                    <div class="noSec">
                        <p class="boldFont">Category</p>
                        <p><h5 class="font25" id="cate_count"></h5></p>
                    </div>

                    <div class="descSec">
                        <span>Total Category</span>
                    </div>

                </div>

                <div class="dashboardCards">

                    <div class="iconSec">
                        <img src="../../public/images/dashboard/campaign_icon.svg" alt="">
                    </div>

                    <div class="noSec">
                        <p class="boldFont">Campaign</p>
                        <p><h5 class="font25" id="camp_count"></h5></p>
                    </div>

                    <div class="descSec">
                        <span>Total Campaign</span>
                    </div>

                </div>

                <div class="dashboardCards">

                    <div class="iconSec">
                        <img src="../../public/images/dashboard/contacts_icon.svg" alt="">
                    </div>

                    <div class="noSec">
                        <p class="boldFont">Contacts</p>
                        <p><h5 class="font25" id="contact_count"></h5></p>
                    </div>

                    <div class="descSec">
                        <span>Total Contacts</span>
                    </div>

                </div>

                <div class="dashboardCards">

                    <div class="iconSec">
                        <img src="../../public/images/dashboard/clicks_icon.svg" alt="">
                    </div>

                    <div class="noSec">
                        <p class="boldFont">Clicks</p>
                        <p><h5 class="font25" id="clicks_count"></h5></p>
                    </div>

                    <div class="descSec">
                        <span>Total Clicks</span>
                    </div>

                </div>

            </div>

        </section>

        <section class="dashboardBottomBackground">

            <div class="col-md-12 contentBackgroundColor">

                <div class="col-md-6 secondSecContainer">

                    <div class="secPadding">
                        <div class="vol">
                        <h3 class="dashboardTableHeader">Volume Report</h3>
                        <select class="form-control input-group-md" name="volume_dropdown" id="volume_dropdown">
                          <option value="7">Last 7 days</option>
                          <option value="today">Today</option>
                          <option value="1">Yesterday</option>
                          <option value="week">Last Week</option>
                          <option value="last_month">Last Month</option>
                          <option value="this_month">This Month</option>
                        </select>
                      </div>
                        <div id="chart" class="loader_cls"></div>

                    </div>

                </div>

                <div class="col-md-6 secondSecContainer">

                    <div class="secPadding">

                        <div>
                            <h3 class="dashboardTableHeader">Summary Report</h3>

                            <button type="button" class="btn btn-xs btn-default pullRight summaryReportButton" onClick="redirect()"> See All </button>
                        </div>

                        <p class="greyColor">Top 10 campaign summary reports</p>

                        <div class="table-responsive">          
                            <table class="table summaryTable">
                              <thead>
                                <tr>
                                  <th>Campaign Name</th>
                                  <th>Total Sender</th>
                                  <th>Total Clicks</th>
                                  <th>CTR</th>
                                </tr>
                              </thead>
                              <tbody id="load_topten_camp_data">
                              </tbody>
                            </table>
                        </div>

                    </div>

                </div>

            </div>

            <div class="clearfix"></div>

            <div class="col-md-12 contentBackgroundColor">

                <div class="col-md-4 thirdSecContainer recentCampaignContainer">

                    <div class="secPadding">

                        <h3 class="dashboardTableHeader"> Recent Campaign </h3>
                        

                        <div id="recent_camp" class="loader_cls"></div>

                        

                    </div>

                </div>

                <div class="col-md-4 thirdSecContainer">

                    <div class="secPadding">

                        <h3 class="dashboardTableHeader"> Top 10 Category </h3>

                        <div id="piechart" class="loader_cls"></div>

                    </div>

                </div>

                <div class="col-md-4 thirdSecContainer">

                    <div class="secPadding">

                        <h3 class="dashboardTableHeader"> Top 10 Campaign </h3>

                        <div id="donoughtchart" class="loader_cls"></div>

                    </div>

                </div>

            </div>
        
        </section>

    </div>
  </div>
</div>

<% include ./layouts/footer %>



<script src="../public/scripts/apexcharts.js"></script>

<% include ./graph %>

<script>
$(document).on('show','.accordion', function (e) {
 //$('.accordion-heading i').toggleClass(' ');
 $(e.target).prev('.accordion-heading').addClass('accordion-opened');
});

$(document).on('hide','.accordion', function (e) {
$(this).find('.accordion-heading').not($(e.target)).removeClass('accordion-opened');
//$('.accordion-heading i').toggleClass('fa-chevron-right fa-chevron-down');
});

</script>

