<script type="text/javascript">

$(document).ready(function() {
 
  $("#load_topten_camp_data").html('');
  $("#load_topten_camp_data").html('<td colspan="5" class="text-center"><img src="/public/images/loader_form.gif" class="img-responsive" alt="Loading..."></td>');
  $(".loader_cls").html('<img src="/public/images/loader_form.gif" class="img-responsive" alt="Loading...">');
  /* show dashbaord count loader here */
  $.ajax({
    type     : 'POST',
    url      : '/get_dashboard_count',
    data     : {},
    dataType : 'json',
    success  : function (resp) {
      
      if (resp.status == 200) {
        /* hide dashbaord loader here */
        var count_data = resp.data;
        $('#cate_count').text(count_data.category_count);
        $('#camp_count').text(count_data.campaign_count);
        $('#contact_count').text(count_data.contact_count);
        $('#clicks_count').text(count_data.clicks_count);
      } else {
        
      }             
    },
  }); //get_dashboard_count

  $.ajax({
    type: 'POST',
    url: '/get_topten_camp',
    data: {},
    success: function (resp) {
      //$(".loader_add").hide();
      $("#load_topten_camp_data").html('');
      if (resp.status == 200) {
        
        var topten_data  = resp.data; 
        if (topten_data.length > 0) {
          for (i = 0; i < topten_data.length; i++) {
          var total_clicks = topten_data[i].total_clicks;
          var total_sender = topten_data[i]._id.total_sender;
          var ctr_percentage = (total_clicks/total_sender)*100;
          var html_tbl_data   = '';
          html_tbl_data     += '<tr>';
          html_tbl_data     += '<td>' + topten_data[i]._id.name + '</td>';
          html_tbl_data     += '<td>' + total_sender + '</td>';
          html_tbl_data     += '<td>' + total_clicks + '</td>';
          html_tbl_data     += '<td>' + ctr_percentage.toFixed(2)+ '%</td>'
          html_tbl_data     += '</tr>';  
          $('#load_topten_camp_data').append(html_tbl_data);
        }
        
      } else {
        $("#load_topten_camp_data").html('<td colspan="5" class="text-center"> No records found</td>');
      }
      $("#load_topten_camp_data").show(); 

      } else {
        $("#load_topten_camp_data").html('<td colspan="5" class="text-center"> Something went wrong.Please check</td>');
        $("#load_topten_camp_data").show();
      }
    }
  }); //get_topten_camp

  get_volume_report();

  $.ajax({
    type: 'POST',
    url: '/get_recent_campaign',
    data: {},
    success: function (resp) {
      $('#recent_camp').html('');

      if (resp.status == 200) {
        var recent_campaign    = resp.data;
        for(var i = 0; i < recent_campaign.length; i++) { 
          var d     = new Date(recent_campaign[i].created_at),
              month = '' + (d.getMonth() + 1),
              day   = '' + d.getDate(),
              year  = d.getFullYear();
             
          if (month.length < 2) month = '0' + month;
          if (day.length < 2) day     = '0' + day;

          const monthNames = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
          ];  

          var month_name  = monthNames[d.getMonth()];                          
          var date_format = month_name + ' ' + day + ', ' + year;
          var margin_top_cls = '';
          var recent_camp_html = '';
          if (i == 0) { margin_top_cls = 'marginTop3'}
          recent_camp_html += '<div class="campaignItems ' + margin_top_cls + '">';
          recent_camp_html += '<div class="recentTopItemColor">';
          recent_camp_html += '<span>' + date_format + ' </span>';
          recent_camp_html += '<span class="pullRight"> <a href="/campaign/view/'+ recent_campaign[i]._id +'" target="_blank" class="viewLink"> View </a> </span>';
          recent_camp_html += '</div>';
          recent_camp_html += '<div>';
          recent_camp_html += '<p class="itemMargin">' + recent_campaign[i].name + '</p>';
          recent_camp_html += '</div>';
          recent_camp_html += '</div>';
          $('#recent_camp').append(recent_camp_html);
        } //for 
      }
    } //get_recent_campaign
  });

  $.ajax({
    type: 'POST',
    url: '/get_top_ten_category',
    data: {},
    success: function (resp) {
      $('#piechart').html('');
      if (resp.status == 200) {
        var top_ten_data   = resp.data;
        top_ten_cat_chart(top_ten_data);
      }
      
    } //get_recent_campaign
  }); //get_top_ten_category

  $.ajax({
    type: 'POST',
    url: '/get_top_ten_campaign',
    data: {},
    success: function (resp) {
      $('#donoughtchart').html('');
      if (resp.status == 200) {
        var top_ten_camp_data   = resp.data;
        top_ten_camp_chart(top_ten_camp_data);
      }
      
    } //get_recent_campaign
  }); //get_top_ten_category
});

$(document).on("change","#volume_dropdown", function() {
  $('#chart').html('');
  $(".loader_cls").html('<img src="/public/images/loader_form.gif" class="img-responsive" alt="Loading...">');
  var volume_report_val  = $('#volume_dropdown').val();
  get_volume_report(volume_report_val);
});

function get_volume_report (report_val = '') {
  $.ajax({
    type: 'POST',
    url: '/get_volume_report',
    data: {'report_val': report_val},
    success: function (resp) {
      $("#chart").html('');
      if (resp.status == 200) {
        var data   = resp.data;
        volume_report_chart(data);
      } 
      $("#chart").show(); 
    }
  }); //get_volume_report
}
function volume_report_chart (data) {
  console.log(data)
  var options = {
    chart: {
      height: 370,
      type: 'bar',
    },
    colors : ['#4E8DF9'],
    plotOptions: {
      bar: {
        horizontal: false,
        columnWidth: '20%',
      },
    },
    dataLabels: {
      enabled: false
    },
    stroke: {
      show: true,
      width: 2,
      colors: ['transparent']
    },
    series: [{
      name: 'Clicks',
      data: data.last_seven_days_count
    },
    {
      name: 'Conversion Count',
      data: [0]
    }
    ],
    xaxis: {
        categories: data.last_seven_days,
    },
    yaxis: {
        
    },
    fill: {
        opacity: 1

    },
    tooltip: {
        y: {
            formatter: function (val) {
                return  val 
            }
        }
    }
  }

  var chart = new ApexCharts(
      document.querySelector("#chart"),
      options
  );

  chart.render();

} //volume_report

function top_ten_cat_chart (data) {
  console.log(data);
  var categoryOptions = {
      chart: {
          width: 360,
          height: 400,
          type: 'donut',
          offsetX: -20,
          offsetY: 20,
      },
      colors: ["#04386C","#0349A0","#003BA0","#0044B6","#0355BD","#0355BD","#4E8DF9","#5A97FF","#82B0FF","#82B0FF"],
      stroke: {
          show: false,
          curve: 'smooth',
          width: 0,
          dashArray: 0,      
      },
      legend: {
          show: true,
          showForSingleSeries: false,
          showForNullSeries: true,
          showForZeroSeries: true,
          position: 'bottom',
          horizontalAlign: 'left', 
          floating: screenLeft,
          fontSize: '11px',
          formatter: undefined,
          inverseOrder: false,
          width: undefined,
          height: undefined,
          tooltipHoverFormatter: undefined,
          offsetX: 0,
          offsetY: -10,
          labels: {
              colors: undefined,
              useSeriesColors: false
          },
          markers: {
              width: 12,
              height: 12,
              strokeWidth: 0,
              strokeColor: '#fff',
              fillColors: undefined,
              radius: 12,
              customHTML: undefined,
              onClick: undefined,
              offsetX: 0,
              offsetY: 0
          },
          itemMargin: {
              horizontal: 3,
              vertical: 8
          },
          onItemClick: {
              toggleDataSeries: true
          },
          onItemHover: {
              highlightDataSeries: true
          },
      },
      dataLabels: {
          enabled: false
      },
      labels: data.top_ten_category_names,
      series: data.top_ten_category_count,
      responsive: [{
          breakpoint: 480,
          options: {
              chart: {
                  width: 200
              },
              legend: {
                  position: 'bottom'
              }
          }
      }]
  }
  var chart_pie = new ApexCharts(
      document.querySelector("#piechart"),
      categoryOptions
  );

  chart_pie.render();
} //top_ten_cat_chart

function top_ten_camp_chart (data) {
  var campaignOptions = {
      chart: {
          width: 360,
          height: 400,
          type: 'donut',
          offsetX: -20,
          offsetY: 20,
          colors: ['#546E7A', '#E91E63']
      },
      colors: ["#04386C","#0349A0","#003BA0","#0044B6","#0355BD","#0355BD","#4E8DF9","#5A97FF","#82B0FF","#82B0FF"],
      stroke: {
          show: false,
          curve: 'smooth',
          width: 0,
          dashArray: 0,      
      },
      legend: {
          show: true,
          showForSingleSeries: false,
          showForNullSeries: true,
          showForZeroSeries: true,
          position: 'bottom',
          horizontalAlign: 'left', 
          floating: screenLeft,
          fontSize: '11px',
          formatter: undefined,
          inverseOrder: false,
          width: undefined,
          height: undefined,
          tooltipHoverFormatter: undefined,
          offsetX: 0,
          offsetY: -10,
          labels: {
              colors: undefined,
              useSeriesColors: false
          },
          markers: {
              width: 12,
              height: 12,
              strokeWidth: 0,
              strokeColor: '#fff',
              fillColors: undefined,
              radius: 12,
              customHTML: undefined,
              onClick: undefined,
              offsetX: 0,
              offsetY: 0
          },
          itemMargin: {
              horizontal: 3,
              vertical: 8
          },
          onItemClick: {
              toggleDataSeries: true
          },
          onItemHover: {
              highlightDataSeries: true
          },
      },
      dataLabels: {
          enabled: false
      },
      labels: data.top_ten_campaign_names,
      series: data.top_ten_campaign_count,
      responsive: [{
          breakpoint: 480,
          options: {
              chart: {
                  width: 200
              },
              legend: {
                  position: 'bottom'
              }
          }
      }]
  }

  var chart_pie2 = new ApexCharts(
      document.querySelector("#donoughtchart"),
      campaignOptions
  );

  chart_pie2.render();
} //top_ten_camp_chart


function redirect() {
  var url = "/campaign/list";
  window.location.href = url;
}
</script>