﻿<% include layouts/header %>
<div class="container-fluid">
  <section class="loginBackground">

    <div class="col-md-12 loginHead">

      <img src="../../public/images/kasplo_logo/logo.png" alt="">

    </div>

    <div class="col-md-12 loginContainer">

      <div class="col-md-3 loginParentSec">

        <div class="col-md-12 loginChild">

          <p class="loginHeader">Welcome to <span>Kasplo</span></p>
          <p> Please login to your account </p>
          <div class="col-md-12" id="notif">
            <% include ./partials/messages %>

          </div>
          <form class="form-horizontal loginForm" id="login_form" method="POST">
            
            <div class="col-md-12 form-group has-success has-feedback">
              <input type="email" class="form-control" name="email" id="email"  placeholder="Email" aria-describedby="usernameStatus">
              <!-- <span id="usernameStatus" class="help-block"> Enter Username </span> -->
            </div>

            <div class="col-md-12 form-group has-success has-feedback">
              <input type="password" class="form-control" name="password" id="password" placeholder="Password" aria-describedby="passwordStatus">
              <span toggle="#password-field" class="toggle-password fa fa-eye fa-eye-slash field-icon"></span>
              <!-- <span id="passwordStatus" class="help-block"> Enter Password </span> -->
            </div>

            <div class="col-md-12 form-group">
              <button type="submit" class="btn btn-info loginBtn" id="login_btn">Log In</button>
            </div>

            <p class="font12 termsPadding">You agree to kasplo <a href=""> Terms & Condition </a> and Privacy Policy </p>

          </form>

        </div>

        <div class="clearfix"></div>

        <br>
        <br>

        <p class="copyrightTxt">copyright © 2019 - <%= new Date().getFullYear();%> Adcanopus. All rights reserved.</p>

      </div>

    </div>

  </section>
</div>

<% include layouts/footer %>
<script src="../../public/scripts/jquery.validate.js"></script>
<!-- login validations -->
<script type="text/javascript" src="../../public/scripts/validations/login.js"></script>