
<!DOCTYPE html>
<html class="gr__mackeycreativelab_com"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width">
<title>Performing Maintenance</title>
<meta name="description" content="Performing maintenance...">
<link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon" />
<style type="text/css">
    /* Reset */
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
      
      html {font-size: 16px;}
      body { text-align: center; padding: 150px; }
      h1 { font-size: 40px; font-weight: bold; margin-bottom: 1rem;}
      p {font-size: 1.5rem; margin-bottom: 1rem;}
      body { font: 20px Helvetica, sans-serif; color: #333; }
      #article { display: block; text-align: left; width: 650px; margin: 0 auto; }
      a { color: #dc8100; text-decoration: none; }
      a:hover { color: #333; text-decoration: none; }
    </style>
</head>
<body>
<div id="article">
<h1>Our site is getting a little tune up and some love.</h1>
<div>
<p>We apologize for the inconvenience, but we're performing some maintenance. You can still contact us at <a href="mailto:atul@adcanopus.com">atul@adcanopus.com</a>. We'll be back up soon!</p>
<p>— Kasplo Team</p>
</div>
</div>
</body></html>