<div id="my-welcome-message">
          <h5 style="font-size: 21px;font-weight: bold;"><blink>Kasplo - Version 1.13 - Release Update - November 05,2019</blink></h5>
          <h5 style="font-size: 16px;font-weight: bold;">New Features:</h5>
          <ul style="font-size: 15px;">

            <li>
              <h6 class="task_notes">Implementing for all SMPP TPS wise Sending the SMS as background Code logic. As of now TPS defining from the database & based on its working. Later we will implement a user-friendly Screen(CMS Panel).</h6>
            </li>

            <li>
              <h6 class="task_notes">Implementing Simultaneous Process - Each Process assigning with a different port. So, in this case, we can avoid kasplo down & 502 bad gateway</h6>
            </li>

            <li>
              <h6 class="task_notes">Implementing Dynamic SMTP Credentials Configured</h6>
            </li>

            <li>
              <h6 class="task_notes">CRON - Dynamic Uploading Path Changed (paisafatafat).</h6>
            </li>

            
            <li>
              <h6 class="task_notes">Bug Fixes & improvements</h6>
            </li>           


          </ul>
          <a id="fvpp-close">✖</a>
  </div>

