<% include ../layouts/header %>
<% var access = user['permission_access'];  %>
<!-- content-wrapper start -->
<div class="content-wrapper">
   <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
         <div class="card-body">
            <h4 class="card-title">Category</h4>
            <% if(access.hasOwnProperty('create')) { %>
            <button type="button" id="create_cat_btn" class="btn btn-primary btn-fw" data-toggle="modal" data-target="#createCategoryModal" style="float: right;margin-bottom: 10px;">
            Create
            </button>
            <% } %>
            <% if(access.hasOwnProperty('read')) { %>
            <div class="table-responsive">

                  <table class="table table-bordered custom_table">
                     <thead>
                        <tr>
                           <th>
                              ID
                           </th>

                           <th>
                              Name
                           </th>
                           <th>
                              Description
                           </th>
                           <th>
                              Status
                           </th>
                           <th>
                              Created at
                           </th>
                           <% if(access.hasOwnProperty('update')) { %>
                           <th>
                              Action
                           </th>
                           <% } %>
                        </tr>
                     </thead>
                     <tbody>
                        <!-- Category -->
                        <% for(var i = 0; i < category.length; i++) { %>
                        <tr>
                           <td><%= category[i]._id %></td>
                           <td><%= category[i].name %></td>
                           <td><%= category[i].description %></td>
                           
                            <% if (category[i].status=='1') { %>
                              <td><i class="mdi mdi-check-circle-outline" style="color:green;"></i></td>
                            <% } else { %>
                              <td><i class="mdi mdi-close-circle-outline" style="color:red;"></i></td>
                            <% } %>
                           
                           <td><%= category[i].date_added %></td>
                           <td>
                             <% if(access.hasOwnProperty('update')) { %>
                             <a href="#" class="update_category" data-toggle="modal" data-target="#updateCategoryModal" id="<%= category[i]._id %>"><i class="mdi mdi-pencil" data-name="mdi-pencil"></i></a>
                            <% } %>
                           </td>
                        </tr>
                        <% } %>
                     </tbody>
                  </table>
            </div>
            <% } %>
         </div>
      </div>
   </div>
</div>
<!-- content-wrapper ends -->

<div class="modal fade" id="createCategoryModal" tabindex="-1" role="dialog" aria-labelledby="createCategoryModal" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content" id="new_content">
        

      </div>
   </div>
</div>

<div class="modal fade" id="updateCategoryModal" tabindex="-1" role="dialog" aria-labelledby="updateCategoryModal" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content" id="update_content">
        


      </div>
   </div>
</div>

<% include ../layouts/footer %>

<script type="text/javascript">
// This is our actual script
$(document).ready(function(){

    
    $('#create_cat_btn').click(function(){
        $.ajax({
            type: 'POST',
            url: '/category/popup_content',
            data: {'type':'add'},
            success: function (data) {
                $('#new_content').html(data.popup_content);
                $("#status").select2();
            }
        });
    });

    $('#create_cat_btn').click(function(){
      $('#createCategoryModal').modal({
      backdrop: 'static',
      keyboard: false
      });
    });
    
    $('.update_category').click(function(){
      $('#updateCategoryModal').modal({
      backdrop: 'static',
      keyboard: false
      });
    });
});

 $(document).on('click', '#save_category', function(){

        var categoryForm = $("#add_category");

        var validator = categoryForm.validate({

            rules: {
                name: {
                    required: {
                      depends:function() {
                          $(this).val($.trim($(this).val()));
                          return true;
                      }
                    },
                    remote : { url : "/category/checkCategoryExists", type :"post", data: {check_type: 'add'}}
                },
                description: {
                    required: {
                      depends:function() {
                          $(this).val($.trim($(this).val()));
                          return true;
                    }
                  }
                },
                status: {
                    required:  true
                },
            },

            messages: {

                name: {
                    required: "Please enter category name",
                    remote : "Category name already taken"
                },
                description: {
                    required: "Please enter category description"
                },
                status: {
                    required: "Please select the status"
                },

            },

            submitHandler: function(form) {

                $("#save_category").prop('disabled', true);

                $("#loader").show();

                var name=$("#category_name").val();
                var description=$("#category_description").val();
                var status=$("#status").val();

                $.ajax({
                    type: 'POST',
                    url: '/category/add',
                    data: {'cat_name':name,'description':description,'status':status},
                    success: function (data) {

                       $("#loader").hide();
               
                       if(data.status=='200')
                       {
                         $('#notification').html('<div class="alert alert-success"><strong>Success!</strong> Category created successfully.</div>');

                       }else{
                        $("#save_category").prop('disabled', false);

                         $('#notification').html('<div class="alert alert-danger "><strong>Error!</strong> A problem has been occurred while submitting your data.</div>');

                       }

                       setTimeout(function(){ 
                          $('#notification').hide();
                          location.reload(); 
                       }, 3000);
                    }
                });
            }
    });            

 });

 $(document).on('click', '#btn_update_category', function() {
        var categoryForm = $("#add_category");
        var category_id = $("#update_cat_id").val();
        var validator = categoryForm.validate({
            rules: {
                name: {
                    required: {
                      depends:function() {
                        $(this).val($.trim($(this).val()));
                        return true;
                      }
                    },
                    remote : { url : "/category/checkCategoryExists", type :"post", data: {check_type: 'update', category_id: category_id}}
                },
                description: {
                    required: {
                      depends:function() {
                        $(this).val($.trim($(this).val()));
                        return true;
                      }
                    }
                },
                status: {
                    required: true
                },
            },

            messages: {

                name: {
                    required: "Please enter category name",
                    remote : "Category name already taken"
                },
                description: {
                    required: "Please enter category description"
                },
                status: {
                    required: "Please select the status"
                },

            },

            submitHandler: function(form) {
                $("#btn_update_category").prop('disabled', true);

                $("#loader").show();

                //var category_id = $("#update_cat_id").val();
                var name=$("#category_name").val();
                var description=$("#category_description").val();
                var status=$("#status").val();

                $.ajax({
                    type: 'POST',
                    url: '/category/update',
                    data: {'category_id':category_id,'cat_name':name,'description':description,'status':status},
                    success: function (data) {

                       $("#loader").hide();

                       if(data.status=='200')
                       {
                         $('#notification').html('<div class="alert alert-success"><strong>Success!</strong> Category updated successfully</div>');

                       }else{
                          $("#btn_update_category").prop('disabled', false);
                         $('#notification').html('<div class="alert alert-danger "><strong>Error!</strong> A problem has been occurred while submitting your data.</div>');

                       }

                       setTimeout(function(){ 
                          $('#notification').hide();
                          location.reload(); 
                       }, 3000);

                    }
                });
          }
    });            

 });


 $(document).on('click', '.update_category', function(){

        var category_id=this.id;

        $.ajax({
            type: 'POST',
            url: '/category/popup_content',
            data: {'type':'edit','id':category_id},
            success: function (data) {
                $('#update_content').html(data.popup_content);
                $("#status").select2();
            }
        });


 });


</script>

<style>
.error{
  color:red;
}

</style>
