<% include ../../layouts/header %>
<% var access = user['permission_access'];  %>

<!-- content-wrapper start -->
<div class="content-wrapper">
   <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
         <div class="card-body">
            <h4 class="card-title">Test SMS</h4>
            <% if(access.hasOwnProperty('read')) { %>
            <div class="table-responsive">
                  <table class="table table-bordered custom_table">
                     <thead>
                        <tr>
                           <th>
                              Name
                           </th>

                           <th>
                             Mobile Number
                           </th>

                           <% if(access.hasOwnProperty('update')) { %>
                           <th>
                             Action
                           </th>
                           <% } %>
                        
                        </tr>
                     </thead>
                     <tbody>
                        <!-- state -->
                        <% for(var i = 0; i < mobile_numbers.length; i++) { 
                        %>
                        <tr>
                           <td><%= mobile_numbers[i].name %></td>
                           <td><%= mobile_numbers[i].mobile_number %></td>
                           <% if(access.hasOwnProperty('update')) { %>
                           <td><a href="" data-toggle="modal" data-target="#edittestsmsModal" class="edit_test_sms_btn" id=<%= mobile_numbers[i]._id %>><i class="mdi mdi-pencil" data-name="mdi mdi-pencil"></i></a><a href="JavaScript:deleteTestSMSByID('<%= mobile_numbers[i]._id %>');" class="del_test_sms_btn"><i class="mdi mdi-delete" data-name="mdi-delete"></i></a></td><% } %>
                          
                        </tr>
                        <% } %>
                     </tbody>
                  </table>

            </div>
            <% } %>
         </div>
      </div>
   </div>
</div>


<div class="modal fade" id="edittestsmsModal" tabindex="-1" role="dialog" aria-labelledby="edittestsmsModal" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content" id="update_test_sms">

      </div>
   </div>
</div>
<% include ../../layouts/footer %>

<script type="text/javascript">
  $(document).on('click', '.edit_test_sms_btn', function(){

        var test_sms_id = this.id;

        $.ajax({
            type: 'POST',
            url: '/settings/edit_test_sms_popup',
            data: {'type':'edit','id':test_sms_id},
            success: function (data) {
                $('#update_test_sms').html(data.popup_content);
            }
        });


 });


  $(document).on('click', '.btn_update_test_sms', function() {
    var test_sms_id = this.id;
    $("#update_tst_sm").validate({

      rules: {
        test_sms_name: {
          required: { 
            depends:function() {
              $(this).val($.trim($(this).val()));
              return true;
          }
        }
      },
        mbl_num: {
          required: true,
          minlength:10,
          maxlength:10,
          number: true,
          remote : { url : "/campaign/checkNumberExists", type :"post", data:{'check_type':'update', 'id': test_sms_id}}
        }
      },

      messages: {
        test_sms_name: {
          required: "Please enter user name", 
        },
        mbl_num: {
          required: "Please enter mobile number", 
          remote: "Mobile number already exists"
        }

      },

      submitHandler: function(form) {
        var name = $('#test_sms_name').val();
        var mobile_number = $('#mbl_num').val();
        $("#loader").show();

        $.ajax({
            type: 'POST',
            url: '/settings/update_test_sms',
            data: {'id':test_sms_id, 'name':name, 'mobile_number': mobile_number},
            success: function (data) {
              $("#loader").hide();

               if (data.status=='200') {
                  $('#sm_notification').html('<div class="alert alert-success"><strong>Success!</strong> Details updated successfully</div>');

              } else {
                $("#btn_update_category").prop('disabled', false);
                $('#sm_notification').html('<div class="alert alert-danger "><strong>Error!</strong> A problem has been occurred while submitting your data.</div>');

              }

              setTimeout(function(){ 
                  $('#sm_notification').hide();
                  location.reload(); 
                }, 3000);

            }
        });
       
      },
      
    });            
 }); //document ready 


  function deleteTestSMSByID(id) {
       $.confirm({
           title: 'Test SMS!',
           content: 'Are you sure to delete this?',
           icon: 'mdi mdi-delete',
           theme: 'modern',
           closeIcon: true,
           animation: 'scale',
           type: 'red',
           buttons: {
               omg: {
                   text: 'Delete',
                   btnClass: 'btn-danger',
                   action: function(){
   
                       /* Ajax - Tag Delete - Start */
                         
                       
                         jQuery.ajax({
                             type : "GET",
                             url : '/settings/delete_test_sms/'+id,
                             success: function(data) {
                              console.log(data)
                              if (data.status == 200) {
                                swal("Success", "Data deleted Successfully!", "success");
                                location.reload();
                              } else {
                                swal("Fail", "Failed to delete!", "error");
                                location.reload();
                              }
                              
                             }
                         });
   
                       /* Ajax - Tag Delete */
   
                   }
               },
               close: function () {
               }
           }
       });
  }
</script>
