﻿<% include ../../layouts/header %>
<!-- content-wrapper start -->
<div class="content-wrapper">
   <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
         <div class="card-body">

           <div class="template-demo">
             <a href="/public/sample-format/kasplo_sample_csv_send_sms.csv" class="btn btn-success btn-fw" style="float: right;"><i class="mdi mdi-file-document"></i> Sample CSV (Upload Format)</a>
           </div>


            <h4 class="card-title">Campaign - Send sms now</h4>
		<p style="font-weight: bold;">You can send sms in batches upto 10,000. Upload a file containing Mobile Numbers and SMS Content. Only <span style="color:red;">.csv</span> format files are allowed.</p>
            <div class="schedule_campaign">


            <form id="campaign_directly" method="post"  enctype="multipart/form-data" >


            <div class="row">
              <div class="col-md-5">
                    <div class="form-group row">
                       <label class="col-sm-4 col-form-label">
                       <div class="massageTag">Campaign*</div>
                       </label>
                       <div class="col-sm-8">
                          <select class="form-control" name="campaign_id" id="campaign_id">
                              <option value="0" disabled selected>---Select Campaign ---</option>
                              <% for(var i = 0; i < campaign.length; i++) { %>
                                  <option value="<%= campaign[i]._id %>"><%= campaign[i].name %></option>
                              <% } %>
                                                             
                          </select>
                       </div>
                    </div>
                </div>
            </div>

            <div class="row">
              <div class="col-md-5">

                <div class="form-group row">
                   <label class="col-sm-4 col-form-label">
                    <div class="massageTag">Campaign Content Label*</div></label>
                   <div class="col-sm-8">
                      <select class="form-control" name="content_label_id" id="content_label_id">
                          <option value="0" disabled selected>---Select Campaign Content ---</option>
                           
                      </select>
                   </div>
                </div>
                </div>
            </div>


              <div class="row" id="smpp_list">
                <div class="col-md-5">
                    <div class="form-group row">
                    <label class="col-sm-4 col-form-label">
                      <div class="massageTag">SMPP*</div>
                    </label>
                     <div class="col-sm-8">
                        <select class="form-control jsSelect" name="smpp_name" id="smpp_name">
                          <option disabled selected value=''>---Please Select SMPP--</option>
                         
                        </select>                       
                      </div>
                  </div>
                </div>
              </div>

              <div class="row" id="airtel_channel" style="display:none;">
                <div class="col-md-5">
                    <div class="form-group row">
                    <label class="col-sm-4 col-form-label">
                      <div class="massageTag">Channel*</div>
                      <div class="massageTag2">Select your Channel</div>
                    </label>
                     <div class="col-sm-8">
                        <select class="form-control jsSelect" name="channel" id="channel">
                          <option disabled selected value=''>---Please select--</option>
                          <option value='transactional'>Transactional</option>
                          <option value='promotional'>Promotional</option>

                        </select>                        
                     </div>
                  </div>
                </div>
              </div>

              <div class="row" id="smpp_senderid">
                <div class="col-md-5">
                    <div class="form-group row">
                    <label class="col-sm-4 col-form-label">
                      <div class="massageTag">From*</div>
                      <div class="massageTag2">Select your Sender ID</div>
                    </label>
                     <div class="col-sm-8">
                        <select class="form-control jsSelect" name="sender_addr" id="sender_addr">
                          <option disabled selected value=''>---Please select--</option>
                        </select>                        
                     </div>
                  </div>
              </div>
            </div>       

            <div class="row">                
              <div class="col-md-6">
                  <div class="form-group row">
                     <label class="col-sm-3 col-form-label massageTag">Upload File*</label>
                     <div class="col-sm-9">
                        <input type="file" id="file_import" class="btn btn-dark"  placeholder="Upload Image" name="file" accept=".csv">
                         <label><strong>Allowed file extensions are <b style="color:red;">.csv</b></strong></label>
                     </div>
                  </div>
              </div>
            </div>        

            <div class="row">                
              <div class="col-md-6">
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <button type="button" id="csv_preview" class="btn btn-primary" data-toggle="modal" data-target="#previewCSVModal">Preview</button>
                    </div>
                  </div>
              </div>
            </div>
          </form>
         </div>
       </div>
      </div>
   </div>
</div>

<div class="modal fade" id="previewCSVModal" tabindex="-1" role="dialog" aria-labelledby="previewCSVModal"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content" id="csv_content" style="width: 600px;">
      </div>
   </div>
</div>

<style type="text/css">

#csv_preview{
  float: right;
  margin-right: 90px;  
}

.schedule_campaign{
  border: 1px solid lightgrey;
  padding: 20px;  
}
.massageTag2 {
    float: left;
    color: #979797;
    font-size: 12px;
    padding-top: 4px;
}
.massageTag {
    float: left;
    padding-right: 10px;
    font-size: 16px;
    color: #545454;
    font-weight: bold;
}
.createMassageTextareaTabs {
    width: 570px;
    height: 154px;
    border: 1px solid #e5e8ef;
    font-family: Georgia !important;
    font-size: 16px!important;
    font-style: italic;
    color: #4f4f4f;
    padding: 10px 10px 10px 20px;
    margin: 10px;
    overflow: auto;
    overflow-x: hidden;
} 

#cancel_btn{
margin-left: 10px;
}

.schedule_date {
    cursor: pointer;
} 
</style>
<% include ../../layouts/footer %>

<script type="text/javascript">


  $(document).ready(function() {

     $("#channel").select2();
      $("#campaign_id").select2();
      $('#content_label_id').select2();


      $('#campaign_id').on('change', function() {

         jQuery.ajax({
            type : "POST",
            url : '/export/get_report_dependent_dropdown',
            data : {'campaign_id':this.value,'dropdown_type':'campaign_coneten_label' },
            dataType: 'json',
            success: function(response) {
                $("#content_label_id").html(response.html);
                $('#content_label_id').select2();
            }
        });

      });

      $(document).on("click","#cancel_btn",function() {
       $.confirm({
           title: 'Cancel!',
           content: 'Are you sure to cancel this campaign?',
           icon: 'mdi mdi-close',
           theme: 'modern',
           closeIcon: true,
           animation: 'scale',
           type: 'red',
           buttons: {
               omg: {
                   text: 'Cancel',
                   btnClass: 'btn-danger',
                   action: function(){
   
                      location.reload();
                      
                   }
               },
               close: function () {
               }
           }
       });      
      });

      $(document).on("click","#send_sms_now",function(event) {

        var chk_validation = form_validation('onclick');
       

        if(chk_validation=='true')
        {

            $("#loader").show();
            var form_data = new FormData();

            var file=$('#file_import')[0].files[0];
            var channel = $("#channel").val();
            var smpp_id = $("#smpp_name").val();
            var sender_id = $("#sender_addr").val();

            var campaign_id = $("#campaign_id").val();
            var content_label_id = $("#content_label_id").val();

            form_data.append('csvFile', file);
            form_data.append('channel', channel);
            form_data.append('smpp_id', smpp_id);
            form_data.append('sender_id', sender_id);

            form_data.append('campaign_id', campaign_id);
            form_data.append('content_label_id', content_label_id);

            jQuery.ajax({
              url : '/send/csv_data',
              type: 'POST',
              data: form_data, 
              processData: false,
              contentType: false,                           
              dataType: 'json',
              success: function(response) {

                if(response.status==200){
                  $('#loader').hide();

                  swal("Success", "SMS successfully sent!", "success")
                  .then((value) => {
                    location.reload();
                  });

                }

              }
            });

            event.preventDefault(); // Totally stop stuff happening
        }else{
          $("#previewCSVModal").modal("show");
        }
        
        
      });


      var todayDate = new Date().getDate();
      $('.schedule_date').daterangepicker({
         timePicker: true,
         singleDatePicker: true,
         showDropdowns: true,
         opens: "right",
         locale: {
           format: 'DD-MM-YYYY hh:mm A'
         },
         minDate: new Date(),
         maxDate: new Date(new Date().setDate(todayDate + 90)),

      });     
      $('.schedule_date').val('');

  });


    $(document).ready(function() {

      $("#csv_preview").click(function(event){  
          $('#csv_content').html('');    
          var check_frm_valid = form_validation('onclick');
          if (check_frm_valid) {
            fileOpen();
          }
          
      });
    });

    function fileOpen(){
      console.log('fileopen');
      var file=$('#file_import')[0].files[0];
      var reader = new FileReader();
      reader.readAsText(file);

      reader.onload = function(event) {
          var csvData = event.target.result;
          data = $.csv.toArrays(csvData);

          if (data && data.length > 0) {
            var count = data.length-1;
            var header = data[0];

            var channel = $('#channel').val();

            var smpp_value = document.getElementById("smpp_name").value;
            var sender_id = document.getElementById("sender_addr").value; 

            if(smpp_value=='1'){
              var smpp_name='Karix';
              var channel = '';
            }else if(smpp_value=='2'){
              var smpp_name='Airtel';
            }

            if(header.length>0 && header.length=='2')
            {
                var file_name = file.name;

                var text='<div class="modal-header"> <h5 class="modal-title" id="createCategoryModal">Uploaded file names</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>';

                  text +='<div class="modal-body">';

                  text +='<div class="row"><div class="col-12"><div class="form-group">';


                  text +='<table class="table table-bordered upload-file-table" style="background: #fff;text-align: center;"><tbody><tr class="table-primary"><th>S.No</th><th>File Name</th><th>Record Counts</th></tr>';

                  text +='<tr class="table-primary"><td>1</td><td>'+file_name+'</td><td>'+count+'</td></tr><tr class="table-primary"><td></td><td><strong>Total Record counts</strong></td><td><strong>'+count+'</strong></td></tr>';

                  text +='</tbody></table>';

                  text +='</div></div></div>';

                  text +='<div class="row"><div class="col-12"><div class="form-group" style="background: #fff;">';

                  text +='<table class="table table-bordered" style="text-align: center;"><tbody class="table-success"><tr><th>Message Type</th><th>SMPP</th><th>Sender ID</th>';

                  if(smpp_value=='2'){
                    text +='<th>Channel</th>';                    
                  }

                  text +='</tr>';

                  text +='<tr><td>Text SMS</td><td id="preview_smpp_name">'+smpp_name+'</td><td id="preview_smpp_sender_id">'+sender_id+'</td>';

                  if(smpp_value=='2'){
                    text +='<td id="preview_channel_name">'+channel+'</td>';
                  }

                  text +='</tr>';

                  text +='</tbody></table>';

                  text +='</div></div></div>';


                  text +='<div class="row"><div class="col-12"><div class="form-group" style="height:auto;overflow:auto;height:218px;">';

                  text +='<table class="table table-bordered contentLabelTable upload-file-table" style="background: #fff;"><tbody class="table-active"><tr><th>Mobile Number</th><th>Message</th><th>Character Count</th></tr><tbody id="csv_rows">';

                  for (var i = 0; i < data.length; i++) {

                    if(i>0)
                    {
                      var mobile_number = data[i][0];
                      var message_content = data[i][1];

                      if (typeof mobile_number != "undefined") {
                        var mobile_number = data[i][0];
                      }else{
                        var mobile_number = '';
                      }

                      if (typeof message_content != "undefined") {
                        var message_content = data[i][1];
                      }else{
                        var message_content = '';
                      }

                      text +='<tr class="row-hover"><td>'+mobile_number+'</td><td>'+message_content+'</td><td>'+message_content.length+'</td></tr>';

                    }
                  }
                  

                  text +='</tbody></table></div>';

                  text +='</div></div>';

                  text +='<div class="modal-footer"><div class="row"><div class="col-12"><div class="form-group"><button type="button" id="send_sms_now" class="btn btn-success">Send SMS now</button><img src="/public/images/loader.gif" style="display:none;width: 35px;margin: auto;" id="loader"><button type="button" id="cancel_btn" class="btn btn-danger">Cancel</button></div></div></div></div>';

                  text +='</div>';
                  $('#csv_content').html(text);
              

            }else{

                var text='<div class="modal-header"> <h5 class="modal-title" id="createCategoryModal">Warning</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>';

                text +='<div class="modal-body">';

                text +='<div class="row"><div class="col-12"><div class="form-group">';


                text +='<h5 style="color:red;">Please upload to proper headers with data.</h5><p style="font-size: 12px;color: grey;">Example: Header should be like <b>Mobile Number</b> and <b>SMS Content</b></p>';

                text +='</div></div></div>';

                 text +='</div>';

                $('#csv_content').html(text);
            }
            

            //alert('Imported -' + data.length + '- rows successfully!');
          } else {
              alert('No data to import!');
          }
      };
      reader.onerror = function() {
          alert('Unable to read ' + file.fileName);
      };

     
    }
    // The event listener for the file upload
    document.getElementById('file_import').addEventListener('change', upload, false);

    // Method that checks that the browser supports the HTML5 File API
    function browserSupportFileUpload() {
        var isCompatible = false;
        if (window.File && window.FileReader && window.FileList && window.Blob) {
          isCompatible = true;
        }
        return isCompatible;
    }

    // Method that reads and processes the selected file
    function upload(evt) {
      $('#csv_content').html('');
      
      var validation_result=form_validation('onchange'); console.log('validation_result'); console.log(validation_result);
      
      if(validation_result==false&&!validation_result)
      {
        console.log('Oh one');
        $("#previewCSVModal").modal("show");
      }
      else if(!browserSupportFileUpload()) {
          alert('The File APIs are not fully supported in this browser!');
      } else {
        console.log('Oh else');

              var data = null;
              var file = evt.target.files[0];

              //console.log('file');
             // console.log(file);

              var reader = new FileReader();
              reader.readAsText(file);

              reader.onload = function(event) {
                  var csvData = event.target.result;
                  data = $.csv.toArrays(csvData);

                  if (data && data.length > 0) {
                    var count = data.length-1;
                    var header = data[0];

                    var channel_name = $('#channel').val();

                    var smpp_value = document.getElementById("smpp_name").value; 
                    var sender_id = document.getElementById("sender_addr").value;

                    if(smpp_value==1){
                      var smpp_name='Karix';
                    }else if(smpp_value==2){
                      var smpp_name='Airtel';      
                    }
                      
                    if(smpp_value==1){
                      var channel = '';
                    }

                    if(header.length>0 && header.length=='2')
                    {
                        var file_name = file.name;

                        var text='<div class="modal-header"> <h5 class="modal-title" id="createCategoryModal">Uploaded file names</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>';

                          text +='<div class="modal-body">';

                          text +='<div class="row"><div class="col-12"><div class="form-group">';


                          text +='<table class="table table-bordered upload-file-table" style="background: #fff;text-align: center;"><tbody><tr class="table-primary"><th>S.No</th><th>File Name</th><th>Record Counts</th></tr>';

                          text +='<tr class="table-primary"><td>1</td><td>'+file_name+'</td><td>'+count+'</td></tr><tr class="table-primary"><td></td><td><strong>Total Record counts</strong></td><td><strong>'+count+'</strong></td></tr>';

                          text +='</tbody></table>';

                          text +='</div></div></div>';

                          text +='<div class="row"><div class="col-12"><div class="form-group" style="background: #fff;">';

                          text +='<table class="table table-bordered" style="text-align: center;"><tbody class="table-success"><tr><th>Message Type</th><th>SMPP</th><th>Sender ID</th>';

                          if(smpp_value=='2'){
                            text +='<th>Channel</th>';                    
                          }

                          text +='</tr>';

                          text +='<tr><td>Text SMS</td><td id="preview_smpp_name">'+smpp_name+'</td><td id="preview_smpp_sender_id">'+sender_id+'</td>';

                          if(smpp_value=='2'){
                            text +='<td id="preview_channel_name">'+channel+'</td>';
                          }

                          text +='</tr>';

                          text +='</tbody></table>';

                          text +='</div></div></div>';


                          text +='<div class="row"><div class="col-12"><div class="form-group" style="height:auto;overflow:auto;min-height:100px;">';

                          text +='<table class="table table-bordered contentLabelTable upload-file-table" style="background: #fff;"><tbody class="table-active"><tr><th>Mobile Number</th><th>Message</th><th>Character Count</th></tr><tbody id="csv_rows">';

                          for (var i = 0; i < data.length; i++) {
     
                            if(i>0)
                            {
                              var mobile_number = data[i][0];
                              var message_content = data[i][1];

                              if (typeof mobile_number != "undefined") {
                                var mobile_number = data[i][0];
                              }else{
                                var mobile_number = '';
                              }

                              if (typeof message_content != "undefined") {
                                var message_content = data[i][1];
                              }else{
                                var message_content = '';
                              }

                              text +='<tr class="row-hover"><td>'+mobile_number+'</td><td>'+message_content+'</td><td>'+message_content.length+'</td></tr>';

                            }
                          }
                          

                          text +='</tbody></table></div>';

                          text +='</div></div>';

                          text +='<div class="modal-footer"><div class="row"><div class="col-12"><div class="form-group"><button type="button" id="send_sms_now" class="btn btn-success">Send SMS now</button><img src="/public/images/loader.gif" style="display:none;width: 35px;margin: auto;" id="loader"><button type="button" id="cancel_btn" class="btn btn-danger">Cancel</button></div></div></div></div>';

                          text +='</div>';
                          $('#csv_content').html(text);
                     
                    }else{

                        var text='<div class="modal-header"> <h5 class="modal-title" id="createCategoryModal">Warning</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>';

                        text +='<div class="modal-body">';

                        text +='<div class="row"><div class="col-12"><div class="form-group">';


                        text +='<h5 style="color:red;">Please upload to proper headers with data.</h5><p style="font-size: 12px;color: grey;">Example: Header should be like <b>Mobile Number</b> and <b>SMS Content</b></p>';

                        text +='</div></div></div>';

                         text +='</div>';
    
                        $('#csv_content').html(text);
                    }


                    //alert('Imported -' + data.length + '- rows successfully!');
                  } else {
                      alert('No data to import!');
                  }
              };
              reader.onerror = function() {
                  alert('Unable to read ' + file.fileName);
              };
        }
    }



  function form_validation(type){

    var campaign_id = $("#campaign_id").val(); 
    var content_label_id = $("#content_label_id").val(); 
    var sender_id = $("#sender_addr").val();
    var smpp_name_val = $('#smpp_name').val();

    if(type=='onchange'){

      var channel_name = document.getElementById("channel").value; 
      var file_length = $('#file_import')[0].files.length;      
    }else{

      var channel_name = $("#channel").val(); 
      var file_length = $('#file_import')[0].files.length;  
    }

    var smpp_name = document.getElementById("smpp_name").value;  

    if(smpp_name==1){
      var smpp_name='Karix';
    }else if(smpp_name==2){
      var smpp_name='Airtel';      
    }

    if(campaign_id==null){
        var text='<div class="modal-header"> <h5 class="modal-title" id="createCategoryModal">Required Fields*</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>';

          text +='<div class="modal-body">';

          text +='<div class="row"><div class="col-12"><div class="form-group">';

          text +='<ul><li><h5 style="color:red;">Please select Campaign</h5></<li>';
          text +='</ul>';
          text +='</div></div></div>';

          text +='</div>';

        $('#csv_content').html(text);
        return false;  
    }else if(content_label_id==null || content_label_id==''){
        var text='<div class="modal-header"> <h5 class="modal-title" id="createCategoryModal">Required Fields*</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>';

          text +='<div class="modal-body">';

          text +='<div class="row"><div class="col-12"><div class="form-group">';

          text +='<ul><li><h5 style="color:red;">Please select campaign content label </h5></<li>';
          text +='</ul>';
          text +='</div></div></div>';

          text +='</div>';

        $('#csv_content').html(text);
        return false;        
    } else if(smpp_name_val==null || smpp_name_val==''){
        console.log('smpp_name');
        console.log(smpp_name_val);
        var text='<div class="modal-header"> <h5 class="modal-title" id="createCategoryModal">Required Fields*</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>';

          text +='<div class="modal-body">';

          text +='<div class="row"><div class="col-12"><div class="form-group">';

          text +='<ul><li><h5 style="color:red;">Please select smpp name</h5></<li>';
          text +='</ul>';
          text +='</div></div></div>';

          text +='</div>';

        $('#csv_content').html(text);
        return false;        
    }
    
    else if(channel_name==null&&smpp_name!='Karix'){
        //console.log('4444444');
        //console.log('vvvvvvvvvvv='+smpp_name);
        var text='<div class="modal-header"> <h5 class="modal-title" id="createCategoryModal">Required Fields*</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>';

          text +='<div class="modal-body">';

          text +='<div class="row"><div class="col-12"><div class="form-group">';

          text +='<ul><li><h5 style="color:red;">Please Select Your Channel Name</h5></li>';
          text +='</ul>';
          text +='</div></div></div>';

          text +='</div>';

        $('#csv_content').html(text);
        return false;  

    }else if(sender_id == null){
       
        var text='<div class="modal-header"> <h5 class="modal-title" id="createCategoryModal">Required Fields*</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>';

          text +='<div class="modal-body">';

          text +='<div class="row"><div class="col-12"><div class="form-group">';

          text +='<h5 style="color:red;">Please select sender ID</p>';

          text +='</div></div></div>';

          text +='</div>';

        $('#csv_content').html(text);
        return false;  
    } else if(file_length=='0') {
        //console.log('sdsdsd='+file_length);
        //console.log('666666666');
        var text='<div class="modal-header"> <h5 class="modal-title" id="createCategoryModal">Required Fields*</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>';

          text +='<div class="modal-body">';

          text +='<div class="row"><div class="col-12"><div class="form-group">';

          text +='<h5 style="color:red;">Please upload a csv file</p>';

          text +='</div></div></div>';

          text +='</div>';

        $('#csv_content').html(text);
        return false;  
    } else {
        
        return 'true';  
     
    }
 
  }

</script>
<script src="../../public/js/dropdown/smpp_data.js"></script>
