<% include ../../layouts/header %>
<!-- content-wrapper start -->
<div class="content-wrapper">
   <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
         <div class="card-body">
            <h4 class="card-title">Send campaign directly</h4>

            <div class="schedule_campaign">
              <form id="campaign_directly" method="post"  enctype="multipart/form-data" >
              <div class="row">
                <div class="col-md-5">
                    <div class="form-group row">
                    <label class="col-sm-4 col-form-label">
                      <div class="massageTag">SMPP*</div>
                      <div class="massageTag2">Select Your SMPP</div>
                    </label>
                     <div class="col-sm-8">
                        <select class="form-control jsSelect" name="smpp_name" id="smpp_name">
                        </select>                        
                     </div>
                  </div>
              </div>
            </div>

              <div class="row">
                <div class="col-md-5">
                    <div class="form-group row">
                    <label class="col-sm-4 col-form-label">
                      <div class="massageTag">From*</div>
                      <div class="massageTag2">Select your Sender ID</div>
                    </label>
                     <div class="col-sm-8">
                        <select class="form-control jsSelect" name="sender_addr" id="sender_addr">
                          <option disabled selected value=''>---Please select--</option>
                        </select>                        
                     </div>
                  </div>
              </div>
            </div>



            <div class="row">                
              <div class="col-md-6">
                  <div class="form-group row">
                     <label class="col-sm-3 col-form-label massageTag">Upload File*</label>
                     <div class="col-sm-9">
                        <input type="file" id="file_import" class="btn btn-dark"  placeholder="Upload Image" name="file" accept=".csv">
                         <label><strong>Allowed file extensions are <b style="color:red;">.csv</b></strong></label>
                     </div>
                  </div>
              </div>

            </div>

            <div class="row">                
              <div class="col-md-6">
                  <div class="form-group row">
                     <label class="col-sm-3 col-form-label massageTag">Schedule</label>
                     <div class="col-sm-9">
                          <input type="text" class="form-control schedule_date" readonly>
                     </div>
                  </div>
              </div>
            </div>

            <div class="row">                
              <div class="col-md-6">
                  <div class="form-group row">

                    <div class="col-sm-3">
                      <button type="button" id="send_sms_now" class="btn btn-success">Send SMS now</button>
                      <img src="/public/images/loader.gif" style="display:none;width: 35px;    margin: auto;" id="loader">
                    </div>

                    <div class="col-sm-2">
                      <button type="button" id="csv_preview" class="btn btn-primary" data-toggle="modal" data-target="#previewCSVModal">Preview</button>
                    </div>

                    <div class="col-sm-1">
                      <button type="reset" class="btn btn-warning">reset</button>
                    </div>


                  </div>
              </div>
            </div>

          </form>
         </div>
       </div>
      </div>
   </div>
</div>

<div class="modal fade" id="previewCSVModal" tabindex="-1" role="dialog" aria-labelledby="previewCSVModal"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content" id="csv_content" style="width: 600px;">
      </div>
   </div>
</div>

<style type="text/css">

.schedule_campaign{
  border: 1px solid lightgrey;
  padding: 20px;  
}
.massageTag2 {
    float: left;
    color: #979797;
    font-size: 12px;
    padding-top: 4px;
}
.massageTag {
    float: left;
    padding-right: 10px;
    font-size: 16px;
    color: #545454;
    font-weight: bold;
}
.createMassageTextareaTabs {
    width: 570px;
    height: 154px;
    border: 1px solid #e5e8ef;
    font-family: Georgia !important;
    font-size: 16px!important;
    font-style: italic;
    color: #4f4f4f;
    padding: 10px 10px 10px 20px;
    margin: 10px;
    overflow: auto;
    overflow-x: hidden;
} 

.schedule_date {
    cursor: pointer;
} 
</style>
<% include ../../layouts/footer %>

<script type="text/javascript">


  $(document).ready(function() {

      $('#send_sms_now').click(function(event) {

        var chk_validation = form_validation('onclick');
        console.log('chk_validation='+chk_validation);

        if(chk_validation=='true')
        {

             $("#loader").show();
            var formData = new FormData();

            var file=$('#file_import')[0].files[0];
            var reader = new FileReader();
            reader.readAsText(file);

            var smpp = $("#smpp_name").val();
            var sender_id = $("#sender_addr").val();

            reader.onload = function(event) {
                var csvData = event.target.result;
                data = $.csv.toArrays(csvData);
                data.splice(0,1);

                jQuery.ajax({
                  url : '/test/csv_data',
                  type: 'POST',
                  data: {
                      'smpp':smpp,
                      'sender_id':sender_id,
                      'csv_data':data
                  },              
                  dataType: 'json',
                  success: function(response) {

                    if(response.status==200){
                      $('#loader').hide();

                      swal("Success", "SMS successfully sent!", "success")
                      .then((value) => {
                        location.reload();
                      });

                    }

                  }
                });

            }

            event.preventDefault(); // Totally stop stuff happening
        }else{
          $("#previewCSVModal").modal("show");
        }
        
        
      });


      var todayDate = new Date().getDate();
      $('.schedule_date').daterangepicker({
         timePicker: true,
         singleDatePicker: true,
         showDropdowns: true,
         opens: "right",
         locale: {
           format: 'DD-MM-YYYY hh:mm A'
         },
         minDate: new Date(),
         maxDate: new Date(new Date().setDate(todayDate + 90)),

      });     
      $('.schedule_date').val('');

  });


    $(document).ready(function() {

      $("#csv_preview").click(function(event){  
          $('#csv_content').html('');    
          form_validation('onclick');
          fileOpen();
      });
    });

    function fileOpen(){

      var file=$('#file_import')[0].files[0];
      var reader = new FileReader();
      reader.readAsText(file);

      reader.onload = function(event) {
          var csvData = event.target.result;
          data = $.csv.toArrays(csvData);

          if (data && data.length > 0) {
            var count = data.length-1;
            var header = data[0];

            var selected_smpp = $('#smpp_name').select2('data');
            var SMPP = selected_smpp[0].text;

            var selected_sender_addr = $('#sender_addr').select2('data');
            var SENDER_ID = selected_sender_addr[0].text;

            if(header.length>0 && header.length=='2')
            {
                var file_name = file.name;

                var text='<div class="modal-header"> <h5 class="modal-title" id="createCategoryModal">Uploaded file names</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>';

                  text +='<div class="modal-body">';

                  text +='<div class="row"><div class="col-12"><div class="form-group">';


                  text +='<table class="table table-bordered upload-file-table" style="background: #fff;text-align: center;"><tbody><tr class="table-primary"><th>S.No</th><th>File Name</th><th>Record Counts</th></tr>';

                  text +='<tr class="table-primary"><td>1</td><td>'+file_name+'</td><td>'+count+'</td></tr><tr class="table-primary"><td></td><td><strong>Total Record counts</strong></td><td><strong>'+count+'</strong></td></tr>';

                  text +='</tbody></table>';

                  text +='</div></div></div>';

                  text +='<div class="row"><div class="col-12"><div class="form-group" style="background: #fff;">';

                  text +='<table class="table table-bordered" style="text-align: center;"><tbody class="table-success"><tr><th>Message Type</th><th>SMPP</th><th>Sender ID</th></tr>';

                  text +='<tr><td>Text SMS</td><td id="preview_smpp_name">'+SMPP+'</td><td id="preview_smpp_sender_id">'+SENDER_ID+'</td></tr>';

                  text +='</tbody></table>';

                  text +='</div></div></div>';


                  text +='<div class="row"><div class="col-12"><div class="form-group" style="height:auto;overflow:auto;height:218px;">';

                  text +='<table class="table table-bordered contentLabelTable upload-file-table" style="background: #fff;"><tbody class="table-active"><tr><th>Mobile Number</th><th>Message</th><th>Character Count</th></tr><tbody id="csv_rows">';

                  for (var i = 0; i < data.length; i++) {

                    if(i>0)
                    {
                      var mobile_number = data[i][0];
                      var message_content = data[i][1];

                      if (typeof mobile_number != "undefined") {
                        var mobile_number = data[i][0];
                      }else{
                        var mobile_number = '';
                      }

                      if (typeof message_content != "undefined") {
                        var message_content = data[i][1];
                      }else{
                        var message_content = '';
                      }

                      text +='<tr class="row-hover"><td>'+mobile_number+'</td><td>'+message_content+'</td><td>'+message_content.length+'</td></tr>';

                    }
                  }
                  

                  text +='</tbody></table></div>';

                  text +='</div></div></div>';

                  $('#csv_content').html(text);
              

            }else{

                var text='<div class="modal-header"> <h5 class="modal-title" id="createCategoryModal">Warning</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>';

                text +='<div class="modal-body">';

                text +='<div class="row"><div class="col-12"><div class="form-group">';


                text +='<h5 style="color:red;">Please upload to proper headers with data.</h5><p style="font-size: 12px;color: grey;">Example: Header should be like <b>Mobile Number</b> and <b>SMS Content</b></p>';

                text +='</div></div></div>';

                 text +='</div>';

                $('#csv_content').html(text);
            }
            console.log('count');
            console.log(count);

            console.log('header');
            console.log(header);

            //alert('Imported -' + data.length + '- rows successfully!');
          } else {
              alert('No data to import!');
          }
      };
      reader.onerror = function() {
          alert('Unable to read ' + file.fileName);
      };

     
    }
    // The event listener for the file upload
    document.getElementById('file_import').addEventListener('change', upload, false);

    // Method that checks that the browser supports the HTML5 File API
    function browserSupportFileUpload() {
        var isCompatible = false;
        if (window.File && window.FileReader && window.FileList && window.Blob) {
          isCompatible = true;
        }
        return isCompatible;
    }

    // Method that reads and processes the selected file
    function upload(evt) {
      $('#csv_content').html('');
      
      var validation_result=form_validation('onchange');
      
      if(validation_result==false&&!validation_result)
      {
        console.log('Oh one');
        $("#previewCSVModal").modal("show");
      }
      else if(!browserSupportFileUpload()) {
          alert('The File APIs are not fully supported in this browser!');
      } else {
        console.log('Oh else');

              var data = null;
              var file = evt.target.files[0];

              console.log('file');
              console.log(file);

              var reader = new FileReader();
              reader.readAsText(file);

              reader.onload = function(event) {
                  var csvData = event.target.result;
                  data = $.csv.toArrays(csvData);

                  if (data && data.length > 0) {
                    var count = data.length-1;
                    var header = data[0];

                    var selected_smpp = $('#smpp_name').select2('data');
                    var SMPP = selected_smpp[0].text;

                    var selected_sender_addr = $('#sender_addr').select2('data');
                    var SENDER_ID = selected_sender_addr[0].text;

                    if(header.length>0 && header.length=='2')
                    {
                        var file_name = file.name;

                        var text='<div class="modal-header"> <h5 class="modal-title" id="createCategoryModal">Uploaded file names</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>';

                          text +='<div class="modal-body">';

                          text +='<div class="row"><div class="col-12"><div class="form-group">';


                          text +='<table class="table table-bordered upload-file-table" style="background: #fff;text-align: center;"><tbody><tr class="table-primary"><th>S.No</th><th>File Name</th><th>Record Counts</th></tr>';

                          text +='<tr class="table-primary"><td>1</td><td>'+file_name+'</td><td>'+count+'</td></tr><tr class="table-primary"><td></td><td><strong>Total Record counts</strong></td><td><strong>'+count+'</strong></td></tr>';

                          text +='</tbody></table>';

                          text +='</div></div></div>';

                          text +='<div class="row"><div class="col-12"><div class="form-group" style="background: #fff;">';

                          text +='<table class="table table-bordered" style="text-align: center;"><tbody class="table-success"><tr><th>Message Type</th><th>SMPP</th><th>Sender ID</th></tr>';

                          text +='<tr><td>Text SMS</td><td id="preview_smpp_name">'+SMPP+'</td><td id="preview_smpp_sender_id">'+SENDER_ID+'</td></tr>';

                          text +='</tbody></table>';

                          text +='</div></div></div>';


                          text +='<div class="row"><div class="col-12"><div class="form-group" style="height:auto;overflow:auto;min-height:100px;">';

                          text +='<table class="table table-bordered contentLabelTable upload-file-table" style="background: #fff;"><tbody class="table-active"><tr><th>Mobile Number</th><th>Message</th><th>Character Count</th></tr><tbody id="csv_rows">';

                          for (var i = 0; i < data.length; i++) {
     
                            if(i>0)
                            {
                              var mobile_number = data[i][0];
                              var message_content = data[i][1];

                              if (typeof mobile_number != "undefined") {
                                var mobile_number = data[i][0];
                              }else{
                                var mobile_number = '';
                              }

                              if (typeof message_content != "undefined") {
                                var message_content = data[i][1];
                              }else{
                                var message_content = '';
                              }

                              text +='<tr class="row-hover"><td>'+mobile_number+'</td><td>'+message_content+'</td><td>'+message_content.length+'</td></tr>';

                            }
                          }
                          

                          text +='</tbody></table></div>';

                          text +='</div></div></div>';

                          $('#csv_content').html(text);
                      

                    }else{

                        var text='<div class="modal-header"> <h5 class="modal-title" id="createCategoryModal">Warning</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>';

                        text +='<div class="modal-body">';

                        text +='<div class="row"><div class="col-12"><div class="form-group">';


                        text +='<h5 style="color:red;">Please upload to proper headers with data.</h5><p style="font-size: 12px;color: grey;">Example: Header should be like <b>Mobile Number</b> and <b>SMS Content</b></p>';

                        text +='</div></div></div>';

                         text +='</div>';
    
                        $('#csv_content').html(text);
                    }
                    console.log('count');
                    console.log(count);

                    console.log('header');
                    console.log(header);

                    //alert('Imported -' + data.length + '- rows successfully!');
                  } else {
                      alert('No data to import!');
                  }
              };
              reader.onerror = function() {
                  alert('Unable to read ' + file.fileName);
              };
        }
    }



  function form_validation(type){
    
    if(type=='onchange'){

      var smpp_name = document.getElementById("smpp_name").value; 
      var sender_addr = document.getElementById("sender_addr").value;
      var file_length = $('#file_import')[0].files.length;      

    }else{

      var smpp_name = $("#smpp_name").val(); 
      var sender_addr = $("#sender_addr").val();
      var file_length = $('#file_import')[0].files.length;  
    }

    console.log('type='+type);

    if(smpp_name==null && sender_addr==null && file_length=='0'){
        //console.log('11111');
        var text='<div class="modal-header"> <h5 class="modal-title" id="createCategoryModal">Required Fields*</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>';

          text +='<div class="modal-body">';

          text +='<div class="row"><div class="col-12"><div class="form-group">';

          text +='<ul><li><h5 style="color:red;">Please select smpp</h5></<li>';
          text +='<li><h5 style="color:red;">Please select Sender ID</h5></li>';
          text +='<li><h5 style="color:red;">Please upload a csv file</h5></li>';
          text +='</ul>';
          text +='</div></div></div>';

          text +='</div>';

        $('#csv_content').html(text);
        return false;  

    }else if(sender_addr==null && file_length=='0'){
        //console.log('22222');
        var text='<div class="modal-header"> <h5 class="modal-title" id="createCategoryModal">Required Fields*</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>';

          text +='<div class="modal-body">';

          text +='<div class="row"><div class="col-12"><div class="form-group">';

          text +='<ul><li><h5 style="color:red;">Please select Sender ID</h5></li>';
          text +='<li><h5 style="color:red;">Please upload a csv file</h5></li>';
          text +='</ul>';
          text +='</div></div></div>';

          text +='</div>';

        $('#csv_content').html(text);
        return false;  

    }else if(smpp_name==null&&sender_addr==null)
    {
        //console.log('one='+smpp_name);
        //console.log('two='+sender_addr);
        //console.log('33333333');
        var text='<div class="modal-header"> <h5 class="modal-title" id="createCategoryModal">Required Fields*</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>';

          text +='<div class="modal-body">';

          text +='<div class="row"><div class="col-12"><div class="form-group">';

          text +='<ul><li><h5 style="color:red;">Please Select Your SMPP</h5></li>';
          text +='<li><h5 style="color:red;">Please Select Sender ID</h5></li>';
          text +='</ul>';
          text +='</div></div></div>';

          text +='</div>';

        $('#csv_content').html(text);
        return false;  

    }
    else if(smpp_name==null){
        //console.log('4444444');
        //console.log('vvvvvvvvvvv='+smpp_name);
        var text='<div class="modal-header"> <h5 class="modal-title" id="createCategoryModal">Required Fields*</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>';

          text +='<div class="modal-body">';

          text +='<div class="row"><div class="col-12"><div class="form-group">';

          text +='<ul><li><h5 style="color:red;">Please Select Your SMPP</h5></li>';
          text +='</ul>';
          text +='</div></div></div>';

          text +='</div>';

        $('#csv_content').html(text);
        return false;  

    }else if(sender_addr==null){
       //console.log('55555555');
       //console.log('sdsdsddsdssd='+sender_addr);

        var text='<div class="modal-header"> <h5 class="modal-title" id="createCategoryModal">Required Fields*</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>';

          text +='<div class="modal-body">';

          text +='<div class="row"><div class="col-12"><div class="form-group">';

          text +='<ul><li><h5 style="color:red;">Please select Sender ID</h5></li>';
          text +='</ul>';
          text +='</div></div></div>';

          text +='</div>';

        $('#csv_content').html(text);
        return false;   

    }else if(file_length=='0')
    {
        //console.log('sdsdsd='+file_length);
        //console.log('666666666');
        var text='<div class="modal-header"> <h5 class="modal-title" id="createCategoryModal">Required Fields*</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>';

          text +='<div class="modal-body">';

          text +='<div class="row"><div class="col-12"><div class="form-group">';

          text +='<h5 style="color:red;">Please upload a csv file</p>';

          text +='</div></div></div>';

          text +='</div>';

        $('#csv_content').html(text);
        return false;  
    }else{

        return 'true';  
     
    }
 
  }

</script>
<script src="../../public/js/dropdown/smpp_data.js"></script>
<script src="../../public/js/sweetalert.min.js"></script>