<div id="mySidenav" class="sidenav">
  <div class="col-md-12">

      <div class="col-md-6">
          <h3>Search by contacts</h3>
      </div>

      <div class="col-md-6">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
              <img src="../../public/images/addCampaign/close_btn.svg" alt="">
          </a>
      </div>

  </div>

  <div class="clearfix"></div>

  <div class="col-sm-12 marginTop3 filterInputSec">

      <div class="form-group">

          <div class="col-sm-4">

              <label for="campaignname" class="">Country</label>
              <select  class="form-control input-group-md" name="category" id="category">
                  <option value="">Select Country</option>
                  <option value="">Country 1</option>
                  <option value="">Country 2</option>
                  <option value="">Country 3</option>
                  <option value="">Country 4</option>
              </select>
              
          </div>

          <div class="col-sm-4">

            <label for="lastname">Nationality</label>
            <select  class="form-control input-group-md" name="category" id="category">
                <option value="">Select Nationality</option>
                <option value="">Nationality 1</option>
                <option value="">Nationality 2</option>
                <option value="">Nationality 3</option>
                <option value="">Nationality 4</option>
            </select>
            
          </div>

          <div class="col-sm-4">

              <label for="lastname">State</label>
              <select  class="form-control input-group-md" name="category" id="category">
                  <option value="">Select State</option>
                  <option value="">State 1</option>
                  <option value="">State 2</option>
                  <option value="">State 3</option>
                  <option value="">State 4</option>
              </select>
              
          </div>

      </div>

      <div class="form-group">

          <div class="col-sm-4 marginTop3">

              <label for="campaignname" class="">City</label>
              <select  class="form-control input-group-md" name="category" id="city">
                  <option value="">Select City</option>
                  <option value="">City 1</option>
                  <option value="">City 2</option>
                  <option value="">City 3</option>
                  <option value="">City 4</option>
              </select>
              
          </div>

          <div class="col-sm-4 marginTop3">

            <label for="lastname">Locality</label>
            <input id="locality" class="form-control input-group-md" type="text" name="locality"  placeholder="Enter Locality">
            
          </div>

          <div class="col-sm-4 marginTop3">

              <label for="lastname">Pincode</label>
              <input id="pincode" class="form-control input-group-md" type="text" name="pincode"  placeholder="Enter Pincode">
              
          </div>

      </div>


      <div class="form-group">

          <div class="col-sm-4 marginTop3">

              <label for="campaignname" class="">Profession</label>
              <select  class="form-control input-group-md" name="category" id="profession">
                  <option value="">Select Profession</option>
                  <option value="">Profession 1</option>
                  <option value="">Profession 2</option>
                  <option value="">Profession 3</option>
                  <option value="">Profession 4</option>
              </select>
              
          </div>

          <div class="col-sm-4 marginTop3">

            <label for="lastname">Salary</label>
            <input id="locality" class="form-control input-group-md" type="text" name="locality"  placeholder="Enter Salary">
            
          </div>

          <div class="col-sm-4 marginTop3">

              <label for="campaignname" class="">Source</label>
              <select  class="form-control input-group-md" name="category" id="Source">
                  <option value="">Select Source</option>
                  <option value="">Source 1</option>
                  <option value="">Source 2</option>
                  <option value="">Source 3</option>
                  <option value="">Source 4</option>
              </select>
              
          </div>

      </div>


      <div class="form-group">

          <div class="col-sm-4 marginTop3">

              <label for="campaignname" class="">Operator Name</label>
              <select  class="form-control input-group-md" name="category" id="Operator">
                  <option value="">Select Name</option>
                  <option value="">Operator 1</option>
                  <option value="">Operator 2</option>
                  <option value="">Operator 3</option>
                  <option value="">Operator 4</option>
              </select>
              
          </div>

          <div class="col-sm-4 marginTop3">

              <label for="campaignname" class="">Gender</label>
              <select  class="form-control input-group-md" name="category" id="Gender">
                  <option value="">Select Gender</option>
                  <option value="">Male</option>
                  <option value="">Female</option>
                  <option value="">Others</option>
              </select>
              
          </div>

      </div>

      <div class="clearfix"></div>

      <div class="col-md-6 marginTop3">

          <label for="campaignname" class=""> Age  </label>

          <div class="demo-wrapper">
              <div id="anchor2"></div>
          </div>

      </div>

      <div class="clearfix"></div>


      <div class="form-group">

          <div class="col-sm-4 marginTop3">

              <label for="campaignname" class=""> Lead To Date </label>
              <select  class="form-control input-group-md" name="category" id="Operator">
                  <option value="">Select Date</option>
                  
              </select>
              
          </div>

          <div class="col-sm-4 marginTop3">

              <label for="campaignname" class="">Lead From Date</label>
              <select  class="form-control input-group-md" name="category" id="Gender">
                  <option value="">Select Date</option>
                  
              </select>
              
          </div>

      </div>

  </div>
  
  
</div>