<% include ../layouts/header %>
<% var access = user['permission_access'];  %>
<% if(access.hasOwnProperty('read')) { %>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Server Logs</h4>
            <div>
                <img src="/public/images/loader_report.gif" id="loader_report" style="display:block;margin-left: auto;margin-right: auto;width: 30px;"> 
            </div>
            <div class="table-responsive">
              <div class="table_data" id="server-log-content-section"></div>
              <div id="pagination"></div>
            </div>
        </div>
    </div>
</div>
<% } %>
<% include ../layouts/footer %>
<script type="text/javascript">
  /* Page on Load */
  load_pagination(1);

  $(document).on('click', '.page-link', function() {
    var page_no = $(this).data('value');
    load_pagination(page_no);
  });    

  function load_pagination(page_no) {
    
    $("#pagination").empty();
    $("#server-log-content-section").empty();
    $("#loader_report").show();
    jQuery.ajax({
      type : "POST",
      url : '/report/server_report_pagination',
      data : {'page_no':page_no},
      dataType: 'json',
      success: function(response) {
          $("#loader_report").hide();
          $('#loader').hide(); 
          $("#server-log-content-section").html(response.content_html);
          $('#pagination').html(response.pagination_content);
          
      }
    });
  }
</script>