<% include ../layouts/header %>
<!-- content-wrapper start -->
<div class="content-wrapper">
<div class="row">
<div class="col-12 grid-margin">
<div class="card">
   <div class="card-body">
      <h4 class="card-title">Manage Export (Contacts)</h4>
      <form role="form" class="export-csv-form" id="export-contacts-form" action="/export/export_csv" type="post">
            <a class="btn btn-warning btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="float:right;">
              <i class="mdi mdi-plus"></i> Show Indicator
            </a>
         <fieldset id="fieldset_1">
          
            <p class="card-description card-title">Indicator</p>

        <div class="collapse" id="collapseExample">
          <div class="card card-body">            
            <div class="row">
               <div class="col-md-4">
                  <div class="form-group">
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="first_name" checked="checked"> First Name
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="middle_name"> Middle Name
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="last_name" checked="checked"> Last Name
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="father_name"> Father Name
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="email_id" checked="checked"> Email ID
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" checked="checked"  data-value="mobile_no"> Mobile No
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="alternate_no"> Alternate No
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="mobile_no_with_cc"> Mobile No With CC
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="whatsapp_status"> Whatsapp Status
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="address" checked="checked"> Address
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="locality"> Locality
                        <i class="input-helper"></i></label>
                     </div>
                    <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="city"> City
                        <i class="input-helper"></i></label>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="form-group">
 
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="district"> District
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="state"> State
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="nationality" checked="checked">  Nationality
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="pincode" checked="checked"> Pincode
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="profession"> Profession
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="designation"> Designation
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="company_1"> Company_1
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="skill_1"> Skill_1
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="skill_2"> Skill_2
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="experience"> Experience
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="salary"> Salary
                        <i class="input-helper"></i></label>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="form-group">
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="qualification_1"> Qualification_1
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="qualification_2"> Qualification_2
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="title"> Title
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="add1"> Add1
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="add2"> Add2
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="add3"> Add3
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="company_name" checked="checked"> Company Name
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="company_circle"> Company Circle
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="operator_name"> Operator Name
                        <i class="input-helper"></i></label>
                     </div>
                     <div class="form-check">
                        <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-value="occupation"> Occupation
                        <i class="input-helper"></i></label>
                     </div>
                  </div>
               </div>
            </div>

            </div>
            </div>
        
            <div class="row" style="width: 80%; margin: 0 auto;">
               <div class="col-md-10">
                <div class="form-group row">
                 <label class="col-sm-3 col-form-label card-title">Category</label>
                 <div class="col-sm-9">
                  <select class="form-control" name="category_id" id="category_id">
                    <option value="">---Select Category ---</option>
                     <% for(var i = 0; i < category_list.length; i++) { %>
                      <option value="<%= category_list[i]._id %>"><%= category_list[i].name  %></option>
                      <% } %>
                  </select>
                 </div>
                </div>
              
                <div class="form-group row">
                 <label class="col-sm-3 col-form-label card-title">Campaign</label>
                 <div class="col-sm-9">
                  <select class="form-control" name="campaign_id" id="campaign_id">
                    <option value="">---Select Campaign ---</option>
                    
                  </select>
                 </div>
                </div>
               

                <div class="form-group row">
                 <label class="col-sm-3 col-form-label card-title">Content Label</label>
                 <div class="col-sm-9">
                  <select class="form-control" name="content_label_id" id="content_label_id">
                    <option value="">---Select Content Label ---</option>
                  </select>
                 </div>
                </div>            
             </div>

       </div>

         </fieldset>
            <div id="btns" style="float:right;">
              <button type="submit" class="btn btn-primary btn-fw" id="export_contact">Export as CSV</button>
              <button type="button" class="btn btn-dark btn-fw" id="generate_btn">Generate Report</button>
              <img src="/public/images/loader.gif" style="display:none;width: 35px;" id="loader">
            </div>

          </form>
         
      </div>
      </div>
      </div>
   </div>
   

   <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
         <div class="card">
            <div class="card-body">
               <h4 class="card-title">Contacts List</h4>
                <img src="/public/images/loader_report.gif" id="loader_report" style="display: block;margin-left: auto;margin-right: auto;width: 60px;">
               <div class="table-responsive" id="report-section">
               </div>

               <div id="pagination">

               </div>

            </div>
         </div>
      </div>
   </div>
</div>
<!-- content-wrapper ends -->
<% include ../layouts/footer %>
<style>
   .form-top {
   overflow: hidden;
   }
  
</style>

<script>
    
    /* Page on Load */
    load_table(1);

   $(document).ready(function() {

      $("#category_id").select2();
      $("#campaign_id").select2();
      $('#content_label_id').select2();


      $('#category_id').on('change', function() {

         jQuery.ajax({
            type : "POST",
            url : '/export/get_dependent_dropdown',
            data : {'campaign_id':this.value,'dropdown_type':'campaign' },
            dataType: 'json',
            success: function(response) {

                $("#campaign_id").html(response.html);
                $("#campaign_id").select2();

            }
        });

      });

      $('#campaign_id').on('change', function() {

         jQuery.ajax({
            type : "POST",
            url : '/export/get_dependent_dropdown',
            data : {'campaign_id':this.value,'dropdown_type':'campaign_coneten_label' },
            dataType: 'json',
            success: function(response) {
                $("#content_label_id").html(response.html);
                $('#content_label_id').select2();

            }
        });

      });

       $('#generate_btn').click(function() {
            load_table(1);
       });

        $(document).on('click', '.page-link', function(){
            var page_no = $(this).data('value');
            load_table(page_no);
       });

   });

   function load_table(page_no)
   {

       $("#pagination").empty();
       $("#report-section").empty();
       var from_date = $(".from_date").val();
       var to_date = $('.to_date').val();
        
   
       $('.from_date').daterangepicker({
         singleDatePicker: true,
         showDropdowns: true,
         opens: "right",
         locale: {
           format: 'YYYY-MM-DD'
         },
         maxDate:  new Date()
       });
   
      
       $('.to_date').daterangepicker({
         singleDatePicker: true,
         showDropdowns: true,
         opens: "right",
         locale: {
           format: 'YYYY-MM-DD'
         },
         maxDate:  new Date()
       });
        var resultObj=[];

        $(".form-check-input:checked").each(function () {
            resultObj.push($(this).data('value'));
        });

        var json_data = JSON.stringify(resultObj);
       
        //Date range
        var fromdate = $('.from_date').val();
        var todate = $('.to_date').val();
        var page_no = page_no;

        var category_id = $('#category_id').val();
        var campaign_id = $('#campaign_id').val();
        var content_label_id = $('#content_label_id').val();

        $("#loader_report").show();
         jQuery.ajax({
            type : "POST",
            url : '/export/report_filter',
            data : {'category_id':category_id,'campaign_id':campaign_id,'content_label_id':content_label_id,'page_no':page_no,'fromdate':fromdate,'todate':todate,'selected_columns':json_data },
            dataType: 'json',
            success: function(response) {
                $("#loader_report").hide();
                $('#loader').hide(); 
                $("#report-section").html(response.table_content);
                $('#pagination').html(response.pagination_content);

            }
        });
   }

   $(document).ready(function() {

      $('#export_as_csv').click(function() {

        var resultObj=[];

        $(".form-check-input:checked").each(function () {
            resultObj.push($(this).data('value'));
        });

        var json_data = JSON.stringify(resultObj);
       
        //Date range
        var fromdate = $('.from_date').val();
        var todate = $('.to_date').val();
        var page_no = page_no;

        var category_id = $('#category_id').val();
        var campaign_id = $('#campaign_id').val();
        var content_label_id = $('#content_label_id').val();

        $("#loader_report").show();
         jQuery.ajax({
            type : "POST",
            url : '/export/export_csv',
            data : {'category_id':category_id,'campaign_id':campaign_id,'content_label_id':content_label_id,'page_no':page_no,'fromdate':fromdate,'todate':todate,'selected_columns':json_data },
            dataType: 'json',
            success: function(response) {
                $("#loader_report").hide();
                $('#loader').hide(); 
                $("#report-section").html(response.table_content);
                $('#pagination').html(response.pagination_content);

            }
        });

       });

       $('.export-csv-form fieldset:first-child').fadeIn('slow');
   
       $('.export-csv-form input[type="text"]').on('focus', function() {
           $(this).removeClass('input-error');
       });
   
       // next step
       $('.export-csv-form .btn-next').on('click', function() {
           var parent_fieldset = $("#fieldset_1");
           var next_step = true;
   
           parent_fieldset.find('input[type="text"],input[type="email"]').each(function() {
               if ($(this).val() == "") {
                   $(this).addClass('input-error');
                   next_step = false;
               } else {
                   $(this).removeClass('input-error');
               }
           });
   
           if (next_step) {
               $('.btn-groups').show();
               parent_fieldset.fadeOut(400, function() {
                   $(this).next().fadeIn();
               });
           }
   
       });
   
       // previous step
       $('.btn-previous').on('click', function() {
           $("#fieldset_2").fadeOut(400, function() {
               $('.btn-groups').hide();
               $(this).prev().fadeIn();
           });
       });
   
       // submit
       $('.export-csv-form').on('submit', function(e) {
   
           $(this).find('input[type="text"],input[type="email"]').each(function() {
               if ($(this).val() == "") {
                   e.preventDefault();
                   $(this).addClass('input-error');
               } else {
                   $(this).removeClass('input-error');
               }
           });
   
       });
   });
</script>
<script>
    
 $(document).ready(function() {  

       var exportContactForm = $("#export-contacts-form");

        var validator = exportContactForm.validate({

            rules: {
                category_id: {
                    required: true
                },
                campaign_id: {
                    required: true
                },
                content_label_id: {
                    required: true
                },
            },

            messages: {

                category_id: {
                    required: "Please select the category"
                },
                campaign_id: {
                    required: "Please select the campaign"
                },
                content_label_id: {
                    required: "Please select the content"
                },

            },

            submitHandler: function(form) {
                $("#loader").show();
                setTimeout(function(){ $("#loader").hide(); }, 3000);
                $("#export-contacts-form").submit();
            }
    });            

 });

</script>
<style>
.error{
  color:#e65251;
}
</style>