<% include ../../layouts/header %>
<% var access = user['permission_access'];  %>
<% if(access.hasOwnProperty('read')) { %>
<!-- content-wrapper start -->
<div class="content-wrapper">
   <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
         <div class="card-body">
            <h4 class="card-title">City</h4>
            
            <div class="table-responsive">

                  <table class="table table-bordered custom_table">
                     <thead>
                        <tr>
                           <th>
                              ID
                           </th>

                           <th>
                             City Name
                           </th>
<!-- 
                           <th>
                             State ID
                           </th> -->
                          
                        </tr>
                     </thead>
                     <tbody>
                        <!-- city -->
                        <% for(var i = 0; i < city.length; i++) { 
                        %>
                        <tr>
                           <td><%= city[i].city_id %></td>
                           <td><%= city[i].city_name %></td>
                          <!--  <td><%= city[i].state_id %></td> -->
                        </tr>
                        <% } %>
                     </tbody>
                  </table>

              
            </div>
         </div>
      </div>
   </div>
</div>
<% } %>
<% include ../../layouts/footer %>
