<% include ../layouts/header %>
<% var access = user['permission_access'];  %>
<% if(access.hasOwnProperty('read')) { %>
<!-- content-wrapper start -->
<div class="content-wrapper">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Search by contacts</h4>
        <div id="filter" style="margin-bottom: 20px;">
          <form role="form" class="registration-form" action="/report/search_contacts" type="post">
            <div class="row">
              <div class="col-md-12">
                <!-- Category Filter - Box - Start -->
                <div class="row">
                  <div class="col-sm-6">
                    <label class="col-sm-12 col-form-label">Category</label>
                    <div class="col-sm-12">
                      <select class="form-control select2 jsSelect jsCategory" name="filter_category_id"
                        id="filter_category_id" multiple="multiple" data-placeholder="Select a category">
                        <option value="0">Others</option>
                        <% for(var i = 0; i < category_list.length; i++) { %>
                        <option value="<%= category_list[i]._id %>"><%= category_list[i].name  %></option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label class="col-sm-12 col-form-label">Country</label>
                    <div class="col-sm-12">
                      <select class="form-control select2 jsSelect jsCountry" name="country" id="country" multiple="multiple" data-placeholder="Select a country">
                        <!-- <select name="select-boxes" class="form-control select2 jsSelect" id="infinite" ></select> -->
                        <!-- <option value="0">Others</option> -->
                        <option value="">-- Select Country --</option>
                        <% for(var i = 0; i < countries_list.length; i++) { %>
                        <option value="<%= countries_list[i].country_id %>"><%= countries_list[i].country_name%></option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!--  <div class="col-sm-6">
                    <label class="col-sm-12 col-form-label">District</label>
                    <div class="col-sm-12">
                       <select class="form-control jsSelect" name="district" id="district">
                          <option value="">-- Select District --</option>
                          <% for(var i = 0; i < district.length; i++) { %>
                          <option value="<%= district[i]._id.district %>"><%= district[i]._id.district  %></option>
                          <% } %>
                       </select>
                    </div>
                    </div> -->
                  <div class="col-sm-6">
                    <label class="col-sm-12 col-form-label">State</label>
                    <div class="col-sm-12">
                      <select class="form-control select2 jsSelect jsState" name="state"
                        id="state" multiple="multiple" data-placeholder="Select a state"> 
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label class="col-sm-12 col-form-label">City</label>
                    <div class="col-sm-12">
                      <select class="form-control select2 jsSelect " name="city" id="city" multiple="multiple" data-placeholder="Select a city">
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <label class="col-sm-12 col-form-label">Nationality</label>
                    <div class="col-sm-12">
                      <select class="form-control jsSelect" name="nationality" id="nationality">
                        <option value="">-- Select Nationality --</option>
                        <% for(var i = 0; i < nationality.length; i++) { %>
                        <option value="<%= nationality[i].nationality_id %>"><%= nationality[i].nationalities_name  %>
                        </option>
                        </option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label class="col-sm-12 col-form-label">Pincode</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" placeholder="Enter Pincode" id="pincode" name="pincode">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <label class="col-sm-12 col-form-label">Gender</label>
                    <div class="col-sm-12">
                      <select class="form-control jsSelect" name="gender" id="gender">
                        <option value="">-- Select Gender --</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label class="col-sm-12 col-form-label">Locality</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" placeholder="Enter Locality" id="locality"
                        name="locality">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <label class="col-sm-12 col-form-label">Profession</label>
                    <div class="col-sm-12">
                      <select class="form-control jsSelect" name="profession" id="profession" multiple="multiple" data-placeholder="Select a profession">
                        <% 
                          if(profession)
                          {
                             for(var i = 0; i < profession.length; i++) {
                          %>
                        <option value="<%= profession[i]._id %>"><%= profession[i].name  %></option>
                        <% 
                          } 
                          }
                          %>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label class="col-sm-12 col-form-label">Salary</label>
                    <div class="col-sm-12">
                      <input class="form-control" type="text" placeholder="Enter Salary" id="salary" name="salary">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <label class="col-sm-12 col-form-label">Source</label>
                    <div class="col-sm-12">
                      <select class="form-control jsSelect" name="source" id="source" multiple="multiple" data-placeholder="Select a source">
                        <% 
                          if(source)
                          {
                             for(var i = 0; i < source.length; i++) {
                          %>
                        <option value="<%= source[i]._id %>"><%= source[i].name  %></option>
                        <% 
                          } 
                          }
                          %>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label class="col-sm-12 col-form-label">Operator Name</label>
                    <div class="col-sm-12">
                      <select class="form-control jsSelect" name="operator_name" id="operator_name" multiple="multiple" data-placeholder="Select a operator name">
                        <% 
                          if(operator_name)
                          {
                             for(var i = 0; i < operator_name.length; i++) {
                          %>
                        <option value="<%= operator_name[i]._id %>"><%= operator_name[i].name  %></option>
                        <% 
                          } 
                          }
                          %>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6" id="vue">
                    <div class="col-sm-12 col-form-label" id="debug">
                      <label class="">Ages (<b style="color: #0088cc;">{{ minAge }}</b> to <b
                        style="color: #0088cc;">{{ maxAge }}</b> years)</label>
                    </div>
                    <div class="col-sm-12">
                      <div id="ageSlider"></div>
                      <input type="hidden" id="minAge" name="minAge" v-model="minAge" />
                      <input type="hidden" id="maxAge" name="maxAge" v-model="maxAge" />
                    </div>
                  </div>
                </div>
              </div>
              <!-- Category Filters - End -->
            </div>
        </div>
        <div id="btn" style="float:right;margin-bottom:10px;">
        <button type="button" class="btn btn-primary btn-fw" id="generate_btn">Generate Report</button>
        <img src="/public/images/loader.gif" style="display: block;width:35px;margin-left: 50px;" id="export_loader">
        </div>
        </form>
      </div>
      <div class="col-lg-12 card-body">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive" id="report-section">
              <table class="table table-bordered">
                <thead>
                  <tr style="background: #424964c7;color: #fff;">
                    <th style="font-size: 14px;"> Results: </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 grid-margin stretch-card" style="height: 30%;">
                          <div class="card card-statistics" style="border: 1px solid lightgray;">
                            <div class="card-body">
                              <div class="clearfix">
                                <div class="float-left">
                                  <i class="mdi mdi-cellphone-iphone icon-lg" style="color: #424964!important;"></i>
                                </div>
                                <div class="float-right">
                                  <p class="mb-0 text-right">Total Contacts</p>
                                  <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0" id="total_contacts">0</h3>
                                  </div>
                                </div>
                              </div>
                              <p class="text-muted mt-3 mb-0">
                                <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Total Contacts
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 grid-margin stretch-card" style="height: 30%;">
                          <div class="card card-statistics" style="border: 1px solid lightgray;">
                            <div class="card-body">
                              <div class="clearfix">
                                <div class="float-left">
                                  <i class="mdi mdi-cellphone-iphone icon-lg" style="color: #424964!important;"></i>
                                </div>
                                <div class="float-right">
                                  <p class="mb-0 text-right">Other Contacts</p>
                                  <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0" id="other_contacts"><%= total_category_contacts %> </h3>
                                  </div>
                                </div>
                              </div>
                              <p class="text-muted mt-3 mb-0">
                                <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Other Contacts
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 grid-margin stretch-card" style="height: 30%;">
                          <div class="card card-statistics" style="border: 1px solid lightgray;">
                            <div class="card-body">
                              <div class="clearfix">
                                <div class="float-left">
                                  <i class="mdi mdi-block-helper text-danger icon-lg"></i>
                                </div>
                                <div class="float-right">
                                  <p class="mb-0 text-right">Suppress Contacts</p>
                                  <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0" id="other_contacts"><%= total_suppress_count %> </h3>
                                  </div>
                                </div>
                              </div>
                              <p class="text-muted mt-3 mb-0">
                                <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Suppress Contacts
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <img src="/public/images/loader_report.gif" id="loader_report" class="loader_report" style="display:block;margin-left: auto;margin-right: auto;width: 30px;"> 
              <div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                <div class="table_data" id="contact_report_section"></div>
                <div id="pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
<!-- content-wrapper ends -->
<% include ../layouts/footer %>
<script>
  $("#filter_category_id").select2();
  $("#filter_country_id").select2();
  $("#filter_state_id").select2();
  $("#filter_city_id").select2();
  $("#country").select2();
</script>
<style>
  .noUi-connect{
    background: #3FB8AF;
  }
</style>
<script type="text/javascript">
  $("#export_loader").hide();
  $("#city").select2();
  $("#district").select2();
  $("#state").select2();
  $("#nationality").select2();
  $("#profession").select2();
  $("#gender").select2();
  $("#operator_name").select2();
  $("#source").select2();
   
  $(document).ready(function() {

    /* Page on Load */
    load_table();
    pagination_load(1);
    $('#generate_btn').click( function () {
      pagination_load(1);
      load_table();
    }); 

    $(document).on('click', '.page-link', function (){
      var page_no     = $(this).data('value');
      pagination_load(page_no);
    }); 
  });
   
  function pagination_load (page_no) {
    $("#pagination").empty();
    $("#contact_report_section").empty();
    $("#loader_report").show();

    jQuery.ajax({
      type     : "POST",
      url      : '/report/contact_total_count_report',
      data     : {'page_no' : page_no},
      dataType : 'json',
      success  : function (response) {
        $("#loader_report").hide();
        $('#loader').hide(); 
        $("#contact_report_section").html(response.content_html);
        $('#pagination').html(response.pagination_content);
      }
    });
  } //pagination_load

  function load_table () {
    $("#total_contacts").empty();
    $("#export_loader").show();
    var category_id   = $("#category_id option:selected").text();
             
    /* Filters - START */
    var city          = $("#city").val();
    var district      = $("#district").val();
    var state         = $("#state").val();
    var nationality   = $("#nationality").val();
    var pincode       = $("#pincode").val();
    var gender        = $("#gender").val();
    var locality      = $("#locality").val();
    var profession    = $("#profession").val();
    var salary        = $("#salary").val();
    var source        = $("#source").val();
    var operator_name = $("#operator_name").val();
    var minAge        = $("#minAge").val();
    var maxAge        = $("#maxAge").val();
   
    var filter_selected = new Array();
    var filter_obj      = {};
       
    if (city != '') {
      filter_selected.push('city');
      filter_obj['city']      = city;
    }
   
    if (district != '') {   
      filter_selected.push('district');
      filter_obj['district']  = district;
    }

    if (state != '') {
      filter_selected.push('state');
      filter_obj['state']     = state;
    }

    if (nationality!='') {
      filter_selected.push('nationality');
      filter_obj['nationality'] = nationality;
    }

    if (pincode != '') {
      filter_selected.push('pincode');
      filter_obj['pincode']     = pincode;
    }

    if (gender != '') {
      filter_selected.push('gender');
      filter_obj['gender']      = gender;
    }

    if (locality != '') {
      filter_selected.push('locality');
      filter_obj['locality']    = locality;
    }

    if (profession != '') {
      filter_selected.push('profession');
      filter_obj['profession']  = profession;
    }

    if (salary != '') {
      filter_selected.push('salary');
      filter_obj['salary']      = salary;
    }

    if (source != '') {
      filter_selected.push('source');
      filter_obj['source']    = source;
    }

    if (operator_name != '') {
      filter_selected.push('operator name');
      filter_obj['operator_name'] = operator_name;
    }      
    /* Filters - STOP */

    var filter_by          = filter_selected.join();
    var minAge             = $("#minAge").val();
    var maxAge             = $("#maxAge").val();
    var filter_category_id = $("#filter_category_id").val()

    $.ajax({
      url      : '/report/search_contacts',
      type     : 'POST',
      dataType : 'json',
      data     : { 
      'filter_search'      : filter_obj,
      'filter_category_id' : filter_category_id,
      'minAge'             : minAge,
      'maxAge'             : maxAge
      },
      success : function (data) {
        $("#total_contacts").text(data.total_contacts);
        $("#export_loader").hide();
      }
    }); 
  }
   
   
$(document).ready(function() {
  //creating the slider
  var slider        = document.getElementById('ageSlider');
  var record_slider = document.getElementById('recordSlider');

  noUiSlider.create(slider, {
    start  : [0, 100],
    //connect: true,
    range  : {
    'min'  : 0,
    'max'  : 100
    },
    //start: [49],
    pips   : {mode: 'count', values: 5}
  });

  //onupdate set the hidden input + trigger a change so v-model gets update
  slider.noUiSlider.on('update', function(values) {
  $("#minAge").val(Math.round(values[0])).trigger('change');
  $("#maxAge").val(Math.round(values[1])).trigger('change');
  });

  new Vue({
    el    : "#vue",
    data  : {
      minAge: '',
      maxAge: ''
    }
  });
});
   
</script>
<script src="../../public/js/dropdown/state_city.js"></script>