<% include ../layouts/header %>
<% var access = user['permission_access'];  %>
<% if(access.hasOwnProperty('read')) { %>
<!-- content-wrapper start -->
<div class="content-wrapper">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">General Report</h4>
        <div id="filter">
          <form role="form" class="registration-form" action="/export/export_csv" type="post">
            <div class="row">
              <div class="col-md-8">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Category</label>
                  <div class="col-sm-8">
                    <select class="form-control" name="category_id" id="category_id">
                      <option value="">---Select Category ---</option><% for(var i = 0; i < category_list.length; i++) { %>
                      <option value="<%= category_list[i]._id %>"><%= category_list[i].name  %>
                      </option><% } %>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Campaign</label>
                  <div class="col-sm-8">
                    <select class="form-control" name="campaign_id" id="campaign_id">
                      <option value="">---Select Campaign ---</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Campaign Content Label</label>
                  <div class="col-sm-8">
                    <select class="form-control" name="content_label_id" id="content_label_id">
                      <option value="">---Select Campaign Content ---</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">From Date</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control from_date" readonly="readonly">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">To Date</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control to_date" readonly="readonly">
                  </div>
                </div>
              </div>
            </div>
            <div id="btn" style="float:right;margin-bottom:10px;">
              <button type="button" class="btn btn-success btn-fw" id="export">
                <i class="mdi mdi-file-export"></i> Export as CSV
              </button>
              <button type="button" class="btn btn-primary btn-fw" id="generate_btn">Generate Report</button>
              <img src="/public/images/loader.gif" style="display:none;width: 35px;" id="export_loader">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12  grid-margin">
    <div class="card">
      <div class="card-body">
        <img src="/public/images/loader_report.gif" id="loader_report" style="display:block;margin-left: auto;margin-right: auto;width: 60px;">
        <div class="table-responsive">
          <div id="report-section"></div>
          <div id="pagination"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->
<% } %>
<% include ../layouts/footer %>

<script>

/* Page on Load */
load_table(1);

$(document).ready(function() {

  $("#category_id").select2();
  $("#campaign_id").select2();
  $('#content_label_id').select2();

  $('#category_id').on('change', function () {

    jQuery.ajax({
      type     : "POST",
      url      : '/export/get_report_dependent_dropdown',
      data     : {'category_id' : this.value, 'dropdown_type' : 'campaign' },
      dataType : 'json',
      success  : function (response) {
         $("#campaign_id").html(response.html);
         $("#campaign_id").select2();
      }
    });
  });

  $('#campaign_id').on('change', function () {

    jQuery.ajax({
      type     : "POST",
      url      : '/export/get_report_dependent_dropdown',
      data     : {'campaign_id' : this.value,'dropdown_type' : 'campaign_coneten_label' },
      dataType : 'json',
      success  : function (response) {
        $("#content_label_id").html(response.html);
        $('#content_label_id').select2();
      }
    });
  });

  $('#generate_btn').click(function () {
    load_table(1);
  }); 
});

$(document).on('click', '.page-link', function () {
  var page_no  = $(this).data('value');
  load_table(page_no);
});    


$(document).on('click', '#export', function(){
   
  var fromdate    = $('.from_date').val();
  var todate      = $('.to_date').val();
  var page_no     = page_no;

  if (fromdate == '' && todate == '') {
     var fromdate = new Date();
     var todate   = new Date();
  }

  var category_id = $('#category_id').val();
  var campaign_id = $('#campaign_id').val();
  var content_label_id = $('#content_label_id').val();

  var category_name, campaign_name, content_label_name;
  category_name   = 'all_categories';

  if (category_id != 0 && category_id !== null) {
    category_name = $('#select2-category_id-container').text();
  }

  campaign_name   = 'all_campaigns';

  if(campaign_id != 0 && campaign_id !== null) {
    campaign_name = $('#select2-campaign_id-container').text();
  }

  content_label_name = 'all_content_labels';
  if(content_label_id != 0  && content_label_id !== null) {
    content_label_name = $('#select2-content_label_id-container').text();
  }

  $("#export_loader").show();
   jQuery.ajax({
      type       : "POST",
      url        : '/report_export/general_report_export_as_csv',
      data       : {'category_id' : category_id, 'campaign_id' : campaign_id, 'content_label_id' : content_label_id, 'fromdate' : fromdate, 'todate' : todate, 'category_name' : category_name, 'campaign_name': campaign_name, 'content_label_name': content_label_name},
      dataType   : 'json',
      success    : function(response) {
        $("#export_loader").hide();
        $('#loader').hide(); 
       
        if (response.status == 200) {
          var zip_filename       = response.file_name + '.zip';
          document.location.href ='/public/export/'+ zip_filename;
        } else {
          swal("Error", "No data available to export", "error");
        }
      },
      error: function (data) {
        $("#export_loader").hide();
        swal("Error", "Oops something went wrong! Please try again.", "error");
      }
  });
});   


function load_table(page_no) {

  $("#pagination").empty();
  $("#report-section").empty();

  //Date range
  var fromdate         = $('.from_date').val();
  var todate           = $('.to_date').val();
  var page_no          = page_no;

  if (fromdate == '' && todate == '') {
    var fromdate       = new Date();
    var todate         = new Date();
  }

  var page_no          = page_no;
  var category_id      = $('#category_id').val();
  var campaign_id      = $('#campaign_id').val();
  var content_label_id = $('#content_label_id').val();

  $("#loader_report").show();
  jQuery.ajax({
    type    : "POST",
    url     : '/report/general_report_filter',
    data    : {
      'report_type' : 'campaign_report',
      'category_id' : category_id,
      'campaign_id' : campaign_id,
      'content_label_id' : content_label_id,
      'page_no'     : page_no,
      'fromdate'    : fromdate,
      'todate'      : todate
    },
    dataType        : 'json',
    success : function (response) {
      $("#loader_report").hide();
      $('#loader').hide(); 
      $("#report-section").html(response.table_content);
      $('#pagination').html(response.pagination_content);
    }
  });
}


$(document).ready(function() {       

  $('.from_date').daterangepicker({
    singleDatePicker : true,
    showDropdowns    : true,
    opens            : "right",
    locale           : {
      format         : 'YYYY-MM-DD'
    },
    maxDate          : new Date()
  });

    
  $('.to_date').daterangepicker({
    singleDatePicker : true,
    showDropdowns    : true,
    opens            : "right",
    locale           : {
     format          : 'YYYY-MM-DD'
    },
    maxDate          : new Date()
  });
});
</script>