<% include ../layouts/header %>
<% var access = user['permission_access'];  %>
<% if(access.hasOwnProperty('read')) { %>
<!-- content-wrapper start -->
<div class="content-wrapper">
   <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
         <div class="card-body">
            <h4 class="card-title">Report</h4>
            
            <div class="table-responsive">

                  <table class="table table-bordered custom_table">
                     <thead>
                        <tr>
                           <th>
                              ID
                           </th>

                           <th>
                              Category
                           </th>
                           <th>
                              Campaign
                           </th>
                           <th>
                              Contact No
                           </th>
                           <th>
                              Count
                           </th>
                           <th>
                              Created at
                           </th>
                           
                        </tr>
                     </thead>
                     <tbody>    

                        <% for(var i = 1; i < report_details.length; i++) { %>
                        <tr>
                           <td><%= i %></td>
                           <td><%= report_details[i].category_name %></td>
                           <td><%= report_details[i].campaign_details.label_name %></td>
                           <td><%= report_details[i].contacts_details.mobile_no %></td>
                           <td><%= report_details[i].count %></td>
                           <td><%= report_details[i].created_at %></td>
                           <% } %>
                        </tr>
                       
                     </tbody>
                  </table>

              
            </div>
         </div>
      </div>
   </div>
</div>
<!-- content-wrapper ends -->
<% } %>
<% include ../layouts/footer %>

