<% include ../layouts/header %>
<% var access = user['permission_access'];  %>
<% if(access.hasOwnProperty('read')) { %>
<!-- content-wrapper start -->
<div class="content-wrapper">
   <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
         <div class="card-body">
            <h4 class="card-title">SMPP Report</h4>

            <div id="filter">
            <form role="form" class="registration-form" action="/export/export_csv" type="post">
               <div class="row">
               <div class="col-md-8">
                  
                  <div class="form-group row">
                     <label class="col-sm-4 col-form-label">Campaign</label>
                     <div class="col-sm-8">

                        <select class="form-control select2" name="campaign_id" id="campaign_id">
                            <option value="0" disabled selected>---Select Campaign ---</option>
                            <% for(var i = 0; i < campaign_list.length; i++) { %>
                                <option value="<%= campaign_list[i]._id %>"><%= campaign_list[i].name %></option>
                            <% } %>                   
                        </select>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label class="col-sm-4 col-form-label">Campaign Content Label</label>
                     <div class="col-sm-8">
                        <select class="form-control" name="content_label_id" id="content_label_id">
                            <option value="">---Select Campaign Content ---</option>
                             
                        </select>
                     </div>
                  </div>
              </div> 
            </div>
            <div class="row">
               <div class="col-md-6">
                    <div class="form-group row">
                    <label class="col-sm-4 col-form-label">
                      <div class="massageTag">SMPP*</div>
                    </label>
                     <div class="col-sm-8">
                        <select class="form-control jsSelect" name="smpp_name" id="smpp_name">
                          <option disabled selected value=''>---Please Select SMPP--</option>
                         
                        </select>                       
                      </div>
                  </div>
              </div> 

                <div class="col-md-6">
                    <div class="form-group row">
                    <label class="col-sm-4 col-form-label">
                      <div class="massageTag">From*</div>
                      <div class="massageTag2">Select your Sender ID</div>
                    </label>
                     <div class="col-sm-8">
                        <select class="form-control jsSelect" name="sender_addr" id="sender_addr">
                          <option disabled selected value=''>---Please select--</option>
                        </select>                        
                     </div>
                  </div>
              </div>

            </div>

            <div class="row">
               <div class="col-md-6">
                  <div class="form-group row">
                     <label class="col-sm-3 col-form-label">From Date</label>
                     <div class="col-sm-9">
                        <input type="text" class="form-control from_date" readonly="readonly">
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group row">
                     <label class="col-sm-3 col-form-label">To Date</label>
                     <div class="col-sm-9">
                        <input type="text" class="form-control to_date" readonly="readonly">
                     </div>
                  </div>
               </div>
            </div>

            <div id="btn" style="float:right;margin-bottom:10px;">
            
               <button type="button" class="btn btn-primary btn-fw" id="generate_btn">Generate Report</button>
               <img src="/public/images/loader.gif" style="display:none;width: 35px;" id="export_loader">
            </div>
          </form>

          </div>            

         </div>
      </div>
   </div>
<div class="col-lg-12  grid-margin">
     <div class="card">
        <div class="card-body">
           <div class="row" style="border: 1px solid #80808040;min-height: 200px;">
              <div class="col-lg-7 ">
                <h5 style="text-align: center;margin: 20px;">SMPP Volume Report</h5>
                 <img src="/public/images/loader_report.gif" class="loader_report" style="display:block;margin-left: auto;margin-right: auto;width: 40px;">

                <div class="chart_s load_graph" style="width: 100%;height: 100%; ">
                  <canvas id="barChart" height="25vh" width="80vw"></canvas>
                </div>
              </div>

              <div class="col-lg-5">
                <div class="chart_s load_piegraph">
                  <canvas id="smpp_pie_chart" style="height:50px"></canvas>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>

  <!-- <div class="col-lg-12  grid-margin">
     <div class="card">
        <div class="card-body">
            <img src="/public/images/loader_report.gif" id="loader_report" style="display:block;margin-left: auto;margin-right: auto;width: 60px;">
           <div class="table-responsive" id="report-section">
           </div>

           <div id="pagination">

           </div>

        </div>
     </div>
  </div> -->

<div class="col-lg-12  grid-margin">
     <div class="card">
        <div class="card-body">
           <h5 style="text-align: center;margin: 20px;">SMPP Detailed Report</h5>          

           <img src="/public/images/loader_report.gif" class="loader_report" style="display:block;margin-left: auto;margin-right: auto;width: 40px;">
           <div class="row" style="border: 1px solid #80808040;">
                <div class="col-lg-7">

                 <table class="table">
                    <tbody>
                         <tr class="space-row">
                          <th>Total Queue</th>
                          <td id="tot_queue">0</td>
                       </tr>
                       <tr class="space-row">
                          <th>Delivered</th>
                          <td id="tot_delivered">0</td>
                       </tr>

                       <tr class="space-row">
                          <th>DLR Pending</th>
                          <td id="tot_dlr_pending">0</td>
                       </tr>
                  
                       <tr class="space-row">
                          <th>Failed</th>
                          <td id="tot_failed">0</td>
                       </tr>
                       <tr class="space-row">
                          <th>DND Failed</th>
                          <td id="dnd_failed">0</td>
                       </tr>
                       <tr class="space-row">
                          <th>Expired</th>
                          <td id="expired">0</td>
                       </tr>
                       <tr class="space-row">
                          <th>Blocked</th>
                          <td id="blocked">0</td>
                          
                       </tr>
                       <tr class="space-row">
                          <th>Others</th>
                          <td id="others">0</td>
                          
                       </tr>

                       <tr class="space-row">
                          <th>Total</th>
                          <td id="tot_sms_sent">0</td>
                         
                       </tr>

                       <tr class="space-row">
                          <th>Total Clicks</th>
                          <td id="tot_clicks">0</td>                          
                       </tr>

                       <tr class="space-row">
                          <th>Click Rate (CTR)</th>
                          <td id="tot_click_rate">0</td>                          
                       </tr>

                    </tbody>
                </table>

                <div class="overlay" id="table-report-loading" style="display: none;text-align: center;">
                    <i class="mdi mdi-spin mdi-loading" style="font-size: 60px;"></i>
                </div>

              </div>
              <div class="col-lg-5">
                <div class="chart_s load_piefailedgraph">
                  <canvas id="smpp_pie_failed_chart" style="height:50px"></canvas>
                </div>
              </div>
        </div>
     </div>
  </div>
</div>
</div>
<!-- content-wrapper ends -->
<% } %>
<% include ../layouts/footer %>

<script>


  /* Page on Load */
  load_table(1);

   $(document).ready(function() {

    $("#campaign_id").select2();
    $("#content_label_id").select2();

     $('#generate_btn').click(function() {
          load_table(1);
     }); 

    $('#campaign_id').on('change', function() {
      jQuery.ajax({
        type : "POST",
        url : '/export/get_report_dependent_dropdown',
        data : {'campaign_id':this.value,'dropdown_type':'campaign_coneten_label' },
        dataType: 'json',
        success: function(response) {
            $("#content_label_id").html(response.html);
            $('#content_label_id').select2();
        }
      });
    });

    });

    $(document).on('click', '.page-link', function(){
      var page_no = $(this).data('value');
      load_table(page_no);
   });    


    $(document).on('click', '#export', function(){
       
        var fromdate = $('.from_date').val();
        var todate = $('.to_date').val();
        var smpp_id = $('#smpp_name').val();
        var sender_id = $('#sender_addr').val();
        var smpp_name = $('#smpp_name option:selected').text();
        var sender_name = $('#sender_addr option:selected').text();
        var page_no = page_no;

        if(fromdate=='' && todate=='')
        {
           var fromdate = new Date();
           var todate = new Date();
        }


        $("#export_loader").show();
         jQuery.ajax({
            type : "POST",
            url : '/report_export/sms_report_export_as_csv',
            data : {'fromdate':fromdate,'todate':todate,'smpp_id':smpp_id,'sender_id':sender_id,'smpp_name':smpp_name,'sender_name':sender_name},
            dataType: 'json',
            success: function(response) {
                $("#export_loader").hide();
                $('#loader').hide(); 

                document.location.href ='/public/export/sms_logs_report.zip'

            }
        });
       
    });   


   function load_table(page_no)
   {

       $("#pagination").empty();
       $("#report-section").empty();
      
        //Date range
        var fromdate = $('.from_date').val();
        var todate = $('.to_date').val();
        var page_no = page_no;
        var current_url=window.location.href;
        var url = new URL(current_url);
        var get_campaign_id = url.searchParams.get("content_label_id");
        var get_content_label_id = url.searchParams.get("content_label_id");

        if(get_campaign_id&&get_content_label_id){
          var campaign_id = getUrlParameter('campaign_id');
          var content_label_id = getUrlParameter('content_label_id');   
          $('#campaign_id').val(parseInt(campaign_id)).trigger('change');
          getCampaignContentLabel(campaign_id);
             
        }else{
          var campaign_id = $('#campaign_id').val();
          var content_label_id = $('#content_label_id').val();
          //console.log('Else');                 
        }
        console.log(campaign_id);
        var smpp_id = $('#smpp_name').val();
        var sender_id = $('#sender_addr').val();
        var smpp_name = $('#smpp_name option:selected').text();
        var sender_name = $('#sender_addr option:selected').text();

        if(fromdate=='' && todate=='')
        {
           var fromdate = new Date();
           var todate = new Date();
        }
        
        var page_no = page_no;

        $(".loader_report").show();
        
         jQuery.ajax({
            type : "POST",
            url : '/report/sms_report_data',
            data : {
              'campaign_id':campaign_id,
              'content_label_id':content_label_id,
              'smpp_id':smpp_id,
              'sender_id':sender_id,
              'smpp_name':smpp_name,
              'sender_name':sender_name,
              'page_no':page_no,
              'fromdate':fromdate,
              'todate':todate
            },
            dataType: 'json',
            success: function(response) {
                $(".loader_report").hide();
                $('#loader').hide(); 
                //$("#report-section").html(response.table_content);
                //$('#pagination').html(response.pagination_content);
                $('#barChart').remove(); // this is my <canvas> element
                $('.load_graph').append('<canvas id="barChart" height="25vh" width="80vw"></canvas>');
                $('#smpp_pie_chart').remove(); // this is my <canvas> element
                $('.load_piegraph').append('<canvas id="smpp_pie_chart" style="height:50px"></canvas>');
                var delivered = response.total_today_delivered;
                 if(response.total_today_clicks>0&&response.total_sender_today>0 && campaign_id)
                {
                  var ctr = (parseInt(response.total_today_clicks)/parseInt(response.total_sender_today))*100;
                }else{
                  
                  var ctr = (parseInt(response.total_today_clicks)/parseInt(response.sms_count))*100;
                }
                
                $("#tot_delivered").html('<b><span class="blueTx">'+ delivered +'</span></b>');
                $("#tot_clicks").html('<b><span class="blueTx">'+response.total_today_clicks+'</span></b>');
                $("#tot_click_rate").html('<b><span class="blueTx">'+ctr.toFixed(2)+'%</span></b>');

                loadGraphData(response.total_dates_list, response.total_dates_val_list, response.total_delivered_val_list, response.total_today_delivered, response.total_today_non_delivered, response.total_clicks_list);


                $("#tot_dlr_pending").html('<b><span class="blueTx">'+ response.total_today_dlr_pending +'</span></b>');
                 $("#tot_failed").html('<b><span class="blueTx">'+ response.total_today_failed +'</span></b>');
                 $("#expired").html('<b><span class="blueTx">'+ response.total_today_expired  +'</span></b>');
                 $("#dnd_failed").html('<b><span class="blueTx">'+ response.total_today_dnd_failed +'</span></b>');
                 $("#blocked").html('<b><span class="blueTx">'+ response.total_today_blocked +'</span></b>');
                 $("#others").html('<b><span class="blueTx">'+ response.total_today_others +'</span></b>');
                 $("#tot_sms_sent").html('<b><span class="blueTx">'+ response.total_sender_today +'</span></b>');
                 $("#tot_queue").html('<b><span class="blueTx">'+ response.total_today_submit +'</span></b>');
                 $('#smpp_pie_failed_chart').remove(); 


                  $('.load_piefailedgraph').append('<canvas id="smpp_pie_failed_chart" style="height:50px"></canvas>');
                 pieFailedChart(response.total_sender_today, response.total_today_dlr_pending, response.total_today_failed, response.total_today_expired, response.total_today_dnd_failed, response.total_today_blocked, response.total_today_others, delivered)
            }
        });

   }


   $(document).ready(function() {       

       $('.from_date').daterangepicker({
         singleDatePicker: true,
         showDropdowns: true,
         //autoUpdateInput: false,
         opens: "right",
         locale: {
           format: 'YYYY-MM-DD'
         },

         maxDate: new Date(),
       });
           
       var from_date_val = '';
        //$('.from_date').on('change', function() {

          from_date_val = $(".from_date").val(); 
           var min_date = new Date(from_date_val);
          var max_date = min_date.setDate(min_date.getDate() + 30);
          $('.to_date').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            //autoUpdateInput: false,
            opens: "right",
            locale: {
            format: 'YYYY-MM-DD'
          },
          minDate: new Date(from_date_val),
          maxDate: new Date(max_date)
        });
          //$('.to_date').val('');
      //});
        //$('.from_date').val('');
         $('.from_date').on('change', function() {

          from_date_val = $(".from_date").val(); 
          var min_date = new Date(from_date_val);
          var max_date = min_date.setDate(min_date.getDate() + 30);
          $('.to_date').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            //autoUpdateInput: false,
            opens: "right",
            locale: {
            format: 'YYYY-MM-DD'
          },
          minDate: new Date(from_date_val),
          maxDate: new Date(max_date)
        });
          //$('.to_date').val('');
      });

    });
function getFormatDate(d){
    return d.getMonth()+1 + '/' + d.getDate() + '/' + d.getFullYear()
}
var randomColorGenerator = function () { 
      return '#' + (Math.random().toString(16) + '0000000').slice(2, 8); 
  };
var randomScalingFactor = function() {
    return (Math.random().toString(16) + '0000000').slice(2, 8);
  };
function loadGraphData(total_dates_list, total_dates_val_list, total_delivered_lst, total_delivered_count, total_undelivered_count, total_clicked_lst) {
   var click_data = {
    labels: total_dates_list,
    datasets: [
        {
          type: 'bar',
          labels: [],
          data: total_dates_val_list,
          label: 'Total Sent',
          backgroundColor: [
            'rgba(54, 162, 235, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          
          borderColor: [
            'rgba(54, 162, 235, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
         
        },
        {
        type: 'line',
        label: 'Total Delivered',
        data: total_delivered_lst,
        borderColor: 'green',
        borderWidth: 2,
        fill: false,
        
      },
      {
        type: 'line',
        label: 'Total clicked',
        data: total_clicked_lst,
        borderColor: '#FF6787',
        borderWidth: 2,
        fill: false,
        
      },

    ]
  };

  var clicks_options = {

   responsive: true,

    tooltips: {
      mode: 'index',
      intersect: false,
    },

    hover: {
      mode: 'nearest',
      intersect: true
    },

   scales: {
      xAxes: [{
        display: true,
        scaleLabel: {
          display: true,
          labelString: ''//Month
        }
      }],
      yAxes: [{
        display: true,
        scaleLabel: {
          display: true,
          labelString: 'Value'
        },
      }]
    }
    
  };


  if ($("#barChart").length) {
    var barChartCanvas = $("#barChart").get(0).getContext("2d");
    var barChart = new Chart(barChartCanvas, {
      type: 'bar',
      data: click_data,
      options: clicks_options
    });
  }

  var PieChartData = {
    datasets: [{
      data: [0,0],
      backgroundColor: [
        '#00ce68',
        '#e65251',
      ],
      borderColor: [
        'rgba(75, 192, 192, 0.05)',
        'rgba(75, 192, 192, 0.05)',
        'rgba(75, 192, 192, 0.05)',
      ],
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: ['Delivered','Un-Delivered']
  };

  var PieChartOptions = {
    responsive: true,
    animation: {
      animateScale: true,
      animateRotate: true
    },
    legend: {
        display: true,
        position: 'right'
    }

  };
  
 if ($("#smpp_pie_chart").length) {
    var pieChartCanvas = $("#smpp_pie_chart").get(0).getContext("2d");
    var pieChart = new Chart(pieChartCanvas, {
      type: 'pie',
      data: PieChartData,
      options: PieChartOptions
    });
  }

  pieChart.data.datasets[0].data[0]=parseInt(total_delivered_count);
  pieChart.data.datasets[0].data[1]=parseInt(total_undelivered_count);
 
    pieChart.update();


}
function pieFailedChart(total_volume, dlr_pending, failed, expired, dnd_failed, blocked, others, delivered) {
 
  var PieChartFailedData = {
    datasets: [{
      data: [0,0,0,0,0,0,0,0],
      backgroundColor: [
        '#0088cc',
        '#e65251c4',
        '#ec0b09',
        'var(--pink)',
        'var(--warning)',
        'var(--warning)',
        'var(--warning)',
        'rgba(153,0,204,0.2)'
      ],
      borderColor: [
        'rgba(75, 192, 192, 0.05)',
        'rgba(75, 192, 192, 0.05)',
        'rgba(75, 192, 192, 0.05)',

        'rgba(153,0,204,0.2)'
      ],
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: ['Total Sent','DLR Pending', 'Failed', 'DND Failed', 'Expired', 'Blocked', 'Others', 'Delivered']
  };

  var PieChartFailedOptions = {
    responsive: true,
    animation: {
      animateScale: true,
      animateRotate: true
    },
    legend: {
        display: true,
        position: 'right'
    }

  };
  
 if ($("#smpp_pie_chart").length) {
    var pieChartCanvas = $("#smpp_pie_failed_chart").get(0).getContext("2d");
    var pieFailedChart = new Chart(pieChartCanvas, {
      type: 'pie',
      data: PieChartFailedData,
      options: PieChartFailedOptions
    });
  }

  pieFailedChart.data.datasets[0].data[0]=parseInt(total_volume);
  pieFailedChart.data.datasets[0].data[1]=parseInt(dlr_pending);
  pieFailedChart.data.datasets[0].data[2]=parseInt(failed);
  pieFailedChart.data.datasets[0].data[3]=parseInt(expired);
  pieFailedChart.data.datasets[0].data[4]=parseInt(dnd_failed);
  pieFailedChart.data.datasets[0].data[5]=parseInt(blocked);
  pieFailedChart.data.datasets[0].data[6]=parseInt(others);
  pieFailedChart.data.datasets[0].data[7]=parseInt(delivered);
  pieFailedChart.update();
}

  
</script>
<script src="../../public/js/dropdown/smpp_data.js"></script>
