<% include ../layouts/header %>
<% var access = user['permission_access'];  %>
<% if(access.hasOwnProperty('read')) { %>
<!-- content-wrapper start -->
<div class="content-wrapper">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">SMS Log's Report</h4>

                <div id="filter">
                    <form role="form" class="registration-form" action="/export/export_csv" type="post">

                        <div class="row">
                            <div class="col-md-8">

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Campaign</label>
                                    <div class="col-sm-8">

                                        <select class="form-control select2" name="campaign_id" id="campaign_id">
                                            <option value="0" disabled selected>---Select Campaign ---</option>
                                            <% for(var i = 0; i < campaign_list.length; i++) { %>
                                                <option value="<%= campaign_list[i]._id %>">
                                                    <%= campaign_list[i].name %>
                                                </option>
                                                <% } %>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Campaign Content Label</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="content_label_id" id="content_label_id">
                                            <option value="">---Select Campaign Content ---</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">From Date</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control from_date" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">To Date</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control to_date" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Limit</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="last_dnld_msgs" id="last_dnld_msgs">
                                            <option disabled="disabled" selected="selected" value="">--- Please select limit ---</option>
                                            <option value="50">Last 50 messages</option>
                                            <option value="100">Last 100 messages</option>
                                            <option value="200">Last 200 messages</option>
                                            <option value="500">Last 500 messages</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="btn" style="float:right;margin-bottom:10px;">

                                <button type="button" class="btn btn-info btn-fw" id="summary_report_export"><i class="mdi mdi-file-export"></i> Export as Summary Report</button>
                                <button type="button" class="btn btn-primary btn-fw" id="generate_btn">Generate Report</button>
                                <img src="/public/images/loader.gif" class="load_gif" id="export_loader">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">SMPP</label>
                                    <div class="col-sm-8">
                                        <select class="form-control jsSelect" name="smpp_name" id="smpp_name">

                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-12  grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="row" style="border: 1px solid #80808040;">

                    <div class="col-lg-4">

                        <table class="table">
                            <tbody>
                                <tr>
                                    <th style="text-align:center;" colspan="3"><b class="blueTx">Campaigns Report</b>
                                        <br>
                                        <br><span id="title"></span></th>
                                </tr>

                                <tr class="space-row">
                                    <th>Total no of campaigns</th>
                                    <td id="total_no_of_campaigns">0</td>
                                </tr>

                                <tr class="space-row">
                                    <th>Total no of content labels</th>
                                    <td id="total_no_of_content_labels">0</td>
                                </tr>

                                <tr class="space-row" style="color: #308ee0;">
                                    <th>Total Sent</th>
                                    <td id="total_sender">0</td>
                                </tr>
                                <tr class="space-row" style="color: #308ee0;">
                                    <th>Total Queue</th>
                                    <td id="tot_queue">0</td>
                                </tr>
                                <tr class="space-row" style="color: #308ee0;">
                                    <th>Total Test SMS</th>
                                    <td id="tot_sent_sms">0</td>
                                </tr>
                                <tr class="space-row" style="color: var(--indigo);">
                                    <th>Total Scheduled</th>
                                    <td id="total_scheduled">0</td>
                                </tr>

                                <tr class="space-row" style="color: var(--success);">
                                    <th>Total Delivered</th>
                                    <td id="total_delivered">0</td>
                                </tr>

                                <tr class="space-row" style="color: var(--warning);">
                                    <th>Total DLR Pending</th>
                                    <td id="total_dlr_pending">0</td>

                                </tr>

                                <tr class="space-row" style="color:#FF5722;">
                                    <th>Total Rejection Count<small><b>(SMPP)</b></small></th>
                                    <td id="total_rejection">0</td>

                                </tr>

                                <tr class="space-row" style="color: var(--danger);">
                                    <th data-toggle="tooltip" title="Undelivered count includes failed, expired, blocked status counts">Total UnDelivered *</th>
                                    <td id="total_un_delivered">0</td>

                                </tr>

                                <tr class="space-row" style="color: var(--primary);">
                                    <th>Total Clicks</th>
                                    <td id="total_clicks">0</td>
                                </tr>

                                <tr class="space-row">
                                    <th>Click Rate (CTR)</th>
                                    <td id="click_rate">0</td>
                                </tr>

                            </tbody>
                        </table>

                        <div class="overlay" id="table-report-loading" style="display: none;text-align: center;">
                            <i class="mdi mdi-spin mdi-loading" style="font-size: 60px;"></i>
                        </div>

                    </div>

                    <div class="col-lg-8">

                        <div class="card">

                            <div class="card-body d-flex" id="chart_area">
                                <span id="no_records" style="width: 100%;"></span>
                                <canvas class="my-auto" id="pieChart" height="100"></canvas>
                            </div>

                        </div>

                        <div class="card">
                            <div class="card-body" style="background: #d3d3d314!important;">
                                <div class="row">

                                    <div class="col-md-2">
                                        <div class="d-flex align-items-center pb-2">
                                            <div class="dot-indicator bg-danger mr-2"></div>
                                            <p class="mb-0">Scheduled</p>
                                        </div>
                                        <h4 class="font-weight-semibold moverightSide" id="chart_total_scheduled"></h4>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="d-flex align-items-center pb-2">
                                            <div class="dot-indicator bg-danger mr-2"></div>
                                            <p class="mb-0">Delivered</p>
                                        </div>
                                        <h4 class="font-weight-semibold moverightSide" id="chart_total_today_delivered"></h4>
                                    </div>

                                    <div class="col-md-2 mt-4 mt-md-0">
                                        <div class="d-flex align-items-center pb-2">
                                            <div class="dot-indicator bg-danger mr-2"></div>
                                            <p class="mb-0">DLR Pending</p>
                                        </div>
                                        <h4 class="font-weight-semibold moverightSide" id="chart_total_dlr_pending"></h4>

                                    </div>

                                    <div class="col-md-2 mt-4 mt-md-0">
                                        <div class="d-flex align-items-center pb-2">
                                            <div class="dot-indicator bg-danger mr-2"></div>
                                            <p class="mb-0">Un-Delivered</p>
                                        </div>
                                        <h4 class="font-weight-semibold moverightSide" id="chart_total_today_non_delivered"></h4>

                                    </div>

                                    <div class="col-md-2 mt-4 mt-md-0">
                                        <div class="d-flex align-items-center pb-2">
                                            <div class="dot-indicator bg-success mr-2"></div>
                                            <p class="mb-0">Total Clicks</p>
                                        </div>
                                        <h4 class="font-weight-semibold moverightSide" id="chart_total_today_clicks"></h4>

                                    </div>

                                    <div class="col-md-2 mt-4 mt-md-0">
                                        <div class="d-flex align-items-center pb-2">
                                            <div class="dot-indicator bg-success mr-2"></div>
                                            <p class="mb-0">Click Rate</p>
                                        </div>
                                        <h4 class="font-weight-semibold moverightSide" id="chart_total_ctr"></h4>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="overlay" id="volume-report-loading" style="display: none;text-align: center;">
                            <i class="mdi mdi-spin mdi-loading" style="font-size: 60px;"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-12  grid-margin">
        <div class="card">
            <div class="card-body">

                <div class="float-right col-sm-2">

                  <input type="text" class="form-control" name="sms_log_search" id="sms_log_search" onkeyup="load_table(1, 'search')" placeholder="Search mobile number">
                    <br/>
                </div>
                <div class="table-responsive" id="report-section">
                </div>

                <div id="pagination">
                </div>

                <div class="overlay" id="table-sms_report-loading" style="display: none;text-align: center;">
                  <i class="mdi mdi-spin mdi-loading" style="font-size: 60px;"></i>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- content-wrapper ends -->
<% } %>
<% include ../layouts/footer %>
<!-- inject:js -->
<style>
.pag_not_found {
  display: none !important;
}
</style>
<script>


/* Page on Load */
load_table(1, 'onload'); //function for loading table
load_charts_data(1, 'onload'); //function for loading charts
/* End Page on Load */

$(document).on('click', '#summary_report_export', function() {

  var fromdate = $('.from_date').val();
  var todate = $('.to_date').val();

  if (fromdate == '' && todate == '') {
    var fromdate = new Date();
    var todate = new Date();
  }
  var smpp_id = $('#smpp_name').val();

  $("#export_loader").show();
  jQuery.ajax({
    type: "POST",
    url: '/report_export/sms_campaign_summary_report_export_as_csv',
    data: {
      'fromdate': fromdate,
      'todate': todate,
      'smpp_id': smpp_id
    },
    dataType: 'json',
    success: function(response) {
      console.log(response);
       $("#export_loader").hide();
        $('#loader').hide();
      if (response.status == 200) {
        
        document.location.href = '/public/export/sms_campaign_summary_report.zip';
      } else {

        swal("Error", "No data available to export", "error");
      }
      
    }
  });
});

$(document).ready(function() {

  $("#campaign_id").select2();
  $("#content_label_id").select2();
  $('#generate_btn').click(function() {
    removeParam('campaign_id');
    removeParam('content_label_id');
    load_table(1);
    load_charts_data(1);
  });

  $('#campaign_id').on('change', function() {
    var campaign_id = this.value;
    getCampaignContentLabel(campaign_id);
  });

});


$(document).on('click', '.page-link', function() {
  var page_no = $(this).data('value');
  load_table(page_no);
});

/*
  Downloads sms log reports data to .xlsx file with max limit upto 20 lakh records
  return: Returns filename and downloads excel file
*/
$(document).on('click', '#export', function() {

  var fromdate             = $('.from_date').val();
  var todate               = $('.to_date').val();
  var limit_msgs_val       = $('#last_dnld_msgs').val();
  var current_url          = window.location.href;
  var url                  = new URL(current_url);

  var get_campaign_id      = url.searchParams.get("content_label_id");
  var get_content_label_id = url.searchParams.get("content_label_id");

  if (get_campaign_id && get_content_label_id) {
    var campaign_id        = getUrlParameter('campaign_id');
    var content_label_id   = getUrlParameter('content_label_id');
  } else {
    var campaign_id        = $('#campaign_id').val();
    var content_label_id   = $('#content_label_id').val();
  }
  var page_no = page_no;

  if (fromdate == '' && todate == '') {
    var fromdate           = new Date();
    var todate             = new Date();
  }
  var smpp_name            = $("#smpp_name option:selected").html(); // getting text value because value is storing ids 
  var smpp_id              = $("#smpp_name").val();

  $("#download_export").show();
  jQuery.ajax({
    type                : "POST",
    url                 : '/report_export/sms_report_export_as_csv',
    data                : {
      'fromdate'        : fromdate,
      'todate'          : todate,
      'campaign_id'     : campaign_id,
      'content_label_id': content_label_id,
      'limit_msgs_val'  : limit_msgs_val,
      'smpp_id'         : smpp_id,
      'smpp_name'       : smpp_name
    },
    dataType            : 'json',
    success             : function(response) {
      if (response.status == 200) {
        $("#download_export").hide();
        $('#loader').hide();
        //document.location.href ='/public/export/sms_logs_report.zip';
        document.location.href = '../' + response.file_name
      } 
    }
  });
});

/*
  method: load_charts_data
  description: loads all the charts data 
  return: Returns all the sms related count
*/
function load_charts_data (page_no) {

  $("#export_loader").show();
  //Date range
  var fromdate             = $('.from_date').val();
  var todate               = $('.to_date').val();
  var page_no              = page_no;

  var current_url          = window.location.href;
  var url                  = new URL(current_url);

  var get_campaign_id      = url.searchParams.get("content_label_id");
  var get_content_label_id = url.searchParams.get("content_label_id");

  if (get_campaign_id && get_content_label_id) {
    var campaign_id      = getUrlParameter('campaign_id');
    var content_label_id = getUrlParameter('content_label_id');   
    $('#campaign_id').val(parseInt(campaign_id)).trigger('change');
    var filter_type      = 'get_overall_content_report';   
    getCampaignContentLabel(campaign_id);
       
  } else {
    var campaign_id      = $('#campaign_id').val();
    var content_label_id = $('#content_label_id').val();
    var filter_type      = 'get_datewise_report';                  
  }

  if (fromdate == '' && todate == '') {
    var fromdate        = new Date();
    var todate          = new Date();
  }
  
  var page_no           = page_no;
  var smpp_name         = $("#smpp_name option:selected").html(); // getting text value because value is storing ids 
  var smpp_id           = $("#smpp_name").val();
  
  jQuery.ajax({
    type                : "POST",
    url                 : '/report/sms_report_data',
    data                : {
      'report_type'     : 'campaign_report',
      'filter_type'     : filter_type,
      'campaign_id'     : campaign_id,
      'content_label_id': content_label_id,
      'page_no'         : page_no,
      'fromdate'        : fromdate,
      'todate'          : todate,
      'smpp_id'         : smpp_id,
      'smpp_name'       : smpp_name,
    },
    dataType: 'json',
    beforeSend: function () {
      $('.hide_chart').hide();
      $('#volume-report-loading').fadeIn();
      $('#table-report-loading').fadeIn();
    },
    success: function(response) {
      $('.hide_chart').show();
      $("#export_loader").hide();
      $("#loader_report").hide();
      $('#loader').hide(); 

      var fromdate                  = $('.from_date').val();
      var todate                    = $('.to_date').val(); 
      var delivered                 = response.total_today_delivered;
      var total_today_non_delivered = response.total_today_non_delivered;
      var total_today_clicks        = response.total_today_clicks;
      var total_today_dlr_pending   = response.total_today_dlr_pending;
      var total_schedule_count      = response.total_schedule_count;

      if (response.total_today_clicks > 0 && response.total_sender_today > 0) {
        var ctr = (parseInt(response.total_today_clicks)/parseInt(response.total_sender_today))*100;
      } else {
        var ctr = 0;
      }

      $("#title").html('(<b class="redTxt">From:</b> '+ getDate(fromdate) +' <b class="redTxt">To:</b> '+ getDate(todate) +')');

      $("#total_no_of_campaigns").html('<b><span class="blueTx">'+ response.total_campaign_today +'</span></b>');
      $("#total_no_of_content_labels").html('<b><span class="blueTx">'+ response.total_campaign_content_today +'</span></b>');

      $("#total_sender").html('<b><span>'+ response.total_sender_today +'</span></b>');
      $("#total_delivered").html('<b><span>'+ response.total_today_delivered +'</span></b>');
      $("#total_un_delivered").html('<b><span>'+ response.total_today_non_delivered +'</span></b>');
      $("#total_clicks").html('<b><span>'+ response.total_today_clicks +'</span></b>');
      $("#click_rate").html('<b><span class="blueTx">'+ ctr.toFixed(2) +'%</span></b>');
      $("#tot_queue").html('<b><span class="blueTx">'+ response.total_today_submit +'</span></b>');
       
      $("#tot_sent_sms").html('<b><span class="blueTx">'+ response.total_today_test_sms +'</span></b>');
      $("#chart_total_today_delivered").text(delivered);
      $("#chart_total_today_non_delivered").text(total_today_non_delivered);
      $("#chart_total_today_clicks").text(total_today_clicks);
      $("#total_dlr_pending").html('<b><span>'+ total_today_dlr_pending +'</span></b>');
      $("#total_rejection").html('<b><span>'+ response.total_today_rejected +'</span></b>');
      $("#chart_total_dlr_pending").text(total_today_dlr_pending);
      $("#chart_total_scheduled").text(total_schedule_count);
      $("#total_scheduled").text(total_schedule_count);
      $("#chart_total_ctr").text(ctr.toFixed(2)+'%');

      if(delivered > 0 || total_today_non_delivered > 0 || total_today_clicks > 0) {
        $("#no_records").html("");
        $('#pieChart').remove(); // this is my <canvas> element
        $('#chart_area').append('<canvas class="my-auto" id="pieChart" height="100"></canvas>');
        var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
        $('#pieChart').html('');
        var data = {
          datasets: [{
            data: [0,0,0],
            backgroundColor: [
              '#00ce68',
              '#e65251',
              '#08c'
            ],
            borderColor: [
              'rgba(75, 192, 192, 0.05)',
              'rgba(75, 192, 192, 0.05)',
              'rgba(75, 192, 192, 0.05)',

            ],
          }],

          // These labels appear in the legend and in the tooltips when hovering different arcs
          labels: ['Delivered','Un-Delivered','Clicks']
        };

        var PieChartOptions = {
          responsive: true,
          animation: {
            animateScale: true,
            animateRotate: true
          },
          legend: {
              display: true,
              position: 'right'
          }

        };

        if ($("#pieChart").length) {

          var pieChart = new Chart(pieChartCanvas, {
            type: 'pie',
            data: data,
            options: PieChartOptions
          });

        }

        pieChart.data.datasets[0].data[0] = parseInt(response.total_today_delivered);
        pieChart.data.datasets[0].data[1] = parseInt(response.total_today_non_delivered);
        pieChart.data.datasets[0].data[2] = parseInt(response.total_today_clicks);
        pieChart.update();

      } else {

        $('#pieChart').remove(); // this is my <canvas> element
        $('#chart_area').append('<canvas class="my-auto" id="pieChart" height="100"></canvas>');
        $("#no_records").html("<h5 class='redTxt' style='text-align:center;'>No Records Found</h5>");
      }
      $('[data-toggle="tooltip"]').tooltip()
    jQuery('a[rel="_editable"]').editable({
      "title"      : "Enter Note",
      "rows"       : 4,
      "tpl"        : "<textarea cols='60' class='form-control'></textarea>",
      "emptytext"  : "Not set",
      "inputclass" : "code_view",
      "type"       : "textarea",
      "mode"       : "inline",
      "name"       : "name",
      "showbuttons": false
    });
  },
  complete: function () { 
    $('#table-report-loading').fadeOut();
    $('#volume-report-loading').fadeOut();
    $('#table-sms_report-loading').fadeOut();
  },
});
} // end load_charts_data

/*
  method: load_table
  description: loads all the table data based on given data
  return: Returns table
*/
function load_table (page_no, is_search, sort_order = '-1', sort_clmn_name = 'id') {

  $("#pagination").empty();
  $("#report-section").empty();
  //$("#export_loader").show();
  //Date range
  var fromdate = $('.from_date').val();
  var todate   = $('.to_date').val();
  var page_no  = page_no;

  var current_url = window.location.href;
  var url         = new URL(current_url);

  var get_campaign_id      = url.searchParams.get("content_label_id");
  var get_content_label_id = url.searchParams.get("content_label_id");

  if (get_campaign_id && get_content_label_id) {
    var campaign_id      = getUrlParameter('campaign_id');
    var content_label_id = getUrlParameter('content_label_id');   
    $('#campaign_id').val(parseInt(campaign_id)).trigger('change');
    var filter_type      = 'get_overall_content_report';   
    getCampaignContentLabel(campaign_id);
       
  } else {
    var campaign_id      = $('#campaign_id').val();
    var content_label_id = $('#content_label_id').val();
    var filter_type      = 'get_datewise_report';                  
  }


  if (fromdate == '' && todate == '') {
    var fromdate = new Date();
    var todate   = new Date();
  }
  
  var page_no    = page_no;

  var smpp_name  = $("#smpp_name option:selected").html(); // getting text value because value is storing ids 
  var limit_val  = $("#last_dnld_msgs option:selected").val(); console.log(limit_val)
  var smpp_id    = $("#smpp_name").val();
  var search     = $('#sms_log_search').val(); console.log(search);

  jQuery.ajax({
    type                : "POST",
    url                 : '/report/smpp_report_table',
    data                : {
      'report_type'     : 'campaign_report',
      'filter_type'     : filter_type,
      'campaign_id'     : campaign_id,
      'content_label_id': content_label_id,
      'page_no'         : page_no,
      'fromdate'        : fromdate,
      'todate'          : todate,
      'smpp_id'         : smpp_id,
      'smpp_name'       : smpp_name,
      'search'          : search, 
      'is_search'       : is_search,
      'limit_val'       : limit_val,
      'sort_order'      : sort_order,
      'sort_clmn_name'  : sort_clmn_name

    },
    dataType: 'json',
    beforeSend: function () {
      $('.hide_chart').hide();
      //$('#table-report-loading').fadeIn();
      $('#table-sms_report-loading').fadeIn();
    },
    success: function(response) {

      $('.hide_chart').show();
      $("#export_loader").hide();
      $("#loader_report").hide();
      $('#loader').hide(); 
       $("#report-section").html('<div class="float-right"><button type="button" class="btn btn-success btn-fw" id="export" data-toggle="tooltip" data-placement="top" title="You can export upto 20lakhs data"><i class="mdi mdi-file-export"></i> Export</button><img src="/public/images/loader.gif" class="load_gif" id="download_export"></div>');
      $("#report-section").append(response.table_content);
      //$('#pagination').html(response.pagination_content);
      $('#export').prop('disabled', false);
      if (response.status == 400) {
        $('#export').prop('disabled', true);
      }
      
    jQuery('a[rel="_editable"]').editable({
      "title": "Enter Note",
      "rows": 4,
      "tpl": "<textarea cols='60' class='form-control'></textarea>",
      "emptytext": "Not set",
      "inputclass": "code_view",
      "type": "textarea",
      "mode": "inline",
      "name": "name",
      "showbuttons": false
    });
  },
  complete: function () { 
    //$('#table-report-loading').fadeOut();
    $('#table-sms_report-loading').fadeOut();
  },
});
} // end load_table


function getUrlParameter(sParam) {
  var sPageURL     = window.location.search.substring(1),
    sURLVariables  = sPageURL.split('&'),
    sParameterName,
    i;

  for (i = 0; i < sURLVariables.length; i++) {
    sParameterName = sURLVariables[i].split('=');

    if (sParameterName[0] === sParam) {
      return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
    }
  }
};

/*
  method      : getCampaignContentLabel
  description : Getting campaign content label report dependent dropdown based on campaign id
  return      : Returns campaign content label dropdown
*/
function getCampaignContentLabel (campaign_id) {
  jQuery.ajax({
    type             : "POST",
    url              : '/export/get_report_dependent_dropdown',
    data             : {
      'campaign_id'  : campaign_id,
      'dropdown_type': 'campaign_coneten_label'
    },
    dataType         : 'json',
    success: function(response) {
      $("#content_label_id").html(response.html);
      $('#content_label_id').select2();
      var current_url          = window.location.href;
      var url                  = new URL(current_url);
      var get_content_label_id = url.searchParams.get("content_label_id");
      if (get_content_label_id) {
        $('#content_label_id').val(get_content_label_id).trigger('change');
      }
    }
  });
}

function getDate (date) {

  var d           = new Date(date),
    month         = '' + (d.getMonth() + 1),
    day           = '' + d.getDate(),
    year          = d.getFullYear(),
    hours         = d.getHours(),
    minutes       = d.getMinutes(),
    seconds       = d.getSeconds();

  if (month.length < 2) month = '0' + month;
  if (day.length < 2) day = '0' + day;
  var hours       = d.getHours();
  var minutes     = d.getMinutes();
  var ampm        = hours >= 12 ? 'pm' : 'am';
  hours           = hours % 12;
  hours           = hours ? hours : 12; // the hour '0' should be '12'
  minutes         = minutes < 10 ? '0' + minutes : minutes;
  var strTime     = hours + ':' + minutes + ' ' + ampm;

  var date_format = day + '-' + month + '-' + year;
  return date_format;
} //getDate


function removeParam (parameter) {
  var url           = document.location.href;
  var urlparts      = url.split('?');
  if (urlparts.length >= 2) {
    var urlBase     = urlparts.shift();
    var queryString = urlparts.join("?");
    var prefix      = encodeURIComponent(parameter) + '=';
    var pars        = queryString.split(/[&;]/g);
    for (var i = pars.length; i-- > 0;)
      if (pars[i].lastIndexOf(prefix, 0) !== -1)
        pars.splice(i, 1);
    url             = urlBase + '?' + pars.join('&');
    window.history.pushState('', document.title, url); // added this line to push the new url directly to url bar .
  }
  return url;
} //removeParam



$(document).on('click', '.sorting_asc_icon', function() {
  //var page_no = $('.page-link').data('value');
  var column_name = $(this).attr('id'); //alert(column_name);
  $(this).removeClass('mdi-sort-ascending').addClass('mdi-sort-descending');
  $(this).removeClass('sorting_asc_icon').addClass('sorting_desc_icon');
  //$(this).toggleClass( 'mdi-sort-ascending', 'mdi-sort-descending')
  sort(true, column_name, 'sort_table');
});

$(document).on('click', '.sorting_desc_icon', function() {
  //var page_no = $('.page-link').data('value');
  var column_name = $(this).attr('id');//alert(column_name);
  $(this).removeClass('mdi-sort-descending').addClass('mdi-sort-ascending');
  $(this).removeClass('sorting_desc_icon').addClass('sorting_asc_icon');
  //$(this).toggleClass('mdi-sort-descending',  'mdi-sort-ascending')
  sort(false, column_name, 'sort_table');
});

function sort (ascending, columnClassName, tableId) {
  var tbody = document.getElementById(tableId).getElementsByTagName("tbody")[0];
  var rows = tbody.getElementsByTagName("tr");
  
  var unsorted = true;
  
  while (unsorted) {
    unsorted = false
    
    for (var r = 0; r < rows.length - 1; r++) {
      var row = rows[r];
      var nextRow = rows[r+1];
      
      var value = row.getElementsByClassName(columnClassName)[0].innerHTML;
      var nextValue = nextRow.getElementsByClassName(columnClassName)[0].innerHTML;
      
      value = value.replace(',', ''); // in case a comma is used in float number
      nextValue = nextValue.replace(',', '');
      
      if (!isNaN(value)) {
        value = parseFloat(value);
        nextValue = parseFloat(nextValue);
      }

      if (ascending ? value > nextValue : value < nextValue) {
        tbody.insertBefore(nextRow, row);
        unsorted = true;
      }
    }
  }
};// sort end

$(document).ready(function() {       
  /* sorting */
  $('.from_date').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    //autoUpdateInput: false,
    opens: "right",
    locale: {
      format: 'YYYY-MM-DD'
    },

    maxDate: new Date(),
  });

  var from_date_val = '';
  //$('.from_date').on('change', function() {

  from_date_val = $(".from_date").val();
  var min_date = new Date(from_date_val);
  var max_date = min_date.setDate(min_date.getDate() + 30);
  $('.to_date').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    //autoUpdateInput: false,
    opens: "right",
    locale: {
      format: 'YYYY-MM-DD'
    },
    minDate: new Date(from_date_val),
    maxDate: new Date(max_date)
  });
  //$('.to_date').val('');
  //});
  //$('.from_date').val('');
  $('.from_date').on('change', function() {

  from_date_val = $(".from_date").val();
  var min_date = new Date(from_date_val);
  var max_date = min_date.setDate(min_date.getDate() + 30);
  $('.to_date').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    //autoUpdateInput: false,
    opens: "right",
    locale: {
      format: 'YYYY-MM-DD'
    },
    minDate: new Date(from_date_val),
    maxDate: new Date(max_date)
  });
  //$('.to_date').val('');
  });
});

var randomColorGenerator = function () { 
  return '#' + (Math.random().toString(16) + '0000000').slice(2, 8); 
};

function sortTable(table, col, reverse) {
    var tb = table.tBodies[0], // use `<tbody>` to ignore `<thead>` and `<tfoot>` rows
        tr = Array.prototype.slice.call(tb.rows, 0), // put rows into array
        i;
    reverse = -((+reverse) || -1);
    tr = tr.sort(function (a, b) { // sort rows
        return reverse // `-1 *` if want opposite order
            * (a.cells[col].textContent.trim() // using `.textContent.trim()` for test
                .localeCompare(b.cells[col].textContent.trim())
               );
    });
    for(i = 0; i < tr.length; ++i) tb.appendChild(tr[i]); // append each row in order
}

function makeSortable(table) {
    var th = table.tHead, i;
    th && (th = th.rows[0]) && (th = th.cells);
    if (th) i = th.length;
    else return; // if no `<thead>` then do nothing
    while (--i >= 0) (function (i) {
        var dir = 1;
        th[i].addEventListener('click', function () {sortTable(table, i, (dir = 1 - dir))});
    }(i));
}

function makeAllSortable(parent) {
    parent = parent || document.body;
    var t = parent.getElementsByTagName('table'), i = t.length;
    while (--i >= 0) makeSortable(t[i]);
}
</script>
<!-- Datepicker JS-->
<!-- SMPP JS-->
<script src="/public/js/dropdown/smpp_data.js"></script>
