<% include ../layouts/header %>
<!-- content-wrapper start -->
<div class="content-wrapper">
   <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
         <div class="card-body">
            <h4 class="card-title">SMS Log's Report</h4>

            <div id="filter">
            <form role="form" class="registration-form" action="/export/export_csv" type="post">

            <div class="row">
               <div class="col-md-8">
                  
                  <div class="form-group row">
                     <label class="col-sm-4 col-form-label">Campaign</label>
                     <div class="col-sm-8">

                        <select class="form-control select2" name="campaign_id" id="campaign_id">
                            <option value="0" disabled selected>---Select Campaign ---</option>
                            <% for(var i = 0; i < campaign_list.length; i++) { %>
                                <option value="<%= campaign_list[i]._id %>"><%= campaign_list[i].name %></option>
                            <% } %>
                                                   
                        </select>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label class="col-sm-4 col-form-label">Campaign Content Label</label>
                     <div class="col-sm-8">
                        <select class="form-control" name="content_label_id" id="content_label_id">
                            <option value="">---Select Campaign Content ---</option>
                             
                        </select>
                     </div>
                  </div>
              </div> 
            </div>

            <div class="row">
               <div class="col-md-6">
                  <div class="form-group row">
                     <label class="col-sm-3 col-form-label">From Date</label>
                     <div class="col-sm-9">
                        <input type="text" class="form-control from_date" readonly="readonly">
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group row">
                     <label class="col-sm-3 col-form-label">To Date</label>
                     <div class="col-sm-9">
                        <input type="text" class="form-control to_date" readonly="readonly">
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                  <div class="form-group row">
                     <label class="col-sm-3 col-form-label">Limit</label>
                     <div class="col-sm-9">
                         <select class="form-control" name="last_dnld_msgs" id="last_dnld_msgs">
                          <option value="50">Last 50 messages</option>
                          <option value="100">Last 100 messages</option> 
                          <option value="200">Last 200 messages</option> 
                          <option value="500">Last 500 messages</option>  
                        </select>
                     </div>
                  </div>
               </div>
            <div id="btn" style="float:right;margin-bottom:10px;">
              <button type="button" class="btn btn-success btn-fw" id="export"><i class="mdi mdi-file-export"></i> Export as CSV</button>
              <button type="button" class="btn btn-info btn-fw" id="summary_report_export"><i class="mdi mdi-file-export"></i> Export as Summary Report</button>
               <button type="button" class="btn btn-primary btn-fw" id="generate_btn">Generate Report</button>
               <img src="/public/images/loader.gif" style="display:none;width: 35px;" id="export_loader">
            </div>
          </div>
          </form>

          </div>            

         </div>
      </div>
   </div>


  <div class="col-lg-12  grid-margin">
     <div class="card">
        <div class="card-body">
           <div class="row" style="border: 1px solid #80808040;">

              <div class="col-lg-4">

                 <table class="table">
                    <tbody>
                      <tr>
                        <th style="text-align:center;" colspan="3"><b class="blueTx">Campaigns Report</b><br><br><span id="title"></span></th>
                      </tr>

                       <tr class="space-row">
                          <th>Total no of campaigns</th>
                          <td id="total_no_of_campaigns">0</td>
                       </tr>

                       <tr class="space-row">
                          <th>Total no of content labels</th>
                          <td id="total_no_of_content_labels">0</td>
                       </tr>
                  
                       <tr class="space-row">
                          <th>Total Sent</th>
                          <td id="total_sender">0</td>
                       </tr>

                       <tr class="space-row">
                          <th>Total Delivered</th>
                          <td id="total_delivered">0</td>
                          
                       </tr>

                       <tr class="space-row">
                          <th>Total UnDelivered</th>
                          <td id="total_un_delivered">0</td>
                         
                       </tr>

                       <tr class="space-row">
                          <th>Total Clicks</th>
                          <td id="total_clicks">0</td>                          
                       </tr>

                       <tr class="space-row">
                          <th>Click Rate (CTR)</th>
                          <td id="click_rate">0</td>                          
                       </tr>

                    </tbody>
                </table>

                <div class="overlay" id="table-report-loading" style="display: none;text-align: center;">
                    <i class="mdi mdi-spin mdi-loading" style="font-size: 60px;"></i>
                </div>

              </div>

              <div class="col-lg-8">


                <div class="card">
                
                  <div class="card-body d-flex" id="chart_area">
                    <span id="no_records" style="width: 100%;"></span>
                      <canvas class="my-auto" id="pieChart" height="100"></canvas>
                  </div>

                </div>

                <div class="card">
                  <div class="card-body" style="background: #d3d3d314!important;">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="d-flex align-items-center pb-2">
                          <div class="dot-indicator bg-danger mr-2"></div>
                          <p class="mb-0">Delivered</p>
                        </div>
                        <h4 class="font-weight-semibold moverightSide" id="chart_total_today_delivered"></h4>
                       
                      </div>

                      <div class="col-md-3 mt-4 mt-md-0">
                        <div class="d-flex align-items-center pb-2">
                          <div class="dot-indicator bg-danger mr-2"></div>
                          <p class="mb-0">Un-Delivered</p>
                        </div>
                        <h4 class="font-weight-semibold moverightSide" id="chart_total_today_non_delivered"></h4>
                       
                      </div>


                      <div class="col-md-3 mt-4 mt-md-0">
                        <div class="d-flex align-items-center pb-2">
                          <div class="dot-indicator bg-success mr-2"></div>
                          <p class="mb-0">Total Clicks</p>
                        </div>
                        <h4 class="font-weight-semibold moverightSide" id="chart_total_today_clicks"></h4>
                        
                      </div>


                      <div class="col-md-3 mt-4 mt-md-0">
                        <div class="d-flex align-items-center pb-2">
                          <div class="dot-indicator bg-success mr-2"></div>
                          <p class="mb-0">Click Rate</p>
                        </div>
                        <h4 class="font-weight-semibold moverightSide" id="chart_total_ctr"></h4>
                        
                      </div>

                    </div>
                  </div>
                </div>                


                <div class="overlay" id="volume-report-loading" style="display: none;text-align: center;">
                    <i class="mdi mdi-spin mdi-loading" style="font-size: 60px;"></i>
                </div>
              </div>
          </div>


        </div>
     </div>
  </div>

  <div class="col-lg-12  grid-margin">
     <div class="card">
        <div class="card-body">
               <div class="table-responsive" id="report-section">
               </div>

               <div id="pagination">
               </div>

                <div class="overlay" id="table-sms_report-loading" style="display: none;text-align: center;">
                    <i class="mdi mdi-spin mdi-loading" style="font-size: 60px;"></i>
                </div>

        </div>
     </div>
  </div>


</div>
<!-- content-wrapper ends -->

<% include ../layouts/footer %>
    <!-- inject:js -->

<script>


    /* Page on Load */
    load_table(1,'onload');

    $(document).on('click', '#summary_report_export', function(){
       
        var fromdate = $('.from_date').val();
        var todate = $('.to_date').val();

        if(fromdate=='' && todate=='')
        {
           var fromdate = new Date();
           var todate = new Date();
        }


        $("#export_loader").show();
         jQuery.ajax({
            type : "POST",
            url : '/report_export/sms_campaign_summary_report_export_as_csv',
            data : {'fromdate':fromdate,'todate':todate},
            dataType: 'json',
            success: function(response) {
                $("#export_loader").hide();
                $('#loader').hide(); 
                document.location.href = '/public/export/sms_campaign_summary_report.zip'
            }
        });
    });

   $(document).ready(function() {

        $("#campaign_id").select2();
        $("#content_label_id").select2();
         $('#generate_btn').click(function() {
              removeParam('campaign_id');
              removeParam('content_label_id');
              load_table(1);
         }); 

        $('#campaign_id').on('change', function() {
           var campaign_id=this.value;
           getCampaignContentLabel(campaign_id);
        });

    });


    $(document).on('click', '.page-link', function(){
        var page_no = $(this).data('value');
        load_table(page_no);
   });    


    $(document).on('click', '#export', function(){
       
        var fromdate = $('.from_date').val();
        var todate = $('.to_date').val();
        var limit_msgs_val = $('#last_dnld_msgs').val();
        var current_url=window.location.href;
        var url = new URL(current_url);

        var get_campaign_id = url.searchParams.get("content_label_id");
        var get_content_label_id = url.searchParams.get("content_label_id");

        if(get_campaign_id&&get_content_label_id){
          var campaign_id = getUrlParameter('campaign_id');
          var content_label_id = getUrlParameter('content_label_id');                
        }else{
          var campaign_id = $('#campaign_id').val();
          var content_label_id = $('#content_label_id').val();
        }
        var page_no = page_no;

        if(fromdate=='' && todate=='')
        {
           var fromdate = new Date();
           var todate = new Date();
        }


        $("#export_loader").show();
         jQuery.ajax({
            type : "POST",
            url : '/report_export/sms_report_export_as_csv',
            data : {'fromdate':fromdate,'todate':todate,'campaign_id':campaign_id,'content_label_id':content_label_id, 'limit_msgs_val': limit_msgs_val},
            dataType: 'json',
            success: function(response) {
                $("#export_loader").hide();
                $('#loader').hide(); 

                document.location.href ='/public/export/sms_logs_report.zip'

            }
        });
       
    });   


   function load_table(page_no)
   {

        $("#pagination").empty();
        $("#report-section").empty();
        $("#export_loader").show();
        //Date range
        var fromdate = $('.from_date').val();
        var todate = $('.to_date').val();
        var page_no = page_no;

        var current_url=window.location.href;
        var url = new URL(current_url);

        var get_campaign_id = url.searchParams.get("content_label_id");
        var get_content_label_id = url.searchParams.get("content_label_id");

        if(get_campaign_id&&get_content_label_id){
          var campaign_id = getUrlParameter('campaign_id');
          var content_label_id = getUrlParameter('content_label_id');   
          $('#campaign_id').val(parseInt(campaign_id)).trigger('change');
          getCampaignContentLabel(campaign_id);
             
        }else{
          var campaign_id = $('#campaign_id').val();
          var content_label_id = $('#content_label_id').val();
          //console.log('Else');                 
        }


        if(fromdate=='' && todate=='')
        {
           var fromdate = new Date();
           var todate = new Date();

        }
        
        var page_no = page_no;


         jQuery.ajax({
            type : "POST",
            url : '/report/sms_report_data',
            data : {
              'report_type':'campaign_report',
              'campaign_id':campaign_id,
              'content_label_id':content_label_id,
              'page_no':page_no,
              'fromdate':fromdate,
              'todate':todate
            },
            dataType: 'json',
            beforeSend: function () {
              $('.hide_chart').hide();
              $('#table-report-loading').fadeIn();
              $('#volume-report-loading').fadeIn();
              $('#table-sms_report-loading').fadeIn();
            },
            success: function(response) {
                $('.hide_chart').show();
                $("#export_loader").hide();
                $("#loader_report").hide();
                $('#loader').hide(); 
                $("#report-section").html(response.table_content);
                $('#pagination').html(response.pagination_content);

                var fromdate = $('.from_date').val();
                var todate = $('.to_date').val(); 

                var delivered = response.total_today_delivered;
                var total_today_non_delivered = response.total_today_non_delivered;
                var total_today_clicks=response.total_today_clicks;

                if(response.total_today_clicks>0&&response.total_sender_today>0)
                {
                  var ctr = (parseInt(response.total_today_clicks)/parseInt(response.total_sender_today))*100;
                }else{
                  var ctr = 0;
                }

                $("#title").html('(<b class="redTxt">From:</b> '+getDate(fromdate)+' <b class="redTxt">To:</b> '+getDate(todate)+')');

                $("#total_no_of_campaigns").html('<b><span class="blueTx">'+response.total_campaign_today+'</span></b>');
                $("#total_no_of_content_labels").html('<b><span class="blueTx">'+response.total_campaign_content_today+'</span></b>');

                $("#total_sender").html('<b><span class="blueTx">'+response.total_sender_today+'</span></b>');
                $("#total_delivered").html('<b><span class="blueTx">'+response.total_today_delivered+'</span></b>');
                $("#total_un_delivered").html('<b><span class="blueTx">'+response.total_today_non_delivered+'</span></b>');
                $("#total_clicks").html('<b><span class="blueTx">'+response.total_today_clicks+'</span></b>');
                $("#click_rate").html('<b><span class="blueTx">'+ctr.toFixed(2)+'%</span></b>');


                $("#chart_total_today_delivered").text(delivered);
                $("#chart_total_today_non_delivered").text(total_today_non_delivered);
                $("#chart_total_today_clicks").text(total_today_clicks);

                $("#chart_total_ctr").text(ctr.toFixed(2)+'%');


                if(delivered>0 || total_today_non_delivered>0 || total_today_clicks>0)
                {
                      $("#no_records").html("");
                      $('#pieChart').remove(); // this is my <canvas> element
                      $('#chart_area').append('<canvas class="my-auto" id="pieChart" height="100"></canvas>');
                      var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
                      $('#pieChart').html('');
                      var data = {
                        datasets: [{
                          data: [0,0,0],
                          backgroundColor: [
                            '#00ce68',
                            '#e65251',
                            '#08c'
                          ],
                          borderColor: [
                            'rgba(75, 192, 192, 0.05)',
                            'rgba(75, 192, 192, 0.05)',
                            'rgba(75, 192, 192, 0.05)',

                          ],
                        }],

                        // These labels appear in the legend and in the tooltips when hovering different arcs
                        labels: ['Delivered','Un-Delivered','Clicks']
                      };

                      var PieChartOptions = {
                        responsive: true,
                        animation: {
                          animateScale: true,
                          animateRotate: true
                        },
                        legend: {
                            display: true,
                            position: 'right'
                        }

                      };

                      if($("#pieChart").length) {

                        var pieChart = new Chart(pieChartCanvas, {
                          type: 'pie',
                          data: data,
                          options: PieChartOptions
                        });

                      }

                      pieChart.data.datasets[0].data[0]=parseInt(response.total_today_delivered);
                      pieChart.data.datasets[0].data[1]=parseInt(response.total_today_non_delivered);
                      pieChart.data.datasets[0].data[2]=parseInt(response.total_today_clicks);
                      pieChart.update();

                  }else{

                    $('#pieChart').remove(); // this is my <canvas> element
                    $('#chart_area').append('<canvas class="my-auto" id="pieChart" height="100"></canvas>');
                    $("#no_records").html("<h5 class='redTxt' style='text-align:center;'>No Records Found</h5>");
                  }

                  jQuery('a[rel="_editable"]').editable({
                   "title": "Enter Note",
                   "rows": 4,
                   "tpl": "<textarea cols='60' class='form-control'></textarea>",
                   "emptytext": "Not set",
                   "inputclass": "code_view",
                   "type": "textarea",
                   "mode": "inline",
                   "name": "name",
                   "showbuttons": false
                  });
            },
            complete:function(){ 
              $('#table-report-loading').fadeOut();
              $('#volume-report-loading').fadeOut();
              $('#table-sms_report-loading').fadeOut();
 
            },
        });
   }

function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
    }
};


function getCampaignContentLabel(campaign_id){

   jQuery.ajax({
      type : "POST",
      url : '/export/get_report_dependent_dropdown',
      data : {'campaign_id':campaign_id,'dropdown_type':'campaign_coneten_label' },
      dataType: 'json',
      success: function(response) {
          $("#content_label_id").html(response.html);
          $('#content_label_id').select2();
          var current_url=window.location.href;
          var url = new URL(current_url);

          var get_content_label_id = url.searchParams.get("content_label_id");

          if(get_content_label_id){

            $('#content_label_id').val(get_content_label_id).trigger('change');
            
          }

      }
  });

}

function getDate(date){

    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear(),
        hours = d.getHours(),
        minutes = d.getMinutes(),
        seconds = d.getSeconds();
    
    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;
    var hours = d.getHours();
    var minutes = d.getMinutes();
    var ampm = hours >= 12 ? 'pm' : 'am';
    hours = hours % 12;
    hours = hours ? hours : 12; // the hour '0' should be '12'
    minutes = minutes < 10 ? '0'+minutes : minutes;
    var strTime = hours + ':' + minutes + ' ' + ampm;
    
    var date_format=day+'-'+month+'-'+year;

    return date_format;
}

function removeParam(parameter)
{
  var url=document.location.href;
  var urlparts= url.split('?');

 if (urlparts.length>=2)
 {
  var urlBase=urlparts.shift(); 
  var queryString=urlparts.join("?"); 

  var prefix = encodeURIComponent(parameter)+'=';
  var pars = queryString.split(/[&;]/g);
  for (var i= pars.length; i-->0;)               
      if (pars[i].lastIndexOf(prefix, 0)!==-1)   
          pars.splice(i, 1);
  url = urlBase+'?'+pars.join('&');
  window.history.pushState('',document.title,url); // added this line to push the new url directly to url bar .

}
return url;
}
$(document).ready(function() {       

       $('.from_date').daterangepicker({
         singleDatePicker: true,
         showDropdowns: true,
         opens: "right",
         locale: {
           format: 'YYYY-MM-DD'
         },
         maxDate: new Date()
       });
   
        
       $('.to_date').daterangepicker({
         singleDatePicker: true,
         showDropdowns: true,
         opens: "right",
         locale: {
           format: 'YYYY-MM-DD'
         },
        maxDate: new Date()
       });

    });

  var randomColorGenerator = function () { 
      return '#' + (Math.random().toString(16) + '0000000').slice(2, 8); 
  };

</script>