<% include ../layouts/header %>
<% var access = user['permission_access'];  %>
<% if(access.hasOwnProperty('read')) { %>
<!-- content-wrapper start -->
<div class="content-wrapper">
   <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
         <div class="card-body">
            <h4 class="card-title">Test SMS Log's Report</h4>

            <div id="filter">
            <form role="form" class="test-sms-form" action="#" type="post">

            <div class="row">
               <div class="col-md-6">
                  <div class="form-group row">
                     <label class="col-sm-3 col-form-label">From Date</label>
                     <div class="col-sm-9">
                        <input type="text" class="form-control from_date" readonly="readonly">
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group row">
                     <label class="col-sm-3 col-form-label">To Date</label>
                     <div class="col-sm-9">
                        <input type="text" class="form-control to_date" readonly="readonly">
                     </div>
                  </div>
               </div>
            </div>

            <div id="btn" style="float:right;margin-bottom:10px;">
             
               <button type="button" class="btn btn-primary btn-fw" id="generate_btn">Generate Report</button>
                
               <img src="/public/images/loader.gif" style="display:none;width: 35px;" id="loader">
            </div>           
          </form>

          </div>            

         </div>
      </div>
   </div>

  <div class="col-lg-12  grid-margin">
     <div class="card">
        <div class="card-body">
             <img src="/public/images/loader_report.gif" id="loader_report" style="display:block;margin-left: auto;margin-right: auto;width: 60px;">
               <div class="table-responsive" id="test-report-section">
               </div>

               <div id="pagination">
               </div>

        </div>
     </div>
  </div>


</div>
<!-- content-wrapper ends -->
<% } %>
<% include ../layouts/footer %>
    <!-- inject:js -->
<script>
  
  $(document).ready(function() {       

        $('#generate_btn').click(function() {
              $('#loader').show(); 
              load_table(1);
        }); 

       $('.from_date').daterangepicker({
         singleDatePicker: true,
         showDropdowns: true,
         opens: "right",
         locale: {
           format: 'YYYY-MM-DD'
         },
         maxDate: new Date()
       });
   
        
       $('.to_date').daterangepicker({
         singleDatePicker: true,
         showDropdowns: true,
         opens: "right",
         locale: {
           format: 'YYYY-MM-DD'
         },
        maxDate: new Date()
       });

  });

  $(document).on('click', '.page-link', function(){
        var page_no = $(this).data('value');
        load_table(page_no);
  });   

  /* Page on Load */
  load_table(1,'onload');

   function load_table(page_no)
   {

       $("#pagination").empty();
       $("#test-report-section").empty();
      
        //Date range
        var fromdate = $('.from_date').val();
        var todate = $('.to_date').val();
        var page_no = page_no;

        if(fromdate=='' && todate=='')
        {
           var fromdate = new Date();
           var todate = new Date();

        }
        

        var page_no = page_no;

         jQuery.ajax({
            type : "POST",
            url : '/report/test_sms_report_data',
            data : {
              'report_type':'campaign_report',
              'page_no':page_no,
              'fromdate':fromdate,
              'todate':todate
            },
            dataType: 'json', 
            beforeSend: function () {
              $('#loader_report').show();
            },
            success: function(response) {
                $('#loader').hide(); 
                $('#loader_report').hide();
                $("#test-report-section").html(response.table_content);
                $('#pagination').html(response.pagination_content);

                jQuery('a[rel="_editable"]').editable({
                 "title": "Enter Note",
                 "rows": 4,
                 "tpl": "<textarea cols='60' class='form-control'></textarea>",
                 "emptytext": "Not set",
                 "inputclass": "code_view",
                 "type": "textarea",
                 "mode": "inline",
                 "name": "name",
                 "showbuttons": false
                });
            }
        });
   }
</script>