<% include ../../layouts/header %>
<% var access = user['permission_access'];  %>
<!-- content-wrapper start -->
<div class="content-wrapper">
   <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
         <div class="card-body">
            <h4 class="card-title">Nationalities</h4>
            <% if(access.hasOwnProperty('read')) { %>
            <div class="table-responsive">

                  <table class="table table-bordered custom_table">
                     <thead>
                        <tr>
                           <th>
                              ID
                           </th>

                           <th>
                              Nationalities Name
                           </th>
                          
                        </tr>
                     </thead>
                     <tbody>
                        <!-- nationalities -->
                        <% for(var i = 0; i < nationalities.length; i++) { 
                        %>
                        <tr>
                           <td><%= nationalities[i].nationality_id %></td>
                           <td><%= nationalities[i].nationalities_name %></td>
                        </tr>
                        <% } %>
                     </tbody>
                  </table>
            </div>
            <% } %>
         </div>
      </div>
   </div>
</div>

<% include ../../layouts/footer %>
