<% include ../../../layouts/header %>
<% var access = user['permission_access'];  %>
<% if(access.hasOwnProperty('update')) { %>
<div class="mt-5">
  <div class="">
    <div class="card card-body">
      <div id="register_notification"></div>
      <h3 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Update Role
      </h3>
     
      <form id="role_form" type="post">
        <input type="hidden" name="role_id" id="role_id" />  
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="name">Role Name</label>
              <input type="text" id="role_name" name="role_name" class="form-control" placeholder="Enter Role Name">
            </div>
            <div class="form-group">
              <label for="name">Role Description</label>
              <input type="text" id="role_desc" name="role_desc" class="form-control" placeholder="Enter Role Description">
            </div>
            <div class="form-group">
              <label for="email">Menu Type</label>
              <select class="form-control menu_type" name="menu_type" id="menu_type">
                <option value="">--- Please select menu type ---</option>
                <% for(var i = 0; i < get_menu_types.length; i++) { %>
                  <option value="<%= get_menu_types[i]._id %>"><%= get_menu_types[i].menu_type_name%></option>
                <% } %>
              </select>
            </div>
            <div class="form-group">
              <label for="email">Role Status</label>
              <select class="form-control role_status" name="role_status" id="role_status">
                <option value="">--- Please select role status ---</option>
                <option value="1">Enable</option>
                <option value="0">Disable</option>
              </select>
            </div>
            <div class="form-group">
              <div class="user_access">
                <p class="float-center">USER PERMISSIONS AND ACCESS</p>
                <p class="float-center">(CHECK THE BOXES BELOW TO GRANT ACCESS TO MENUS)</p>
                <div class="menu_data row col-lg-12" id="menu_data"></div>
                <div class="float-center">
                  <img src="/public/images/loader_form.gif" class="img-responsive float-center loader_gif"  style="width: 25px;display:none;" /> 
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            
            <button type="submit" class="btn btn-primary role_popup_name" id="role_popup_btn_name">Update</button>
            <img src="/public/images/loader_form.gif" class="img-responsive " id="loader" style="width: 25px;display:none;" />
          </div>
        </div>
      </form>
      
    </div>
  </div>
</div>
<% } %>
 <% include ../../../layouts/footer %>

<script type="text/javascript">

  $(document).ready( function () {
    $("#role_form")[0].reset();
    $('.role_popup_name').html('Update');  
    $("#role_popup_btn_name ").prop('disabled', true);

    //var id     = $(this).data('id');
    var url = window.location.pathname;
    var id = url.substring(url.lastIndexOf('/') + 1); 
    $("#loader").show();
    $.ajax({
      url      : '/settings/get_role_data_by_id',
      type     : 'POST',
      data     : {
        'id'   : id,
      },
      success  : function (data) {
        $("#loader").hide();
        if (data.status == '200') {
          $('#role_id').val(data.roles_data[0]._id); 
          $('#role_name').val(data.roles_data[0].role_name);  
          $('#role_desc').val(data.roles_data[0].role_description);
          $('#menu_type').val(data.roles_data[0].menu_type_id);    
          $('#role_status').val(data.roles_data[0].role_status);  
          $("#role_popup_btn_name ").prop('disabled', false);
          var menu_type_id = $('#menu_type').val();
          getMenuTypeById(menu_type_id, 'update', data);
         
        } 
      }
    });
    
    var menu_type_id = $('#menu_type').val(); console.log(menu_type_id)

    if (menu_type_id) {
     getMenuTypeById(menu_type_id);
    }
  });

  $(document).on('click', '#role_popup_btn_name', function(){

    var roleForm  = $("#role_form");

    var validator = roleForm.validate({

      rules     : {
        role_name: {
          required: {
            depends:function() {
              $(this).val($.trim($(this).val()));
              return true;
            }
          },
        },
        menu_type: {
          required : true
        },
        role_desc: {
          required : true
        },
        role_status: {
          required : true
        },
      },

      messages : {

        role_name: {
          required : "Please enter role name"
        },
        menu_type : {
          required : "Please select menu type"
        },
        role_desc: {
          required: "Please enter role description"
        },
        role_status: {
          required: "Please enter role status",
        }
      },

      submitHandler: function(form) {

        $("#role_popup_btn_name ").prop('disabled', true);
        $("#loader").show();
        var id           = $('#role_id').val(); console.log(id)
        var role_name    = $("#role_name").val();
        var menu_type    = $("#menu_type").val();
        var role_desc    = $("#role_desc").val();
        var role_status  = $("#role_status").val();
        var checked_data = [];
        $(".flat-red:checked").each(function () {
          var data = {};
          var row = $(this).closest("tr");
          var table = $(this).closest('table');     
          var menu_name = table.find('thead th').eq(0).attr('id');
          //var sub_menu_id = table.find('tbody tr').eq(0).attr('id');
          var sub_menu_id = row.find("th:eq(0)").attr('id'); //console.log(sub_menu_name)
          var create_elem = $(this).closest("tr")[0].cells[1].innerHTML; 
          var elem        = $(this).data('permission');
          if (sub_menu_id) {
            data[menu_name] = { [sub_menu_id]: {[elem] : $(this).val()}};
          } else {
            data[menu_name] = { [elem] : $(this).val()};
          }
          checked_data.push(data);         
        });
        
        $.ajax({
          url      : '/settings/role_insert_update',
          type     : 'POST',
          data     : {
            'id'              : id,
            'role_name'       : role_name,
            'role_status'     : role_status,
            'menu_type'       : menu_type,
            'role_desc'       : role_desc,
            'permissions'     : checked_data
          },
          success : function (data) {
            $("#loader").hide();
            if (data.status == '200') {
              $('#role_notification').html('<div class="alert alert-success"><strong>Success! </strong>' + data.message + '</div>');
            } else {
              $("#role_form ").prop('disabled', false);
              $('#role_notification').html('<div class="alert alert-danger "><strong>Error! </strong>' + data.message + '</div>');
            }

            setTimeout(function(){ 
              $('#role_notification').hide();
              location.reload(); 
            }, 3000);
          }
        });
      }
    });            
  });  
</script>

<script type="text/javascript" src="/public/js/roles/permissions.js"></script>


<script>
var arr_data = [{"menu 2":{"sub menu2":{"create":"1"}}},{"menu 2":{"sub menu2":{"read":"1"}}},{"menu 3":{"sub menu 1 updated2":{"create":"1"}}},{"menu 3":{"sub menu 1 updated2":{"read":"1"}}}];
let result = arr_data.reduce(function(obj, item){
  
  Object.keys(item).forEach(function(key){
  console.log(item);
  console.log(key);
    if(!obj[key]) obj[key] = [].concat(item[key])
    else {
       if(Array.isArray(item[key]))
         obj[key].push(...item[key])
       else
         obj[key].push(item[key]);
    }
  });
  return obj;
},{});

//var final = [result].reduce((key, value) => Object.assign(key, value), {}); console.log(final);
console.log(result);

</script>

