<% include ./../layouts/header %>
<% include ./../layouts/top_header %>
<% include ./../layouts/side_menu %>

<div class="col-md-10 compressedContentWidth">

<div class="col-md-12 topSectionContent">

    <div class="addUserHeaderSection width100">

        <div class="col-md-12 contentHeader">
            <h3>Create Role</h3>
        </div>

        <div class="col-md-12 marginTop5px">

            <div class="col-md-6">

                <div class="form-group">

                    <div class="col-sm-12 marginTop3">
                        <label for="recordselection" class=""> Name </label>
                        <input id="operator" class="form-control input-group-md" type="text" name="operator"  placeholder="Create Name">
                    </div>

                    <div class="col-sm-12 marginTop3">
                        <label for="campaignname" class="">Status</label>
                        <select  class="form-control input-group-md" name="category" id="category">
                            <option value="">Select Status</option>
                            <option value="">Active</option>
                            <option value="">In Active</option>
                        </select>
                    </div>

                    <div class="col-sm-12 marginTop3">
                        <label for="campaignname" class="">Status</label>
                        <select  class="form-control input-group-md" name="category" id="category">
                            <option value="">Select Status</option>
                            <option value="">Active</option>
                            <option value="">In Active</option>
                        </select>
                    </div>

                </div>
            
            </div>

            <div class="col-md-6">

                <div class="form-group">

                    <div class="col-sm-12 marginTop3">
                        <label for="recordselection" class=""> Description </label>
                        <textarea id="operator" class="form-control input-group-md" rows="10" cols="5"  placeholder="Write Description">
                        </textarea>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="clearfix"></div>

    <div class="addUserHeaderSection width100">

        <div class="col-md-12 contentHeader">
            <h3>User Permissions & Access</h3>
            <p>Check the boxes below to grant access to menu</p>
        </div>

        <div class="col-md-12 marginTop5px">

            <div class="col-md-6">

                

                <div class="panel panel-default addRoleTabSec noBorder">
                    <div class="panel-heading">
                        <h4 class="panel-title addRoleHead">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <span class="roleIconSec"> <img src="../images/role/campaign.svg" alt=""> </span> Campaign <i class="fa fa-chevron-down" aria-hidden="true"></i> </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            
                            <table class="table roleSettingsTable">

                                <thead>
                                  <tr>
                                    <th>Reports</th>
                                    <th>Create</th>
                                    <th>Read</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                  </tr>
                                </thead>

                                <tbody>

                                  <tr>

                                    <td>General Reports</td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" >
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                  </tr>

                                  <tr>

                                    <td>Conversion Report</td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" >
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                  </tr>

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default addRoleTabSec noBorder">
                    <div class="panel-heading">
                        <h4 class="panel-title addRoleHead">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> <span class="roleIconSec"> <img src="../images/role/sms_link_testing.svg" alt=""> </span> SMS Link Testing <i class="fa fa-chevron-down" aria-hidden="true"></i> </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            
                            <table class="table roleSettingsTable">

                                <thead>
                                  <tr>
                                    <th>Reports</th>
                                    <th>Create</th>
                                    <th>Read</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                  </tr>
                                </thead>

                                <tbody>

                                  <tr>

                                    <td>General Reports</td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" >
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                  </tr>

                                  <tr>

                                    <td>Conversion Report</td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" >
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                  </tr>

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default addRoleTabSec noBorder">
                    <div class="panel-heading">
                        <h4 class="panel-title addRoleHead">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> <span class="roleIconSec"> <img src="../images/role/logs.svg" alt=""> </span> Logs <i class="fa fa-chevron-down" aria-hidden="true"></i> </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            
                            <table class="table roleSettingsTable">

                                <thead>
                                  <tr>
                                    <th>Reports</th>
                                    <th>Create</th>
                                    <th>Read</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                  </tr>
                                </thead>

                                <tbody>

                                  <tr>

                                    <td>General Reports</td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" >
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                  </tr>

                                  <tr>

                                    <td>Conversion Report</td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" >
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                  </tr>

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default addRoleTabSec noBorder">
                    <div class="panel-heading">
                        <h4 class="panel-title addRoleHead">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"> <span class="roleIconSec"> <img src="../images/role/setting.svg" alt=""> </span> Settings <i class="fa fa-chevron-down" aria-hidden="true"></i> </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            
                            <table class="table roleSettingsTable">

                                <thead>
                                  <tr>
                                    <th>Reports</th>
                                    <th>Create</th>
                                    <th>Read</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                  </tr>
                                </thead>

                                <tbody>

                                  <tr>

                                    <td>General Reports</td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" >
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                  </tr>

                                  <tr>

                                    <td>Conversion Report</td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" >
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                  </tr>

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-6">

                <div class="panel panel-default addRoleTabSec noBorder">
                    <div class="panel-heading">
                        <h4 class="panel-title addRoleHead">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"> <span class="roleIconSec"> <img src="../images/role/import.svg" alt=""> </span> Import <i class="fa fa-chevron-down" aria-hidden="true"></i> </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            
                            <table class="table roleSettingsTable">

                                <thead>
                                  <tr>
                                    <th>Reports</th>
                                    <th>Create</th>
                                    <th>Read</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                  </tr>
                                </thead>

                                <tbody>

                                  <tr>

                                    <td>General Reports</td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" >
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                  </tr>

                                  <tr>

                                    <td>Conversion Report</td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" >
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                  </tr>

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default addRoleTabSec noBorder">
                    <div class="panel-heading">
                        <h4 class="panel-title addRoleHead">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"> <span class="roleIconSec"> <img src="../images/role/reports.svg" alt=""> </span> Reports <i class="fa fa-chevron-down" aria-hidden="true"></i> </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            
                            <table class="table roleSettingsTable">

                                <thead>
                                  <tr>
                                    <th>Reports</th>
                                    <th>Create</th>
                                    <th>Read</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                  </tr>
                                </thead>

                                <tbody>

                                  <tr>

                                    <td>General Reports</td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" >
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                  </tr>

                                  <tr>

                                    <td>Conversion Report</td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" >
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                  </tr>

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default addRoleTabSec noBorder">
                    <div class="panel-heading">
                        <h4 class="panel-title addRoleHead">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"> <span class="roleIconSec"> <img src="../images/role/accounts.svg" alt=""> </span> Accounts <i class="fa fa-chevron-down" aria-hidden="true"></i> </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                            
                            <table class="table roleSettingsTable">

                                <thead>
                                  <tr>
                                    <th>Reports</th>
                                    <th>Create</th>
                                    <th>Read</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                  </tr>
                                </thead>

                                <tbody>

                                  <tr>

                                    <td>General Reports</td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" >
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                  </tr>

                                  <tr>

                                    <td>Conversion Report</td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" >
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                    <td>
                                        <label class="container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </td>

                                  </tr>

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>

            </div>

        </div>
        
    </div>

    </div>

    </div>

</div>
</div>

</div>

</div>
<% include ./../layouts/footer %>
   