<% include ../layouts/header %>
<div class="content-wrapper">
   <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
         <div class="card-body">
            <h4 class="card-title">SMS - Test Tracking Link
            </h4>

            <div class="inner">
               <div class="form-row">
                  <div class="form-holder">
                     <div class="col-sm-12">
                        <div class="row">
                           <div class="col-sm-6">
                              <form>
                              <textarea id="url" name="url" rows="6" placeholder="Type your tracking link here" class="form-control" onkeyup="testLinkValidation()"></textarea>
                              <input type="hidden" value="0" id="tested_value">
                              <div id="err_results" style="margin-bottom:10px;"></div>
                              <button type="reset" id="retest_btn" class="btn btn-warning"  onclick="retest();">Reset</button>
                              <button type="button" id="test_btn" onclick="testLink();" class="btn btn-danger">Test</button>
                              <img src="/public/images/loader.gif" style="display:none;width: 35px;height: 35px;" id="record_loader">
                              </form>
                              <div id="results">
                                 <p id="success"></p>
                              </div>
                           </div>

                           <div class="col-sm-6">
                              <b style="font-size: 14px;text-decoration: underline;">Note:</b> 
                              <ul>
                                 <li><span style="font-weight: bold;">Step.1</span> - Type your url</li>
                                 <li><span style="font-weight: bold;">Step.2</span> - Click "Test" Button & Verfiy your url is valid (or) not.</li>
                                 <li><span style="font-weight: bold;">Step.3</span> - If Valid url means your can fire the url for Final Verification</li>
                                 <li><span style="font-weight: bold;">Step.4</span> - When Click on Fire button <b>Mandatory pass url with one more paramter is<span style="color:#ff6f8d;font-weight: bold;">?type="Dynamic ID"</span>. Every time exported as csv having one dynamic tracking url</b> <span style="color:#ff6f8d;font-weight: bold;">"copy with end of url dynamic id(after tc/)"</span>. Otherwise it's not working.<br>Example: <b style="color: #002d56;">http://txtby.me?type=Mj26rG_etG</b></li>
                                 <li><span style="font-weight: bold;">Step.5</span> - If Destination Page is showing the Iframe means it's working fine. Otherwise it's not valid & Working URL. Please Confirm with your team.</li>
                              </ul>
                           </div>

                        </div>
                     </div>
                  </div>
               </div>

               <div class="form-row">
                  <div class="form-holder">
                     <div class="col-sm-12">
                        <div class="row">
                           <div class="col-sm-12">
                              <div id="iframeHolder"></div>    
                           </div>                        
                        </div>
                     </div>
                  </div>
               </div>

            </div>
          </div>
      </div>
   </div>
</div>
<% include ../layouts/footer %>
<script type="text/javascript">


$(document).ready(function() {

   var clickBtn = false;
   $(document).on('click', ".fire", function(e) {

       if(clickBtn == false){
           e.preventDefault();
       }else{
            $("#record_loader").show();

            $("#tested_value").val('1');
            var test_class = $("#test_btn").hasClass("fire")
            var type_value = $("#tested_value").val();

            if(test_class&&type_value>0) {
               $('#iframeHolder').html('');
               var button_name = $("#test_btn").text();

               if(button_name=='Fire'){

                  var url_str = $("#url").val();
                  var short_id = getParams(url_str);
                  console.log(short_id.type);

                  if(typeof short_id!='undefined')
                  {
                        if(typeof short_id.type!='undefined')
                        {
                           $.ajax({
                              url: '/link/test_fire_link',
                              type: 'POST',
                              data: { 
                                 'url':url_str,
                                 'short_id':short_id.type
                              },
                              success: function (data) {
                                console.log(data);

                                if(data.status==400){

                                 $("#iframeHolder").html('<h6 style="color:red;">Error: Invalid Type..! Please check in your link or database</h6>');
                                 $("#record_loader").hide();
                                 
                                }else{

                                 if(!$('#iframe').length) {
                                  $('#iframeHolder').html('<h6 style="color: green;">Result:</h6><iframe id="iframe" src="'+data.destination_url+'" width="900" height="300" style="border: 1px solid grey;padding: 10px;"></iframe>');

                                    $("#record_loader").hide();
                                 }

                                }

                              }
                           });
                        }else{

                           if(!$('#iframe').length) {
                            $('#iframeHolder').html('<h6 style="color: green;">Result:</h6><iframe id="iframe" src="'+url_str+'" width="900" height="300" style="border: 1px solid grey;padding: 10px;"></iframe>');

                              $("#record_loader").hide();
                           }
                        }

                  }else{

                     if(!$('#iframe').length) {
                      $('#iframeHolder').html('<h6 style="color: green;">Result:</h6><iframe id="iframe" src="'+url_str+'" width="900" height="300" style="border: 1px solid grey;padding: 10px;"></iframe>');

                        $("#record_loader").hide();
                     }


                  }



               }

            }         
       }
       clickBtn = true;



   });      

});

function getParams(url) {
   var params = {};
   var parser = document.createElement('a');
   parser.href = url;
   var query = parser.search.substring(1);
   var vars = query.split('&');
   for (var i = 0; i < vars.length; i++) {
      var pair = vars[i].split('=');
      params[pair[0]] = decodeURIComponent(pair[1]);
   }
   return params;
};
function retest(){
   $("#err_results").html('');
   $('#iframeHolder').html('');
   $("#test_btn").text('Test');
   $("#test_btn").removeClass('btn-success fire');
   $("#test_btn").addClass('btn-danger');
}

function testLinkValidation()
{
   var url_str = $("#url").val();

   if(url_str.length=='0'){
      $("#err_results").html('');
   }
}

function testLink(){

   $("#record_loader").show();
   var url_str = $("#url").val();

   var urlRegex = '^(?!mailto:)(?:(?:http|https|ftp)://)(?:\\S+(?::\\S*)?@)?(?:(?:(?:[1-9]\\d?|1\\d\\d|2[01]\\d|22[0-3])(?:\\.(?:1?\\d{1,2}|2[0-4]\\d|25[0-5])){2}(?:\\.(?:[0-9]\\d?|1\\d\\d|2[0-4]\\d|25[0-4]))|(?:(?:[a-z\\u00a1-\\uffff0-9]+-?)*[a-z\\u00a1-\\uffff0-9]+)(?:\\.(?:[a-z\\u00a1-\\uffff0-9]+-?)*[a-z\\u00a1-\\uffff0-9]+)*(?:\\.(?:[a-z\\u00a1-\\uffff]{2,})))|localhost)(?::\\d{2,5})?(?:(/|\\?|#)[^\\s]*)?$';
   var url = new RegExp(urlRegex, 'i');
   var result = url_str.length < 2083 && url.test(url_str);
   $("#tested_value").val('0');

   if(url_str.length=='0'){
      $("#err_results").html('');
      $("#err_results").html('');
      $("#err_results").html('<p id="err_msg" style="color:#e65251;font-weight: bold;">Please enter the url</p>');

      $("#test_btn").text('Test');
      $("#test_btn").removeClass('btn-success fire');
      $("#test_btn").addClass('btn-danger');
      $("#record_loader").hide();

   }else if(!result){
      $("#test_btn").text('Test');
      $("#success").text('');
      $("#err_results").html('');
      $("#test_btn").removeClass('btn-success fire');
      $("#test_btn").addClass('btn-danger');
      $("#err_results").html('<p id="err_msg" style="color:#e65251;font-weight: bold;">Invalid URL..! Please check & cross verify in your url</p>');
      $("#record_loader").hide();

   }else{
      $("#err_msg").text('');
      $("#err_results").html('');
      $("#test_btn").removeClass('btn-danger');
      $("#err_results").html('<p id="success" style="color:#58d8a3;font-weight: bold;">URL is Valid</p>');
      $("#test_btn").text('Fire');
      $("#test_btn").addClass('btn-success fire');
      $("#record_loader").hide();
   
   }
  
}

</script>