<% include ../layouts/help_header %>
<% var access = user['permission_access'];  %>
<% if(access.hasOwnProperty('read')) { %>
<header>
  <div class="container">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <a class="navbar-brand brand-logo" href="/dashboard">
      <img src="/public/images/sms-logo.png" alt="logo" style="max-width: 150px;" />
    </a>
  </div>
    <h2 class="docs-header"> Kasplo - User Documentation</h2>
  </div>
</header>
<section>
  <div class="container site-content">
    <ul class="docs-nav" id="menu-left">
      <li><strong>Getting Started</strong></li>
      <li><a href="#welcome" class=" ">Overview</a></li>
      <li><a href="#benefits" class=" ">Benefits</a></li>
      <li><a href="#features" class=" ">Features</a></li>
      <li><a href="#license" class=" ">License</a></li>
      <li class="separator"></li>
      <li><strong>Modules</strong></li>
      <li><a href="#dashboard" class="">Dashboard</a></li>
      <li><a href="#manage_campaign" class="">Manage Campaign</a></li>
      <li><a href="#manage_import" class="">Manage Import</a></li>
      <li><a href="#sms_link_test" class="">SMS Link Testing</a></li>
      <li><a href="#reports" class="">Reports</a></li>
      <li><a href="#logs" class="">Logs</a></li>
      <li><a href="#settings" class="">Settings</a></li>
      <li><a href="#accounts" class="">Accounts</a></li>
      <li><a href="#cron" class="">CRON</a></li>
      <li><a href="#logout" class="">Logout</a></li>
    </ul>
    <div class="docs-content">
      <a class="text-white font-weight-medium" href="http://panel.kasplo.com" style="float:right;">Back to home</a>
      <h2> Getting Started</h2>
      <h3 id="welcome"> Overview</h3>
      <p> Kasplo is a pure-play SMS marketing tool that is useful for businesses looking to create SMS marketing lists. It enables businesses to embed lead capture forms on their website and also schedule future messages to their audience. The tool also comes with mobile web customization, real-time analytics and easy to use.Firstly, this is a dedicated SMS marketing platform.</p>
     
      <p><b>You can also:</b></p>

      Our SMS API allows you to send text messages to users around the globe through simple RESTful APIs.
      <ul>
      <li>Programmatically send and receive high volume of SMS anywhere in the world.</li>
      <li>Build apps that scale with the web technologies that you are already using.</li>
      <li>Send SMS with low latency and high delivery rates.</li>
      <li>Receive SMS for free using SMS-enabled local numbers in countries around the world.</li>
      Only pay for what you use, nothing more.</li>
      </ul>
    
    
      <h3 id="benefits"> Benefits</h3>
      <ul>
        <li>Easy to maintain everything in one place</li>
        <li>You can store unlimited contacts and high volume</li>
        <li>You can run unlimited campaign and ROI is high</li>
        <li>bitly kind of link implemented in our own product link. It's simple and smart</li>
        <li>You can send sms in batches upto 5,00,000. Upload a file containing Mobile Numbers</li>
        <li>Real-time campaign analytics and Unlimited Clicks</li>
        <li>Fast and Secure platform</li>
      </ul>
      <h3 id="features"> Features</h3>
      <ul>
        <li>Facility to customize to match your website theme</li>
        <li>Detailed and Compact view options</li>
        <li>Comprehensive options to customize animation, colors, orientation and style</li>
        <li>All the power and flexibility of jQuery</li>
        <li>Easy to use with 100% integration</li>
        <li>Facility to customize rating icons</li>
        <li>It's a cloud database and performance is fast</li>
      </ul>
      <h3 id="license"> License</h3>
      <p class="sml">ADCANOPUS.com values the privacy of its users. Reading the following will come handy for understanding ADCANOPUS.com Privacy Policy. The personal information submitted by the users are highly valuable to ADCANOPUS.com. For better understanding and comprehension of the information, ADCANOPUS.com has links to various other foreign websites. The information pertaining to Privacy Policy and other information displayed on this website does not hold good for other websites. In case, there arises any need for you to know about a piece of information relevant to their website, contacting them directly is suggested.</p>
      <hr>
      <h3 id="dashboard"> Dashboard</h3>
      <img src="/public/help/images/5.png">
      <ul>
        <li>Total Count:</li>        
        <ul class="sml">
          <li>Total Category - Overall system total category count</li>
          <li>Total Campaign - Overall system total campaign count</li>
          <li>Total Contacts - Overall system total contacts count</li>
          <li>Total Clicks - Overall system total clicks count</li>
        </ul>
      </ul>
     

      <ul>
        <li>Volume Report- Past 7 daywise showing total click count</li>
      </ul>
      <img src="/public/help/images/6.png" style="height: 300px;">
      <ul>
        <li>Summary Report - Clickwise showing in topten campaign</li>
      </ul>

      <ul>
        <li>Recent Campaign - Recent first five campaign showing to the box</li>
      </ul>

      <ul>
        <li>Top 10 Category - Categorywise top ten clicks showing to the chart</li>
      </ul>

      <ul>
        <li>Top 10 Campaign - Campaignwise top ten clicks showing to the chart</li>
      </ul>

      <h3 id="manage_campaign"> Manage Campaign</h3>
      <img src="/public/help/images/1.png">
      <ul>
        <li>you can create <b>`N`</b> number of campaigns</li>
        <li>Easy to create the campaign with 10 seconds. It's four steps only.</li>
        <li>Very user friendly & user interface.</li>
        <li>Draft features - we will take care of your data without loss.</li>
        <li>Every campaign having <b>`N`</b> of content labels. You can track and watch the CTR(%) contentwise.</li>
        <li>Every Campaign View - Dashboard showing as total sender and total clicker, total content labels</li>
        <li>Every content having cloning features & easy to copy of everything</li>
        <li>Every contentwise showing total sender and respective total clicks</li>
        <li><b>Note:</b> We are showing total unique clicks and Total gross clicks. Total unique click is showing only IP wise unique clicks. Duplicate clicks are showing to gross click. It means repeatly user clicks on again & again.</li>
        <li>You can edit content details at any time.</li>
        <li><b>Two main things:</b>
          <ul>
            <li>Create new content - You can create any new content with any time.</li>
            <li>Copy Content - Already exist content details anytime we can reuse and cloning.It will reduce your hour's</li>
          </ul>
        </li>
        <li><b>Filter Features:</b>
            <ul>
              <li>Basic Filter - Like common filter fields (city,state,country,source,nationality,gender,pincode,operator name,Age).</li>
              <img src="/public/help/images/2.png" style="height: 300px;">
              <li>Advanced Search Filter - you can filter by target specific category contacts with campaignwise and contentlabelwise</li>
              <img src="/public/help/images/3.png" style="height: 300px;">
            </ul>
        </li>
        <li><b>Three Major Toppers:</b>
          <img src="/public/help/images/7.png">
          <ul>
            <li>Sender - Already sent contacts is called sender. For example if your creating new campaign and exported some count of contacts. it's called Sender.</li>
            <li>Non-Sender - Still now your not using this contacts. Fresh contacts are called as non-sender.</li>
            <li>Clicker - We are sending the sms to user. who are all clicked the tracking link. Those people contacts to target with campaign and contentwise.</li>
          </ul>
        </li>
        <li>You can export in batches upto 5,00,000. Export a file containing Mobile Numbers.
      </ul>

      <h3 id="manage_import"> Manage Import</h3>
      <img src="/public/help/images/import.png">
      <ul>
        <li>Bulk Upload and fastest way inserting at one shot.</li>
        <li>You can send sms in batches upto 5,00,000. Upload a file containing Mobile Numbers. Only csv and xlsx format files are allowed</li>
        <li>Programmatically removed duplicate mobile numbers</li>
        <li>You can assign same mobile number with multiple categorywise</li>
        <li>Source is optional.If you want assign the category.</li>
        <li>You can store any fieldname records.Nothing restricted.No need to define database.</li>
      </ul>


      <h3 id="sms_link_test"> SMS Link Test</h3>
      <ul>
      <li>You can test it your destination url and export tracking link at any time</li>
      <li>The main purpose is user able to test with url is correct or wrong</li>
      <li>Every exported time having mobile number with unique tracking link</li>
      <li>Before sending the sms should verify the link. Really link working or not. If is working those reports are showing to test report</li>
      <li>Follow the below steps:
        <ul>
          <li>Step.1 - Type your url</li>
          <li>Step.2 - Click "Test" Button & Verfiy your url is valid (or) not.</li>
          <li>Step.3 - If Valid url means your can fire the url for Final Verification</li>
          <li>Step.4 - When Click on Fire button Mandatory pass url with one more paramter is?type="Dynamic ID". Every time exported as csv having one dynamic tracking url "copy with end of url dynamic id(after tc/)". Otherwise it's not working.
          Example: http://txtby.me?type=Mj26rG_etG</li>
          <li>Step.5 - If Destination Page is showing the Iframe means it's working fine. Otherwise it's not valid & Working URL. Please Confirm with your team.</li>
        </ul>
      </li>
      </ul>


      <h3 id="reports"> Reports</h3>
      <ul>
        <li>We are given the four different kind of reports.</li>
        <li>Every reports having date picker and filter by different options.</li>
        <li>Total Reports:
          <ul>
            <li><b>Category Report</b> - you can watch the clicks categorywise.Any time you can filter categorywise with periods of date.</li>
            <li><b>Campaign Report</b> - you can watch the clicks category with campaign wise.Any time you can filter category and campaignwise with periods of date.</li>
            <li><b>General Report</b> - you can watch the clicks category and campaign with content label wise.Any time you can filter category and campaignwise with periods of date. And one features provided for each click tracking with ip locations. Like where the people clicked.For example,City,operator name,pincode,latitude and lontitude.</li>
            <li><b>Contactswise Report</b> - In this report purpose is we can watch the total contact with different filters. For some confirmation purpose given this report. Anytime they can choose the filters and accordinly contact count is showing</li>
            <li><b>Test Report</b> - All sms test tracking link records showing to this report. Once,user tested with tracking link then confirmation purpose showing the records in this report.</li>
          </ul>
        </li>
      </ul>

      <h3 id="logs"> Activity Logs</h3>
      <ul>
        <li>All logged in user activity things are displaying to here. Any campaign creation,Export and import,IP Location-CRON Updation and CSV Uploading cron confirmation</li>
        <li>When they user loggedin and logged out. So,those logs also showing to here</li>
        <li>Every import time once log is created for confirmation purpose. How much total records are upload and how much records are duplicated.</li>
        <li> We can easy to track all user activities</li>
      </ul>


      <h3> Server Logs</h3>
      <ul>
        <li>All tracking failure clicks are going to server logs. Why clicks are going to failure with reason described this log page.</li>
        <li>Any unanimous trying with manually in tracking link. We are capturing those user IP Locations and those acitivity's showed to server logs.</li>
        <li>We can deeply watch the irrelevant system activities</li>
      </ul>

      <h3 id="settings"> Settings</h3>
      <img src="/public/help/images/settings.png">
      <ul>
        <li>In settings sub menu contain category,nationalities,country,state,city,source,Operator name,Profession</li>
        <li>We can add anything in settings. Those all are listed in basic filter section</li>
        <li>Source Name always unique. Once source name is added those are all values are showing to import page & Filters</li>
        
      <h3 id="accounts"> Accounts</h3>
      <ul>
        <li>You can create the new user account.</li>
        <li>Easy to create and secure</li>
        <li>All passwords are encrypted with passport token.</li>
      </ul>

      <h3 id="cron"> Cron </h3>
      <img src="/public/help/images/cron.png">
      <ul>
        <li>Mandatory pass the category id. Otherwise files are not imported.</li>
        <li>Lead date and source id is optional</li>
        <li>Cron confirmation purpose sending the email to respective managers.</li>
      </ul>

      <h3 id="cron"> Logout </h3>
      <ul>
        <li>logout the system.</li>
      </ul>
   
    </div>
  </div>
</section>
<% } %>
<% include ../layouts/help_footer %>