<% include ./../layouts/header %>
<% include ./../layouts/top_header %>
<% include ./../layouts/side_menu %>

<div class="col-md-10 compressedContentWidth">

    <div class="col-md-12 topSectionContent">

        <div class="tabParentSection releaseTabSec">

            <div class="col-md-3 leftContentBg releaseTabSec">

                <h3 class="">Release Notes</h3>

                <h4 class="">09 Release</h4>

                <div class="tab">

                    <button class="tablinks" onclick="openRelease(event, 'nine')" id="latestRelease">
                        
                        <span class="nonActiveContent"> <span class="pullLeft">Version 1.9</span> <span class="pullRight">02 January. 2020</span> </span>
                        
                        <span class="activeContent"> 
                            <span class="versionName">Version 1.9</span> 
                            <br>
                            <div class="clearfix"></div>
                            <span class="timeName"> <span class="pullLeft"> 02 January. 2020 </span> <span class="pullRight"> 03 min Ago </span> </span>
                        </span>

                    </button>

                    <button class="tablinks" onclick="openRelease(event, 'eight')">

                        <span class="nonActiveContent"> <span class="pullLeft">Version 1.8</span> <span class="pullRight">10 October. 2019</span> </span>
                        
                        <span class="activeContent"> 
                            <span class="versionName">Version 1.8</span> 
                            <br>
                            <div class="clearfix"></div>
                            <span class="timeName"> <span class="pullLeft"> 10 October. 2019 </span> <span class="pullRight"> 4 Months Ago </span> </span>
                        </span>

                    </button>

                    <button class="tablinks" onclick="openRelease(event, 'seven')">

                        <span class="nonActiveContent"> <span class="pullLeft">Version 1.7</span> <span class="pullRight">13 September. 2019</span> </span>
                        
                        <span class="activeContent"> 
                            <span class="versionName">Version 1.7</span> 
                            <br>
                            <div class="clearfix"></div>
                            <span class="timeName"> <span class="pullLeft"> 13 September. 2019 </span> <span class="pullRight"> 5 Months Ago </span> </span>
                        </span>

                    </button>

                    <button class="tablinks" onclick="openRelease(event, 'six')">

                        <span class="nonActiveContent"> <span class="pullLeft">Version 1.6</span> <span class="pullRight">23 July. 2019</span> </span>
                        
                        <span class="activeContent"> 
                            <span class="versionName">Version 1.6</span> 
                            <br>
                            <div class="clearfix"></div>
                            <span class="timeName"> <span class="pullLeft"> 23 July. 2019 </span> <span class="pullRight"> 7 Months Ago </span> </span>
                        </span>

                    </button>

                    <button class="tablinks" onclick="openRelease(event, 'five')">

                        <span class="nonActiveContent"> <span class="pullLeft">Version 1.5</span> <span class="pullRight">01 July. 2019</span> </span>
                        
                        <span class="activeContent"> 
                            <span class="versionName">Version 1.5</span> 
                            <br>
                            <div class="clearfix"></div>
                            <span class="timeName"> <span class="pullLeft"> 01 July. 2019 </span> <span class="pullRight"> 7 Months Ago </span> </span>
                        </span>

                    </button>

                    <button class="tablinks" onclick="openRelease(event, 'four')">

                        <span class="nonActiveContent"> <span class="pullLeft">Version 1.4</span> <span class="pullRight">24 June. 2019</span> </span>
                        
                        <span class="activeContent"> 
                            <span class="versionName">Version 1.4</span> 
                            <br>
                            <div class="clearfix"></div>
                            <span class="timeName"> <span class="pullLeft"> 24 June. 2019 </span> <span class="pullRight"> 6 Months Ago </span> </span>
                        </span>

                    </button>

                    <button class="tablinks" onclick="openRelease(event, 'three')">

                        <span class="nonActiveContent"> <span class="pullLeft">Version 1.3</span> <span class="pullRight">13 June. 2019</span> </span>
                        
                        <span class="activeContent"> 
                            <span class="versionName">Version 1.3</span> 
                            <br>
                            <div class="clearfix"></div>
                            <span class="timeName"> <span class="pullLeft"> 13 June. 2019 </span> <span class="pullRight"> 6 Months Ago </span> </span>
                        </span>

                    </button>

                    <button class="tablinks" onclick="openRelease(event, 'two')">

                        <span class="nonActiveContent"> <span class="pullLeft">Version 1.2</span> <span class="pullRight">01 June. 2019</span> </span>
                        
                        <span class="activeContent"> 
                            <span class="versionName">Version 1.2</span> 
                            <br>
                            <div class="clearfix"></div>
                            <span class="timeName"> <span class="pullLeft"> 01 June. 2019 </span> <span class="pullRight"> 6 Months Ago </span> </span>
                        </span>

                    </button>

                    <button class="tablinks" onclick="openRelease(event, 'one')">

                        <span class="nonActiveContent"> <span class="pullLeft">Version 1.1</span> <span class="pullRight">13 May. 2019</span> </span>
                        
                        <span class="activeContent"> 
                            <span class="versionName">Version 1.1</span> 
                            <br>
                            <div class="clearfix"></div>
                            <span class="timeName"> <span class="pullLeft"> 13 May. 2019 </span> <span class="pullRight"> 7 Months Ago </span> </span>
                        </span>

                    </button>



                </div>
                
            </div>

            <div class="col-md-8 rightContentBg">
                <div id="one" class="tabcontent">

                    <div class="releaseHeadSec">
                        <h2> Version 1.1 </h2> <span>02 January. 2020 | 03 min ago</span>
                    </div>

                    <div class="clearfix"></div>

                    <div class="releaseBodySec">

                        <ul>
                            <h3>Following Features are implemented and Bugs are resolved</h3>

                            <li>
                                Issue: whenever the data uploading process is live none of the short links will work.
                                This may affect the conversions
                            </li>

                            <li>
                                While uploading or Finding the Contacts getting below errors

                                <ul>
                                    <li>504 Gateway Timeout</li>
                                    <li>502 Bad Gateway</li>
                                    <li>"Network error: Software caused connection abort"</li>
                                    <li>We are getting the issue is "Server Unexpectedly Closed network connection".</li>
                                </ul>
                            </li>

                            <li>
                                Email - Notification to User - Whenever users are creating the New campaign (or) New Content means notification sending to teammates.
                                10 October. 2019 - Version 1.8 - Release Update
                            </li>
                        </ul>

                    </div>

                </div>
                
                <div id="two" class="tabcontent">
                    
                    <div class="releaseHeadSec">
                        <h2> Version 1.2 </h2> <span>02 January. 2020 | 03 min ago</span>
                    </div>

                    <div class="clearfix"></div>

                    <div class="releaseBodySec">

                        <ul>
                            <h3>Following Features are implemented and Bugs are resolved</h3>

                            <li>
                                Issue: whenever the data uploading process is live none of the short links will work.
                                This may affect the conversions
                            </li>

                            <li>
                                While uploading or Finding the Contacts getting below errors

                                <ul>
                                    <li>504 Gateway Timeout</li>
                                    <li>502 Bad Gateway</li>
                                    <li>"Network error: Software caused connection abort"</li>
                                    <li>We are getting the issue is "Server Unexpectedly Closed network connection".</li>
                                </ul>
                            </li>

                            <li>
                                Email - Notification to User - Whenever users are creating the New campaign (or) New Content means notification sending to teammates.
                                10 October. 2019 - Version 1.8 - Release Update
                            </li>
                        </ul>

                    </div>

                </div>
                
                <div id="three" class="tabcontent">
                    
                    <div class="releaseHeadSec">
                        <h2> Version 1.3 </h2> <span>02 January. 2020 | 03 min ago</span>
                    </div>

                    <div class="clearfix"></div>

                    <div class="releaseBodySec">

                        <ul>
                            <h3>Following Features are implemented and Bugs are resolved</h3>

                            <li>
                                Issue: whenever the data uploading process is live none of the short links will work.
                                This may affect the conversions
                            </li>

                            <li>
                                While uploading or Finding the Contacts getting below errors

                                <ul>
                                    <li>504 Gateway Timeout</li>
                                    <li>502 Bad Gateway</li>
                                    <li>"Network error: Software caused connection abort"</li>
                                    <li>We are getting the issue is "Server Unexpectedly Closed network connection".</li>
                                </ul>
                            </li>

                            <li>
                                Email - Notification to User - Whenever users are creating the New campaign (or) New Content means notification sending to teammates.
                                10 October. 2019 - Version 1.8 - Release Update
                            </li>
                        </ul>

                    </div>

                </div>

                <div id="four" class="tabcontent">
                    
                    <div class="releaseHeadSec">
                        <h2> Version 1.4 </h2> <span>02 January. 2020 | 03 min ago</span>
                    </div>

                    <div class="clearfix"></div>

                    <div class="releaseBodySec">

                        <ul>
                            <h3>Following Features are implemented and Bugs are resolved</h3>

                            <li>
                                Issue: whenever the data uploading process is live none of the short links will work.
                                This may affect the conversions
                            </li>

                            <li>
                                While uploading or Finding the Contacts getting below errors

                                <ul>
                                    <li>504 Gateway Timeout</li>
                                    <li>502 Bad Gateway</li>
                                    <li>"Network error: Software caused connection abort"</li>
                                    <li>We are getting the issue is "Server Unexpectedly Closed network connection".</li>
                                </ul>
                            </li>

                            <li>
                                Email - Notification to User - Whenever users are creating the New campaign (or) New Content means notification sending to teammates.
                                10 October. 2019 - Version 1.8 - Release Update
                            </li>
                        </ul>

                    </div>

                </div>
                
                <div id="five" class="tabcontent">
                   
                    <div class="releaseHeadSec">
                        <h2> Version 1.5 </h2> <span>02 January. 2020 | 03 min ago</span>
                    </div>

                    <div class="clearfix"></div>

                    <div class="releaseBodySec">

                        <ul>
                            <h3>Following Features are implemented and Bugs are resolved</h3>

                            <li>
                                Issue: whenever the data uploading process is live none of the short links will work.
                                This may affect the conversions
                            </li>

                            <li>
                                While uploading or Finding the Contacts getting below errors

                                <ul>
                                    <li>504 Gateway Timeout</li>
                                    <li>502 Bad Gateway</li>
                                    <li>"Network error: Software caused connection abort"</li>
                                    <li>We are getting the issue is "Server Unexpectedly Closed network connection".</li>
                                </ul>
                            </li>

                            <li>
                                Email - Notification to User - Whenever users are creating the New campaign (or) New Content means notification sending to teammates.
                                10 October. 2019 - Version 1.8 - Release Update
                            </li>
                        </ul>

                    </div>

                </div>
                
                <div id="six" class="tabcontent">
                    
                    <div class="releaseHeadSec">
                        <h2> Version 1.6 </h2> <span>02 January. 2020 | 03 min ago</span>
                    </div>

                    <div class="clearfix"></div>

                    <div class="releaseBodySec">

                        <ul>
                            <h3>Following Features are implemented and Bugs are resolved</h3>

                            <li>
                                Issue: whenever the data uploading process is live none of the short links will work.
                                This may affect the conversions
                            </li>

                            <li>
                                While uploading or Finding the Contacts getting below errors

                                <ul>
                                    <li>504 Gateway Timeout</li>
                                    <li>502 Bad Gateway</li>
                                    <li>"Network error: Software caused connection abort"</li>
                                    <li>We are getting the issue is "Server Unexpectedly Closed network connection".</li>
                                </ul>
                            </li>

                            <li>
                                Email - Notification to User - Whenever users are creating the New campaign (or) New Content means notification sending to teammates.
                                10 October. 2019 - Version 1.8 - Release Update
                            </li>
                        </ul>

                    </div>

                </div>

                <div id="seven" class="tabcontent">
                    
                    <div class="releaseHeadSec">
                        <h2> Version 1.7 </h2> <span>02 January. 2020 | 03 min ago</span>
                    </div>

                    <div class="clearfix"></div>

                    <div class="releaseBodySec">

                        <ul>
                            <h3>Following Features are implemented and Bugs are resolved</h3>

                            <li>
                                Issue: whenever the data uploading process is live none of the short links will work.
                                This may affect the conversions
                            </li>

                            <li>
                                While uploading or Finding the Contacts getting below errors

                                <ul>
                                    <li>504 Gateway Timeout</li>
                                    <li>502 Bad Gateway</li>
                                    <li>"Network error: Software caused connection abort"</li>
                                    <li>We are getting the issue is "Server Unexpectedly Closed network connection".</li>
                                </ul>
                            </li>

                            <li>
                                Email - Notification to User - Whenever users are creating the New campaign (or) New Content means notification sending to teammates.
                                10 October. 2019 - Version 1.8 - Release Update
                            </li>
                        </ul>

                    </div>

                </div>
                
                <div id="eight" class="tabcontent">
                    
                    <div class="releaseHeadSec">
                        <h2> Version 1.8 </h2> <span>02 January. 2020 | 03 min ago</span>
                    </div>

                    <div class="clearfix"></div>

                    <div class="releaseBodySec">

                        <ul>
                            <h3>Following Features are implemented and Bugs are resolved</h3>

                            <li>
                                Issue: whenever the data uploading process is live none of the short links will work.
                                This may affect the conversions
                            </li>

                            <li>
                                While uploading or Finding the Contacts getting below errors

                                <ul>
                                    <li>504 Gateway Timeout</li>
                                    <li>502 Bad Gateway</li>
                                    <li>"Network error: Software caused connection abort"</li>
                                    <li>We are getting the issue is "Server Unexpectedly Closed network connection".</li>
                                </ul>
                            </li>

                            <li>
                                Email - Notification to User - Whenever users are creating the New campaign (or) New Content means notification sending to teammates.
                                10 October. 2019 - Version 1.8 - Release Update
                            </li>
                        </ul>

                    </div>

                </div>
                
                <div id="nine" class="tabcontent">
                    
                    <div class="releaseHeadSec">
                        <h2> Version 1.9 </h2> <span>02 January. 2020 | 03 min ago</span>
                    </div>

                    <div class="clearfix"></div>

                    <div class="releaseBodySec">

                        <ul>
                            <h3>Following Features are implemented and Bugs are resolved</h3>

                            <li>
                                Issue: whenever the data uploading process is live none of the short links will work.
                                This may affect the conversions
                            </li>

                            <li>
                                While uploading or Finding the Contacts getting below errors

                                <ul>
                                    <li>504 Gateway Timeout</li>
                                    <li>502 Bad Gateway</li>
                                    <li>"Network error: Software caused connection abort"</li>
                                    <li>We are getting the issue is "Server Unexpectedly Closed network connection".</li>
                                </ul>
                            </li>

                            <li>
                                Email - Notification to User - Whenever users are creating the New campaign (or) New Content means notification sending to teammates.
                                10 October. 2019 - Version 1.8 - Release Update
                            </li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>

</div>

</div>

<% include ./../layouts/footer %>

<script>
        
  function openRelease(evt, releaseName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(releaseName).style.display = "block";
      evt.currentTarget.className += " active";
  }
  
  document.getElementById("latestRelease").click();
  
</script>