<% include ./../layouts/header %>
<% include ./../layouts/top_header %>
<% include ./../layouts/side_menu %>
<% var access = user['permission_access'];  %>
<form role="form" class="campaign-save" id="campaign-save" type="post" onsubmit="button_mode.disabled = true; return true;">

<div class="col-md-10 compressedContentWidth">

  <div class="col-md-12 topSectionContent">

      <div class="parentStepperSection">

          <div class="headerSection">

              <div class="col-md-12 contentHeader">
                  <h3>Manage Campaign</h3>
              </div>

              <div class="col-md-12 centerText marginTop3">

                  <div class="stepperSteps campaignStep">
                      
                      <div class="stepImgSec">
                          <img src="../../public/images/addCampaign/campaign.png" alt="">
                      </div>

                      <div class="stepDotSec">
                          <div class="dots campaignDots notActiveColor"></div>
                      </div>

                  </div>

                  <div class="stepperSteps contactStep">

                      <div class="stepImgSec">
                          <img src="../../public/images/addCampaign/contact.png" class="contactImg imageOpactiyColor" alt="">
                      </div>

                      <div class="stepDotSec">
                          <div class="dots contactDots notActiveColor"></div>
                      </div>

                  </div>

                  <div class="stepperSteps sendsmsStep">

                      <div class="stepImgSec">
                          <img src="../../public/images/addCampaign/send_sms.png" class="sendSmsImg imageOpactiyColor" alt="">
                      </div>

                  </div>

              </div>

              <div class="col-md-12 centerText marginTop5px">
                  <h2>
                  <div class="stepImgSec">
                      <p> <small> <b> Campaign </b></small> </p>
                  </div>
                  </h2>
                  <div class="stepDotSecText">
                      
                  </div>

                  <div class="stepImgSec">
                      <p> <small> <b> Contacts </b> </small> </p>
                  </div>

                  <div class="stepDotSecText">
                      
                  </div>

                  <div class="stepImgSec">
                      <p> <small> <b> Send SMS </b> </small> </p>
                  </div>
              </div>
              
          </div>
          
          <div class="contentSection">
            
            
              <div id="campaignContent" class="active">
                  <h2></h2>
                  <section>
                    <div class="col-md-12 marginTop3">

                        <div class="col-md-7 paddingZero">

                            <div class="col-sm-12 marginTop3">

                                <div class="form-group">

                                    <div class="col-sm-6">
                                      <label for="campaignname" class="">Campaign Name</label>
                                      <input  class="form-control input-group-md" type="text" id="campaign-name" name="campaign_name"  placeholder="Campaign Name">
                                    </div>

                                    <div class="col-sm-6">
                                      <label for="lastname">Category</label>
                                      <select  class="form-control jsSelect to_Category" name="category_id" id="category_id">
                                          <option value="">Category 1</option>
                                          <option value="">Category 2</option>
                                          <option value="">Category 3</option>
                                          <option value="">Category 4</option>
                                      </select>
                                    </div>

                                </div>


                                <div class="form-group">

                                    <div class="col-sm-12 marginTop3">
                                      <label for="campaignname" class="">Content Label Name</label>
                                      <input class="form-control input-group-md" type="text" id="content_label_name" name="content_label_name"  placeholder="Content Label Name">
                                    </div>

                                </div>

                                <div class="form-group">

                                    <div class="col-sm-12 marginTop3">
                                      <label for="smscontent" class="">SMS Content</label> <label class="pull-right" for=""> <small class="contentfadeColor">Characters: </small> 120 </label>
                                      <textarea id="sent_messages" name="message" class="form-control input-group-md"   placeholder="SMS Content">
                                      </textarea>
                                      <label for="">Note</label>
                                      <p class="font12 contentfadeColor"> Give {url} parameter to your sms content want to track through your traffic to append into the message.</p>
                                    </div>
                                     <div class="col-sm-2">
                                        <button class="btn btn-primary" id="msg_type">Insert Link</button>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="col-sm-12 marginTop3">
                                        <label for="campaignname" class="">Destination URL</label>
                                        <input id="destination_url" name="destination_url"  class="form-control input-group-md" type="url"  placeholder="URL">
                                    </div>

                                   
                                </div>

                            </div>

                        </div>

                        <div class="col-md-5">

                            <div class="messageDisplaySec centerText">
                                <img src="../../public/images/addCampaign/mobile_interface.png" alt="">
                            </div>

                        </div>

                    </div>

                    <div class="clearfix"></div>
                  </section>
                    

              </div>
            
              <!-- Contact Section Content -->
             
              <div id="contactContent" class="displayNone">
              <h2></h2>
                <section>
                  <div class="col-md-12 marginTop3em">

                      <div class="form-group">

                          <div class="col-sm-6">
                              <label for="campaignname" class="">Filter Category</label> <label class="pull-right" for="" onclick="openNav()"> <img src="../../public/images/addCampaign/filter.svg" alt="" height="20"> </label>
                              <select  class="form-control input-group-md" name="category" id="category">
                                  <option value="">Select Category</option>
                                  <option value="">Category 1</option>
                                  <option value="">Category 2</option>
                                  <option value="">Category 3</option>
                                  <option value="">Category 4</option>
                              </select>
                              <label class="marginTop5px" for=""> Note <small class="contentfadeColor"> Campaign Category : Astrology </small> </label>
                          </div>

                          <div class="col-sm-6">
                            <label for="lastname">Topper</label>
                            <select  class="form-control input-group-md" name="category" id="category">
                                <option value="">Sender</option>
                                <option value="">Sender 1</option>
                                <option value="">Sender 2</option>
                                <option value="">Sender 3</option>
                                <option value="">Sender 4</option>
                            </select>
                            <label class="marginTop5px" for=""> Note <small class="contentfadeColor"> Please select respective campaign category </small> </label>
                            
                          </div>

                      </div>

                  </div>
                  
                  <br>

                  <div class="clearfix"></div>

                  <br>

                  <hr />

                  <div class="col-md-12 marginTop3">
                      <div class="col-md-6 paddingZero"> <h4> Advanced search </h4> </div>

                      <div class="col-md-6 paddingZero rightText">
                          <img src="../../public/images/addCampaign/add.svg" alt="" height="35">
                      </div>
                  </div>

                  <div class="form-group">

                      <div class="col-sm-6 marginTop3">
                          <label for="campaignname" class="">Filter Campaign</label>
                          <select class="form-control input-group-md" name="category" id="category">
                              <option value="">Select a Campaign</option>
                              <option value="">Campaign 1</option>
                              <option value="">Campaign 2</option>
                              <option value="">Campaign 3</option>
                              <option value="">Campaign 4</option>
                          </select>
                         
                      </div>

                      <div class="col-sm-6 marginTop3">
                        <label for="lastname">Filter Content Label</label>
                        <select  class="form-control input-group-md" name="category" id="category">
                            <option value="">Select a Campaign conter</option>
                            <option value="">Sender 1</option>
                            <option value="">Sender 2</option>
                            <option value="">Sender 3</option>
                            <option value="">Sender 4</option>
                        </select>
                        
                      </div>

                  </div>

                  <div class="col-md-12 marginTop3">
                      <label for="campaignname" class="">Mode</label>
                      <br>
                      <button class="btn btn-primary"> Include </button>
                      <button class="btn btn-default"> Exclude </button>
                  </div>




                  <div class="clearfix"></div>

                </section>

              </div>
             
              <!-- SMS Content -->
              
              <div id="smsSendContact" class="displayNone">
                <section>
                  <div class="col-md-12 marginTop3">
                      <div class="col-md-8 paddingZero"> <h3> Advanced search </h3> </div>
                  </div>

                  <div class="col-md-12 marginTop5px">
                      <div class="col-md-6 paddingZero"> <h4> Filter By </h4> </div>
                      <div class="col-md-6 marginTop5px paddingZero rightText"> <span>Total Contacts : <b>13742</b> </span> </div>
                  </div>

                  <div class="col-md-12 marginTop5px">
                      <p> Filter Category : <b class="primaryColor"> BFSI- Personal Loan </b>  | Age : <b class="primaryColor"> 23-32 </b>  | Topper : <b class="primaryColor"> Sender </b>  | Mode : <b class="primaryColor"> Exclude </b> </p>
                  </div>

                  <div class="form-group">

                      <div class="col-sm-6 marginTop3">
                          <label for="recordselection" class="">Record Selection</label>
                          <input id="recordselection" class="form-control input-group-md" type="text" name="recordselection"  placeholder="Min Record">
                         
                      </div>

                      <div class="col-sm-6 marginTop3">
                          <label for="recordselection" class="">&nbsp;</label>
                          <input id="recordselection" class="form-control input-group-md" type="text" name="recordselection"  placeholder="Max Record">
                      </div>

                  </div>


                  <div class="form-group">

                      <div class="col-sm-6 marginTop3">

                          <label for="recordselection" class=""> SMPP </label>
                          <select  class="form-control input-group-md" name="category" id="category">
                              <option value="">Select SMPP</option>
                              <option value="">SMPP 1</option>
                              <option value="">SMPP 2</option>
                              <option value="">SMPP 3</option>
                              <option value="">SMPP 4</option>
                          </select>

                      </div>

                      <div class="col-sm-6 marginTop3">

                          <label for="from" class=""> From </label> <label class="pull-right"> <a href="##">Select your Sender ID</a> </label>
                          <select  class="form-control input-group-md" name="from" id="from">
                              <option value="">Select From</option>
                              <option value="">From 1</option>
                              <option value="">From 2</option>
                              <option value="">From 3</option>
                              <option value="">From 4</option>
                          </select>
                          <label class="marginTop5px" for=""> <a href="##"> Add new sender IDs </a> </label>
                      </div>

                  </div>

                  <div class="col-md-12 marginTop3">
                    
                      <button class="btn btn-primary" data-toggle="modal" data-target="#previewModal"> Preview </button>
                      <button class="btn btn-default" data-toggle="modal" data-target="#testModal"> Test With Me </button>

                  </div>




                  <div class="clearfix"></div>

                </section>
              </div>
            
          </div>

      </div>

  </div>

</div>

</div>

</div>

<% include ./campaign/basic_search_filter %>
</form>

<!-- Modals Sections  -->



<!-- Preview Modal -->

<div class="modal fade" id="previewModal" role="dialog">

<div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content">

  <div class="modal-header">
  
      <img src="../../public/images/addCampaign/close_btn.svg" alt="" data-dismiss="modal">

      <h3 class="modal-title">Campaign Confirmation</h3>

  </div>

  <div class="clearfix"></div>

  <div class="modal-body">

      <div class="col-sm-12">
          <table class="table modalTable">
              
              <tbody>

              <tr>
                  <td> Campaign Name </td>
                  <td> <b class="primaryColor"> Cashe </b> </td>
              </tr>

              <tr>
                  <td>Campaign Category</td>
                  <td> <b class="primaryColor"> BFSI- Personal Loan </b> </td>
              </tr>

              <tr>
                  <td>Campaign Content</td>
                  <td> <b class="primaryColor"> Test </b> </td>
              </tr>

              <tr>
                  <td>Total Contacts</td>
                  <td> <b class="primaryColor"> 13742 </b> </td>
              </tr>

              </tbody>
          </table>

          <label for=""> <b>Note : </b> You can export in batches upto 5,00,000</label>

      </div>

      <div class="clearfix"></div>

      <div class="col-sm-12 paddingZero">

          <div class="form-group">

              <div class="col-sm-9 marginTop3">
                  <label for="campaignname" class="">Destination URL</label>
                  <input id="campaignname" class="form-control input-group-md" type="text" name="campaignname"  placeholder="URL">
              </div>

              <div class="col-sm-3 insertUrlButtonMargin">
                  <label for="campaignname" class=""> </label>
                  <button class="btn btn-primary">Insert Link</button>
              </div>

          </div>

          <div class="form-group">

              <div class="col-sm-12 marginTop3">
                  <label for="smscontent" class="">SMS Content</label> <label class="pull-right" for=""> <small class="contentfadeColor">Characters: </small> 120 </label>
                  <textarea id="smscontent" class="form-control input-group-md"   placeholder="SMS Content">
                  </textarea>
          
              </div>

          </div>

      </div>

      <div class="clearfix"></div>

      <div class="col-sm-12 marginTop3">
          <table class="table modalSecondTable">

              <thead>
                  <tr>
                      <th>Message Type</th>
                      <th>SMPP</th>
                      <th>Sender ID</th>
                  </tr>
              </thead>
              
              <tbody>

              <tr>
                  <td> <b> Text SMS </b> </td>
                  <td> <b> Karix </b> </td>
                  <td> <b> Aanthe </b> </td>
              </tr>

              </tbody>

          </table>
          
      </div>
  
  </div>

  <div class="clearfix"></div>

  <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"> Send SMS Now </button>
  </div>

</div>

</div>  

</div>


<!-- Test Modal -->

<div class="modal fade" id="testModal" role="dialog">

<div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content">

  <div class="modal-header">
  
      <img src="../../public/images/addCampaign/close_btn.svg" alt="" data-dismiss="modal">

      <h3 class="modal-title">Testing With SMS Format & Link Confirmation</h3>

  </div>

  <div class="clearfix"></div>

  <div class="modal-body">

      <div class="col-sm-12">

          <table class="table modalTestTable">
              
              <tbody>

                  <tr>
                      <td> Campaign Name </td>
                      <td>  <b> : &nbsp; Cashe </b> </td>
                  </tr>

                  <tr>
                      <td>Campaign Category</td>
                      <td>  <b> : &nbsp; BFSI- Personal Loan </b> </td>
                  </tr>

              </tbody>

          </table>

      </div>

      <div class="clearfix"></div>

      <div class="col-sm-12 paddingZero">

          <div class="form-group">

              <div class="col-sm-12 marginTop3">

                  <label for="recordselection" class=""> Select Mobile Number </label>
                  <select  class="form-control input-group-md" name="category" id="category">
                      <option value="">Ashwini Gowda</option>
                      <option value="">Mobile Number 1</option>
                      <option value="">Mobile Number 2</option>
                      <option value="">Mobile Number 3</option>
                      <option value="">Mobile Number 4</option>
                  </select>

              </div>

          </div>

          <div class="form-group">

              <div class="col-sm-9 marginTop3">
                  <label for="campaignname" class="">Destination URL</label>
                  <input id="campaignname" class="form-control input-group-md" type="text" name="campaignname"  placeholder="URL">
              </div>

              <div class="col-sm-3 insertUrlButtonMargin">
                  <label for="campaignname" class=""> </label>
                  <button class="btn btn-primary">Insert Link</button>
              </div>

          </div>

          <div class="form-group">

              <div class="col-sm-12 marginTop3">
                  <label for="smscontent" class="">SMS Content</label> <label class="pull-right" for=""> <small class="contentfadeColor">Characters: </small> 120 </label>
                  <textarea id="smscontent" class="form-control input-group-md"   placeholder="SMS Content">
                  </textarea>
          
              </div>

          </div>

      </div>

      <div class="clearfix"></div>

      <div class="col-sm-12 marginTop3">
          <table class="table modalSecondTable">

              <thead>
                  <tr>
                      <th>Message Type</th>
                      <th>SMPP</th>
                      <th>Sender ID</th>
                  </tr>
              </thead>
              
              <tbody>

              <tr>
                  <td> <b> Text SMS </b> </td>
                  <td> <b> Karix </b> </td>
                  <td> <b> Aanthe </b> </td>
              </tr>

              </tbody>

          </table>
          
      </div>
  
  </div>

  <div class="clearfix"></div>

  <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"> Send SMS Now </button>
  </div>

</div>

</div>  

</div>
<% include ./../layouts/footer %>
<script src="../public/scripts/wrunner-jquery.js"></script>
<script type="text/javascript" src="../public/scripts/script.js"></script>

<script>
    
    $( document ).ready(function() {
        $("#campaignContent").show();
        $("#contactContent").hide();
        $("#smsSendContact").hide();

        $("#campaignNext").click( function(){
            $("#contactContent").show();
            $("#campaignContent").hide();
            $(".contactImg").removeClass("imageOpactiyColor");
            $(".campaignDots").removeClass("notActiveColor");

        });

        $("#contactBack").click( function(){
            $("#contactContent").hide();
            $("#campaignContent").show();
        });

        $("#contactNext").click( function(){
            $("#contactContent").hide();
            $("#campaignContent").hide();
            $("#smsSendContact").show();
            $(".sendSmsImg").removeClass("imageOpactiyColor");
            $(".contactDots").removeClass("notActiveColor");
        });

        $("#smsBack").click( function(){
            $("#contactContent").show();
            $("#campaignContent").hide();
            $("#smsSendContact").hide();
        });



    });

    function openNav() {
    document.getElementById("mySidenav").style.width = "70%";
    }

    function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    }

 

    </script>

    <script>
    
    $("#anchor2").wRunner({

        // step size
        step: 1,

        // or 'range'
        type: "range",

        // min/max values
        limits: {
        minLimit: 0, 
        maxLimit: 100
        },

        // default value
        singleValue: 50,
        rangeValue: { 
        minValue: 20, 
        maxValue: 80 
        },

        // root element
        roots: document.body,

        // theme name
        theme: "default",

        // or 'vertical'
        direction: 'horizontal'

        });

    </script>