<% include ../layouts/header %>
<div class="content-wrapper">
   <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
         <div class="card-body">
            <h4 class="card-title">Create - New Campaign Content <br>
               <span style="font-size: 14px;">(Campaign Name: <%= get_campaign_details.name;  %>)</span>
            </h4>
            <a href="/campaign/view/<%= campaign_id %>"><button class="btn btn-danger" style="float:right;"><i class="mdi mdi-backup-restore" data-name="mdi mdi-backup-restore"></i> Back</button></a>
            <form role="form" class="campaign-save" id="campaign-save" action="/export/export_and_add_new_content_save" type="post" onsubmit="button_mode.disabled = true; return true;">
               <input type="hidden" value="view" name="page_name" id="page_name">
               <input type="hidden" name="campaign_id" id="campaign_id" value="<%= campaign_id;  %>">
               <input type="hidden" name="stored_camp_id" id="stored_camp_id" value="<%= campaign_id;  %>">
               <input type="hidden" name="get_campaign_name" id="get_campaign_name" value="<%= get_campaign_details.name;  %>">
               <input type="hidden" id="get_category_name" value="<%= get_category_details.name;  %>">
               <input type="hidden" id="category_id" name="category_id" value="<%= get_category_details._id;  %>">
               <input type="hidden" id="camp_content_label" name="camp_content_label" value="<%= camp_lbl_ids_arr;  %>">
               <input type="hidden" class="form-check-input " name="content_mode" id="newContent" value="new_content"
                  checked=""> 
               <div id="form-total">

                  <!-- Included all step forms -->   

                  <% include add_new_content/step_1 %>
                  <% include add_new_content/step_2 %>
                  <% include add_multiple_filters_tab %>
                  <% include add_new_content/step_3 %>

                  <!-- Included all step forms -->                
             
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<!-- Modal POPUP - Include - Start -->
<% include preview_modal_popup %>
<!-- Modal POPUP - Include - Stop -->

<!-- Modal POPUP - Add new sender ID - Start -->
<% include add_new_sender_id_pop_up %>
<!-- Modal POPUP - Add new sender ID - Stop -->

<!-- Modal POPUP - Testing SMS - Start -->
<% include test_sms_modal_popup %>
<!-- Modal POPUP - Testing SMS - Stop -->

<!-- Modal POPUP - Testing SMS - Start -->
<% include schedule_preview_modal_popup %>
<!-- Modal POPUP - Testing SMS - Stop -->

<!-- Modal POPUP - Add Numbers - Start -->
<% include add_numbers_preview_modal_popup %>
<!-- Modal POPUP - Add Numbers - Stop -->

<% include ../layouts/footer %>

<!-- multiple filters adv search add and remove tabs - JS-->
<script src="/public/js/campaign/multiple_filters_adv_search.js"></script>

<!-- Age Range Js-->
<script src="/public/js/campaign/age_range.js"></script>

<!-- Basic - Search Filter Js-->
<script src="/public/js/campaign/search.js"></script>

<!-- Advanced Search Filter Js-->
<script src="/public/js/campaign/filter.js"></script>

<!-- SMS Content Box Validations Js-->
<script src="/public/js/campaign/send_sms.js"></script>

<!-- Minimum and Maximum Validations Js-->
<script src="/public/js/campaign/min_and_max.js"></script>

<!-- Select2-ID Js-->
<script src="/public/js/campaign/select_2.js"></script>

<!-- Dependant Dropdown Js-->
<script src="/public/js/dropdown/dependent_dropdown.js"></script>

<!-- State and City Js-->
<script src="/public/js/dropdown/state_city.js"></script>
<!-- Preview button add numbers - JS-->
<script src="/public/js/campaign/add_numbers.js"></script>

<!-- SMPP JS-->
<script src="/public/js/dropdown/smpp_data.js"></script>

<!-- Bootstrap - Exclude and Include Button - CSS and Js Files - Start -->
<link href="/public/css/bootstrap-toggle.min.css" rel="stylesheet" />
<script src="/public/js/bootstrap-toggle.min.js"></script>

<!-- Sender ID Validation - POP UP - JS-->
<script src="/public/js/campaign/sender_id.js"></script>


<!-- Datepicker JS-->
<script src="/public/js/dropdown/date_picker.js"></script>

<!-- Preview button Validation - JS-->
<script src="/public/js/campaign/preview_validation.js"></script>

<!-- Preview button Test With SMS - JS-->
<script src="/public/js/campaign/test_with_sms.js"></script>

<!-- Schedule button - JS-->
<script src="/public/js/campaign/schedule_sms.js"></script>



<script type="text/javascript">
   $(document).ready(function() {

      $('#previewCSVModal').modal({
        backdrop: 'static',
        keyboard: false,
        show: false
      });

      $('#filter_mode').bootstrapToggle({
        on: 'Include',
        off: 'Exclude'
      });
   });
</script>


<script type="text/javascript">

  $(document).ready(function() {
  
        /*Modal Popup Close-Button Code */
        $('#cancel_btn').click(function() {
            $('#previewCSVModal').modal('hide');
        });   

        /*Modal Popup Close-Button Code */
        $('#req_cancel_btn').click(function() {
            $('#previewSenderIDModal').modal('hide');
        });   


        $(window).keydown(function(event){
            if(event.target.tagName != 'TEXTAREA') {
              if(event.keyCode == 13) {
                event.preventDefault();
                return false;
              }
            }
        });

    });

</script>


<script type = "text/javascript" >
    $(document).ready(function() {

        <%
        if (get_latest_label_det) {
            var from_rec_selc_val = get_latest_label_det[0].segments.minRecord;
            var to_rec_selc_val = get_latest_label_det[0].segments.maxRecord;
            var latest_label_cat_id = get_latest_label_det[0].segments.filter_category_id;
            var latest_label_topper_id = get_latest_label_det[0].segments.filter_topper;
            console.log(get_latest_label_det);
        }
        %>
        $('#filter_category_id').on('change', function() {
           getPrevRecordData();
        });
        $('#filter_topper_id').on('change', function() {
            // var topper_name = this.value;

            // if (topper_name == 'clicker') {
            //     $("#show_filters").hide();
            //     //$("#filters").hide();
            // } else {
            //     $("#show_filters").show();
            //     //$("#filters").show();         
            // }
            // if (topper_name == 'sender' || topper_name == 'clicker') {
            //     $('#topper_note_text').show();
            // } else {
            //     $('#topper_note_text').hide();
            // }


            /* previous record selection function start */
            getPrevRecordData();
            
            /* previous record function ends */
        }); // end filter topper id onchange


        // $('#filter_campaign_id').on('change', function() {
        //     var fil_cam_id = $("#filter_campaign_id").val();
        //     $('#fil_camp_all_ids').val('');
        //     $('#non_selected_con_ids').val('');
        //     $('#fil_content_label_all_ids').val('');
        //     if (fil_cam_id.includes('all')) {
        //         var values = [];
        //         $('#filter_campaign_id option:not(:first)').each(function() {
        //             values.push($(this).attr('value'));
        //         });
        //         $('#fil_camp_all_ids').val(values);
        //     } else {
        //         $('#fil_camp_all_ids').val('');
        //     }
        // });

        // $('#filter_content_label_id').on('change', function() {
        //     var fil_con_label_id = $("#filter_content_label_id").val();
        //     $('#fil_content_label_all_ids').val('');
        //     $('#non_selected_con_ids').val('');
        //     if (fil_con_label_id.includes('all')) {
        //         var cont_values = [];
        //         $('#filter_content_label_id option:not(:first)').each(function() {
        //             cont_values.push($(this).attr('value'));
        //         });
        //         $('#non_selected_con_ids').val('');
        //         $('#fil_content_label_all_ids').val(cont_values);
        //     } //end all
        //     else {
        //         /* checking atleast one content label selected or not based on campaign id */
        //         var filter_campaign_id = $("#filter_campaign_id").val();
        //         var filter_content_label_id = $("#filter_content_label_id").val();;
        //         var fil_con_data_check = [];
        //         $('#filter_content_label_id option:selected').each(function() {
        //             fil_con_data_check.push($(this).attr('con_camp_id')); //getting campaign id values
        //         });
        //         if (fil_con_data_check) {
        //             var res = filter_campaign_id.filter(function(n) {
        //                 return !this.has(n)
        //             }, new Set(fil_con_data_check)); //checking whether campaign id given selected in content label or not
        //             if (res) {
        //                 var fil_con_unsel_id = $('*[con_camp_id="' + res + '"]').map(function() {
        //                     return $(this).attr('value');
        //                 }).get();
        //                 filter_content_label_id = $.merge(fil_con_unsel_id, filter_content_label_id);
        //                 filter_content_label_id = filter_content_label_id.filter(e => e !== 'all');
        //                 $('#non_selected_con_ids').val(filter_content_label_id);
        //             }
        //         }
        //         /* end checking content label selection*/
        //     }
        // });

    });

</script> 

<script type = "text/javascript" >

    $(document).ready(function() {

        $("#newContent").change(function() {
            $("#existing-content").hide();
            $("#new-content").show();
            $("#sent_messages").val('');
            $("#destination_url").val('');
            $("#label_id").css("display", "none");
            $("#content_label_name").css("display", "block");

        });

        $("#existingContent").change(function() {
            $("#existing-content").show();
            $("#new-content").hide();
            $("#label_id").css("display", "block");
            $("#content_label_name").css("display", "none");
        });



        /*campaign change event to update the content label dropdown*/
        $('#label_id').on('change', function() {

            var url = window.location.pathname;
            var campaign_id = url.substring(url.lastIndexOf('/') + 1);

            var campaign_label_id = this.value;

            $.ajax({
                type: "POST",
                url: '/campaign/get_campaign_label_details',
                data: {
                    'campaign_id': campaign_id,
                    'campaign_label_id': campaign_label_id
                },
                dataType: 'json',
                success: function(response) {
                    //alert('hi');
                    $("#sent_messages").val('');
                    $("#sent_messages").val(response.sms_content);

                    if (response.sms_content) {
                        var chars = response.sms_content,
                            messages = Math.ceil(chars / 160),
                            remaining = messages * 160 - (chars % (messages * 160) || messages * 160);

                        if (messages == 1) {
                            if (remaining == 0) {
                                $("#remaining").css("color", "red");
                                $("#remaining").css("font-weight", "bold");
                            } else {
                                $("#remaining").css("color", "green");
                                $("#remaining").css("font-weight", "bold");
                            }
                            $remaining.text(remaining + ' characters remaining');
                            $messages.text(messages + ' message(s)');

                        }

                    }


                    $("#destination_url").val('');
                    $("#destination_url").val(response.destination_url);
                }
            });

        });

        /*campaign change event to update the content label dropdown*/

    });
</script>

<script type="text/javascript">

  $(document).ready(function() {

      $(document).on("click","#send_sms_now,#confirm_schedule",function() {

         /* #################### Checking Batch Size - Validation - (Start) #################### */

         var total_count = $("#total-contacts-val").text(); 
         var to_rec_total_count = $("#to_rec_val").val();  

         if (to_rec_total_count !== '') {
           var ttl_count = to_rec_total_count;
         } else {
          var ttl_count = total_count;
         }

         if (parseInt(ttl_count) > 500000) {  
         
            $.confirm({
               title: 'Warning!',
               content: 'You can send sms in batches upto 5,00,000! Please reduce the batch size below or equal in 5 lacks.',
               icon: 'fa fa-warning',
               type: 'red',
               buttons: {
                  omg: {
                     text: 'Try again',
                     btnClass: 'btn-red',
                  }
               }
            });
               
            return false;
            /* ################# Checking Batch Size - Validation - (Stop) ################# */
         } else {
            /* ################# Save& Send SMS - (Start) ################# */

            $('#send_sms_now').prop('disabled', true); 
            $('#cancel_btn').prop('disabled', true);
            var action_button_name = this.id;

            if (action_button_name == 'confirm_schedule') {
              $("#schedule_loader").show();
              var schedule_date_and_time = $("#schedule_date_and_time").val();
            } else {
              var schedule_date_and_time = '';
              $("#loader").show();
            }

            if ($('#filter_mode').prop("checked") == true) {
              var filter_mode  = 'include';
            } else {
              var filter_mode  = 'exclude';
            }

            var country        = $("#country").val();
            var city           = $("#city").val();
            var state          = $("#state").val();
            var nationality    = $("#nationality").val();
            var pincode        = $("#pincode").val();
            var gender         = $("#gender").val();
            var locality       = $("#locality").val();
            var profession     = $("#profession").val();
            var salary         = $("#salary").val();
            var source         = $("#source").val();
            var operator_name  = $("#operator_name").val();
            var minAge         = $("#minAge").val();
            var maxAge         = $("#maxAge").val();
            var lead_from_date = $(".from_date").val();
            var lead_to_date   = $(".to_date").val();

            var filter_obj = {};

            if (country.length > 0) {
              var country_name          = $("#country option:selected").map(function() {
                                            return $(this).text();
                                          }).get();
              filter_obj['country']    = country_name;
              filter_obj['country_id'] = country;
            }

            if (state.length > 0) {
              var state_name           = $("#state option:selected").map(function() {
                                          return $(this).text();
                                         }).get();
              filter_obj['state']      = state_name;
              filter_obj['state_id']   = state;
            }

            if (city.length > 0) {
              var city_name            = $("#city option:selected").map(function() {
                                          return $(this).text();
                                        }).get();
              filter_obj['city']       = city_name;
              filter_obj['city_id']    = city;
            }

            if (nationality != '') {
              var nationality_name     = $("#nationality option:selected").map(function() {
                                          return $(this).text();
                                         }).get();
              filter_obj['nationality']    = nationality_name; 
              filter_obj['nationality_id'] = nationality;
            }

            if (pincode != '') {
              filter_obj['pincode']        = pincode;
            }

            if (gender != '') {
              var gender_name              = $("#gender option:selected").map(function() {
                                              return $(this).text();
                                            }).get();
              filter_obj['gender']    = gender_name;
              filter_obj['gender_id'] = gender;
            }

            if (locality != '') {
              filter_obj['locality'] = locality;
            }


            if (profession != '') {
              filter_obj['profession'] = profession;
            }


            if (salary != '') {
              filter_obj['salary'] = salary;
            }

            if (source != '') {
              filter_obj['source'] = source;
            }

            if (operator_name != '') {
              var operator_name_text = $("#operator_name option:selected").map(function() {
                return $(this).text();
              }).get();
              filter_obj['operator_name'] = operator_name_text; //contains name value
              filter_obj['operator'] = operator_name; // contains id value
            }

            if (lead_from_date != '') {
              filter_obj['lead_from_date'] = lead_from_date;
            }

            if (lead_to_date != '') {
              filter_obj['lead_to_date'] = lead_to_date;
            }

            var check_empty = jQuery.isEmptyObject(filter_obj);

            if (check_empty) {
              filter_obj['empty'] = 'null';
            }

            /* <!-- Add new Content hidden input values --> */
            var page_name            = $("#page_name").val();
            var campaign_id          = $("#campaign_id").val();
            var stored_camp_id       = $("#stored_camp_id").val();
            var get_campaign_name    = $("#get_campaign_name").val();
            var get_category_name    = $("#get_category_name").val();
            var category_id          = $("#category_id").val();
            var camp_content_label   = $("#camp_content_label").val();
            var content_mode         = $("#newContent").val();
            /* <!-- Add new Content hidden input values --> */

            /* STEP-1 */
            var content_label_name   = $("#content_label_name").val();
            var hide_text            = $(".hide_text").val();
            var destination_url      = $("#destination_url").val();

            /* STEP-2 */
            var filter_category_id   = $("#filter_category_id").val();

            // var filter_campaign_id =$("#filter_campaign_id").val();
            // var filter_content_label_id =$("#filter_content_label_id").val();
            // var fil_camp_all_ids =$("#fil_camp_all_ids").val();
            // var fil_content_label_all_ids =$("#fil_content_label_all_ids").val();
            // var non_selected_con_ids = $("#non_selected_con_ids").val();

            var filter_topper_id    = $("#filter_topper_id").val();
            var minRecord           = $("#from_rec_val").val();
            var maxRecord           = $("#to_rec_val").val();
            var minAge              = $("#minAge").val();
            var maxAge              = $("#maxAge").val();

            /* STEP-3 */
            var smpp_id             = $("#smpp_name").val();
            var sender_id           = $("#sender_addr").val();
            var total_contacts      = $("#total_contacts").val();
            var original_sms_content = $(".hide_text").val();
            var total_sms_sent      = $("#totl_final_val").text();

            /*  include and exclude campaign multiple filters data starts */
            var include_camp_ids       = [];
            var exclude_camp_ids       = [];
            var include_cont_lbl_ids   = [];
            var exclude_cont_lbl_ids   = [];

            var filter_campaign_ids    = {};
            var filter_content_label_ids = {};
            var filter_modes_obj         = {};

            for (i = 1; i <= $('.multiple_filters_search').length; i++) {
              
              if ($("#filter_mode_" + i).prop("checked") == true) {
                var filter_mode            = 'include';
              } else {
                var filter_mode            = 'exclude';
              }

              var fil_mode_field_name               = 'filter_mode_' + i;
              filter_modes_obj[fil_mode_field_name] = filter_mode;

              var filter_campaign_id_value = $("#filter_campaign_id_" + i).val();
              
              if (filter_campaign_id_value) {
                var filter_camp_id = [];
                var camp_field_name = 'filter_campaign_id_' + i;

                if (filter_mode == 'include') {
                  if (filter_campaign_id_value.includes("0")) {
                    
                    $('#filter_campaign_id_' + i + ' option:not(:first)').each(function() { 
                      filter_camp_id.push($(this).attr('value'));
                      if (include_camp_ids.indexOf($(this).attr('value')) === -1) {
                        include_camp_ids.push($(this).attr('value'));
                      }
                      filter_campaign_ids[camp_field_name] = filter_camp_id;
                    });
                  } else if (Array.isArray(filter_campaign_id_value)) {
                    for (var j = 0, len = filter_campaign_id_value.length; j < len; j++) {
                      filter_camp_id.push(filter_campaign_id_value[j]);
                      if (include_camp_ids.indexOf(filter_campaign_id_value[j].toString()) === -1) {
                        include_camp_ids.push(filter_campaign_id_value[j]);
                      }
                    }
                    filter_campaign_ids[camp_field_name] = filter_camp_id;
                  } else {
                    include_camp_ids.push(filter_campaign_id_value);
                    filter_campaign_ids[camp_field_name] = filter_campaign_id_value;
                  } 
                 
                } else {
                  if (filter_campaign_id_value.includes("0")) {

                    $('#filter_campaign_id_' + i + ' option:not(:first)').each(function() { 
                      filter_camp_id.push($(this).attr('value'));
                      if (exclude_camp_ids.indexOf($(this).attr('value')) === -1) {
                        exclude_camp_ids.push( $(this).attr('value') );
                      }
                    });
                    filter_campaign_ids[camp_field_name] = filter_camp_id;
                  } else if (Array.isArray(filter_campaign_id_value)) {
                    for (var j = 0, len = filter_campaign_id_value.length; j < len; j++) {
                      filter_camp_id.push(filter_campaign_id_value[j]);
                      if (exclude_camp_ids.indexOf(filter_campaign_id_value[j].toString()) === -1) {
                        if (exclude_camp_ids.indexOf($(this).attr('value')) === -1) {
                          exclude_camp_ids.push(filter_campaign_id_value[j]);
                        }
                      }
                    }
                    filter_campaign_ids[camp_field_name] = filter_camp_id;
                  } else {
                    exclude_camp_ids.push(filter_campaign_id_value);
                    filter_campaign_ids[camp_field_name] = filter_campaign_id_value;
                  } 
                }

              }

              var filter_content_lbl_id_value = $("#filter_content_label_id_" + i).val();

              if (filter_content_lbl_id_value) {
                
                var filter_cont_lbl_id  = [];
                var cont_lbl_field_name = 'filter_content_label_id_' + i;

                if (filter_mode == 'include') {
                  if (filter_content_lbl_id_value.includes("0")) {
                    $('#filter_content_label_id_' + i + ' option:not(:first)').each(function() { 
                      filter_cont_lbl_id.push($(this).attr('value'));
                      if (include_cont_lbl_ids.indexOf($(this).attr('value')) === -1) {
                        include_cont_lbl_ids.push( $(this).attr('value') );
                      }
                    });
                    filter_content_label_ids[cont_lbl_field_name] = filter_cont_lbl_id;

                  } else if (Array.isArray(filter_content_lbl_id_value)) {
                    for (var j = 0, len = filter_content_lbl_id_value.length; j < len; j++) {
                      filter_cont_lbl_id.push(filter_content_lbl_id_value[j]);
                      if (include_cont_lbl_ids.indexOf(filter_content_lbl_id_value[j].toString()) === -1) {
                        include_cont_lbl_ids.push(filter_content_lbl_id_value[j]);
                      }
                    }
                    filter_content_label_ids[cont_lbl_field_name] = filter_cont_lbl_id;
                  } else {
                    include_cont_lbl_ids.push(filter_content_lbl_id_value);
                    filter_content_label_ids[cont_lbl_field_name] = filter_content_lbl_id_value;
                  } 

                } else {
                 if (filter_content_lbl_id_value.includes("0")) {
                    $('#filter_content_label_id_' + i + ' option:not(:first)').each(function() { 
                      filter_cont_lbl_id.push($(this).attr('value'));
                      if (exclude_cont_lbl_ids.indexOf($(this).attr('value')) === -1) {
                        exclude_cont_lbl_ids.push( $(this).attr('value') );
                      }
                    });
                    filter_content_label_ids[cont_lbl_field_name] = filter_cont_lbl_id;
                  } else if (Array.isArray(filter_content_lbl_id_value)) {

                    for (var j = 0, len = filter_content_lbl_id_value.length; j < len; j++) {
                      filter_cont_lbl_id.push(filter_content_lbl_id_value[j]);
                      if (exclude_cont_lbl_ids.indexOf(filter_content_lbl_id_value[j].toString()) === -1) {
                        exclude_cont_lbl_ids.push(filter_content_lbl_id_value[j]);
                      }
                    }
                    filter_content_label_ids[cont_lbl_field_name] = filter_cont_lbl_id;
                  } else {
                    exclude_cont_lbl_ids.push(filter_content_lbl_id_value[j]);
                    filter_content_label_ids[cont_lbl_field_name] = filter_content_lbl_id_value;
                  } 
                }
              }
            }
            
            /*  include and exclude campaign multiple filters data ends */

            var new_campaign_data   =  {
              'page_name'            : page_name,
              'campaign_id'          : campaign_id,
              'stored_camp_id'       : stored_camp_id,
              'original_sms_content' : original_sms_content,
              'get_campaign_name'    : get_campaign_name,
              'get_category_name'    : get_category_name,
              'category_id'          : category_id,
              'camp_content_label'   : camp_content_label,
              'content_mode'         : content_mode,
              'content_label_name'   : content_label_name,
              'hide_text'            : hide_text,
              'destination_url'      : destination_url ,
              'filter_category_id'   : filter_category_id,
              // 'filter_campaign_id': filter_campaign_id,
              // 'filter_content_label_id':filter_content_label_id,
              // 'fil_camp_all_ids': fil_camp_all_ids,
              // 'fil_content_label_all_ids': fil_content_label_all_ids,
              // 'non_selected_con_ids':non_selected_con_ids,

              'filter_topper_id'     : filter_topper_id,

              //'filter_mode': filter_mode,

              'minRecord'            : minRecord,
              'maxRecord'            : maxRecord,
              'minAge'               : minAge ,
              'maxAge'               : maxAge,
              'smpp_id'              : smpp_id,
              'sender_id'            : sender_id,
              'filter_search'        : filter_obj,
              'total_contacts'       : total_contacts,
              'button_type'          : 'new_content_label',
              'total_sms_sent'        : total_sms_sent,
              'schedule_date_and_time' :schedule_date_and_time,
              'action'                 : action_button_name,
              'include_camp_ids'       : include_camp_ids,
              'exclude_camp_ids'       : exclude_camp_ids,
              'include_cont_lbl_ids'   : include_cont_lbl_ids,
              'exclude_cont_lbl_ids'   : exclude_cont_lbl_ids,
              'filter_campaign_ids_obj'      : filter_campaign_ids,
              'filter_content_label_ids_obj' : filter_content_label_ids,
              'filter_modes_obj'      : filter_modes_obj,
             }

            $.ajax({
                url        : '/sms/uni_submit',
                type       : 'POST',
                dataType   : 'json',
                data       : new_campaign_data, 
                success    : function (response) {

                  if (response.status == 200) {

                      $('#cancel_btn').prop('disabled', false);

                      if (action_button_name == 'confirm_schedule') {
                        $("#schedule_loader").hide();
                      } else {
                        $("#loader").hide();
                      }

                      if (action_button_name == 'confirm_schedule') {

                        swal("Success", "Successfully scheduled campaign content!", "success")
                        .then((value) => {
                            var campaign_id = response.campaign_id;
                            window.location = '/campaign/view/'+ campaign_id;
                        });

                      } else {

                        swal("Success", "SMS successfully sent!", "success")
                        .then((value) => {
                            var campaign_id = response.campaign_id;
                            window.location = '/campaign/view/'+campaign_id;
                        });

                      }


                  }else{

                      window.location = '/campaign/list';
                  }
                }
            });

            /* ################# Save& Send SMS - (Stop) ################# */

        }
    });
  });

function getPrevRecordData() {

  var fil_topp_id = $('#filter_topper_id').val();
  var fil_cat_id_val = $('#filter_category_id').val();
  var stored_camp_id = $('#stored_camp_id').val();
  $.ajax({
    url: '/campaign/get_prev_rec',
    type: 'POST',
    dataType: 'json',
    data: {
        'campaign_id': stored_camp_id,
        'filter_category_id': fil_cat_id_val,
        'filter_topper_name': fil_topp_id,
    },
    success: function(response) {
        
        console.log(response);
        var data = response.previous_record_data;
        if (data[0]) {
            var from_rec_selc_val = data[0].segments.minRecord;
            var to_rec_selc_val = data[0].segments.maxRecord;
            var latest_label_cat_id = data[0].segments.filter_category_id; 
            var latest_label_topper_id = data[0].segments.filter_topper;
            $('#from_rec_selec_val').val('');
            $('#to_rec_selec_val').val('');
           
            if ((JSON.stringify($('#filter_category_id').val()) == JSON.stringify(latest_label_cat_id)) && ($('#filter_topper_id').val() == latest_label_topper_id)) {

                $('#from_rec_selec_val').val( from_rec_selc_val);
                $('#to_rec_selec_val').val(to_rec_selc_val);
                $('.from_rec_selec_txt').text(  from_rec_selc_val);
                $('.to_rec_selec_txt').text( to_rec_selc_val);
                var get_from_rec_val = $('#from_rec_selec_val').val();
                var get_to_rec_val = $('#to_rec_selec_val').val();
                $('.prev_rec').show();
                if (get_from_rec_val == '' || get_from_rec_val == 'undefined' || get_to_rec_val == '' || get_to_rec_val == 'undefined') {
                    $('#from_rec_selec_val').val(1);
                    $('.from_rec_selec_txt').text(1);
                    var total_sender = data[0].total_sender;
                    $('#to_rec_selec_val').val(total_sender);
                    $('.to_rec_selec_txt').text( total_sender);
                }
            } else {
                $('.prev_rec').hide();
            }
        } else {
          $('.prev_rec').hide();
        }

        var filter_by_html = '';
        filter_by_html += '<p><b>Topper:</b> ' + latest_label_topper_id  + '</p>';
        $("#filter-by-prev-val").html(filter_by_html);
    }
  }); //ajax call end
}
</script>


<style type="text/css">
.table th, .table td{
    padding: 12px 15px 11px 15px!important;
}
.noUi-connect{
   background: #3FB8AF;
}
table.table.table-bordered.upload-file-table th {
    width: 38%!important;
}   
</style>
<!-- ExClude and Include Button - CSS and Js Files - Stop -->