<!-- ################# Testing SMS Format - Modal POPUP - Start ################# -->
<div class="modal fade" id="previewAddNumbersModal" tabindex="-1" role="dialog" aria-labelledby="previewAddNumbersModal"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content" id="test_num" style="width:700px;">
        <div id="mbl_succ_notification"></div> <div id="mbl_err_notification"></div>
         <div class="modal-header">
            <h5 class="modal-title redTxt" id="createCategoryModal">Add Mobile Number</h5>
            <button type="button" class="close cancel_btn_add" data-dismiss="modal" aria-label="Close" ><span aria-hidden="true">×</span></button>
         </div>
         <form class="form-sample"  method="post" id="add_numbers_form" name="add_numbers_form">
         <div class="modal-body">

            <div class="row">
               <div class="col-12">
                 
                  <div class="form-group">
                     <table class="table table-bordered upload-file-table" style="background: #fff;">
                        <tbody>
                           
                           <tr>
                              <th>User Name:</th>
                              <td><input type="text" name="user_mbl_name" id="user_mbl_name" class="form-control" placeholder="Enter name"></td>
                              <div id="user_mbl_name_validate"></div>
                           </tr>
                            <tr class="space-row">
                               <th>Mobile Number:</th>
                               <td><input type="text" name="user_mbl_num" id="user_mbl_num" class="form-control" placeholder="Enter mobile number"></td>
                               <div id="user_mbl_num_validate"></div>
                            </tr>
                            
                        </tbody>
                     </table>
                  </div>
                
               </div>
            </div>
           
            <div class="modal-footer">
               <div class="row">
                  <div class="col-12">
                     <div class="form-group">
                        <button type="button" id="cancel_btn_add" class="btn btn-danger cancel_btn_add">Close</button>&nbsp;&nbsp;
                        <button type="submit" id="add_mbl_number" class="btn btn-success">Add Number</button>
                        <img src="/public/images/loader.gif" style="display:none;width: 35px;margin: auto;" id="num_loader">
                     </div>
                  </div>
               </div>
            </div>
          </form>
         </div>

      </div>
   </div>
</div>

<!-- ################# Testing SMS Format - Modal POPUP - Stop ################# -->