<!-- ################# Add new sender ID - Modal POPUP - Start ################# -->
<div class="modal fade" id="previewSenderIDModal" tabindex="-1" role="dialog" aria-labelledby="previewSenderIDModal"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content" id="sender_id_content" style="width:700px;">

         <div class="modal-header">
            <h5 class="modal-title" id="createCategoryModal">Add New Sender ID</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-12">
                  <div class="form-group">
                     <table class="table table-bordered upload-file-table" style="background: #fff;">
                        <tbody>
                           <tr class="space-row">
                              <th>Select SMPP:</th>
                              <td>
                                 <select class="form-control jsSelect" name="sender_id_smpp" id="sender_id_smpp">
                                 </select>
                                 <p id="sender_id_smpp_err" class="error"></p>
                              </td>
                           </tr>
                           <tr class="space-row">
                              <th>Sender IDs:<br><br>
                              <span class="redTxt">Please Note:</span>
                              <ul style="font-size: 11px;">                                 
                                 <li>Sender ID Should be only six Alpha characters.</li>
                                 <li>Takes 3 - 4 hours to get activated.</li>
                                 <li>Sender ID must resemble your Business/Brands/Product.</li>
                                 <li>Sender ID Can not contains numbers and special characters.</li>
                              </ul>
                              </th>
                              <td>
                                 <input type="text" class="form-control" name="request_new_sender_id" id="request_new_sender_id" placeholder="Enter your sender ID" minlength="6" maxlength="6" onblur="checkSenderIDs()"  onmouseup="checkLengthFromInput()" size=6>
                                 <p id="request_new_sender_id_err" class="error"></p>
                              </td>
                           </tr>
                          
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            
            <div class="modal-footer">
               <div class="row">
                  <div class="col-12">
                     <div class="form-group">
                        <!-- <button type="button" id="req_cancel_btn" class="btn btn-danger">Close</button>&nbsp;&nbsp; -->
                        <button type="button" id="send_request" class="btn btn-success">Send Request</button>
                        <img src="/public/images/loader.gif" style="display:none;width: 35px;margin: auto;" id="sender_req_loader">
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</div>

<!-- ################# Add new sender ID - Modal POPUP - Stop ################# -->
