<!-- copy of input fields group -->
<div class="form-group fieldGroupCopy" style="display: none;">
  <div class="form-group row" id="source_campaign">
     <input type="hidden" name="downloadToken" />
     <label class="col-sm-4 col-form-label">Filter Campaign</label>
     <div class="col-sm-8">
        <select class="form-control jsCampaign" name="filter_campaign_id" 
           multiple="multiple" data-placeholder="Select a campaign" >
           <% if (campaign_details) { %>
            <% if (campaign_details.length) { %>
              <option value="0">All</option>
              <% for (var i = 0; i < campaign_details.length; i++) { %>
                <option value="<%= campaign_details[i]._id %>"><%= campaign_details[i].name %></option>
              <% } %>
            <% } %>
            <% } %>
        </select>
     </div>
  </div>
  <div class="form-group row" id="source_campaign_content">
     <label class="col-sm-4 col-form-label">Filter Content Label</label>
     <div class="col-sm-8">
        <select class="form-control  jsContentLabel" name="filter_content_label_id"
            multiple="multiple" data-placeholder="Select a campaign content" >
        </select>
     </div>
  </div>
  <div class="form-group row">
     <label class="col-sm-4 col-form-label">
        <div class="tooltip1">Mode
           <span class="tooltiptext1">Note: Include and Exclude options applicable for only Campaign and
           Content Label</span>
        </div>
     </label>
     <div class="col-sm-8">
        <input type="checkbox" name="filter_mode"  data-on="Include"
           data-off="Exclude" data-onstyle="success" data-offstyle="danger" data-width="100">
     </div>
  </div>
  <div class="input-group-addon"> 
  <a href="javascript:void(0)" class="btn btn-danger remove"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</a>
</div>
</div>