<!-- ################# Campaign Preview - Modal POPUP - Start ################# -->
<div id="showContentLabelModal" class="modal hide fade" role="dialog" aria-labelledby="showContentLabelModal" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content" id="csv_content" style="width:700px;">

         <div class="modal-header">
            <h5 class="modal-title" id="createCategoryModal">Campaign Content Label Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-12">
                  <div class="form-group">
                     <table class="table table-bordered upload-file-table" style="background: #fff;">
                        <tbody>
                           <tr class="space-row">
                              <th>Campaign Label Name:</th>
                              <td id="campaing-lbl-name"></td>
                           </tr>
                            <tr class="space-row">
                              <th>SMS Content:</th>
                              <td><textarea id="sms-content" readonly style="width: 100%;height: 45px;background: grey;color: #fff;"></textarea></td>
                            </tr>
                            <tr class="space-row">
                              <th>Destination URL:</th>
                              <td><textarea id="dest-url" readonly style="width: 100%;height: 45px;background: grey;color: #fff;"></textarea></td>
                            </tr>
                            <tr class="space-row">
                              <th>Short Code:</th>
                              <td id="short-code"></td>
                            </tr>
                            <tr class="space-row">
                              <th>Smpp Name:</th>
                              <td id="get-smpp-name"></td>
                            </tr>
                            <tr class="space-row">
                              <th>Sender ID:</th>
                              <td id="get-sender-id"></td>
                            </tr>

                            <tr class="space-row">
                              <th>Total Sent:</th>
                              <td id="total-sent"></td>
                            </tr>
                            <tr class="space-row">
                              <th>Total Unique Clicker:</th>
                              <td id="total-unique-clicker"></td>
                            </tr>
                            <tr class="space-row">
                              <th>Total Clicks:</th>
                              <td id="total-clicks"></td>
                            </tr>
                             <tr class="space-row">
                              <th>CTR:</th>
                              <td id="ctr"></td>
                            </tr>
                            <tr class="space-row">
                              <th>Min Record:</th>
                              <td id="min-record"></td>
                            </tr>
                            <tr class="space-row">
                              <th>Max Record:</th>
                              <td id="max-record"></td>
                            </tr>
                            <tr class="space-row">
                              <th>Detailed Report:</th>
                              <td id="det-report"></td>
                            </tr>
                            <tr class="space-row">
                              <th>Sent Date:</th>
                              <td id="sent-date"></td>
                            </tr>
                            <tr class="space-row">
                              <th>Created By:</th>
                              <td id="created-by"></td>
                            </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         
            <div class="modal-footer">
               <div class="row">
                  <div class="col-12">
                     <div class="form-group">
                        <button type="button" id="cancel_btn" class="btn btn-danger">Close</button>&nbsp;&nbsp;
                      
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</div>

<!-- ################# Campaign Preview - Modal POPUP - Stop #################