<% include ../layouts/header %>
<div class="content-wrapper">
   <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
         <div class="card-body">
            <h4 class="card-title">Copy Campaign Content <br>
               <span style="font-size: 14px;">(Campaign Name: <%= get_campaign_details.name;  %>)</span>
            </h4>
            <a href="/campaign/view/<%= campaign_id %>"><button class="btn btn-danger" style="float:right;"><i class="mdi mdi-backup-restore" data-name="mdi mdi-backup-restore"></i> Back</button></a>
            <form role="form" class="campaign-save" id="campaign-save" action="/export/export_and_copy_content_save" type="post"  onsubmit="button_mode.disabled = true; return true;">
               <input type="hidden" value="view" name="page_name" id="page_name">
               <input type="hidden" name="campaign_id" id="campaign_id" value="<%= campaign_id;  %>">
               <input type="hidden" name="stored_camp_id" id="stored_camp_id" value="<%= campaign_id;  %>">
               <input type="hidden" name="get_campaign_name" id="get_campaign_name" value="<%= get_campaign_details.name;  %>">
               <input type="hidden" id="get_category_name" value="<%= get_category_details.name;  %>">
               <input type="hidden" id="category_id" name="category_id" value="<%= get_category_details._id;  %>">
               <input type="hidden" id="get_content_id" name="get_content_id" value="<%= campaign_content_id;  %>">
               <input type="hidden" id="camp_content_label" name="camp_content_label" value="<%= camp_lbl_ids_arr;  %>">
               <input value="<%= get_campaign_label_details.segments.original_sms_content %>" type="hidden" id="get_sms_content">
               
               <div id="form-total">
                  <!-- Included all step forms -->

                  <% include copy_new_content/step_1 %>
                  <% include copy_new_content/step_2 %>
                  <% include add_multiple_filters_tab %>
                  <% include copy_new_content/step_3 %>

                  <!-- Included all step forms -->
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<!-- Modal POPUP - Include - Start -->
<% include preview_modal_popup %>
<!-- Modal POPUP - Include - Stop -->

<!-- Modal POPUP - Add new sender ID - Start -->
<% include add_new_sender_id_pop_up %>
<!-- Modal POPUP - Add new sender ID - Stop -->

<!-- Modal POPUP - Testing SMS - Start -->
<% include test_sms_modal_popup %>
<!-- Modal POPUP - Testing SMS - Stop -->

<!-- Modal POPUP - Testing SMS - Start -->
<% include schedule_preview_modal_popup %>
<!-- Modal POPUP - Testing SMS - Stop -->

<!-- Modal POPUP - Add Numbers - Start -->
<% include add_numbers_preview_modal_popup %>
<!-- Modal POPUP - Add Numbers - Stop -->

<% include ../layouts/footer %>


<link href="/public/css/bootstrap-toggle.min.css" rel="stylesheet" />
<script src="/public/js/bootstrap-toggle.min.js"></script>
<script src="/public/js/dropdown/date_picker.js"></script>

<!-- Preview button Validation - JS-->
<script src="/public/js/campaign/preview_validation.js"></script>

<!-- Preview button Test With SMS - JS-->
<script src="/public/js/campaign/test_with_sms.js"></script>

<!-- Schedule button - JS-->
<script src="/public/js/campaign/schedule_sms.js"></script>


<!-- Preview button add numbers - JS-->
<script src="/public/js/campaign/add_numbers.js"></script>

<!-- multiple filters adv search add and remove tabs - JS-->
<script src="/public/js/campaign/multiple_filters_adv_search.js"></script>



<!-- ############ Clear all - Basic Search Filter - Start ############-->
<script type="text/javascript">
   $(document).ready(function() {  

    getPrevRecordData(); // previous record selection
    /* smpp names dropdown*/
      $.ajax({
        type: "POST",
        url: '/smpp/get_smpp_name',
        dataType: 'json',
        success: function (response) {
          $("#sender_id_smpp").html(response.html);
          $("#sender_id_smpp").select2();
        }
      }); //ajax end 
    // end smpp

      $("#show_filters a span").click(function () {       
       $("#show_filters a span").text(($("#show_filters a span").text() == 'Show Filters') ? 'Hide Filters' : 'Show Filters').show();
      });

       $(".jsSelect").select2();
       $("#from_category_id").select2();
       $("#from_campaign_id").select2();
       $("#from_topper_id").select2();
       $('#from_content_label_id').select2();
       $("#operator_name").select2();
       $("#source").select2();
       $("#profession").select2();
       $("#gender").select2();
       $("#nationality").select2();
       $("#state").select2();
       $("#city").select2();
       $("#country").select2();
       $('.lang_dropdown').select2();     
     
      /*Modal Popup Close-Button Code */
      $('#cancel_btn').click(function() {
          $('#previewCSVModal').modal('hide');
      });   


      $(document).on("click","#preview",function() {
        var get_campaign_name =$("#get_campaign_name").val();
        var get_category_name =$("#get_category_name").val();
        $("#campaing-val").text(get_campaign_name);
        $("#category-val").text(get_category_name);

        var smpp_name=$("#smpp_name option:selected").text();
        var sender_id=$("#sender_addr option:selected").text();
        $("#preview_smpp_name").text(smpp_name);
        $("#preview_smpp_sender_id").text(sender_id);
      });

   });   
</script>
<!-- ############Clear all - Basic Search Filter - Stop ############-->

<!-- ############ Prevent - Enter & autosubmit form - Start ############-->
<script type="text/javascript">

   $(document).ready(function() {
     $(window).keydown(function(event){
         if(event.target.tagName != 'TEXTAREA') {
           if(event.keyCode == 13) {
             event.preventDefault();
             return false;
           }
         }
     });
   });
</script>
<!-- ############ Prevent - Enter & autosubmit form - Stop ############-->

<!-- ###### Previous content & Settings - Trigger to copy content fields - Start - ###### -->
<script type="text/javascript">   
$(document).ready(function() {

      $("#newContent").change(function () {
         $("#existing-content").hide();
         $("#new-content").show();
         $("#sent_messages").val('');
         $("#destination_url").val('');
         $("#label_id").css("display", "none");
         $("#content_label_name").css("display", "block");
      });
   
       $("#existingContent").change(function () {
          $("#existing-content").show();
          $("#new-content").hide();
          $("#label_id").css("display", "block");
          $("#content_label_name").css("display", "none");
       });
   
     
      var con_label_name = '<%= get_campaign_label_details.label_name %>';
      var output = decodeHtml(con_label_name);
      $("input#content_label_name").val('Copy-'+ output);

       var message= $("#get_sms_content").val();
       $("#sent_messages").text(message);
       $("#message_preview").text(message);
   
       //creating the slider
       var slider = document.getElementById('ageSlider');
      
      <% 
         var fil_category_id = segments.filter_category_id; 
         var setting_min_age = segments.minAge;
         var setting_max_age = segments.maxAge;
         var filter_mode = segments.filter_mode;
         
         
         if(setting_min_age==''){
            var setting_min_age=0;
         }
         
         if(setting_max_age===''){
            var setting_max_age=100;
         }
         
         if(filter_mode=='on'){
            var checked_status='true';
         }else{
            var checked_status='false';     
         }
         
         if('filter_campaign_id' in segments){

            var filter_campaign_id = segments.filter_campaign_id;
         }else{
            var filter_campaign_id='';      
         }
         
         if('filter_content_label_id' in segments){
            var filter_content_label_id=segments.filter_content_label_id;
         }else{
            var filter_content_label_id='';     
         }
         
         if ('lead_from_date' in segments) {
           var lead_from_date_val = segments.lead_from_date; 
         } else {
           var lead_from_date_val = '';     
         }

         if ('lead_to_date' in segments) {
           var lead_to_date_val = segments.lead_to_date;
         } else {
           var lead_to_date_val = '';     
         }

         var category_id_arr=segments.filter_category_id;
         var category_id = category_id_arr.toString();
      
      %>  
      
      $('.from_date').val('<%= lead_from_date_val %>');
      $('.to_date').val('<%= lead_to_date_val %>');
      $("#filter_mode").prop("checked", <%= checked_status %>).change();
   
      
      noUiSlider.create(slider, {
          start: [<%= setting_min_age %>, <%= setting_max_age %>],
          range: {
            'min': 0,
            'max': 100
          },
        pips: {mode: 'count', values: 5}
      });
   
      //onupdate set the hidden input + trigger a change so v-model gets update
      slider.noUiSlider.on('update', function(values) {
         $("#minAge").val(Math.round(values[0])).trigger('change');
         $("#maxAge").val(Math.round(values[1])).trigger('change');
      });
    
      new Vue({
         el: "#vue",
         data: {
           minAge: '',
           maxAge: ''
         }
      });
   
      <% 
         var setting_minRecord_age = segments.minRecord; 
         var setting_maxRecord_age = segments.maxRecord; 
         var topper_status = segments.filter_topper;
         
         if (setting_minRecord_age=='') {
            var setting_minRecord_age=0;
         }
         
         if (setting_maxRecord_age==='') {
            var setting_maxRecord_age=100;
         }

         if (topper_status=='non-sender') {
            var setting_minRecord_age=0;
            var setting_maxRecord_age=100;
         }

        
      %>    
      if ('<%=topper_status%>'  == 'non-sender') {
        $('#advanced_search_box').hide();
      }

      if ('<%= topper_status %>' == 'clicker') {
        $(".hide_clicker").hide();
      } else {
        $(".hide_clicker").show();
      }//end if
     
         
    $("#clear_basic_filters").click( function () {

     $("#country").val(null).trigger("change");
     $("#state").val(null).trigger('change');
     $("#city").val(null).trigger('change');
     $("#nationality").val(null).trigger('change');
     $("#pincode").val('');
     $("#gender").val(null).trigger('change');
     $("#locality").val('');
     $("#profession").val(null).trigger('change');
     $("#salary").val('');
     $("#source").val(null).trigger('change');
     $(".from_date").val('');
     $(".to_date").val('');
     $("#operator_name").val(null).trigger('change');
     $("#minAge").val(0).trigger('change');
    $("#maxAge").val(100).trigger('change');
    slider.noUiSlider.set([0, 100]);
  });

$('#filter_category_id').on('change', function() {
           getPrevRecordData();
        });


        /* showing selected the filters value in select2 */
           /* country */
          <%  if ('filter_category_id' in segments) { %>
            $('#filter_category_id').val([<%= segments.filter_category_id %>]).trigger('change');
          <% } %>
          /* end country */
          <%  if ('filter_campaign_id' in segments) { %>

            $('#filter_campaign_id_1').val(['<%= segments.filter_campaign_id %>']).trigger('change');
          <% } %>
          <%  if ('filter_content_label_id' in segments) { %>
            $('#filter_content_label_id_1').val(['<%= segments.filter_content_label_id %>']).trigger('change');
          <% } %>
          <% var fil_search = segments.filter_search %>
          <% if (fil_search) { %> 
            /* country */
          <%  if ('country' in fil_search) { %>
            $('#country').val([<%= fil_search.country_id %>]).trigger('change');
          <% } %>
          /* end country */

          /* state */
          <%  if ('state' in fil_search) { %>
            $('#state').val([<%= fil_search.state_id %>]).trigger('change');
          <% } %>
          /* end state */

          /* city */
          <%  if ('city' in fil_search) { %>
            $('#city').val([<%= fil_search.city_id %>]).trigger('change');
          <% } %>
          /* end city */

          /* state */
          <%  if ('nationality' in fil_search) { %>
            $('#nationality').val([<%= fil_search.nationality_id %>]).trigger('change');
          <% } %>
          /* end state */

          /*  pin code*/
          <%  if ('pincode' in fil_search) { %>
            $('#pincode').val([<%= fil_search.pincode %>]).trigger('change');
          <% } %>
          /* end pin code */

          /*  gender*/
          <%  if ('gender' in fil_search) { %>    
            $('#gender').val([<%=fil_search.gender_id%>]).trigger('change');
          <% } %>
          /* end gender*/

           /* locality*/
          <%  if ('locality' in fil_search) { %>
            $('#locality').val('<%= fil_search.locality %>').trigger('change');
          <% } %>
          /* end locality*/

          /* profession */
          <%  if ('profession' in fil_search) { %>
            $('#profession').val([<%= fil_search.profession%>]).trigger('change');
          <% } %>
          /* end profession */

          /* salary*/
          <%  if ('salary' in fil_search) { %>
            $('#salary').val([<%= fil_search.salary %>]).trigger('change');
          <% } %>
          /* end salary*/
          /* source name*/
          <%  if ('source' in fil_search) { %>
            $('#source').val([<%= fil_search.source %>]).trigger('change');
          <% } %>
          /* end source*/
           /* lead from date */
          <%  if ('lead_from_date' in fil_search) { %>
            $('.from_date').val(['<%= fil_search.lead_from_date %>']).trigger('change');
          <% } %>
          /* end lead from date*/
           /* lead to date */
          <%  if ('lead_to_date' in fil_search) { %>
            $('.to_date').val(['<%= fil_search.lead_to_date %>']).trigger('change');
          <% } %>
          /* end lead to date*/
           /* operator name*/
          <%  if ('operator_name' in fil_search) { %>
            $('#operator_name').val([<%= fil_search.operator_name %>]).trigger('change');
          <% } %>
          /* end salary*/
          <%} %>
          

          /* filter_mode */
          <%  if ('filter_mode' in segments) { 
              var get_filter_mode = segments.filter_mode;
              if (get_filter_mode == 'include') {
                var checked_status='true';
              } else {
                var checked_status='false';     
              } %>
            $("#filter_mode").prop("checked", <%= checked_status %>).change();
          <% } %>
          /* end filter_mode*/

          /* smpp_id name*/
          <%  if ('smpp_id' in segments) { %>
            //alert('smpp')
            $('#smpp_name').val([<%= segments.smpp_id %>]).trigger('change');
          <% } %>
          /* end smpp_id*/

          /* smpp name*/
          <%  if ('sender_id' in segments) { %>
            $('#sender_addr').val(['<%= segments.sender_id %>']).trigger('change');
          <% } %>
          /* end smpp name*/


          /* multiple filters advanced search start */

            /* multiple filter campaign ids starts */
              <%  if ('filter_campaign_ids' in segments && segments.filter_campaign_ids !== null) { 
                var filter_camp_ids     = segments.filter_campaign_ids; 
                var filter_camp_ids_len = Object.keys(filter_camp_ids).length;
                if (filter_camp_ids_len > 0) {
                  for (i = 1; i <= filter_camp_ids_len; i++) {
                    var fiter_camp_id_val   = filter_camp_ids['filter_campaign_id_' + i]; 
                %>
               
              $('#filter_campaign_id_' + <%= i %>).val([<%= fiter_camp_id_val %>]).trigger('change');
              <% } } } %>
            /* multiple filter campaign ids ends */


            /* multiple filter content label ids starts */
              <%  if ('filter_content_label_ids' in segments && segments.filter_content_label_ids !== null) { 

                var filter_cont_lbl_ids        = segments.filter_content_label_ids; 
                var filter_cont_lbl_ids_len    = Object.keys(filter_cont_lbl_ids).length; // json length
                if (filter_cont_lbl_ids_len > 0) {
                  for (var j = 0; j < filter_cont_lbl_ids_len; j++) {
                    var key_name               = Object.keys(filter_cont_lbl_ids)[j]; // converted to array
                    var fiter_cont_lbl_id_val  = Object.values(filter_cont_lbl_ids)[j];  
              %>
                $('#<%= key_name %>').val([<%= fiter_cont_lbl_id_val %>]).trigger('change');
              <% } } } %>
            /* multiple filter content label ids ends */

            /* multiple filter content label ids starts */
              <%  if ('filter_modes' in segments && segments.filter_modes !== null) { 
                var filter_modes     =  segments.filter_modes; 
                var filter_modes_len = Object.keys(filter_modes).length;
                if (filter_modes_len > 0) {
                  for (k = 0; k < filter_modes_len; k++) {
                    var filter_mode_key_name  = Object.keys(filter_modes)[k]; // converted to array
                    var fiter_mode_val   = Object.values(filter_modes)[k]; 

                    if (fiter_mode_val == 'include') {
                      var checked_fil_mode_status = 'true';
                    } else {
                      var checked_fil_mode_status = 'false';     
                    }
              %>
              $('#<%= filter_mode_key_name %>').prop("checked", <%= checked_fil_mode_status %>).change();
              <% } } } %>
            /* multiple filter mode ends */
          /* multiple filters advanced search stop */

        /* showing selected filters end*/

});
</script>
<!-- ###### Previous content & Settings - Trigger to copy content fields - Stop - ###### -->

<!-- Advanced Search Filter Js-->
<script src="/public/js/campaign/filter.js"></script>

<!-- General Code of checking few things - Start -->
<script type="text/javascript">   
$(document).ready(function() {


    $('#age').on('change', function() {
        var age = $("#age").val();
        $('#test').text(age);
    });

    $("#age").slider({
        tooltip: 'always',
        tooltip_position: 'bottom'
    });


    var topper_name = this.value;
    if (topper_name == 'sender' || topper_name == 'clicker') {
        $('#topper_note_text').show();
    } else {
        $('#topper_note_text').hide();
    }

    $('#filter_topper_id').on('change', function() {
      $('#advanced_search_box').show();
        var topper_name = this.value;

       if (topper_name == 'clicker') {
        $(".hide_clicker").hide();
        //$("#filters").hide();
        } else {
          $(".hide_clicker").show();
          //$("#filters").show();       
        }
      if (topper_name == 'non-sender') {
        $('#advanced_search_box').hide();
      }

        if (topper_name == 'sender' || topper_name == 'clicker') {
            $('#topper_note_text').show();
        } else {
            $('#topper_note_text').hide();
        }

        getPrevRecordData();
    });

    // $('#filter_campaign_id').on('change', function() {
    //     var fil_cam_id = $("#filter_campaign_id").val();
    //     $('#fil_camp_all_ids').val('');
    //     $('#non_selected_con_ids').val('');
    //     $('#fil_content_label_all_ids').val('');
    //     if (fil_cam_id.includes('all')) {
    //         var values = [];
    //         $('#filter_campaign_id option:not(:first)').each(function() {
    //             values.push($(this).attr('value'));
    //         });
    //         $('#fil_camp_all_ids').val(values);
    //     }
    // });

    // $('#filter_content_label_id').on('change', function() {
    //     var fil_con_label_id = $("#filter_content_label_id").val();
    //     $('#fil_content_label_all_ids').val('');
    //     $('#non_selected_con_ids').val('');
    //     if (fil_con_label_id.includes('all')) {
    //         var cont_values = [];
    //         $('#filter_content_label_id option:not(:first)').each(function() {
    //             cont_values.push($(this).attr('value'));
    //         });
    //         $('#non_selected_con_ids').val('');
    //         $('#fil_content_label_all_ids').val(cont_values);
    //     } //end if 
    //     else {
    //         /* checking atleast one content label selected or not based on campaign id */
    //         var filter_campaign_id = $("#filter_campaign_id").val();
    //         var filter_content_label_id = $("#filter_content_label_id").val();
    //         var fil_con_data_check = [];
    //         $('#filter_content_label_id option:selected').each(function() {
    //             fil_con_data_check.push($(this).attr('con_camp_id')); //getting campaign id values
    //         });
    //         if (fil_con_data_check) {
    //             var res = filter_campaign_id.filter(function(n) {
    //                 return !this.has(n)
    //             }, new Set(fil_con_data_check)); //checking whether campaign id given selected in content label or not
    //             if (res) {
    //                 var fil_con_unsel_id = $('*[con_camp_id="' + res + '"]').map(function() {
    //                     return $(this).attr('value');
    //                 }).get();
    //                 filter_content_label_id = $.merge(fil_con_unsel_id, filter_content_label_id);
    //                 filter_content_label_id = filter_content_label_id.filter(e => e !== 'all');
    //                 $('#non_selected_con_ids').val(filter_content_label_id);
    //             }
    //         }
    //         /* end checking content label selection*/
    //     }
    // });
    // /* checking atleast one content label selected or not based on campaign id */
    // var filter_campaign_id = $("#filter_campaign_id").val();
    // var filter_content_label_id = $("#filter_content_label_id").val();
    // var fil_con_data_check = [];
    // $('#filter_content_label_id option:selected').each(function() {
    //     fil_con_data_check.push($(this).attr('con_camp_id')); //getting campaign id values
    // });
    // if (fil_con_data_check) {
    //     var res = filter_campaign_id.filter(function(n) {
    //         return !this.has(n)
    //     }, new Set(fil_con_data_check)); //checking whether campaign id given selected in content label or not
    //     if (res) {
    //         var fil_con_unsel_id = $('*[con_camp_id="' + res + '"]').map(function() {
    //             return $(this).attr('value');
    //         }).get();
    //         filter_content_label_id = $.merge(fil_con_unsel_id, filter_content_label_id);
    //         filter_content_label_id = filter_content_label_id.filter(e => e !== 'all');
    //         $('#non_selected_con_ids').val(filter_content_label_id);
    //     }
    // }
    /* end checking content label selection*/

    // var fil_cam_id = $("#filter_campaign_id").val();
    // $('#fil_camp_all_ids').val('');
    // if (fil_cam_id.includes('all')) {
    //     var values = [];
    //     $('#filter_campaign_id option:not(:first)').each(function() {
    //         values.push($(this).attr('value'));
    //     });
    //     $('#fil_camp_all_ids').val(values);
    // }

    // var fil_con_label_id = $("#filter_content_label_id").val();
    // $('#fil_content_label_all_ids').val('');

    // if (fil_con_label_id.includes('all')) {
    //     var cont_values = [];
    //     $('#filter_content_label_id option:not(:first)').each(function() {
    //         cont_values.push($(this).attr('value'));
    //     });
    //     $('#fil_content_label_all_ids').val(cont_values);
    // } //end if 

});
</script>
<!-- General Code of checking few things - Stop -->


<script type="text/javascript">
   $(document).ready(function() {

       /*campaign change event to update the content label dropdown*/
      $('#label_id').on('change', function() {
   
         var url = window.location.pathname;
         var campaign_id = $("#campaign_id").val(); 
         var campaign_label_id = this.value;
      
         $.ajax({
               type: "POST",
               url: '/campaign/get_campaign_label_details',
               data: {
                   'campaign_id': campaign_id,
                   'campaign_label_id': campaign_label_id
               },
               dataType: 'json',
               success: function(response) {
          
                   $("#sent_messages").val('');
                   $("#sent_messages").val(response.sms_content);
                   
                   if(response.sms_content)
                   {
                     var chars = response.sms_content,
                       messages = Math.ceil(chars / 160),
                       remaining = messages * 160 - (chars % (messages * 160) || messages * 160);
            
                       if (messages == 1) {
                         if (remaining == 0) {
                           $("#remaining").css("color", "red");
                           $("#remaining").css("font-weight", "bold");
                         } else {
                           $("#remaining").css("color", "green");
                           $("#remaining").css("font-weight", "bold");
                         }
                         $remaining.text(remaining + ' characters remaining');
                         $messages.text(messages + ' message(s)');
            
                       }       
                     
                   }
          
                   $("#destination_url").val('');
                   $("#destination_url").val(response.destination_url);
                 }
           });  
   
    });
    
   /*campaign change event to update the content label dropdown*/
   // $('.jsCampaign').on('change', function() {
   
   //         var campaign_id = $("#filter_campaign_id").val();
   
   //         $.ajax({
   //             type: "POST",
   //             url: '/export/get_dependent_dropdown',
   //             data: {
   //                 'campaign_id': campaign_id,
   //                 'dropdown_type': 'campaign_coneten_label'
   //             },
   //             dataType: 'json',
   //             success: function(response) {
   //                 $("#filter_content_label_id").html(response.html);
   //                 $('#filter_content_label_id').select2();
   //             }
   //         });
   // });

});
   
</script>

<script type="text/javascript">
   $(document).ready(function () {
   
   /* filter country name pushing in input type hidden field for sending data to export and save function */
        $('#country').on('change', function() {
          var country_name = $("#country option:selected").map(function() {
            return $(this).text();
          }).get(); 
          $('#filter_country_name').val(country_name);
        }); //end of country

         $('#state').on('change', function() {
          var state_name = $("#state option:selected").map(function() {
            return $(this).text();
          }).get();
          $('#filter_state_name').val(state_name);
        }); //end of state

         $('#city').on('change', function() {
          var city_name = $("#city option:selected").map(function() {
            return $(this).text();
          }).get();
          $('#filter_city_name').val(city_name);
        }); //end of city

         $('#nationality').on('change', function() {
          var nationality_name = $("#nationality option:selected").map(function() {
            return $(this).text();
          }).get();
          $('#filter_nationality_name').val(nationality_name);
        }); //end of nationality

         $('#gender').on('change', function() {
          var gender_name = $("#gender option:selected").map(function() {
            return $(this).text();
          }).get();
          $('#filter_gender_name').val(gender_name);
        }); //end of gender
        /* end of filters data pushing */

   });

</script>

<!-- ########### Min and Max Record - Validation - Start ########### -->

<script type="text/javascript">

$(document).ready(function() {

    $("#from_rec_val").keypress(function(e) {
        var total_contacts_val = parseInt($('#total-contacts-val').text());
        var check_min_val = total_contacts_val - 1;
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //display error message
            return false;
        }
        return true;
    });


    //called when key is pressed in textbox
    $("#from_rec_val").keyup(function (e) {

      if ($("#from_rec_val").val() !== '') {
        var total_contacts_val = parseInt($('#total-contacts-val').text()); 
        var check_min_val = total_contacts_val - 1;
        if ($(this).val() > total_contacts_val || $(this).val() <= 0) {
          $("#errmsg").html("Min Record error : Please enter only numbers upto " + total_contacts_val).show();
          $('#to_rec_val').attr("disabled", true);
          jQuery('#preview').attr("style", "width:40%!important");
          jQuery('#preview').css("opacity", ".4");
          jQuery('#preview').css("cursor", "default !important");
          jQuery('#preview').css("pointer-events", "none");
          return false;
        }
   
        if ($("#to_rec_val").val() == '') {
           $("#max_err_msg").html("Max Record error : This field is required").show();
           $('#to_rec_val').attr("disabled", false);
            jQuery('#preview').attr("style", "width:40%!important");
            jQuery('#preview').css("opacity", ".4");
            jQuery('#preview').css("cursor", "default !important");
            jQuery('#preview').css("pointer-events", "none");
            return false;
        }
   
        $("#errmsg").hide();
        $('#to_rec_val').attr("disabled", false);
        return true;
      }
   
      if ($("#to_rec_val").val() !== '') {
          $("#errmsg").html("Min Record error : This field is required").show();
          //$("#max_err_msg").hide();
          $('#to_rec_val').attr("disabled", true);
          jQuery('#preview').attr("style", "width:40%!important");
          jQuery('#preview').css("opacity", ".4");
          jQuery('#preview').css("cursor", "default !important");
          jQuery('#preview').css("pointer-events", "none");
          return false;
        }
   
      $("#errmsg").hide();
      $("#max_err_msg").hide();
      $('#to_rec_val').attr("disabled", true);
      $('#preview').removeAttr('style');
      jQuery('#preview').attr("style", "display:block");
      jQuery('#preview').attr("style", "width:40%");
      //$('#export_contact').attr("disabled", false);
      return true;
   });

    $("#to_rec_val").keypress(function(e) {
        var total_contacts_val = parseInt($('#total-contacts-val').text());
        var check_min_val = total_contacts_val - 1;
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
        return true;
    });


   //called when key is pressed in textbox
    $("#to_rec_val").keyup(function (e) {
   
      if ($("#to_rec_val").val() !== '') {
        var total_contacts_val = parseInt($('#total-contacts-val').text()); 
        var min_rec_val = parseInt($('#from_rec_val').val());
        if ($(this).val() > total_contacts_val || $(this).val() < min_rec_val) {
          $("#max_err_msg").html("Max Record error : Please enter only numbers upto " + total_contacts_val).show();
          jQuery('#preview').attr("style", "width:40%!important");
          jQuery('#preview').css("opacity", ".4");
          jQuery('#preview').css("cursor", "default !important");
          jQuery('#preview').css("pointer-events", "none");
          return false;
        }
   
        $("#max_err_msg").hide();
        $('#preview').removeAttr('style');
        jQuery('#preview').attr("style", "display:block");
        jQuery('#preview').attr("style", "width:40%");
        return true;
      }
   
      if ($("#from_rec_val").val() !== '') {
        $("#max_err_msg").html("Max Record error : This field is required").show();
          jQuery('#preview').attr("style", "width:40%!important");
          jQuery('#preview').css("opacity", ".4");
          jQuery('#preview').css("cursor", "default !important");
          jQuery('#preview').css("pointer-events", "none");
        return false;
      }
      $("#max_err_msg").hide();
      $('#preview').removeAttr('style');
      jQuery('#preview').attr("style", "display:block");
      jQuery('#preview').attr("style", "width:40%");
      return true;
   });

});   
</script>
<!-- ########### Min and Max Record - Validation - Start ########### -->


<!-- ########### Calling Javascript functions - Start ########### -->

<script type="text/javascript">

function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
}

function insertLink(id,text){
   
        var txtarea = document.getElementById(id);
        
        if (!txtarea) {
          return;
        }
   
        var scrollPos = txtarea.scrollTop;
        var strPos = 0;
        var br = ((txtarea.selectionStart || txtarea.selectionStart == '0') ?
          "ff" : (document.selection ? "ie" : false));
        if (br == "ie") {
          txtarea.focus();
          var range = document.selection.createRange();
          range.moveStart('character', -txtarea.value.length);
          strPos = range.text.length;
        } else if (br == "ff") {
          strPos = txtarea.selectionStart;
        }
   
        var front = (txtarea.value).substring(0, strPos);
        var back = (txtarea.value).substring(strPos, txtarea.value.length);
        txtarea.value = front + text + back;
        strPos = strPos + text.length;
        if (br == "ie") {
          txtarea.focus();
          var ieRange = document.selection.createRange();
          ieRange.moveStart('character', -txtarea.value.length);
          ieRange.moveStart('character', strPos);
          ieRange.moveEnd('character', 0);
          ieRange.select();
        } else if (br == "ff") {
          txtarea.selectionStart = strPos;
          txtarea.selectionEnd = strPos;
          txtarea.focus();
        }
   
        txtarea.scrollTop = scrollPos;

   }

   function addSpace (message) {
      if (message.includes('{url}')) {
        var separators = ['{url}'];
        for (var i = 0; i < separators.length; i++) { 
          var rg = new RegExp("\\" + separators[i], "g"); 
          message = message.replace(rg, " " + separators[i] + " "); 
        }
      }
      
      message = $.trim(message.replace(/[\t\n]+/g, ' '));
      message = message.replace(/ +(?= )/g,'');
      return message;
   } // end of addspace
   
</script>

<!-- ########### Calling Javascript functions - Start ########### -->

<script type="text/javascript">
   $(document).ready(function() {

      $('#filter_mode').bootstrapToggle({
        on: 'Include',
        off: 'Exclude'
      });
   });
</script>

<script type="text/javascript">

  $(document).ready(function() {

    $(document).on("click","#send_sms_now,#confirm_schedule",function() {


       /* ################# Checking Batch Size - Validation - (Start) ################# */

       var total_count        = $("#total-contacts-val").text(); 
       var to_rec_total_count = $("#to_rec_val").val();  

       if (to_rec_total_count !== '') {
         var ttl_count = to_rec_total_count;
       } else {
        var ttl_count = total_count;
       }

       if (parseInt(ttl_count) > 500000) {  
       
          $.confirm({
             title: 'Warning!',
             content: 'You can send sms in batches upto 5,00,000! Please reduce the batch size below or equal in 5 lacks.',
             icon: 'fa fa-warning',
             type: 'red',
             buttons: {
                omg: {
                   text: 'Try again',
                   btnClass: 'btn-red',
                }
             }
          });
          
          return false;
          /* ################# Checking Batch Size - Validation - (Stop) ################# */
       } else {
        /* ################# Save& Send SMS - (Start) ################# */

        $('#send_sms_now').prop('disabled', true); 
        $('#cancel_btn').prop('disabled', true);
        $('#cancel_schedule_btn').prop('disabled', true);
        $('#confirm_schedule').prop('disabled', true);

        if ($('#filter_mode').prop("checked") == true) {
          var filter_mode    = 'include';
        } else {
          var filter_mode    = 'exclude';
        }

        var country          = $("#country").val();
        var city             = $("#city").val();
        var state            = $("#state").val();
        var nationality      = $("#nationality").val();
        var pincode          = $("#pincode").val();
        var gender           = $("#gender").val();
        var locality         = $("#locality").val();
        var profession       = $("#profession").val();
        var salary           = $("#salary").val();
        var source           = $("#source").val();
        var operator_name    = $("#operator_name").val();
        var minAge           = $("#minAge").val();
        var maxAge           = $("#maxAge").val();
        var lead_from_date   = $(".from_date").val();
        var lead_to_date     = $(".to_date").val();
        var action_button_name = this.id;

        if (action_button_name == 'confirm_schedule') {
          $("#schedule_loader").show();
          var schedule_date_and_time = $("#schedule_date_and_time").val();
        } else {
          var schedule_date_and_time = '';
          $("#loader").show();
        }

        var filter_obj = {};

        if (country.length > 0) {
            var country_name = $("#country option:selected").map(function() {
                    return $(this).text();
            }).get();
            filter_obj['country'] = country_name;
            filter_obj['country_id'] = country;
        }

        if (state.length > 0) {
            var state_name = $("#state option:selected").map(function() {
                    return $(this).text();
            }).get();
            filter_obj['state'] = state_name;
            filter_obj['state_id'] = state;
        }

        if (city.length > 0) {
            var city_name = $("#city option:selected").map(function() {
                    return $(this).text();
            }).get();
            filter_obj['city'] = city_name;
            filter_obj['city_id'] = city;
        }

        if (nationality != '') {
            var nationality_name = $("#nationality option:selected").map(function() {
                    return $(this).text();
            }).get();
            filter_obj['nationality'] = nationality_name; 
            filter_obj['nationality_id'] = nationality;
        }

        if (pincode != '') {
            filter_obj['pincode'] = pincode;
        }

        if (gender != '') {
            var gender_name = $("#gender option:selected").map(function() {
                    return $(this).text();
            }).get();
            filter_obj['gender'] = gender_name;
            filter_obj['gender_id'] = gender;
        }

        if (locality != '') {
            filter_obj['locality'] = locality;
        }


        if (profession != '') {
            filter_obj['profession'] = profession;
        }


        if (salary != '') {
            filter_obj['salary'] = salary;
        }

        if (source != '') {
            filter_obj['source'] = source;
        }

        if (operator_name != '') {
            var operator_name_text = $("#operator_name option:selected").map(function() {
              return $(this).text();
            }).get();
            filter_obj['operator_name'] = operator_name_text; //contains name value
            filter_obj['operator'] = operator_name; // contains id value
        }

        if (lead_from_date != '') {
            filter_obj['lead_from_date'] = lead_from_date;
        }

        if (lead_to_date != '') {
            filter_obj['lead_to_date'] = lead_to_date;
        }

        var check_empty = jQuery.isEmptyObject(filter_obj);

        if (check_empty) {
            filter_obj['empty'] = 'null';
        }


        var category_id          = $("#category_id").val();
        var content_label_name   = $("#content_label_name").val();
        var hide_text            = $(".hide_text").val();
        var destination_url      = $("#destination_url").val();
        var filter_category_id   = $("#filter_category_id").val();

        // var filter_campaign_id =$("#filter_campaign_id").val();
        // var filter_content_label_id =$("#filter_content_label_id").val();
        // var fil_camp_all_ids =$("#fil_camp_all_ids").val();
        // var fil_content_label_all_ids =$("#fil_content_label_all_ids").val();
        // var non_selected_con_ids = $("#non_selected_con_ids").val();

        var filter_topper_id     = $("#filter_topper_id").val();
        var minRecord            = $("#from_rec_val").val();
        var maxRecord            = $("#to_rec_val").val();
        var minAge               = $("#minAge").val();
        var maxAge               = $("#maxAge").val();
        var page_name            = $("#page_name").val();
        var campaign_id          = $("#campaign_id").val();
        var stored_camp_id       = $("#stored_camp_id").val();
        var smpp_id              = $("#smpp_name").val();
        var sender_id            = $("#sender_addr").val();
        var total_contacts       = $("#total_contacts").val();
        var get_campaign_name    = $("#get_campaign_name").val();
        var get_category_name    = $("#get_category_name").val();
        var get_content_id       = $("#get_content_id").val();
        var camp_content_label   = $("#camp_content_label").val();
        var get_sms_content      = $("#get_sms_content").val();
        var original_sms_content = $(".hide_text").val();
        var total_sms_sent       = $("#totl_final_val").text();
        
        /*  include and exclude campaign multiple filters data starts */
          var include_camp_ids       = [];
          var exclude_camp_ids       = [];
          var include_cont_lbl_ids   = [];
          var exclude_cont_lbl_ids   = [];

          var filter_campaign_ids    = {};
          var filter_content_label_ids = {};
          var filter_modes_obj         = {};

          for (i = 1; i <= $('.multiple_filters_search').length; i++) {
            
            if ($("#filter_mode_" + i).prop("checked") == true) {
              var filter_mode            = 'include';
            } else {
              var filter_mode            = 'exclude';
            }

            var fil_mode_field_name               = 'filter_mode_' + i;
            filter_modes_obj[fil_mode_field_name] = filter_mode;

            var filter_campaign_id_value = $("#filter_campaign_id_" + i).val();
            
            if (filter_campaign_id_value) {
              var filter_camp_id = [];
              var camp_field_name = 'filter_campaign_id_' + i;

              if (filter_mode == 'include') {
                if (filter_campaign_id_value.includes("0")) {
                  
                  $('#filter_campaign_id_' + i + ' option:not(:first)').each(function() { 
                    filter_camp_id.push($(this).attr('value'));
                    if (include_camp_ids.indexOf($(this).attr('value')) === -1) {
                      include_camp_ids.push($(this).attr('value'));
                    }
                    filter_campaign_ids[camp_field_name] = filter_camp_id;
                  });
                } else if (Array.isArray(filter_campaign_id_value)) {
                  for (var j = 0, len = filter_campaign_id_value.length; j < len; j++) {
                    filter_camp_id.push(filter_campaign_id_value[j]);
                    if (include_camp_ids.indexOf(filter_campaign_id_value[j].toString()) === -1) {
                      include_camp_ids.push(filter_campaign_id_value[j]);
                    }
                  }
                  filter_campaign_ids[camp_field_name] = filter_camp_id;
                } else {
                  include_camp_ids.push(filter_campaign_id_value);
                  filter_campaign_ids[camp_field_name] = filter_campaign_id_value;
                } 
               
              } else {
                if (filter_campaign_id_value.includes("0")) {

                  $('#filter_campaign_id_' + i + ' option:not(:first)').each(function() { 
                    filter_camp_id.push($(this).attr('value'));
                    if (exclude_camp_ids.indexOf($(this).attr('value')) === -1) {
                      exclude_camp_ids.push( $(this).attr('value') );
                    }
                  });
                  filter_campaign_ids[camp_field_name] = filter_camp_id;
                } else if (Array.isArray(filter_campaign_id_value)) {
                  for (var j = 0, len = filter_campaign_id_value.length; j < len; j++) {
                    filter_camp_id.push(filter_campaign_id_value[j]);
                    if (exclude_camp_ids.indexOf(filter_campaign_id_value[j].toString()) === -1) {
                      if (exclude_camp_ids.indexOf($(this).attr('value')) === -1) {
                        exclude_camp_ids.push(filter_campaign_id_value[j]);
                      }
                    }
                  }
                  filter_campaign_ids[camp_field_name] = filter_camp_id;
                } else {
                  exclude_camp_ids.push(filter_campaign_id_value);
                  filter_campaign_ids[camp_field_name] = filter_campaign_id_value;
                } 
              }

            }

            var filter_content_lbl_id_value = $("#filter_content_label_id_" + i).val();

            if (filter_content_lbl_id_value) {
              
              var filter_cont_lbl_id  = [];
              var cont_lbl_field_name = 'filter_content_label_id_' + i;

              if (filter_mode == 'include') {
                if (filter_content_lbl_id_value.includes("0")) {
                  $('#filter_content_label_id_' + i + ' option:not(:first)').each(function() { 
                    filter_cont_lbl_id.push($(this).attr('value'));
                    if (include_cont_lbl_ids.indexOf($(this).attr('value')) === -1) {
                      include_cont_lbl_ids.push( $(this).attr('value') );
                    }
                  });
                  filter_content_label_ids[cont_lbl_field_name] = filter_cont_lbl_id;

                } else if (Array.isArray(filter_content_lbl_id_value)) {
                  for (var j = 0, len = filter_content_lbl_id_value.length; j < len; j++) {
                    filter_cont_lbl_id.push(filter_content_lbl_id_value[j]);
                    if (include_cont_lbl_ids.indexOf(filter_content_lbl_id_value[j].toString()) === -1) {
                      include_cont_lbl_ids.push(filter_content_lbl_id_value[j]);
                    }
                  }
                  filter_content_label_ids[cont_lbl_field_name] = filter_cont_lbl_id;
                } else {
                  include_cont_lbl_ids.push(filter_content_lbl_id_value);
                  filter_content_label_ids[cont_lbl_field_name] = filter_content_lbl_id_value;
                } 

              } else {
               if (filter_content_lbl_id_value.includes("0")) {
                  $('#filter_content_label_id_' + i + ' option:not(:first)').each(function() { 
                    filter_cont_lbl_id.push($(this).attr('value'));
                    if (exclude_cont_lbl_ids.indexOf($(this).attr('value')) === -1) {
                      exclude_cont_lbl_ids.push( $(this).attr('value') );
                    }
                  });
                  filter_content_label_ids[cont_lbl_field_name] = filter_cont_lbl_id;
                } else if (Array.isArray(filter_content_lbl_id_value)) {

                  for (var j = 0, len = filter_content_lbl_id_value.length; j < len; j++) {
                    filter_cont_lbl_id.push(filter_content_lbl_id_value[j]);
                    if (exclude_cont_lbl_ids.indexOf(filter_content_lbl_id_value[j].toString()) === -1) {
                      exclude_cont_lbl_ids.push(filter_content_lbl_id_value[j]);
                    }
                  }
                  filter_content_label_ids[cont_lbl_field_name] = filter_cont_lbl_id;
                } else {
                  exclude_cont_lbl_ids.push(filter_content_lbl_id_value[j]);
                  filter_content_label_ids[cont_lbl_field_name] = filter_content_lbl_id_value;
                } 
              }
            }
          }
          
          /*  include and exclude campaign multiple filters data ends */

        var new_campaign_data =  {
          'campaign_id'          : campaign_id,
          'category_id'          : category_id,
          'get_campaign_name'    : get_campaign_name,
          'get_category_name'    : get_category_name,
          'original_sms_content' : original_sms_content,
          'get_content_id'       : get_content_id,
          'camp_content_label'   : camp_content_label,
          'get_sms_content'      : get_sms_content,
          'content_label_name'   : content_label_name,
          'hide_text'            : hide_text,
          'destination_url'      : destination_url ,
          'filter_category_id'   : filter_category_id,

          // 'filter_campaign_id': filter_campaign_id,
          // 'filter_content_label_id':filter_content_label_id,
          // 'fil_camp_all_ids': fil_camp_all_ids,
          // 'fil_content_label_all_ids': fil_content_label_all_ids,
          // 'non_selected_con_ids':non_selected_con_ids,

          'filter_topper_id'    : filter_topper_id,
          //'filter_mode': filter_mode,
          'minRecord'           : minRecord,
          'maxRecord'           : maxRecord,
          'minAge'              : minAge ,
          'maxAge'              : maxAge,
          'page_name'           : page_name,
          'stored_camp_id'      : stored_camp_id,
          'button_type'         : 'copy_new_content',
          'smpp_id'             : smpp_id,
          'sender_id'           : sender_id,
          'filter_search'       : filter_obj,
          'total_contacts'      : total_contacts,
          'total_sms_sent'      : total_sms_sent,
          'schedule_date_and_time' : schedule_date_and_time,
          'action'                 : action_button_name,
          'include_camp_ids'       : include_camp_ids,
          'exclude_camp_ids'       : exclude_camp_ids,
          'include_cont_lbl_ids'   : include_cont_lbl_ids,
          'exclude_cont_lbl_ids'   : exclude_cont_lbl_ids,
          'filter_campaign_ids_obj'      : filter_campaign_ids,
          'filter_content_label_ids_obj' : filter_content_label_ids,
          'filter_modes_obj'      : filter_modes_obj,
         }

        $.ajax({
          url       : '/sms/uni_submit',
          type      : 'POST',
          dataType  : 'json',
          data      : new_campaign_data, 
          success   : function (response) {

            if (response.status == 200) {

              $('#cancel_btn').prop('disabled', false);
              $('#cancel_schedule_btn').prop('disabled', false);
              $('#confirm_schedule').prop('disabled', false);


              if (action_button_name == 'confirm_schedule') {
                $("#schedule_loader").hide();
              } else {
                $("#loader").hide();
              } 

              if (action_button_name == 'confirm_schedule') {

                swal("Success", "Successfully scheduled campaign content!", "success")
                .then((value) => {
                  var campaign_id = response.campaign_id;
                  window.location = '/campaign/view/' + campaign_id;
                });

              } else {

                swal("Success", "SMS successfully sent!", "success")
                .then((value) => {
                    var campaign_id = response.campaign_id;
                    window.location = '/campaign/view/' + campaign_id;
                });
              }
            } else {
              window.location       = '/campaign/list';
            }
          }
        });
        
        /* ################# Save& Send SMS - (Stop) ################# */

      }
    });
  });

function getPrevRecordData() {

  var fil_topp_id = $('#filter_topper_id').val();
  var fil_cat_id_val = $('#filter_category_id').val();
  var stored_camp_id = $('#stored_camp_id').val();
  $.ajax({
    url: '/campaign/get_prev_rec',
    type: 'POST',
    dataType: 'json',
    data: {
        'campaign_id': stored_camp_id,
        'filter_category_id': fil_cat_id_val,
        'filter_topper_name': fil_topp_id,
    },
    success: function(response) {

        var data = response.previous_record_data;
        if (data[0]) {
            var from_rec_selc_val = data[0].segments.minRecord;
            var to_rec_selc_val = data[0].segments.maxRecord;
            var latest_label_cat_id = data[0].segments.filter_category_id; 
            var latest_label_topper_id = data[0].segments.filter_topper;
            $('#from_rec_selec_val').val('');
            $('#to_rec_selec_val').val('');
           
            if ((JSON.stringify($('#filter_category_id').val()) == JSON.stringify(latest_label_cat_id)) && ($('#filter_topper_id').val() == latest_label_topper_id)) {

                $('#from_rec_selec_val').val( from_rec_selc_val);
                $('#to_rec_selec_val').val(to_rec_selc_val);
                $('.from_rec_selec_txt').text(  from_rec_selc_val);
                $('.to_rec_selec_txt').text( to_rec_selc_val);
                var get_from_rec_val = $('#from_rec_selec_val').val();
                var get_to_rec_val = $('#to_rec_selec_val').val();
                $('.prev_rec').show();
                if (get_from_rec_val == '' || get_from_rec_val == 'undefined' || get_to_rec_val == '' || get_to_rec_val == 'undefined') {
                   $('#from_rec_selec_val').val(1);
                    $('.from_rec_selec_txt').text(1);
                    var total_sender = data[0].total_sender;
                    $('#to_rec_selec_val').val(total_sender);
                    $('.to_rec_selec_txt').text( total_sender);
                }
            } else {
                $('.prev_rec').hide();
            }
        } else {
          $('.prev_rec').hide();
        }

        var filter_by_html = '';
        filter_by_html += '<p><b>Topper:</b> ' + latest_label_topper_id  + '</p>';
        $("#filter-by-prev-val").html(filter_by_html);
    }
  }); //ajax call end
}
</script>
<!-- SMS Content Box Validations Js-->
<script src="/public/js/campaign/send_sms.js"></script>

<style type="text/css">
.table th, .table td{
    padding: 12px 15px 11px 15px!important;
}
.noUi-connect{
   background: #3FB8AF;
}
table.table.table-bordered.upload-file-table th {
    width: 38%!important;
}   
</style>
<!-- ExClude and Include Button - CSS and Js Files - Stop -->

<script src="/public/js/dropdown/state_city.js"></script>

<!-- Sender ID Validation - POP UP - JS-->
<script src="/public/js/campaign/sender_id.js"></script>