<% include ../layouts/header %>
<div class="content-wrapper">
   <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
         <div class="card-body">
            <h4 class="card-title">Draft Campaign</h4>
            <a href="/campaign/list"><button class="btn btn-danger" style="float:right;"><i class="mdi mdi-backup-restore" data-name="mdi mdi-backup-restore"></i>Go Back</button></a>
            <form role="form" name="update-content" class="campaign-save" id="campaign-save" action="/export/export_and_save" type="post" onsubmit="button_mode.disabled = true; return true;">
               <input type="hidden" name="camp_id" id="camp_id" value="<%= campaignIndex %>">
               <input type="hidden" name="stored_draft_id" id="stored_draft_id" value="<%= campaignIndex %>">
               <input value="<%= campaign_draft_details.sms_content %>" type="hidden" id="get_sms_content">
               <div id="form-total">
                <!-- Included all step forms -->
                <% include draft_campaign_steps/step_1 %>
                <% include draft_campaign_steps/step_2 %>
                <% include draft_campaign_steps/step_3 %>
                <% include add_multiple_filters_tab %>
                <% include draft_campaign_steps/step_4 %>

                <!-- Included all step forms -->
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<!-- Modal POPUP - Include - Start -->
<% include preview_modal_popup %>
<!-- Modal POPUP - Include - Stop -->

<!-- Modal POPUP - Add new sender ID - Start -->
<% include add_new_sender_id_pop_up %>
<!-- Modal POPUP - Add new sender ID - Stop -->

<!-- Modal POPUP - Testing SMS - Start -->
<% include test_sms_modal_popup %>
<!-- Modal POPUP - Testing SMS - Stop -->

<!-- Modal POPUP - Testing SMS - Start -->
<% include schedule_preview_modal_popup %>
<!-- Modal POPUP - Testing SMS - Stop -->

<!-- Modal POPUP - Add Numbers - Start -->
<% include add_numbers_preview_modal_popup %>
<!-- Modal POPUP - Add Numbers - Stop -->

<% include ../layouts/footer %>

<!-- Bootstrap - Exclude and Include Button - CSS and Js Files - Start -->
<link href="/public/css/bootstrap-toggle.min.css" rel="stylesheet" />
<script src="/public/js/bootstrap-toggle.min.js"></script>

<!-- Datepicker JS-->
<script src="/public/js/dropdown/date_picker.js"></script>


<!-- Schedule button - JS-->
<script src="/public/js/campaign/schedule_sms.js"></script>

<!-- Preview button Test With SMS - JS-->
<script src="/public/js/campaign/test_with_sms.js"></script>

<!-- Preview button Validation - JS-->
<script src="/public/js/campaign/preview_validation.js"></script>

<!-- Preview button add numbers - JS-->
<script src="/public/js/campaign/add_numbers.js"></script>

<!-- multiple filters adv search add and remove tabs - JS-->
<script src="/public/js/campaign/multiple_filters_adv_search.js"></script>


<script type="text/javascript">
   
  $(document).ready(function() {
    
    $.ajax({
      type      : "POST",
      url       : '/smpp/get_smpp_name',
      dataType  : 'json',
      success   : function (response) {
        $("#sender_id_smpp").html(response.html);
        $("#sender_id_smpp").select2();
      }
    }); 

    $("#category_id").select2();
     
    var message  = $("#get_sms_content").val();
    $("#sent_messages").text(message);
    $("#message_preview").text(message);
    $("#sms_content_val").text(message);  

    /*  getting values for filters section */
    <% 
      if (campaign_draft_details.draft_segments !== '') {
        var draft_segments = campaign_draft_details.draft_segments;
        var filters        = campaign_draft_details.draft_segments.filters; 
        var filter_search  = campaign_draft_details.draft_segments.filter_search; 
    %> 
        
     /* filter category id */
     <%  if ('filter_category_id' in filters) { %>
       $('#filter_category_id').val([<%= filters.filter_category_id %>]).trigger('change');
     <% } %>
     /* filter category id */

      /* filter category id */
     <%  if ('filter_campaign_id' in filters) { %>
       $('#filter_campaign_id_1').val([<%= filters.filter_campaign_id %>]).trigger('change');
     <% } %>
     /* filter category id */
     
     /* filter campaign id Note: values are getting here because on page load only we need to fetch values in draft*/
     <%  if ('filter_content_label_id' in filters) { %>
       $('#filter_content_label_id_1').val([<%= filters.filter_content_label_id %>]).trigger('change');
     <%  } %>
     /* end filter campaign id */

        /* country */
       <%  if ('country' in filter_search) { %>
         $('#country').val([<%= filter_search.country %>]).trigger('change');
       <% } %>
         /* end country */

       /* state */
      <%  if ('state' in filter_search) { %>
        $('#state').val([<%= filter_search.state %>]).trigger('change');
      <% } %>
      /* end state */
     

      /* city */
      <%  if ('city' in filter_search) { %>
        $('#city').val([<%= filter_search.city %>]).trigger('change');
      <% } %>
      /* end city */

      /* state */
      <%  if ('nationality' in filter_search) { %>
        $('#nationality').val([<%= filter_search.nationality %>]).trigger('change');
      <% } %>
      /* end state */

      /*  pin code*/
      <%  if ('pincode' in filter_search) { %>
        $('#pincode').val(['<%= filter_search.pincode %>']).trigger('change');
      <% } %>
      /* end pin code */

      /*  gender*/
      <%  if ('gender' in filter_search) { %>    
        $('#gender').val([<%=filter_search.gender%>]).trigger('change');
      <% } %>
      /* end gender*/

       /* locality*/
      <%  if ('locality' in filter_search) { %>
        $('#locality').val('<%= filter_search.locality %>').trigger('change');
      <% } %>
      /* end locality*/

      /* profession */
      <%  if ('profession' in filter_search) { %>
        $('#profession').val([<%= filter_search.profession%>]).trigger('change');
      <% } %>
      /* end profession */

      /* salary*/
      <%  if ('salary' in filter_search) { %>
        $('#salary').val(['<%= filter_search.salary %>']).trigger('change');
      <% } %>
      /* end salary*/

       /* source name*/
      <%  if ('source' in filter_search) { %>
        $('#source').val([<%= filter_search.source %>]).trigger('change');
      <% } %>
      /* end source*/

       /* lead from date */
      <%  if ('lead_from_date' in filter_search) { %>
        $('.from_date').val(['<%= filter_search.lead_from_date %>']).trigger('change');
      <% } %>
      /* end lead from date*/

      /* lead to date */
      <%  if ('lead_to_date' in filter_search) { %>
        $('.to_date').val(['<%= filter_search.lead_to_date %>']).trigger('change');
      <% } %>
      /* end lead to date*/

       /* operator name*/
      <%  if ('operator_name' in filter_search) { %>
        $('#operator_name').val([<%= filter_search.operator_name %>]).trigger('change');
      <% } %>
      /* end operator*/

      /* filter_mode */
      <%  if ('filter_mode' in draft_segments) { 
          var get_filter_mode = draft_segments.filter_mode;
          if (get_filter_mode == 'include') {
            var checked_status='true';
          } else {
            var checked_status='false';     
          } %>
        $("#filter_mode_1").prop("checked", <%= checked_status %>).change();
      <% } %>
      /* end filter_mode*/

       /* smpp_id name*/
      <%   if (campaign_draft_details.draft_segments.smpp_id !== '') { %>
        //alert('smpp')

        $('#smpp_name').val([<%= draft_segments.smpp_id %>]).trigger('change');
      <% } %>
      /* end smpp_id*/

      /* smpp name*/
      <%  if (campaign_draft_details.draft_segments.smpp_sender_name !== '') { %>
        $('#sender_addr').val(['<%= draft_segments.smpp_sender_name %>']).trigger('change');
      <% } %>
      /* end smpp name*/

      /*  mutliple filters fetching starts */
        /* multiple filter campaign ids starts */
          <%  if ('filter_campaign_ids' in filters) { 
            var filter_camp_ids   =  filters.filter_campaign_ids; 
            var filter_camp_ids_len = Object.keys(filter_camp_ids).length;
            if (filter_camp_ids_len > 0) {
              for (i = 1; i <= filter_camp_ids_len; i++) {
                var fiter_camp_id_val   = filter_camp_ids['filter_campaign_id_' + i]; console.log(fiter_camp_id_val);
          %>

          $('#filter_campaign_id_' + <%= i %>).val([<%= fiter_camp_id_val %>]).trigger('change');
          <% } } } %>
        /* multiple filter campaign ids ends */

        /* multiple filter content label ids starts */
          <%  if ('filter_content_label_ids' in filters ) { 
            var filter_cont_lbl_ids        = filters.filter_content_label_ids; 
            var filter_cont_lbl_ids_len    = Object.keys(filter_cont_lbl_ids).length; // json length
            if (filter_cont_lbl_ids_len > 0) {
              for (var j = 0; j < filter_cont_lbl_ids_len; j++) {
                var key_name               = Object.keys(filter_cont_lbl_ids)[j]; // converted to array
                var fiter_cont_lbl_id_val  = Object.values(filter_cont_lbl_ids)[j];  
          %>
            $('#<%= key_name %>').val([<%= fiter_cont_lbl_id_val %>]).trigger('change');
          <% } } } %>
        /* multiple filter content label ids ends */

        /* multiple filter mode starts */
          <%  if ('filter_modes' in filters) { 
            var filter_modes     =  filters.filter_modes; 
            var filter_modes_len = Object.keys(filter_modes).length;
            if (filter_modes_len > 0) {
              for (k = 0; k < filter_modes_len; k++) {
                var filter_key_name  = Object.keys(filter_modes)[k]; // converted to array
                var fiter_mode_val   = Object.values(filter_modes)[k]; console.log('==filter mode val=='); console.log(fiter_mode_val);

                if (fiter_mode_val == 'include') {
                  var checked_fil_mode_status = 'true';
                } else {
                  var checked_fil_mode_status = 'false';     
                }
          %>

          $('#<%= filter_key_name %>').prop("checked", <%= checked_fil_mode_status %>).change();
          <% } } } %>
        /* multiple filter mode ends */
      /* multiple filters fetching ends */
 /* ############## showing selected filters end ##############*/
 <% } %>
   
   /* ############## End getting values for filters section ##############*/


   /* ############## Age Slider - Start ############## */
     <% 
       if (campaign_draft_details.draft_segments !== '') {

         var segments              = campaign_draft_details.draft_segments; console.log(segments)
         var setting_minRecord_age = segments.minAge;  
         var setting_maxRecord_age = segments.maxAge;  
         var topper_status         = segments.filter_topper_id;

          if (setting_minRecord_age =='' || setting_minRecord_age == null) {
            var setting_minRecord_age = 0;
          }

          if (setting_maxRecord_age == '' || setting_maxRecord_age == null) {
            var setting_maxRecord_age = 100;
          }

          if (topper_status == 'non-sender') {
            var setting_minRecord_age = 0;
            var setting_maxRecord_age = 100;
          }

        } else {
          var setting_minRecord_age = 0;
          var setting_maxRecord_age = 100;
        }

     %>   

    if ('<%=topper_status%>'  == 'non-sender') {
      $('#advanced_search_box').hide();
    }
      if ('<%= topper_status %>' == 'clicker') {
        $(".hide_clicker").hide();
      } else {
        $(".hide_clicker").show();
      }//end if

     var slider = document.getElementById('ageSlider');

     noUiSlider.create(slider, {
       start: [<%= setting_minRecord_age %>, <%= setting_maxRecord_age %>], //dynamic values
       //connect: true,
       range: {
       'min': 0,
       'max': 100
       },
       //start: [49],
       pips: {mode: 'count', values: 5}
     });

      //onupdate set the hidden input + trigger a change so v-model gets update
      slider.noUiSlider.on('update', function(values) {
           $("#minAge").val(Math.round(values[0])).trigger('change');
           $("#maxAge").val(Math.round(values[1])).trigger('change');
      });
        
      new Vue({
          el: "#vue",
          data: {
           minAge: '',
           maxAge: ''
          }
      });

  /* ############## Age Slider - Stop ############## */


});
   
</script>

<!-- Advanced Search Filter Js-->
<script src="/public/js/campaign/filter.js"></script>
<!-- Sender ID Validation - POP UP - JS-->
<script src="/public/js/campaign/sender_id.js"></script>

<!-- Basic - Search Filter Js-->
<script src="/public/js/campaign/search.js"></script>


<script type="text/javascript">
$(document).ready(function() {
  $(window).keydown(function(event){
    if(event.target.tagName != 'TEXTAREA') {
      if(event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
    }
  });
});
</script>

<!-- Minimum and Maximum Validations Js-->
<script src="/public/js/campaign/min_and_max.js"></script>

<!-- Select2-ID Js-->
<script src="/public/js/campaign/select_2.js"></script>

<!-- SMS Content Box Validations Js-->
<script src="/public/js/campaign/send_sms.js"></script>

<!-- State and City Js-->
<script src="/public/js/dropdown/state_city.js"></script>

<!-- Draft save to db Js-->
<script src="/public/js/campaign/draft_new.js"></script>

<script type="text/javascript">

$(document).ready(function() {
  $(document).on("click","#preview",function() {
    var smpp_name     = $("#smpp_name option:selected").text();
    var sender_id     = $("#sender_addr option:selected").text();
    $("#preview_smpp_name").text(smpp_name);
    $("#preview_smpp_sender_id").text(sender_id);
  });

  /*Modal Popup Close-Button Code */
  $('#cancel_btn').click(function() {
    $('#previewCSVModal').modal('hide');
  });   

});
</script>
<script src="/public/js/campaign/global_send_sms.js"></script>

<style type="text/css">
.table th, .table td{
    padding: 12px 15px 11px 15px!important;
}
.noUi-connect{
   background: #3FB8AF;
}
table.table.table-bordered.upload-file-table th {
    width: 38%!important;
}   
</style>
<!-- ExClude and Include Button - CSS and Js Files - Stop -->
