<% include ./../layouts/header %>
<% include ./../layouts/top_header %>
<% include ./../layouts/side_menu %>

  <div class="col-md-10 compressedContentWidth">

      <div class="col-md-12 topSectionContent">

          <div class="campaignHeaderSection">

              <div class="col-md-12 contentHeader">
                  <h3>Manage Campaign</h3>
                  <div class="contentHeaderImgSec createNewCampaign">
                      <a href="/campaign/add_campaign"><img src="../../public/images/Campaign_list/addIcon.svg" alt=""></a>
                  </div>
              </div>

              <div class="col-md-12 marginTop5px">
                  <div class="col-md-6 paddingZero">
                      <input class="serachInputStyles" type="text" placeholder="Search.." name="search" id="search" oninput="load_camplist_tbl(1)" >
                  </div>
                  <div class="col-md-6 entitiesSec">
                      <label for="entries">Show Entries &nbsp; &nbsp; </label>
                      <select class="dropDownSelect" id="camp_per_page" name="camp_per_page">
                          <option value="10">10</option>
                          <option value="20">20</option>
                      </select>
                  </div>
              </div>

          </div>

      </div>

      <div class="clearfix"></div>

      <div class="bottomSectionContent">

          <div class="col-md-12 campaignTableSection">

              <div class="table-responsive">          
                  <table class="table campaignTable">
                    <thead>
                      <tr>
                          <th>ID</th>
                          <th>Campaign Name</th>
                          <th>Status</th>
                          <th>Created By</th>
                          <th>Created At</th>
                          <th>Action</th>
                      </tr>
                    </thead>
                    <tbody id="load_table_data">
                    </tbody>
                    <br>

                  </table>
                  <div id="pagination"></div>
                 

              </div>
          </div>

      </div>

  </div>

</div>

</div>
</div>
<% include ./../layouts/footer %>
<script type="text/javascript">
  $(document).ready(function () {

    load_camplist_tbl(1); //on page load

    $(document).on('click', '.page-link', function() {
      var page_no = $(this).data('value');
      load_camplist_tbl(page_no);
    });   

    $('#camp_per_page').on('change', function() {
      load_camplist_tbl(1);
    });
    
  })//document
function load_camplist_tbl(page_no) {

      $("#load_table_data").html('');
      $("#load_table_data").html('<td colspan="5" class="text-center"><img src="/public/images/loader_form.gif" class="img-responsive" alt="Loading..."></td>');
     
      var per_page        = $('#camp_per_page').val(); 
      var search_keyword  = $('#search').val();

      $.ajax({
        type: 'POST',
        url: '/campaign/get_campaign_list',
        data: {'per_page' : per_page, 'page_no':page_no, 'search_keyword' : search_keyword},
        success: function (response) {
          console.log(response);
          $("#load_table_data").html('');
          
          if (response.status == 200) {
            $('#load_table_data').append(response.table_data);
          } else {
            $("#load_table_data").html('<td colspan="5" class="text-center">' + response.message + '</td>');
          }
            $("#load_table_data").show(); 
            $("#pagination").html(response.pagination_content);
        } //success
      }); //get_topten_camp
    } //load_camplist_tbl
</script>