<!-- ################# Campaign Preview - Modal POPUP - Start ################# -->
<div class="modal fade" id="previewCSVModal" tabindex="-1" role="dialog" aria-labelledby="previewCSVModal"
   aria-hidden="true" class="previewCSVModal">
   <div class="modal-dialog" role="document">
      <div class="modal-content" id="csv_content" style="width:700px;">

         <div class="modal-header">
            <h5 class="modal-title" id="createCategoryModal">Campaign Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-12">
                  <div class="form-group">
                     <table class="table table-bordered upload-file-table" style="background: #fff;">
                        <tbody>
                           <tr class="space-row">
                              <th>Campaign Name:</th>
                              <td id="campaing-val"></td>
                           </tr>
                           <tr class="space-row">
                              <th>Campaign Category:</th>
                              <td id="category-val" class="category-val"></td>
                           </tr>
                           <tr class="space-row">
                              <th>Campaign Content Label Name:</th>
                              <td id="campaing-content-val"></td>
                           </tr>
                           <tr class="space-row">
                              <th>
                                 SMS Content:<button type="button" class="btn btn-icons btn-rounded btn-dribbble count_box"><span id="url-count" class="url-count">0</span>/<span id="char-count" class="char-count">160</span>
                                          </button> <br/><br/>
                                 <p>(<span class="remaining_chars">Characters:0</span>, <span class="messages message_count_show" id="messages">1 </span>&nbsp;<span class="message_clr">SMS</span>)
                                 </p>
                              </th>
                              <td><textarea class="form-control" id="sms_content_val" readonly></textarea></td>
                           </tr>
                           <tr class="space-row">
                              <th>Destination URL:</th>
                              <td><textarea class="form-control" id="detination_url_val" readonly></textarea>
                              </td>
                           </tr>
                           <tr class="space-row">
                              <th>Total Contacts:
                                 <br/>
                                 <span class="font11 redTxt"> Note : You can export in batches upto 5,00,000 </span>
                              </th>
                              <td><b class="total-contacts-val" id="totl_final_val"></b></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-12">
                  <div class="form-group" style="background: #fff;">
                     <table class="table table-bordered" style="text-align: center;">
                        <tbody class="table-success">
                           <tr>
                              <th>Message Type</th>
                              <th>SMPP</th>
                              <th>Sender ID</th>
                           </tr>
                           <tr>
                              <td>Text SMS</td>
                              <td id="preview_smpp_name"></td>
                              <td id="preview_smpp_sender_id"></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>

            <div class="modal-footer">
               <div class="row">
                  <div class="col-12">
                     <div class="form-group">
                        <button type="button" id="cancel_btn" class="btn btn-danger">Close</button>&nbsp;&nbsp;
                        <button type="button" id="send_sms_now" class="btn btn-success">Send SMS now</button>
                        <img src="/public/images/loader.gif" style="display:none;width: 35px;margin: auto;" id="loader">
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</div>

<!-- ################# Campaign Preview - Modal POPUP - Stop #################