<!-- ################# Campaign Preview - Modal POPUP - Start ################# -->
<div class="modal fade" id="previewReScheduleModal" tabindex="-1" role="dialog" aria-labelledby="previewReScheduleModal"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content" id="reschedule_content" style="width:700px;">

         <div class="modal-header">
            <h5 class="modal-title" id="createCategoryModal">ReSchedule!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-12">
                  <div class="form-group">
                     <table class="table table-bordered upload-file-table" style="background: #fff;">
                        <tbody>
                           <h6>You are going to send sms from the system. Please again confirm Schedule date and time.</h6>
                           <tr class="space-row">
                              <th>Campaign Name:</th>
                              <td id="scheduled-campaing-name"></td>
                           </tr>
                           <tr class="space-row">
                              <th>Content Name:</th>
                              <td id="scheduled-content-name"></td>
                           </tr>
                           <input type="hidden" id="reschedule_campaign_id" value="">
                           <input type="hidden" id="reschedule_content_id" value="">
                           <tr class="space-row">
                              <th>Schedule:</th>
                              <td><input type="text" name="schedule_date_and_time" class="schedule_date form-control" id="schedule_date_and_time" readonly style="color: #fff;cursor:pointer;background: #3F51B5;"></td>
                           </tr>

                        </tbody>
                     </table>
                  </div>
               </div>
            </div>


            <div class="modal-footer">
               <div class="row">
                  <div class="col-12">
                     <div class="form-group">
                        <button type="button" id="cancel_schedule_btn" class="btn btn-danger">Close</button>&nbsp;&nbsp;
                        <button type="button" id="confirm_reschedule" class="btn btn-warning">Confirm & Reschedule</button>
                        <img src="/public/images/loader.gif" style="display:none;width: 35px;margin: auto;" id="schedule_loader">
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</div>

<!-- ################# Campaign Preview - Modal POPUP - Stop #################