<!-- ################# Campaign Preview - Modal POPUP - Start ################# -->
<div class="modal fade" id="previewScheduleCSVModal" tabindex="-1" role="dialog" aria-labelledby="previewScheduleCSVModal"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content" id="csv_content" style="width:700px;">

         <div class="modal-header">
            <h5 class="modal-title" id="createCategoryModal">Schedule Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-12">
                  <div class="form-group">
                     <table class="table table-bordered upload-file-table" style="background: #fff;">
                        <tbody>
                           <tr class="space-row">
                              <th>Campaign Name:</th>
                              <td id="scheduled-campaing-val"></td>
                           </tr>
                           <tr class="space-row">
                              <th>Campaign Category:</th>
                              <td id="scheduled-category-val" class="category-val"></td>
                           </tr>
                           <tr class="space-row">
                              <th>Campaign Content Label Name:</th>
                              <td id="scheduled-campaing-content-val"></td>
                           </tr>
                           <tr class="space-row">
                               <th>
                                 SMS Content:<button type="button" class="btn btn-icons btn-rounded btn-dribbble count_box"><span id="url-count" class="url-count">0</span>/<span id="char-count" class="char-count">160</span>
                                          </button> <br/><br/>
                                 <p>(<span class="remaining_chars">Characters:0</span>, <span class="messages" id="messages">1 SMS</span>)
                                 </p>
                              </th>
                              <td><textarea class="form-control" id="schedule_sms_content_val" readonly></textarea></td>
                           </tr>
                           <tr class="space-row">
                              <th>Destination URL:</th>
                              <td><textarea class="form-control" id="schedule_detination_url_val" readonly></textarea>
                              </td>
                           </tr>
                           <tr class="space-row">
                              <th>Total Contacts:
                                 <br/>
                                 <span class="font11 redTxt"> Note : You can export in batches upto 5,00,000 </span>
                              </th>
                              <td><b class="total-contacts-val"></b></td>
                           </tr>
                           <tr class="space-row">
                              <th>Schedule:</th>
                              <td><input type="text" name="schedule_date_and_time" class="schedule_date form-control" id="schedule_date_and_time" readonly style="color: #fff;cursor:pointer;background: #3F51B5;"></td>
                           </tr>

                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-12">
                  <div class="form-group" style="background: #fff;">
                     <table class="table table-bordered" style="text-align: center;">
                        <tbody class="table-success">
                           <tr>
                              <th>Message Type</th>
                              <th>SMPP</th>
                              <th>Sender ID</th>
                           </tr>
                           <tr>
                              <td>Text SMS</td>
                              <td id="schedule_smpp_name"></td>
                              <td id="schedule_smpp_sender_id"></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>

            <div class="modal-footer">
               <div class="row">
                  <div class="col-12">
                     <div class="form-group">
                        <button type="button" id="cancel_schedule_btn" class="btn btn-danger">Close</button>&nbsp;&nbsp;
                        <button type="button" id="confirm_schedule" class="btn btn-warning">Confirm & Schedule</button>
                        <img src="/public/images/loader.gif" style="display:none;width: 35px;margin: auto;" id="schedule_loader">
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</div>

<!-- ################# Campaign Preview - Modal POPUP - Stop #################