<!-- ################# Testing SMS Format - Modal POPUP - Start ################# -->
<div class="modal fade" id="previewTestingSMSModal" tabindex="-1" role="dialog" aria-labelledby="previewTestingSMSModal"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content" id="test_content" style="width:700px;">

         <div class="modal-header">
            <h5 class="modal-title redTxt" id="createCategoryModal">Testing With SMS Format & Link Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
         </div>
         <div class="modal-body">

            <div class="row">
               <div class="col-12">
                  <div class="form-group">
                     <table class="table table-bordered upload-file-table" style="background: #fff;">
                        <tbody>

                           <tr>
                              <th>SMPP:</th>
                              <td id="test_smpp"></td>
                           </tr>

                            <tr class="space-row">
                               <th>Sender ID</th>
                               <td id="test_smpp_sender_id"></td>
                            </tr>

                           <tr class="space-row">
                              <th>Select Mobile Number: <p>(<a href="JavaScript:void(0);" id="add_nmbrs" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#previewAddNumbersModal"><blink><span class="mbl_nos">Add New Mobile Numbers</span></blink></a>)</th>
                              <td id="campaing-val">
                                 <select id="user_mobile" class="form-control select2">
                                    <!-- <option disabled selected>---Please select--</option>
                                    <option value="7406604532">Ashwini Gowda</option>
                                    <option value="9886262308">Jhilmil Chatterjee S</option>
                                    <option value="8050610848">Rohith V</option>
                                    <option value="7075219924">Santhosh Kumar</option>
                                    <option value="9916446730">Atul Tiwari</option>
                                    <option value="9944744046">Vinodh Tamilvanan</option> -->
                                    <option disabled selected>---Please select--</option>
                                     <% if(add_numbers_list) { %>
                                       <% for(var i = 0; i < add_numbers_list.length; i++) { %>
                                         <option value="<%= add_numbers_list[i].mobile_number %>"><%= add_numbers_list[i].name  %></option>
                                       <% } %>
                                     <% } %>
                                 </select>
                              </td>
                           </tr>

                           <tr class="space-row">
                               <th>
                                 SMS Content:<button type="button" class="btn btn-icons btn-rounded btn-dribbble count_box"><span id="url-count" class="url-count">0</span>/<span id="char-count" class="char-count">160</span>
                                          </button> <br/><br/>
                                 <p>(<span class="remaining_chars">Characters:0</span>, <span class="messages" id="messages">1 SMS</span>)
                                 </p>
                              </th>
                              <td><textarea class="form-control" id="test_sms_content_val" readonly></textarea></td>
                           </tr>
                           <tr class="space-row">
                              <th>Destination URL:</th>
                              <td><textarea class="form-control" id="test_detination_url_val" readonly></textarea>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
           
            <div class="modal-footer">
               <div class="row">
                  <div class="col-12">
                     <div class="form-group">
                        <button type="button" id="cancel_btn_test" class="btn btn-danger">Close</button>&nbsp;&nbsp;
                        <button type="button" id="send_test_sms_now" class="btn btn-success">Send Test SMS now</button>
                        <img src="/public/images/loader.gif" style="display:none;width: 35px;margin: auto;" id="test_loader">
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</div>

<!-- ################# Testing SMS Format - Modal POPUP - Stop ################# -->