<% include ./../layouts/header %>
<% include ./../layouts/top_header %>
<% include ./../layouts/side_menu %>
<input type="hidden" name="campaign_id" id="campaign_id" value="<%= campaign_id %>">

<div class="col-md-10 compressedContentWidth">

    <section class="dashboardTopBackground">

        <div class="col-md-12 paddingZero">

            <div class="dashboardCards campaignViewCards">

                <div class="iconSec">
                    <img src="../../public/images/campaign_view/sender.png" alt="">
                </div>

                <div class="noSec">
                    <p class="boldFont">Total Sender</p>
                    <p><h5 class="font25" id="total_sender"></h5></p>
                </div>

                <div class="descSec">
                    <span>Total Sender</span>
                </div>

            </div>

            <div class="dashboardCards campaignViewCards">

                <div class="iconSec">
                    <img src="../../public/images/campaign_view/clicker.png" alt="">
                </div>

                <div class="noSec">
                    <p class="boldFont">Total Clicker</p>
                    <p><h5 class="font25" id="total_clicker"></h5></p>
                </div>

                <div class="descSec">
                    <span>Total Clicker</span>
                </div>

            </div>

            <div class="dashboardCards campaignViewCards">

                <div class="iconSec">
                    <img src="../../public/images/campaign_view/contents.png" alt="">
                </div>

                <div class="noSec">
                    <p class="boldFont">Total Contents</p>
                    <p><h5 class="font25" id="total_cont_lbls"></h5></p>
                </div>

                <div class="descSec">
                    <span>Total Contents</span>
                </div>

            </div>

        </div>

    </section>

    <div class="clearfix"></div>

    <section class="categoryNameContentSection">

        <div class="col-md-12 parentCategoryNameSec">

            <div class="col-md-12 categoryNameInnerSec">

                <div class="col-md-7 categoryContentNames">
                    <p> <span> Category Name </span> <span> : </span> <span id="cat_name"></span> </p>

                    <p> <span> Campaign Name </span> <span> : </span> <span id="camp_name"></span> </p>
                </div>

                <div class="col-md-5 rightText">
                    <button class="btn btn-light marginRight2em" data-toggle="modal"> Add Post URL </button>
                    <button class="btn btn-primary" data-toggle="modal"> Create New Content Labels </button>
                </div>
                <form id="campaign_label_form" autocomplete="off">
                    <div class="col-md-6">

                        <div class="form-group">

                            <div class="col-sm-6 paddingZero">

                                <label for="recordselection" class=""> From Date </label>
                                <input type="text" name="from_date" class="form-control from_date" placeholder="Select From Date" readonly id="from_content_lbl_date">

                            </div>

                            <div class="col-sm-6">

                                <label for="recordselection" class=""> To Date </label>
                                <input type="text" name="to_date" class="form-control to_date" id="to_content_lbl_date" placeholder="Select To Date" readonly="readonly">

                            </div>

                        </div>

                    </div>

                    <div class="col-md-6 marginTop3">

                        <button type="submit" class="btn btn-light marginRight2em" data-toggle="modal" id="campaign_label_btn"> Submit </button>
                        <img src="../../public/images/loader_form.gif" style="display:none;width: 35px;height: 35px;" id="download_export">
                        <button type="submit" class="btn btn-primary" data-toggle="modal" id="campaign_label_export_btn"> Export </button>
                        
                    </div>
                </form>
            </div>
            
        </div>

    </section>

    <div class="clearfix"></div>

    <section class="categoryNameTableSection">

        <div class="col-md-12">

            <div class="col-md-12">

                <div class="table-responsive">  
                            
                    <table class="table campaignTable">
                      <thead>
                        <tr>
                            <th>No. </th>
                            <th>Label</th>
                            <th>Content</th>
                            <th>URL</th>
                            <th>Code</th>
                            <th>SMPP</th>
                            <th>Sender ID</th>
                            <th>Total Sent</th>
                            <th>Unique Clicker</th>
                            <th>Total Clicks </th>
                            <th>CTR</th>
                            <th>Min Record</th>
                            <th>Max Record</th>
                            <th>Detailed Report</th>
                            <th>Action</th>
                        </tr>
                      </thead>
                      <tbody id="load_label_data"></tbody>
                        </table>
                    <div id="pagination"></div>
                    

                </div>
            </div>

        </div>

    </section>
</div>
</div>
</div>



<!-- campaign label details -->

<div class="modal fade" id="showContentLabelModal" role="dialog">

<div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content">

  <div class="modal-header">
  
      <img src="../../public/images/addCampaign/close_btn.svg" alt="" data-dismiss="modal">

      <h3 class="modal-title">Campaign Content Label Details</h3>

  </div>

  <div class="clearfix"></div>

  <div class="modal-body">

      <div class="col-sm-12">
          <table class="table modalTable">
              
              <tbody>

              <tr>
                  <td> Campaign Label Name </td>
                  <td id="campaing-lbl-name"></td>
              </tr>

              <tr>
                  <td>SMS Content</td>
                  <td><textarea id="sms-content" readonly style="width: 100%;height: 45px;background: grey;color: #fff;"></textarea></td>
              </tr>

              <tr>
                  <td>Destination URL</td>
                  <td><textarea id="dest-url" readonly style="width: 100%;height: 45px;background: grey;color: #fff;"></textarea></td>
              </tr>

              <tr>
                  <td>Short Code</td>
                  <td id="short-code"></td>
              </tr>
              <tr>
                  <td>Smpp Name</td>
                  <td id="get-smpp-name"></td>
              </tr>
              <tr>
                  <td>Sender ID</td>
                  <td id="get-sender-id"></td>
              </tr>
              
              <tr>
                  <td>Total Sent</td>
                  <td id="total-sent"></td>
              </tr>
              <tr>
                  <td>Total Unique Clicker</td>
                  <td id="total-unique-clicker"></td>
              </tr>
              <tr>
                  <td>Total Clicks</td>
                  <td id="total-clicks"></td>
              </tr>
              <tr>
                  <td>CTR</td>
                  <td id="ctr"></td>
              </tr>

              <tr>
                  <td>Min Record</td>
                   <td id="min-record"></td>
              </tr>
              <tr>
                  <td>Max Record</td>
                  <td id="max-record"></td>
              </tr>
              <tr>
                  <td>Detailed Report</td>
                  <td id="det-report"></td>
              </tr>
              <tr>
                  <td>Sent Date</td>
                  <td id="sent-date"></td>
              </tr>
              <tr>
                  <td>Created By</td>
                  <td id="created-by"></td>
              </tr>
              </tbody>
          </table>

      </div>

     
  </div>

  <div class="clearfix"></div>


</div>

</div>  

</div>


<!-- campaign label details -->

<!-- update label model -->

<div class="modal fade" id="updateLabelModal" role="dialog">

<div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content">

  <div class="modal-header">
  
      <img src="../../public/images/addCampaign/close_btn.svg" alt="" data-dismiss="modal">

      <h3 class="modal-title">Update - Content Label ID</h3>

  </div>

  <div class="clearfix"></div>
<form id="add_campaign" type="post">
  <div class="modal-body">

      <div class="col-sm-12 paddingZero">
        <div id="notification"></div>
        
        <input type="hidden" id="content_label_id">
          <div class="form-group">

              <div class="col-sm-12 marginTop3">
                  <label for="label_name" class="">Label Name</label>
                  <input id="label_name" class="form-control input-group-md" type="text" name="label_name"  placeholder="Label Name">
              </div>
            </div>
            

              <div class="form-group">

              <div class="col-sm-9 marginTop3">
                  <label for="sms_content" class=""> SMS Content </label>
                  <textarea class="form-control" name="description" id="sms_content" rows="6" placeholder="Enter SMS Content"></textarea>
              </div>

              <div class="col-sm-3 insertUrlButtonMargin">
                  <label for="campaignname" class=""> </label>
                  <button class="btn btn-primary">Insert Link</button>
              </div>

          </div>

              <div class="form-group" >
              <div class="col-sm-12 marginTop3">
                  <label for="destination_url" class=""> Destination URL </label>
                  <input class="form-control" type="url" placeholder="Enter Destination URL" id="destination_url" name="destination_url">
              </div>
              </div>
              <div class="form-group">
              <div class="col-sm-12 marginTop3">
                  <label for="status"> Status </label>
                  <select name="status" id="status" class="form-control"> 
                    <option>--status--</option>
                    <option value="1">Active</option>
                    <option value="0">De-active</option>
                  </select>
              </div>

          </div>
        
      </div>

      <div class="clearfix"></div>

     
  </div>

  <div class="clearfix"></div>
  <div class="modal-footer">
      <button type="submit" class="btn btn-primary"  id="update_label"> Update Label </button>
  </div>
</form>
</div>

</div>  

</div>
<!-- campaign label details -->


<% include ./../layouts/footer %>



<script src="../../public/scripts/date_picker.js"></script>
<script src="../../public/scripts/camp_view.js"></script>

