<!-- SECTION 1 -->
<h2>
   <span class="step-icon"><i class="menu-icon mdi mdi-bullhorn"></i></span>
   <span class="step-number">Step 1</span>
   <span class="step-text">Campaign</span>
</h2>
<section>
   <div class="inner">
      <div class="row">
         <input type="hidden" value="add" name="page_name" id="page_name">
         <div class="col-md-6">
            <label for="username">Campaign Name*</label>
            <input type="text" placeholder="Campaign Name" class="form-control" id="campaign-name" name="campaign_name" value="<%= campaign_draft_details.name %>">
         </div>
         <div class="col-md-6">
            <div class="form-holder form-holder-2">
               <label for="card-type">Category* <a href="/category/group" style="font-size: 10px;"
                  target="_blank">(Add new)</a></label>
               <select class="form-control select2 jsSelect to_Category" name="category_id" id="category_id">
                  <option value="">---Select Category ---</option>
                  <% for(var i = 0; i < category_list.length; i++) { %>
                  <% 
                     if(campaign_draft_details.category_id==category_list[i]._id){
                       var selected_cat_text='selected';
                     }else{
                       var selected_cat_text=''; 
                     }
                     
                     %>
                  <option value="<%= category_list[i]._id %>" <%= selected_cat_text  %>><%= category_list[i].name  %></option>
                  <% } %>
               </select>
               <p id="err_category" class="error"></p>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- SECTION 1 -->