<!-- SECTION 2 -->
                  <h2>
                     <span class="step-icon"><i class="mdi mdi-clipboard-outline"></i></span>
                     <span class="step-number">Step 2</span>
                     <span class="step-text">Content</span>
                  </h2>
                  <section>
                     <div class="inner">
                        <div class="form-row">
                           <div class="form-holder form-holder-2">
                              <label for="username">Content Label Name*</label>
                              <input type="text" placeholder="Content Label Name" class="form-control" id="content_label_name" name="content_label_name" value="<%= campaign_draft_details.draft_segments.content_label %>">
                           </div>
                        </div>
                        <div class="form-row">
                           <div class="form-holder">
                              <div class="col-sm-12">
                                 <div class="row">
                                    <div class="col-sm-8">
                                       <label for="username">
                                          <div class="tooltip1">SMS Content*<span class="tooltiptext1">Note: Give {url} parameter to your sms content want to track through your traffic to append into the message.</span>
                                          </div>
                                          <button type="button" class="btn btn-icons btn-rounded btn-dribbble count_box"><span id="url-count" class="url-count">0</span>/<span id="char-count" class="char-count">160</span>
                                          </button>    
                                       </label>
                                       <b style="font-size: 14px;text-decoration: underline;">Note:</b> 
                                       <ul>
                                          <li>Give <span style="color:#ff6f8d;font-weight: bold;">{url}</span> parameter to your sms content want to track through your traffic to append into the message.
                                          </li>
                                          <li>27 Character is allocated to export dynamic url</li>
                                       </ul>
                                       <div class="col-sm-4 row">
                                          <select class="form-control lang_dropdown" name="lang_dropdown"  id="lang_dropdown" >
                                            <option value="en">ENGLISH</option><option value="am">AMHARIC</option><option value="ar">ARABIC</option><option value="bn">BENGALI</option><option value="zh">CHINESE</option><option value="el">GREEK</option><option value="gu">GUJARATI</option><option value="hi">HINDI</option><option value="kn">KANNADA</option><option value="ml">MALAYALAM</option><option value="mr">MARATHI</option><option value="ne">NEPALI</option><option value="or">ORIYA</option><option value="fa">PERSIAN</option><option value="pa">PUNJABI</option><option value="ru">RUSSIAN</option><option value="sa">SANSKRIT</option><option value="sr">SERBIAN</option><option value="si">SINHALESE</option><option value="ta">TAMIL</option><option value="te">TELUGU</option><option value="ti">TIGRINYA</option><option value="ur">URDU</option>
                                          </select> 
                                        </div><br/>
                                         <div class="variables">
                                          <textarea id="sent_messages" name="message" rows="6" placeholder="Type your message here" class="form-control"></textarea>
                                          <p id="message_error"></p>
                                           <textarea name="hide_text" class="hide_text" style="display:none;"></textarea>
                                       </div>
                                       <p><span class="remaining_chars" id="remaining_chars">Characters:0</span>,&nbsp;<span class="messages message_count_show" id="messages">1 </span>&nbsp;<span class="message_clr">SMS</span>
                                      </p>
                                       <div class="button">
                                          <button type="button" id="msg_type"  class="btn btn-danger" style="margin-top: 10px;"><i class="mdi mdi-link"></i> Insert Link</button>
                                       </div>
                                    </div>
                                    <div class="col-sm-4">
                                       <div class="iphone">
                                          <div class="border">
                                             <div class="responsive-html5-chat chat">
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="form-row">
                           <div class="form-holder form-holder-2  form-row-2">
                              <label for="username">Destination URL</label>
                              <input class="form-control" type="url" placeholder="Enter Destination URL" id="destination_url" name="destination_url" value="<%= campaign_draft_details.destination_url %>">
                           </div>
                        </div>
                     </div>
                  </section>
<!-- SECTION 2 -->