<!-- SECTION 3 -->
   <h2>
      <span class="step-icon"><i class="mdi mdi-group"></i></span>
      <span class="step-number">Step 3</span>
      <span class="step-text">Contacts</span>
   </h2>
   <section>
      <div class="inner">
         <div id="show_filters">
            <a data-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="filters"
               style="text-decoration: underline;">
            <i class="mdi mdi-filter-outline"></i><span>Show Filters</span>
            </a>
         </div>
         <!-- Category Filter - Box - Start -->
         <div id="category_box">
            <h3 class="search_heading"> Category contacts </h3>
            <div class="form-group row">
               <input type="hidden" name="copyToken" />
               <label class="col-sm-4 col-form-label">Filter Category</label>
               <div class="col-sm-8">
                  <select class="form-control select2 jsSelect jsCategory" name="filter_category_id"
                     id="filter_category_id" multiple="multiple" data-placeholder="Select a category">
                     <option value="0">Others</option>
                     <% if(category_list) { %>
                       <% for(var i = 0; i < category_list.length; i++) { %>
                         <option value="<%= category_list[i]._id %>"><%= category_list[i].name  %></option>
                       <% } %>
                     <% } %>
                  </select>
                  <label class="col-sm-12 col-form-label dropdownLabel font12">(
                  <span class="redTxt font12"> Note : </span> 
                  <span class="font12"> Campaign Category </span> :  
                  <span class="font12 category-val"> </span> )</label>
                  <p id="from_err_cat" class="error"></p>
               </div>
            </div>

            <!-- Basic Search Filters - Include File- Start -->
            <div id="filters" class="collapse filters-box" data-parent="#accordion" style="padding:20px 20px 50px 20px!important;">
               <% include basic_search_filter %>
            </div>
            <!-- Basic Search Filters - Include File- Stop -->

            <div class="form-group row">
               <label class="col-sm-4 col-form-label">Topper</label>
               <div class="col-sm-8">
                   <% 
                    if (campaign_draft_details.draft_segments !== '') {
                     var fil_topper_id       = campaign_draft_details.draft_segments.filter_topper_id;
                     
                     if (fil_topper_id == 'sender') {
                        var sender_selected  = 'selected';
                        var non_sender_selected = '';
                        var clicker_selected = '';
                     
                     } else if (fil_topper_id == 'non-sender') {
                        var sender_selected  = '';
                        var non_sender_selected = 'selected';
                        var clicker_selected = '';
                     
                     } else if (fil_topper_id == 'clicker') {
                        var sender_selected  = '';
                        var non_sender_selected = '';
                        var clicker_selected = 'selected';
                     
                     } else {
                        var sender_selected  = '';
                        var non_sender_selected = '';
                        var clicker_selected = '';
                     }
                   }
                     
                   %>
                  <select class="form-control jsSelect" name="filter_topper_id" id="filter_topper_id">
                     <option value="sender" <%= sender_selected %>>Sender</option>
                     <option value="non-sender" <%= non_sender_selected %>>Non Sender</option>
                     <option value="clicker" <%= clicker_selected %>>Clicker</option>
                  </select>
                   <label class="col-sm-12 col-form-label dropdownLabel font12" id="topper_note_text">(<span class="redTxt font12"> Note : </span> <span class="font12">Please select respective campaign category )</span></label>
               </div>
            </div>
         </div>
         <!-- Category Filters - End -->
         <!-- Advance Search Filter - Start -->
         <div id="advanced_search_box" class="advanced_search_cls">
           <div  class="fieldGroup multiple_filters_search">
              <h3 class="search_heading">Advanced search</h3>
              <div class="form-group row" id="source_campaign">
                 <input type="hidden" name="downloadToken" />
                 <label class="col-sm-4 col-form-label">Filter Campaign</label>
                 <div class="col-sm-8">
                    <select class="form-control jsSelect jsCampaign" name="filter_campaign_id" id="filter_campaign_id_1"
                       multiple="multiple" data-placeholder="Select a campaign" data-id="1">
                       <% if (campaign_details.length) { %>
                        <option value="0">All</option>
                       <% for (var i = 0; i < campaign_details.length; i++) { %>
                          <option value="<%= campaign_details[i]._id %>"><%= campaign_details[i].name %></option>
                       <% } %>
                       <% } %>
                    </select>
                 </div>
              </div>
              <div class="form-group row" id="source_campaign_content">
                 <label class="col-sm-4 col-form-label">Filter Content Label</label>
                 <div class="col-sm-8">
                    <select class="form-control jsSelect jsContentLabel" name="filter_content_label_id"
                       id="filter_content_label_id_1" multiple="multiple" data-placeholder="Select a campaign content" data-id="1">
                       <% if (filter_content_label_ids) { %>
                          <option value="0">All</option>
                         <% for (var i = 0; i < filter_content_label_ids[0].filter_content_label_id.length; i++) { 
                       %>
                       <option value="<%= filter_content_label_ids[0].filter_content_label_id[i]._id %>" con_camp_id= "<%= filter_content_label_ids[0].filter_content_label_id[i].campaign_id %>"><%= filter_content_label_ids[0].filter_content_label_id[i].label_name  %></option>
                       <% }  } %>
                    </select>
                 </div>
              </div>
              <div class="form-group row">
                 <label class="col-sm-4 col-form-label">
                    <div class="tooltip1">Mode
                       <span class="tooltiptext1">Note: Include and Exclude options applicable for only Campaign and
                       Content Label</span>
                    </div>
                 </label>
                 <div class="col-sm-8">
                    <input type="checkbox" name="filter_mode" data-toggle="toggle" data-on="Include"
                       data-off="Exclude" data-onstyle="success" data-offstyle="danger" data-width="100" id="filter_mode_1">
                 </div>
              </div>
              <div class="input-group-addon"> 
                  <a href="javascript:void(0)" class="btn btn-success addMore"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Add</a>
            </div>
             </div>
            <!-- advance search dynamic input field starts -->
            <% if (campaign_draft_details.draft_segments.filters) { if (campaign_draft_details.draft_segments.filters.filter_campaign_ids) { %>
            <% if (Object.keys(campaign_draft_details.draft_segments.filters.filter_campaign_ids).length > 1) { %>

              <% for (var k = 1; k < Object.keys(campaign_draft_details.draft_segments.filters.filter_campaign_ids).length; k++) { %>
              <div class="form-group fieldGroup multiple_filters_search">
                <div class="form-group row" id="source_campaign">
                   <input type="hidden" name="downloadToken" />
                   <label class="col-sm-4 col-form-label">Filter Campaign</label>
                   <div class="col-sm-8">
                      <select class="form-control jsSelect jsCampaign" name="filter_campaign_id" 
                         multiple="multiple" data-placeholder="Select a campaign" id="filter_campaign_id_<%= (k + 1) %>" data-id="<%= (k + 1) %>">
                          <% if (campaign_details.length) { %>
                            <option value="0">All</option>
                            <% for (var i = 0; i < campaign_details.length; i++) { %>
                              <option value="<%= campaign_details[i]._id %>"><%= campaign_details[i].name %></option>
                            <% } %>
                          <% } %>
                      </select>
                   </div>
                </div>
                <div class="form-group row" id="source_campaign_content">
                   <label class="col-sm-4 col-form-label">Filter Content Label</label>
                   <div class="col-sm-8">
                      <select class="form-control  jsSelect jsContentLabel" name="filter_content_label_id"
                          multiple="multiple" data-placeholder="Select a campaign content" id="filter_content_label_id_<%= (k + 1) %>" data-id="<%= (k + 1) %>">
                          <% if (filter_content_label_ids[k]) { %>
                          <option value="0">All</option>
                         <% var content_length = filter_content_label_ids[k].filter_content_label_id.length;
                         for (var j = 0; j < content_length; j++) { 
                         %>
                        <option value="<%= filter_content_label_ids[k].filter_content_label_id[j]._id %>" con_camp_id= "<%= filter_content_label_ids[k].filter_content_label_id[j].campaign_id %>"><%= filter_content_label_ids[k].filter_content_label_id[j].label_name  %></option>s
                         <% }  } %>
                      </select>
                   </div>
                </div>
                <div class="form-group row">
                   <label class="col-sm-4 col-form-label">
                      <div class="tooltip1">Mode
                         <span class="tooltiptext1">Note: Include and Exclude options applicable for only Campaign and
                         Content Label</span>
                      </div>
                   </label>
                   <div class="col-sm-8">
                                <input type="checkbox" name="filter_mode" data-toggle="toggle" data-on="Include"
                                   data-off="Exclude" data-onstyle="success" data-offstyle="danger" data-width="100" id="filter_mode_<%= (k + 1) %>">
                             </div>
                </div>
                <div class="input-group-addon"> 
                <a href="javascript:void(0)" class="btn btn-danger remove"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</a>
              </div>
              </div>
            <% } } } }%>
            <!-- advance search dynamic input field stops -->
        
         <!-- Advance Search Filter - Stop -->

      </div>
   </section>
<!-- SECTION 3 -->









