@font-face {
    font-family: 'proxima bold';
    src: url('../fonts/proximanova-bold-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima regular';
    src: url('../fonts/proximanova-reg-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima light';
    src: url('../fonts/proximanova-light-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family: 'proxima regular', regular;
    color: #1B1D29;
}

h1, h2, h3, h4, h5, h6{
    font-family: "proxima bold", bold;
}

.lightFont{
    font-family: proxima light;
}

p{
    font-size: 16px;
}

/* Start of Bootstrap by default class styles Overriding */

.container-fluid{
    padding: 0;
}


.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}


/* End of Bootstrap by default class styles Overriding */


/* Common Classes declaration Starts Here */

.displayNone{
    display: none;
}

.displayBlock{
    display: block;
}

.paddingZero{
    padding: 0;
}

.paddingLeftRightZero{
    padding-left: 0;
    padding-right: 0;
}

.marginZero{
    margin: 0 !important;
}

.width100{
    width: 100%;
}

.height120{
    height: 120px !important;
}

.height100vh{
    min-height: 100vh;
}

.marginTop2px{
    margin-top: 2px !important;
}

.marginTop5px{
    margin-top: 5px !important;
}

.marginTop3{
    margin-top: 2em !important;
}

.marginTop3Point{
    margin-top: 3.8em !important;
}

.marginTop3em{
    margin-top: 3em !important;
}

.marginRight2em{
    margin-right: 2em;
}

.marginLeft8px{
    margin-left: 8px;
}

.paddingTop5px{
    padding-top: 5px !important;
}


.font12{
    font-size: 12px;
}

.font18{
    font-size: 18px;
}

.font25{
    font-size: 25px;
}

.boldFont{
    font-weight: bold;
}

.pullRight{
    float: right;
}

.pullLeft{
    float: left;
}

.handPointer{
    cursor: pointer;
}

.noBorder{
    border: 0 !important;
}

.whiteColor{
    color: #fff;
}

.greyColor{
    color: #CECECE;
}

.completeColor{
    color: #3BEC4D;
}

.incompleteColor{
    color: red;
}

.contentfadeColor{
    color: #B4B4B4;
}

.primaryColor{
    color: #4E8DF9;
}

.activeBgColor{
    background-color: #3BEC4D;
    padding: 2px 6px;
    border-radius: 5px;
    color: #fff;
}

.primaryBgColor{
    background-color: rgb(59, 115, 236);
    padding: 2px 10px;
    border-radius: 5px;
    color: #fff;
}

.activeBgColor{
    background-color: #3BEC4D;
    padding: 2px 6px;
    border-radius: 5px;
    color: #fff;
}

.primaryBgColor{
    background-color: rgb(59, 115, 236);
    padding: 2px 10px;
    border-radius: 5px;
    color: #fff;
}

.greenIconBg{
    background-color: #3BEC4D;
    padding: 4px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.redIconBg{
    background-color: red;
    padding: 4px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}


.centerText{
    text-align: center;
}

.rightText{
    text-align: right;
}

.btn-primary{
    background-color: #4E8DF9;
    border-color: #4E8DF9;
}

.btn-primary:hover{
    background-color: #4E8DF9;
    border-color: #4E8DF9;
}

.btn-primary:focus{
    background-color: #4E8DF9;
    border-color: #4E8DF9;
}


.btn-primary:active{
    background-color: #4E8DF9;
    border-color: #4E8DF9;
}


.btn-light{
    border: 1px solid #4e8df9;
    color: #4e8df9;
    background: transparent;
    outline: none;
}

.btn-light:hover{
    border: 1px solid #4e8df9;
    color: #4e8df9;
    background: transparent;
    outline: none;
}

.btn-light:focus{
    border: 1px solid #4e8df9;
    color: #4e8df9;
    background: transparent;
    outline: none;
}

.btn-light:active{
    border: 1px solid #4e8df9;
    color: #4e8df9;
    background: transparent;
    outline: none;
}


textarea {
    resize: none;
}

.expandLeftBarWidth{
    width: 14%;
    padding: 0;
    background-color: #2e3861;
    height: 190vh;
    transition: width 0.2s ease-in-out;
}

.minimisedLeftBarWidth{
    width: 4%;
    padding: 0;
    background-color: #2e3861;
    height: 190vh;
    transition: width 0.2s ease-in-out;
}

.compressedContentWidth{
    width: 86%;
    padding: 0;
    transition: width 0.2s ease-in-out;
}

.expandedContentWidth{
    width: 96%;
    padding: 0;
    transition: width 0.2s ease-in-out;
}

.bodyContent{
    margin-top: 75px;
    background-color: #F3F6FC;
}

.contentBackgroundColor{
    background-color: #F3F6FC;
}

.form-control{
    border: 1px solid #D5DEFF;
    border-radius: 5px;
    box-shadow: none;
}


        /* For Filter Section */

        .filterInputSec .form-control{
            border: 1px solid #fff;
            border-radius: 5px;
            box-shadow: none;
            color: #fff;
            background-color: #f7f7f700;
        }

        .filterInputSec select {
            background: url(../images/common/white_down.svg) no-repeat right #fff0 !important;
            -webkit-appearance: none;
            appearance: none;
        }

        .filterInputSec select option{
            color: #000;
        }

        .filterInputSec .form-control::-webkit-input-placeholder{
            color: #fff;
        }

        /* For Filter Section */


select{
    background: url(../images/common/down_arrow.svg) no-repeat right #fff !important;
    -webkit-appearance: none;
    appearance: none;
}

.noResultDiv{
    padding: 3em 0;
    text-align: center;
}

.noDataImg{
    display: inline-block;
}

.noDataContentSec{
    display: inline-block;
    top: 15px;
    left: 15px;
    position: relative;
    text-align: left;
}

.scrollme {
    overflow-x: auto; 
    scrollbar-color: yellow blue;
}

.clickwiseReportTableSection ::-webkit-scrollbar {
    height: 12px;
}

.clickwiseReportTableSection ::-webkit-scrollbar-track {
    background: #E5EBFF;
}

.clickwiseReportTableSection ::-webkit-scrollbar-thumb {
    background: #2E3861;
    border-radius: 3px;
}

.clickwiseReportTableSection ::-webkit-scrollbar-thumb:hover {
    background: #2E3861; 
}


.smsLogReportTableSection ::-webkit-scrollbar {
    height: 12px;
}

.smsLogReportTableSection ::-webkit-scrollbar-track {
    background: #E5EBFF;
}

.smsLogReportTableSection ::-webkit-scrollbar-thumb {
    background: #2E3861;
    border-radius: 3px;
}

.smsLogReportTableSection ::-webkit-scrollbar-thumb:hover {
    background: #2E3861; 
}


.activityLogReportTableSection ::-webkit-scrollbar {
    height: 12px;
}

.activityLogReportTableSection ::-webkit-scrollbar-track {
    background: #E5EBFF;
}

.activityLogReportTableSection ::-webkit-scrollbar-thumb {
    background: #2E3861;
    border-radius: 3px;
}

.activityLogReportTableSection ::-webkit-scrollbar-thumb:hover {
    background: #2E3861; 
}

.scrollableTable{
    width: 180%;
    max-width: 200%;
    margin-bottom: 20px;
    overflow: scroll;
}



/* Common Classes Ends Here */


/* Login Styles Sarts Here  */

.loginBackground{
    background: url(../images/login/login_background.jpg);
    background-size: cover;
    min-height: 100vh;
    height: 100vh;
}

.loginHead{
    height: 70px;
    background-color: #2E3861;
    opacity: 90%;
}

.loginHead img{
    vertical-align: middle;
    height: 45px;
    margin-top: 12px;
}

.loginContainer{
    text-align: center;
}

.loginParentSec{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 16%);
    padding: 0;
}

.loginChild{
    position: relative;
    background: #fff;
    border-radius: 25px;
    padding-top: 2em;
    padding-bottom: 1em;
}

.loginHeader{
    font-size: 30px;
    margin-bottom: 0;
    font-family: proxima light;
}

.loginHeader span{
    color: #4E8DF9;
    font-weight: 700;
}

.loginForm{
    margin-top: 2em;
}

.loginForm .form-control{
    height: 40px;
    border-radius: 8px;
}

.loginBtn{
    padding: 0.5em;
    width: 100%;
    font-size: 18px;
    background-color: #4E8DF9;
    border-color: #4E8DF9;
}

.loginBtn:hover{
    background-color: #4E8DF9;
    border-color: #4E8DF9;
}

.loginBtn:active{
    background-color: #4E8DF9;
    border-color: #4E8DF9;
}

.field-icon {
    float: right;
    position: relative;
    z-index: 2;
    left: -10px;
    top: -25px;
}

.has-success .form-control{
    border-color: #D5DEFF;
    box-shadow: none;
}

.has-success .form-control:focus{
    border-color: #D5DEFF;
    box-shadow: none;
}

.loginForm .form-group{
    margin-bottom: 20px;
}

.copyrightTxt{
    font-size: 12px;
    color: #fff;
}

.termsPadding{
    padding: 0em 2em;
}

.help-block{
    text-align: left;
    color: red !important;
    margin-left: 2px;
    margin-bottom: 0;
}

.iconColor{
    color: #D5DEFF;
}

/* Login Styles Ends Here */




/* Top Bar Styles Starts Here */

.topBar{
    height: 75px;
    background-color: #2e3861;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    padding: 0;
}

.headerImgSec{
    padding: 0;
    margin-top: 15px;
}

.headerImgSec img{
    height: 35px;
}

.rightHeaderSection{
    float: right;
    padding: 0;
    margin-top: 25px;
}

.rightHeaderSection p{
    color: #fff;
    float: right;
    font-size: 14px;
}


/* Tob Bar Styles Ends Here */




/* Leftbar Styles Starts here  */

.small-menu-title{
    font-size: 12px;
}

.leftBar>li{
    margin: 5px 0;
}

.leftBar>li>a{
    padding: 10px 0px;
    color: #fff;
}

.leftBar>li>a:hover{
    background-color: transparent;
    color: #fff;
}

.nav>li>a:focus{
    background-color: transparent;
    color: #fff;
}

.leftBar>li>a>i{
    float: right;
    font-size: 12px;
    margin-top: 5px;
}

.leftBar>li>a>img{
    width: 20px;
}

.leftBar>li>a>span{
    margin-left: 12px;
}

.nav-item .leftBar>li>a>span{
    margin-left: 42px;
}

.userSec{
    text-align: center;
    color: #fff;
}

.userImageSec{
    padding-top: 5px;
}

.userImageSec>span{
    margin: 0 12px;
}

.userImageSec>span>a>img{
    width: 16px;
}

.userSec{
    margin-bottom: 20px !important;
}

.profileImageSec{
    height: 50px;
    width: 50px;
    background-color: #4e8df9;
    margin: 0 auto;
    border-radius: 50%;
}


.profileImageSec:hover{
    height: 50px;
    width: 50px;
    background-color: #4e8df9;
    margin: 0 auto;
    border-radius: 50%;
}



/* Leftbar Styles Ends here  */



/* Dashboard Styles Starts Here */


/* Cards Section Starts Here */

.dashboardTopBackground{
    height: 160px;
    min-height: 160px;
    max-height: 160px;
    background-color: #2E3861;
}

.dashboardBottomBackground{
    background-color: #F3F6FC;
    height: 70px;
}


.dashboardCards{
    float: left;
    width: 23%;
    height: 200px;
    margin-left: 1.6%;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    background-color: #fff;
}

.iconSec{
    margin-top: 1.5em;
    margin-bottom: 1em;
}


.descSec{
    color: #CECECE;
}

/* Cards Section Ends here */


/* Second Section Starts Here */

.secondSecContainer{
    width: 49%;
    padding: 0;
    margin: 1.3% 0.5%;
    border-radius: 15px;
    background-color: #fff;
}

.secPadding{
    padding: 20px;
}

.dashboardTableHeader{
    display: inline-block;
    margin-top: 0;
}

.summaryReportButton{
    color: #4E8DF9;
    border: 1px solid #4E8DF9;
    background: none;
}

.summaryReportButton:hover, .summaryReportButton:active, .summaryReportButton:focus, .summaryReportButton:hover:active{
    color: #4E8DF9;
    border: 1px solid #4E8DF9;
    background: none;
    outline: none;
}


.summaryTable>tbody>tr>td{
    border-top: 1px solid #fff;
}

.summaryTable>thead>tr>th{
    border-bottom: 0;
}

/* Second Section Ends Here */


/* Third Section Starts Here */


.thirdSecContainer{
    width: 32%;
    padding: 0;
    margin: 0% 0.66% 1.3%;
    border-radius: 15px;
    background-color: #fff;
    height: 455px;
}

.recentCampaignContainer{
    background-color: #4E8DF9;
    color: #fff;
}

.campaignItems{
    padding: 10px;
    background: #5A97FF;
    border-radius: 15px;
    margin-top: 1.2em;
}

.viewLink{
    text-decoration: none;
    color: #D5DEFF;
}

.viewLink:hover{
    text-decoration: none;
    color: #D5DEFF;
}

.recentTopItemColor{
    color: #D5DEFF;
}

.itemMargin{
    margin: 10px 0 0 0;
}



/* Third Section Ends Here */


/* Dashboard Styles Ends Here */



/* Campaign List Content Starts Here */

.topSectionContent{
    background-color: #2e3861;
    height: 120px;
}

.bottomSectionContent{
    background-color: #F4F7FD;
    height: 600px;
}

.campaignHeaderSection{
    height: 160px;
    background-color: #fff;
    border-radius: 15px;
}

.contentHeader{
    margin-top: 15px;
}

.contentHeader h3{
    display: inline-block;
}

.contentHeaderImgSec{
    display: inline-block;
    float: right;
    margin-top: 10px;
}

.contentHeaderImgSec img{
    height: 60px;
}

.entitiesSec{
    padding: 0;
    text-align: right !important;
}

.serachInputStyles{
    width: 80%;
    border-radius: 5px;
    padding: 5px 0;
    border: 1px solid #D5DEFF;
    text-indent: 12px;
}
.serachInputStyles:focus{
outline: 0;
}

.dropDownSelect{
    padding: 5px 20px 5px 5px;
    border-radius: 5px;
    border: 1px solid #D5DEFF;
}

.dropDownSelect:focus{
    outline: 0;
}

.campaignTableSection{
    margin-top: 4em;
}

.table-responsive{
    background-color: #fff;
    border-radius: 15px;
    padding: 1em;
}

.campaignTable>tbody>tr>td {
    border-bottom: 1px solid #F4F7FD;
}

.campaignTable>thead>tr>th{
    border-bottom: 1px solid #F4F7FD;
}

.countSec{
    display: inline-block;
}

.countSec p{
    font-size: 12px;
    display: inline-block;
}

.paginationSec{
    display: inline-block;
    float: right;
}


/* Campaign List Content Section Ends Here */


/* Create Campaign Starts Here */

.parentStepperSection{
    background-color: #fff;
    border-radius: 15px;
}

.stepperSteps{
    display: inline-block;
}

.stepImgSec{
    display: inline-block;
}

.stepDotSec{
    display: inline-block;
}

.stepperSteps img{
    height: 65px;
}

.dots{
    width: 100px;
    border: 1px solid;
    border-style: dashed;
    margin-top: -10px;
    margin: 0 10px;
    color: #4e8df9;
}

.notActiveColor{
    color: #caddfe;;
}

.imageOpactiyColor {
    filter: opacity(0.3);
}

.navigationSec{
    float: right;
}

.addCampaignBtn{
    display: inline-block;
}

.addCampaignBtn img{
    height: 40px;
}

.stepDotSecText{
    width: 130px;
    display: inline-block;
}


        /* Filter Section Starts Here */

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 75px;
            right: 0;
            background-color: #4E8DF9;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 10px;
            color: #fff;
        }
        
        
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

          /* Filter Section Ends Here */
          
          .slider{
            background-color: #2970E9;
          }

          /* Range Slider Section */

          div[id^='anchor2'] {
            width: 400px;
            margin: 25px 0px 20px 0px;
          }
          
          .demo-wrapper {
            display: flex;
            align-items: left;
            flex-direction: column;
          }

          .wrunner__progress_theme_default.wrunner__progress{
            background-color: #ffffff;
          }

          .wrunner__handle_theme_default.wrunner__handle_direction_horizontal{
            margin-top: -0.6rem;
            margin-left: -0.6rem;
          }

          .wrunner__handle_theme_default.wrunner__handle{
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: #fff;
          }

          .wrunner__value-note_theme_default.wrunner__value-note_direction_horizontal{
            top: -15px;
          }

          .wrunner__value-note_theme_default.wrunner__value-note{
            background-color: #fff;
            color: #053fa2;
            font-size: 14px;
          }

          .wrunner__track_theme_default.wrunner__track{
              background-color: #2970E9;
              height: 8px;
          }

          .wrunner__value-note_theme_default.wrunner__value-note_direction_horizontal::after{
            border-top-color: #ffffff;
          }

          .wrunner__handle_theme_default.wrunner__handle:hover{
            background-color: #fff;
          }

          .wrunner__handle_theme_default.wrunner__handle:active{
              background-color: #fff;
          }

          .wrunner__scale-divisions-block_theme_default.wrunner__scale-divisions-block_direction_horizontal{
              display: none;
          }



    /* Modal Styles Starts Here */

        .modal-content{
            border-radius: 15px;
        }

        .modal-header {
            padding: 15px;
            border-bottom: 1px solid #e5e5e5;
            background-color: #4E8DF9;
            color: #fff;
            text-align: center;
            border-radius: 15px 15px 0 0;
        }

        .modal-header img{
            height: 20px;
            float: right;
        }

        .insertUrlButtonMargin{
            margin-top: 3.7em;
            text-align: right;
        }

        .modalTable td{
            border: 1px solid #ddd;
        }

        .modalSecondTable{
            background-color: #4E8DF9;
            color: #fff;
        }

        .modalSecondTable th{
            border: 1px solid #ddd;
            border-bottom: 0 !important;
        }

        .modalSecondTable td{
            border: 1px solid #ddd;
        }

        .modalSecondTable thead tr{
            border-top: 1px solid #ddd;
        }   

        .modal-footer {
            padding: 15px;
            border-top: 1px solid #ffffff;
            text-align: center;
        }

        .modalTestTable td{
            border: 1px solid #fff;
            border-top: 1px solid #fff !important;
        }


    /* Modal Styles Ends Here */



/* Create Campaign Ends Here */


/* SMS Section Sarts Here */


.sendSMSSecondarySec{
    background-color: #fff;
    border-radius: 15px;
    padding-bottom: 5em;
}

.dropZone{
    position: relative;
    top: 180px;
}

.inputUpload{
    height: 250px;
    padding-top: 190px;
    display: inline-block !important;
    text-align: center;
    margin: 0 auto;
    float: none;
    padding-left: 29%;
    position: relative;
    border: 1px dotted #ddd;
}

input[type="file" i]::-webkit-file-upload-button {
    background-color: #4e8df9;
    content: 'Browse';
    padding: 7px 12px;
    border: none;
    color: #fff;
    cursor: pointer;
}



/* SMS Section Ends Here */




/* Report Section Starts Here */

    /* category Report Section Sarts Here */

    .categoryReportHeaderSection{
        height: 220px;
        background-color: #fff;
        border-radius: 15px;
    }

    .categoryReportTableSection{
        margin-top: 8.5em;
    }

    .tableSort{
        float: right;
        height: 20px;
    }

    /* category Reports Section Ends Here */


    /* campaign Reports Section Starts Here */

    .campaignReportHeaderSection{
        height: 250px;
        background-color: #fff;
        border-radius: 15px;
    }

    .campaignReportTableSection{
        margin-top: 10.5em;
    }

    /* campaign Reports Section Ends Here */


    /* General Report Section Starts Here */


    .generalReportHeaderSection{
        display: inline-block;
        background-color: #fff;
        border-radius: 15px;
        padding-bottom: 25px;
    }

    .generalReportTableSection{
        margin-top: 17em;
    }


    /* General Report Section Ends Here */


    /* Contactwise Reoprt CSS Starts Here */

    .contactwiseReportCardsSec{
        margin-top: 23em;
    }

    .contactwiseReportCards{
        text-align: center;
        background-color: #fff;
        width: 31.3%;
        margin: 1%;
        border-radius: 15px;
        padding-bottom: 15px;
    }

    .contactwiseReportTableSection{
        margin-top: 1em;
    }



            /* general Report Slider CSS start Here */

            #anchor3 .wrunner__track_theme_default.wrunner__track{
                background-color: #D5DEFF;
            }

            #anchor3 .wrunner__handle_theme_default.wrunner__handle{
                background-color: #4E8DF9;
            }

            #anchor3 .wrunner__progress_theme_default.wrunner__progress{
                background-color: #4E8DF9;
            }



            /* General report Slider CSS Ends here */


    /* Contactwise Reoprt CSS Starts Here */

    .clickwiseReportTableSection{
        margin-top: 11em;

    }

    /* Click Report Starts Here */


    /* Click Report Ends Here */


    /* SMS Log Report Starts Here */

    .smsLogReportTableSection{
        margin-top: 1.5em;
    }

    .smslogReportHeaderSection {
        height: auto;
        background-color: #fff;
        border-radius: 15px;
        display: inline-block;
        padding-bottom: 15px;
    }

    .smsLogLeftSec{
        background-color: #fff;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding-bottom: 10px;
    }

    .smsLogRightSec{
        background-color: #fff;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .smsLogBottomSection{
        margin-top: 18em;
    }

    .leftLogValue{
        float: left;
    }

    .rightLogvalue{
        float: right;
    }

    .smsLogGraphSpace{
        padding: 4em 1em;
    }


    /* SMS Log Report Ends Here */


    /* SMPP Log Report Starts Here */

    .smsLogBottomThirdSection{
        margin-top: 1em;
    }


    /* SMPP Log Report Ends Here */


/* Report Section Ends Here */



/* Log Section Starts Here */


    .activityLogReportTableSection {
        margin-top: 6em;
    }

    .tableWidth125{
        width: 125%;
    }



/* Log Section Ends Here */


/* Account Section Starts Here */

.blueHeaderBg{
    background-color: #fff0;
}

.blueHeader thead{
    background-color: #4E8DF9;
}


.blueHeader thead tr th{
    padding: 1em;
    color: #fff;
}

.blueHeader tbody tr{
    background-color: #fff;
    border-top: 10px solid #f4f7fd;
    border-bottom: 10px solid #f4f7fd;
}

.blueHeader tbody tr td{
    padding: 1em;
}

/* Add New User Starts Here */


/* Add New user Ends Here */

.addUserHeaderSection{
    background-color: #fff;
    border-radius: 15px;
    display: inline-table;
    padding-bottom: 35px;
}

/* Account Section Ends Here */


/* Release Notes Styles Start Here */

/* Style the tab */
.releaseTabSec .tab {
    float: left;
    width: 100%;
    height: auto;
    min-height: 78vh;
  }
  
  /* Style the buttons inside the tab */
  .releaseTabSec .tab button {
    display: block;
    background-color: inherit;
    color: #fff;
    padding: 10px 0px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    margin: 10px 0;
  }

  .releaseTabSec .tab button .nonActiveContent{
      display: block;
  }

  .releaseTabSec .tab button .activeContent{
      display: none;
  }

  .releaseTabSec .tab button .timeName{
    font-size: 12px;
  }
  
  /* Change background color of buttons on hover */
  .releaseTabSec .tab button:hover {
    font-size: 16px;
  }
  
  /* Create an active/current "tab button" class */
  .releaseTabSec .tab button.active .nonActiveContent{
    display: none;
  }

  .releaseTabSec .tab button.active .activeContent{
    display: block;
  }

  .releaseTabSec .tab button.active .versionName{
    font-size: 30px;
    float: left;
  }

  .releaseTabSec .tab button.active .timeName{
    font-size: 12px;
  }
  
  /* Style the tab content */
  .releaseTabSec .tabcontent {
    float: left;
    width: 100%;
    padding: 0px 12px;
    border-left: none;
    min-height: 86vh;
    height: auto;
    margin-top: 2em;
  }


  .releaseTabSec .tabParentSection{
    width: 100%;
    border-radius: 15px;
    display: inline-table;
    padding-bottom: 35px;
  }

  .releaseTabSec .leftContentBg{
    background-color: #4E8DF9;
    width: 20%;
    border-radius: 15px;
    color: #fff;
  }

  .releaseTabSec .rightContentBg{
    background-color: #fff;
    width: 78.5%;
    margin-left: 1.5%;
    border-radius: 15px;
  }

  .releaseTabSec .releaseHeadSec h2{
      display: inline-block;
      float: left;
  }

  .releaseTabSec .releaseHeadSec span{
      color: #848484;
      float: right;
      margin: 1.5em 0;
  }

  .releaseTabSec .releaseBodySec ul li{
      margin-top: 15px;
  }

/* Release Notes Styles Ends Here */


/* User Document Section Starts Here*/


/* Style the tab */
.userDocSec .tab {
    float: left;
    width: 100%;
    height: auto;
    min-height: 78vh;
  }

  .userDocSec .tab h4{
    margin: 1.5em 0;
  }
  
  /* Style the buttons inside the tab */
  .userDocSec .tab button {
    display: block;
    background-color: inherit;
    color: #fff;
    margin: 13px 0;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
  }

  .userDocSec .tab button .nonActiveContent{
      display: block;
  }

  .userDocSec .tab button .activeContent{
      display: none;
  }

  .userDocSec .tab button .timeName{
    font-size: 12px;
  }
  
  /* Change background color of buttons on hover */
  .userDocSec .tab button:hover {
    font-size: 16px;
  }
  
  /* Create an active/current "tab button" class */
  .userDocSec .tab button.active .nonActiveContent{
    display: none;
  }

  .userDocSec .tab button.active .activeContent{
    display: block;
  }

  .userDocSec .tab button.active .versionName{
    font-size: 30px;
    float: left;
  }

  .userDocSec .tab button.active .timeName{
    font-size: 12px;
  }
  
  /* Style the tab content */
  .userDocSec .tabcontent {
    float: left;
    width: 100%;
    padding: 0px 12px;
    border-left: none;
    min-height: 86vh;
    height: auto;
    margin-top: 2em;
  }


  .userDocSec .tabParentSection{
    width: 100%;
    border-radius: 15px;
    display: inline-table;
    padding-bottom: 35px;
  }

  .userDocSec .leftContentBg{
    background-color: #4E8DF9;
    width: 18%;
    border-radius: 15px;
    color: #fff;
    padding-left: 2em;
    position: fixed;
  }

  .userDocSec .rightContentBg{
    background-color: #fff;
    width: 76%;
    margin-left: 1.5%;
    border-radius: 15px;
    position: absolute;
    right: 1em;
  }

  .userDocSec .releaseHeadSec h2{
      display: inline-block;
      float: left;
  }

  .userDocSec .releaseHeadSec span{
      color: #848484;
      float: right;
      margin: 1.5em 0;
  }

  .userDocSec .releaseBodySec ul li{
      margin-top: 15px;
  }

  .bulletStyles{
    font-size: 8px;
    bottom: 3px;
    position: relative;
  }

  .userDocSec .tablinks span{
    font-size: 16px;
  }


/* User Document Section Ends Here*/


/* Setting Section Starts Here */


/* Style the tab */
.settingsTabSec .tab {
    float: left;
    width: 100%;
    height: auto;
    min-height: 78vh;
  }
  
  /* Style the buttons inside the tab */
  .settingsTabSec .tab button {
    display: block;
    background-color: inherit;
    color: #fff;
    padding: 0px 0px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    margin: 10px 0;
  }

  .settingsTabSec .tab button .nonActiveContent{
      display: block;
  }

  .settingsTabSec .tab button .activeContent{
      display: none;
  }

  .settingsTabSec .tab button .timeName{
    font-size: 12px;
  }
  
  /* Change background color of buttons on hover */
  .settingsTabSec .tab button:hover {
    font-size: 16px;
  }
  
  /* Create an active/current "tab button" class */
  .settingsTabSec .tab button.active .nonActiveContent{
    display: none;
  }

  .settingsTabSec .tab button.active .activeContent{
    display: block;
  }

  .settingsTabSec .tab button.active .versionName{
    font-size: 30px;
    float: left;
  }

  .settingsTabSec .tab button.active .timeName{
    font-size: 12px;
  }
  
  /* Style the tab content */
  .settingsTabSec .tabcontent {
    float: left;
    width: 100%;
    padding: 0px 12px;
    border-left: none;
    min-height: 86vh;
    height: auto;
    margin-top: 2em;
  }


  .settingsTabSec .tabParentSection{
    width: 100%;
    border-radius: 15px;
    display: inline-table;
    padding-bottom: 35px;
  }

  .settingsTabSec .leftContentBg{
    background-color: #4E8DF9;
    width: 20%;
    border-radius: 15px;
    color: #fff;
    padding: 2em 0 0 2.5em;
  }

  .settingsTabSec .rightContentBg{
    background-color: #fff;
    width: 78.5%;
    margin-left: 1.5%;
    border-radius: 15px;
  }

  .settingsTabSec .releaseHeadSec h2{
      display: inline-block;
      float: left;
  }

  .settingsTabSec .tablinks span{
      color: #B7D1FF;
  }

  .settingsTabSec .active span{
    color: #fff;
    font-size: 16px;
   }

  .settingsTabSec .releaseHeadSec span{
      color: #848484;
      float: right;
      margin: 1.5em 0;
  }

  .settingsTabSec .releaseBodySec ul li{
      margin-top: 15px;
  }


/* Setting Secction Ends Here */


/* Campaign View Content Starts Here */

.campaignViewCards{
    width: 30.7%;
    margin-left: 1.8%;
}

.categoryNameContentSection{
    margin-top: 2em;
}

.parentCategoryNameSec{
    padding: 0 2em;
}

.categoryNameInnerSec{
    background-color: #fff;
    padding: 3em 0;
    border-radius: 15px;
}

.categoryContentNames p{
    font-weight: 600;
    font-size: 20px;
}

.categoryNameTableSection{
    margin-top: 2em;
}


/* Campaign View Content Ends Here */


/* Role Section CSS Added Starts Here*/

.bs-example{
    margin: 20px;
}

.addRoleTabSec{
    box-shadow: none;
}

.addRoleTabSec .panel-heading{
    padding: 1.3em 1em;
    border-radius: 15px;
    border: 0;
    background-color: #4E8DF9;
    color: #fff;
}

.addRoleHead a{
    display: block;
    text-decoration: none;
}

.addRoleHead a:hover{
    display: block;
    text-decoration: none;
}

.roleIconSec{
    margin-right: 1em;
}

.addRoleHead a .fa-chevron-down{
    float: right;
}

.rotate{
    -webkit-transform: rotate(180deg);  /* Chrome, Safari, Opera */
    -moz-transform: rotate(180deg);  /* Firefox */
    -ms-transform: rotate(180deg);  /* IE 9 */
    transform: rotate(180deg);  /* Standard syntax */    
}


    /* Customized Checkbox Starts Here */

    .roleSettingsTable tbody tr td{
        border: 0;
    }

    .container {
        display: initial;
        position: relative;
        padding-left: 0;
        margin-bottom: 15px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 5px;
    }
    
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }
    
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }
    
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    .container input:checked ~ .checkmark:after {
        display: block;
    }
    
    .container .checkmark:after {
        left: 9px;
        top: 4px;
        width: 7px;
        height: 15px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    /* Customized Checkbox Ends Here */



/* Role Section Styles Ends Here */


/* Role View Style Section Starts Here */

.roleViewTable thead tr th{
    padding: 1.5em 1em;
    background-color: #4E8DF9;
    color: #fff;
}


/* Role Section Styles Ends Here */


/* Error Page Style Starts Here */


.centerErrorImage{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding-top: 12em;
}


/* Error Page Styles Ends Here */

/* Width Change Styles Starts Here */

.widthChangeIconSec img{
    float: right;
    position: relative;
    right: -15px;
    height: 50px;
}

.smallWidthChangeIconSec img{
    float: right;
    position: relative;
    left: 8px;
    height: 70px;
}


    /* Navbar Style Changes after width Manupulation */

        .minimisedLeftBarWidth ul li a .leftBarHeader{
            display: none;
        }

        .minimisedLeftBarWidth ul li a .fa-chevron-down{
            display: none;
        }

        .minimisedLeftBarWidth ul li a .fa-chevron-up{
            display: none;
        }

        .minimisedLeftBarWidth ul li .collapse{
            display: none;
        }

        .minimisedLeftBarWidth ul li:hover .collapse{
            display: block;
            width: 190px;
            background-color: #2E3861;
            z-index: 9;
            position: absolute;
            left: 2.5em;
            top: 0.5em;
        }

        .minimisedLeftBarWidth .small-menu-title{
            display: none;
        }

        .minimisedLeftBarWidth .userImageSec{
            display: none;
        }

        .minimisedLeftBarWidth .profileImageSec{
            height: 40px;
            width: 40px;
        }

        .minimisedLeftBarWidth .leftBar>li .imageAllign{
            text-align: center;
        }


    /* Navbar Style Changes after width Manupulation */


/* Width Change Style Ends Here */

.accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f078";    
    float: right;
}
.accordion-opened .accordion-toggle:after {    
    content: "\f054";    
}


