<% include ../../layouts/header %>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Main Menu</h4>
        <% var access = user['permission_access']; if(access.hasOwnProperty('create')) { %>
        <button type="button" name="add_main_menu" id="add_main_menu" data-toggle="modal" data-target="#main_menu_popup_Modal" class="btn btn-primary float-right">Create</button>  
         <% } %>
         <% if(access.hasOwnProperty('read')) { %>
        <div class="table-responsive">
          <table class="table table-bordered custom_table">
            <thead>
              <tr>
                <th>#</th>
                <th>Menu Name</th>
                <th>Menu Type</th>
                <th>Menu Icon</th>
                <th>Menu Url</th>
                <th>Sort.No</th>
                <th>Status</th>
                <% if(access.hasOwnProperty('update')) { %><th class="action-column">Action</th><% } %>
              </tr>
            </thead>
            <tbody>
              <% for(var i = 0; i < get_menus.length; i++) { %>
              <tr>
                <td><%= (i+1) %></td>
                <td><%= get_menus[i].menu_name %></td>
                <td><%= get_menus[i].menu_type_name %></td>
                <td><%= get_menus[i].menu_icon %></td>
                <td><%= get_menus[i].menu_url %></td>
                <td><%= get_menus[i].menu_sort_no %></td>
                <% if (get_menus[i].menu_status == '1') { %>
                  <td><label class="badge badge-success">Enable</label></td>
                <% } else { %>
                  <td><label class="badge badge-danger">Disable</label></td>
                <% } %>
                <% if(access.hasOwnProperty('update')) { %><td><a href="#" class="update_menu" data-toggle="modal" data-target="#main_menu_popup_Modal" data-id="<%= get_menus[i]._id %>" id="update_menu"><i class="mdi mdi-pencil" data-name="mdi-pencil"></i></a></td>  <% } %>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <% } %>
      </div>
    </div>

    <!-- create/update role popup modal start -->
    <div class="modal fade" id="main_menu_popup_Modal" tabindex="-1" role="dialog" aria-labelledby="main_menu_popup_Modal"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><span class="menu_popup_name">Create</span> Main Menu</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="menu_notification"></div>
            <form id="main_menu_form" type="post">
              <input type="hidden" name="main_menu_id" id="main_menu_id" />  
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="menu_name">Menu Name</label>
                    <input type="text" id="menu_name" name="menu_name" class="form-control" placeholder="Enter Menu Name">
                  </div>
                  <div class="form-group">
                    <label for="menu_type">Menu Type</label>
                    <select class="form-control menu_type" name="menu_type" id="menu_type" multiple="multiple" data-placeholder="Please select menu type">
                      <% for(var i = 0; i < get_menu_types.length; i++) { %>
                        <option value="<%= get_menu_types[i]._id %>"><%= get_menu_types[i].menu_type_name%></option>
                      <% } %>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="menu_url">Menu Url</label>
                    <input type="text" id="menu_url" name="menu_url" class="form-control" placeholder="Enter Menu Url">
                  </div>
                  <div class="form-group">
                    <label for="menu_icon">Menu Icon</label>
                    <input type="text" id="menu_icon" name="menu_icon" class="form-control" placeholder="Enter Menu Icon">
                  </div>
                  <div class="form-group">
                    <label for="menu_sort_no">Menu Sort No</label>
                    <input type="text" id="menu_sort_no" name="menu_sort_no" class="form-control" placeholder="Enter Menu Sort No">
                  </div>
                  <div class="form-group">
                    <label for="menu_status">Status</label>
                    <select class="form-control menu_status" name="menu_status" id="menu_status">
                      <option value="">---Please select menu status---</option>
                      <option value="1">Enable</option>
                      <option value="0">Disable</option>
                    </select>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary menu_popup_name" id="menu_popup_btn_name">Add</button>
                  <img src="/public/images/loader_form.gif" class="img-responsive " id="loader" style="width: 25px;display:none;" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- create/update role popup modal end -->

  </div>
</div>
<% include ../../layouts/footer %>

<script>
  $(document).ready(function () {
    $('#menu_type').select2();
  })
  $(document).on('click', '#update_menu', function () {
    $("#main_menu_form")[0].reset();
    $('#menu_type').val(null).trigger('change');  // for clearing multiple selected values

    $('.menu_popup_name').html('Update');  
    $("#menu_popup_btn_name").prop('disabled', true);

    var id     = $(this).data('id');
    $("#loader").show();
    $.ajax({
      url      : '/settings/get_menu_data_by_id',
      type     : 'POST',
      data     : {
        'id'   : id,
      },
      success  : function (data) {
        
        $("#loader").hide();
        if (data.status == '200') {
          $('#main_menu_id').val(data.menus_data[0]._id); 
          $('#menu_name').val(data.menus_data[0].menu_name);  
          $('#menu_type').val(data.menus_data[0].menu_type_id).trigger('change');  
          $('#menu_url').val(data.menus_data[0].menu_url);
          $('#menu_icon').val(data.menus_data[0].menu_icon);
          $('#menu_sort_no').val(data.menus_data[0].menu_sort_no);
          $('#menu_status').val(data.menus_data[0].menu_status);
          $("#menu_popup_btn_name").prop('disabled', false);
        } 
      }
    });

  });
  
  $(document).on('click', '#add_main_menu', function () {
    //$("#role_data_popup_Modal").show();
    $("#main_menu_form")[0].reset();
    $('#menu_type').val(null).trigger('change'); // for clearing multiple selected values

    $('.menu_popup_name').html('Create');
  });

  $(document).on('click', '#menu_popup_btn_name', function(){

    var menuForm  = $("#main_menu_form");

    var validator = menuForm.validate({

      rules     : {
        menu_name: {
          required: {
            depends:function() {
                $(this).val($.trim($(this).val()));
                return true;
            }
          },
          remote : { url : "/settings/checkMenuNameExists", type :"post", data: {'id' : $('#main_menu_id').val()}}
        },
        menu_type: {
          required : true
        },
        menu_url: {
          required : true
        },
        menu_icon: {
          required : true
        },
        menu_sort_no: {
          required : true
        },
        menu_status: {
          required : true
        }
      },

      messages : {

        menu_name: {
          required : "Please enter menu name",
          remote   : "Menu name already taken"
        },
        menu_type: {
          required: "Please enter role type",
        },
        menu_url: {
          required: "Please enter menu url",
        },
        menu_icon: {
          required: "Please enter menu icon",
        },
        menu_sort_no: {
          required: "Please enter menu sort no",
        },
        menu_status: {
          required : "Please select menu status"
        }
      },

      submitHandler: function(form) {

        $("#menu_popup_btn_name ").prop('disabled', true);
        $("#loader").show();

        var main_menu_id = $('#main_menu_id').val(); 
        var menu_name    = $('#menu_name').val(); 
        var menu_type_id = $("#menu_type").val();
        var menu_type_name = $("#menu_type  option:selected").map(function(i, el) {
                              return $(el).text();
                            }).get();
        var menu_url     = $("#menu_url").val();
        var menu_icon    = $("#menu_icon").val();
        var menu_sort_no = $("#menu_sort_no").val();
        var menu_status  = $("#menu_status").val();

        $.ajax({
          url      : '/settings/main_menu_insert_update',
          type     : 'POST',
          data     : {
            'main_menu_id'    : main_menu_id,
            'menu_name'       : menu_name,
            'menu_type_id'    : menu_type_id,
            'menu_type_name'  : menu_type_name,
            'menu_url'        : menu_url,
            'menu_icon'       : menu_icon,
            'menu_sort_no'    : menu_sort_no,
            'menu_status'     : menu_status
          },
          success : function (data) {
            $("#loader").hide();
            if (data.status == '200') {
              $('#menu_notification').html('<div class="alert alert-success"><strong>Success! </strong>' + data.message + '</div>');
            } else {
              $("#role_form ").prop('disabled', false);
              $('#menu_notification').html('<div class="alert alert-danger "><strong>Error! </strong>' + data.message + '</div>');
            }

            setTimeout(function(){ 
              $('#menu_notification').hide();
              location.reload(); 
            }, 3000);
          }
        });
      }
    });            
  }); 
</script>
