<% include ../../layouts/header %>
<% var access = user['permission_access'];  %>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Main Menu Types</h4>
        <% if(access.hasOwnProperty('create')) { %>
        <button type="button" name="add_menu_type" id="add_menu_type" data-toggle="modal" data-target="#menu_type_popup_Modal" class="btn btn-primary float-right">Create</button>  
        <% } %>
        <% if(access.hasOwnProperty('read')) { %>
        <div class="table-responsive">
          <table class="table table-bordered custom_table">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Status</th>
                <% if(access.hasOwnProperty('update')) { %><th class="action-column">Action</th><% } %>
              </tr>
            </thead>
            <tbody>
              <% for(var i = 0; i < get_menu_types.length; i++) { %>
              <tr>
                <td><%= (i+1) %></td>
                <td><%= get_menu_types[i].menu_type_name %></td>
                <% if (get_menu_types[i].menu_type_status == '1') { %>
                  <td><label class="badge badge-success">Enable</label></td>
                <% } else { %>
                  <td><label class="badge badge-danger">Disable</label></td>
                <% } %>
                <% if(access.hasOwnProperty('update')) { %><td><a href="#" class="update_menu_type" data-toggle="modal" data-target="#menu_type_popup_Modal" data-id="<%= get_menu_types[i]._id %>" id="update_menu_type"><i class="mdi mdi-pencil" data-name="mdi-pencil"></i></a></td> <% } %>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <% } %>
      </div>
    </div>

    <!-- create/update role popup modal start -->
    <div class="modal fade" id="menu_type_popup_Modal" tabindex="-1" role="dialog" aria-labelledby="menu_type_popup_Modal"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><span class="menu_type_btn_name">Create</span> Menu Type</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="menu_notification"></div>
            <form id="menu_type_form" type="post">
              <input type="hidden" name="menu_type_id" id="menu_type_id" />  
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="menu_type_name">Name</label>
                    <input type="text" id="menu_type_name" name="menu_type_name" class="form-control" placeholder="Enter Menu Type Name">
                  </div>
                  <div class="form-group">
                    <label for="menu_type_status">Status</label>
                    <select class="form-control menu_type_status" name="menu_type_status" id="menu_type_status">
                      <option value="">---Please select role status---</option>
                      <option value="1">Enable</option>
                      <option value="0">Disable</option>
                    </select>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary menu_type_btn_name" id="menu_type_btn_name">Add</button>
                  <img src="/public/images/loader_form.gif" class="img-responsive" id="loader" style="width: 25px;display:none;" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- create/update role popup modal end -->

  </div>
</div>
<% include ../../layouts/footer %>

<script>
    

  $(document).on('click', '#update_menu_type', function () {
    $("#menu_type_form")[0].reset();
    $('.menu_type_btn_name').html('Update');  
    $("#menu_type_btn_name ").prop('disabled', true);

    var id     = $(this).data('id');
    $("#loader").show();
    $.ajax({
      url      : '/settings/get_menu_type_by_id',
      type     : 'POST',
      data     : {
        'id'   : id,
      },
      success  : function (data) {
        $("#loader").hide();
        if (data.status == '200') {
          $('#menu_type_id').val(data.menu_types_data[0]._id); 
          $('#menu_type_name').val(data.menu_types_data[0].menu_type_name);  
          $('#menu_type_status').val(data.menu_types_data[0].menu_type_status);
          $("#menu_type_btn_name ").prop('disabled', false);
        } 
      }
    });

  });
  
  $(document).on('click', '#add_menu_type', function () {

    //$("#role_data_popup_Modal").show();
    $("#menu_type_form")[0].reset();
    $('.menu_type_popup_name').html('Create');
  });

  $(document).on('click', '#menu_type_btn_name', function(){
    

    var menuForm  = $("#menu_type_form");

    var validator = menuForm.validate({

      rules     : {
        menu_type_name: {
          required: {
            depends:function() {
                $(this).val($.trim($(this).val()));
                return true;
            }
          },
        },
        menu_type_status: {
          required : true
        }
      },

      messages : {

        menu_type_name: {
          required : "Please enter menu type name"
        },
        menu_type_status: {
          required: "Please enter menu type status",
        }
      },

      submitHandler: function (form) {

        $("#menu_popup_btn_name ").prop('disabled', true);
        $("#loader").show();

        var menu_type_id     = $('#menu_type_id').val(); 
        var menu_type_name   = $('#menu_type_name').val(); 
        var menu_type_status = $("#menu_type_status").val();

        $.ajax({
          url      : '/settings/menu_type_insert_update',
          type     : 'POST',
          data     : {
            'id'                : menu_type_id,
            'menu_type_name'    : menu_type_name,
            'menu_type_status'  : menu_type_status,
          },
          success : function (data) {
            $("#loader").hide();
            if (data.status == '200') {
              $('#menu_notification').html('<div class="alert alert-success"><strong>Success! </strong>' + data.message + '</div>');
            } else {
              $("#menu_type_btn_name").prop('disabled', false);
              $('#menu_notification').html('<div class="alert alert-danger "><strong>Error! </strong>' + data.message + '</div>');
            }

            setTimeout(function(){ 
              $('#menu_notification').hide();
              location.reload(); 
            }, 3000);
          }
        });
      }
    });            
  }); 


</script>
