<% include ../../layouts/header %>
<% var access = user['permission_access'];  %>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Roles</h4>
        <!-- <button type="button" name="add_role" id="add_role" data-toggle="modal" data-target="#role_data_popup_Modal" class="btn btn-primary float-right">Create</button>  --> 
        <% if(access.hasOwnProperty('create')) { %> <a class="btn btn-primary btn-fw" href="/roles/create_role" style="float: right;margin-bottom: 10px;">Create</a> <% } %>
        <% if(access.hasOwnProperty('read')) { %>
        <div class="table-responsive">
          <table class="table table-bordered custom_table">
            <thead>
              <tr>
                <th>#</th>
                <th>Role Name</th>
                <th>Role Description</th>
                <th>Role Status</th>
                <th>Created At</th>
                <% if(access.hasOwnProperty('update')) { %><th>Action</th><% } %>
              </tr>
            </thead>
            <tbody>
              <% for(var i = 0; i < get_roles.length; i++) { %>
              <tr>
                <td><%= (i+1) %></td>
                <td><%= get_roles[i].role_name %></td>
                <td><%= get_roles[i].role_description %></td>
                <% if (get_roles[i].role_status == '1') { %>
                  <td><label class="badge badge-success">Enable</label></td>
                <% } else { %>
                  <td><label class="badge badge-danger">Disable</label></td>
                <% } %>
                <td><%= get_roles[i].created_at %></td>
                <% if(access.hasOwnProperty('update')) { %><td><a href="/roles/update_role/<%= get_roles[i]._id %>" class="update_role"  data-id="<%= get_roles[i]._id %>" id="update_role"><i class="mdi mdi-pencil" data-name="mdi-pencil"></i></a></td> <% } %>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <% } %>
      </div>
    </div>

    <!-- create/update role popup modal start -->
    <div class="modal fade" id="role_data_popup_Modal" tabindex="-1" role="dialog" aria-labelledby="role_data_popup_Modal"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><span class="role_popup_name">Create</span> Role </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="role_notification"></div>
            <form id="role_form" type="post">
              <input type="hidden" name="role_id" id="role_id" />  
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="name">Role Name</label>
                    <input type="text" id="role_name" name="role_name" class="form-control" placeholder="Enter Role Name">
                  </div>
                  <div class="form-group">
                    <label for="name">Role Description</label>
                    <input type="text" id="role_desc" name="role_desc" class="form-control" placeholder="Enter Role Description">
                  </div>
                  <div class="form-group">
                    <label for="email">Menu Type</label>
                    <select class="form-control menu_type" name="menu_type" id="menu_type">
                      <option value="">--- Please select menu type ---</option>
                      <% for(var i = 0; i < get_menu_types.length; i++) { %>
                        <option value="<%= get_menu_types[i]._id %>"><%= get_menu_types[i].menu_type_name%></option>
                      <% } %>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="email">Role Status</label>
                    <select class="form-control role_status" name="role_status" id="role_status">
                      <option value="">--- Please select role status ---</option>
                      <option value="1">Enable</option>
                      <option value="0">Disable</option>
                    </select>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary role_popup_name" id="role_popup_btn_name">Add</button>
                  <img src="/public/images/loader_form.gif" class="img-responsive " id="loader" style="width: 25px;display:none;" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- create/update role popup modal end -->

  </div>
</div>
<% include ../../layouts/footer %>

<script>
    

  // $(document).on('click', '#update_role', function () {
  //   $("#role_form")[0].reset();
  //   $('.role_popup_name').html('Update');  
  //   $("#role_popup_btn_name ").prop('disabled', true);

  //   var id     = $(this).data('id');
  //   $("#loader").show();
  //   $.ajax({
  //     url      : '/settings/get_role_data_by_id',
  //     type     : 'POST',
  //     data     : {
  //       'id'   : id,
  //     },
  //     success  : function (data) {
  //       $("#loader").hide();
  //       if (data.status == '200') {
  //         $('#role_id').val(data.roles_data[0]._id); 
  //         $('#role_name').val(data.roles_data[0].role_name);  
  //         $('#role_desc').val(data.roles_data[0].role_description);
  //         $('#menu_type').val(data.roles_data[0].menu_type_id);    
  //         $('#role_status').val(data.roles_data[0].role_status);  
  //         $("#role_popup_btn_name ").prop('disabled', false);
  //       } 
  //     }
  //   });

  // });
  
  $(document).on('click', '#add_role', function () {
    //$("#role_data_popup_Modal").show();
    $("#role_form")[0].reset();
    $('.role_popup_name').html('Create');
  });

  $(document).on('click', '#role_popup_btn_name', function(){

    var roleForm  = $("#role_form");

    var validator = roleForm.validate({

      rules     : {
        role_name: {
          required: {
            depends:function() {
              $(this).val($.trim($(this).val()));
              return true;
            }
          },
        },
        menu_type: {
          required : true
        },
        role_desc: {
          required : true
        },
        role_status: {
          required : true
        },
      },

      messages : {

        role_name: {
          required : "Please enter role name"
        },
        menu_type : {
          required : "Please select menu type"
        },
        role_desc: {
          required: "Please enter role description"
        },
        role_status: {
          required: "Please enter role status",
        }
      },

      submitHandler: function(form) {

        $("#role_popup_btn_name ").prop('disabled', true);
        $("#loader").show();
        var id           = $('#role_id').val(); 
        var role_name    = $("#role_name").val();
        var menu_type    = $("#menu_type").val();
        var role_desc    = $("#role_desc").val();
        var role_status  = $("#role_status").val();

        $.ajax({
          url      : '/settings/role_insert_update',
          type     : 'POST',
          data     : {
            'id'              : id,
            'role_name'       : role_name,
            'role_status'     : role_status,
            'menu_type'       : menu_type,
            'role_desc'       : role_desc
          },
          success : function (data) {
            $("#loader").hide();
            if (data.status == '200') {
              $('#role_notification').html('<div class="alert alert-success"><strong>Success! </strong>' + data.message + '</div>');
            } else {
              $("#role_form ").prop('disabled', false);
              $('#role_notification').html('<div class="alert alert-danger "><strong>Error! </strong>' + data.message + '</div>');
            }

            setTimeout(function(){ 
              $('#role_notification').hide();
              location.reload(); 
            }, 3000);
          }
        });
      }
    });            
  }); 


</script>
