<% include ../../layouts/header %>
<% var access = user['permission_access'];  %>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Sub Menus</h4>
        <% if(access.hasOwnProperty('create')) { %>
        <button type="button" name="add_sub_menu" id="add_sub_menu" data-toggle="modal" data-target="#sub_menu_popup_Modal" class="btn btn-primary float-right">Create</button>  
        <% } %>
        <% if(access.hasOwnProperty('read')) { %>
        <div class="table-responsive">
          <table class="table table-bordered custom_table">
            <thead>
              <tr>
                <th>#</th>
                <th>SubMenu Name</th>
                <th>Menu Name</th>
                <th>SubMenu Icon</th>
                <th>SubMenu Url</th>
                <th>Status</th>
                <% if(access.hasOwnProperty('update')) { %><th class="action-column">Action</th><% } %>
              </tr>
            </thead>
            <tbody>
             <% var s_no = 1;  for(var i = 0; i < final_sub_menu_list.length; i++) {  
                var menu_arr = []; var menu_name_arr = [];
                for (j = 0; j < final_sub_menu_list[i].length; j++) {
                  menu_arr.push(final_sub_menu_list[i][j].menu_id);
                  if (!menu_name_arr.includes(final_sub_menu_list[i][j].main_menu_name))
                  menu_name_arr.push(final_sub_menu_list[i][j].main_menu_name);
                }
              %>
              <tr>
                <td><%= s_no++ %></td>
                <td><%= final_sub_menu_list[i][0].sub_menu_name %></td>
                <td><%= menu_name_arr %></td>
           
                <td><%= final_sub_menu_list[i][0].sub_menu_icon %></td>
                <td><%= final_sub_menu_list[i][0].sub_menu_url %></td>
                <% if (final_sub_menu_list[i][0].sub_menu_status == '1') { %>
                  <td><label class="badge badge-success">Enable</label></td>
                <% } else { %>
                  <td><label class="badge badge-danger">Disable</label></td>
                <% } %>
                <% if(access.hasOwnProperty('update')) { %><td ><a href="#" class="update_sub_menu" data-toggle="modal" data-target="#sub_menu_popup_Modal" data-id="<%= menu_arr %>" id="update_sub_menu" data-submenu="<%= final_sub_menu_list[i][0].sub_menu_id %>"><i class="mdi mdi-pencil" data-name="mdi-pencil"></i></a></td><% } %>
              </tr>
              <%  }  %>
              
            </tbody>
          </table>
        </div>
        <% } %>
      </div>
    </div>

    <!-- create/update role popup modal start -->
    <div class="modal fade" id="sub_menu_popup_Modal" tabindex="-1" role="dialog" aria-labelledby="sub_menu_popup_Modal"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><span class="submenu_popup_name">Create</span> Main Menu</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="submenu_notification"></div>
            <form id="sub_menu_form" type="post">
              <input type="hidden" name="sub_menu_id" id="sub_menu_id" />  
              <input type="hidden" name="main_menu_id" id="main_menu_id" /> 
              <input type="hidden" name="menu_type_id" id="menu_type_id" /> 
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="submenu_name">SubMenu Name</label>
                    <input type="text" id="submenu_name" name="submenu_name" class="form-control" placeholder="Enter Sub Menu Name">
                  </div>
                  <div class="form-group">
                    <label for="submenu_icon">SubMenu Icon</label>
                    <input type="text" id="submenu_icon" name="submenu_icon" class="form-control" placeholder="Enter Sub Menu Icon">
                  </div>
                  <div class="form-group">
                    <label for="submenu_url">SubMenu Url</label>
                    <input type="text" id="submenu_url" name="submenu_url" class="form-control" placeholder="Enter Sub Menu Url">
                  </div>
                  <div class="form-group">
                    <label for="menu_type">Menu Type</label>
                    <select class="form-control menu_type" name="menu_type" id="menu_type"  multiple="multiple" data-placeholder="Please select menu type">
                      <% for(var i = 0; i < get_main_menus.length; i++) { %>
                         <optgroup label="<%= get_main_menus[i].menu_name%>" id="<%= get_main_menus[i]._id %>">
                      <% for (var j = 0; j < get_main_menus[i].menu_type_id.length; j++) { %>
                        <option value="<%= get_main_menus[i].menu_type_id[j] %>"><%= get_main_menus[i].menu_type_name[j]%></option>
                      <% } %>
                      </optgroup>
                      <% } %>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="menu_status">Status</label>
                    <select class="form-control sub_menu_status" name="sub_menu_status" id="sub_menu_status">
                      <option value="">---Please select menu status---</option>
                      <option value="1">Enable</option>
                      <option value="0">Disable</option>
                    </select>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary submenu_popup_name" id="sub_menu_popup_btn_name">Add</button>
                  <img src="/public/images/loader_form.gif" class="img-responsive " id="loader" style="width: 25px;display:none;" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- create/update role popup modal end -->

  </div>
</div>
<% include ../../layouts/footer %>

<script>
  $(document).ready(function () {
    $('#menu_type').select2();
  })
  $(document).on('click', '#update_sub_menu', function () {
    $("#sub_menu_form")[0].reset();
    $('#menu_type').val(null).trigger('change');  // for clearing multiple selected values

    $('.submenu_popup_name').html('Update');  
    $("#sub_menu_popup_btn_name").prop('disabled', true);

    var id          = $(this).data('id');
    var sub_menu_id = $(this).data('submenu');

    $("#loader").show();
    $.ajax({
      url      : '/settings/get_submenu_data_by_id',
      type     : 'POST',
      data     : {
        'id'   : id,
        'sub_menu_id' : sub_menu_id
      },
      success  : function (data) {
        $("#loader").hide();
       console.log(data)
        if (data.status == '200') {
          $('#sub_menu_id').val(data.final_sub_menu_list[0].sub_menu_id); 
          $('#submenu_name').val(data.final_sub_menu_list[0].sub_menu_name); 
          $('#submenu_icon').val(data.final_sub_menu_list[0].sub_menu_icon);  
          //$('#menu_type').val(data.menu_type_arr).trigger('change');
          for (j = 0; j < data.get_menu_by_id.length; j++) {
            var sub_menu_selc_menu_id    = data.get_menu_by_id[j]._id;
            var sub_menu_selec_menu_type = data.get_menu_by_id[j].sub_menus;
            var optgroup = $('select optgroup[id="'+ sub_menu_selc_menu_id +'"]');
            
            for (i = 0; i< Object.keys(sub_menu_selec_menu_type).length; i++) {
              var sele_sub_menu   = Object.keys(sub_menu_selec_menu_type)[i]; 
              if (sub_menu_selec_menu_type[sele_sub_menu].length > 0) {
                var option = optgroup.find('option[value="'+ Object.keys(sub_menu_selec_menu_type)[i] +'"]');
                option.prop('selected', true).trigger('change');
              }
            }
          }
          $('#main_menu_id').val(data.menu_arr);  
          $('#menu_type_id').val(data.menu_type_arr);
          $('#submenu_url').val(data.final_sub_menu_list[0].sub_menu_url);
          $('#sub_menu_status').val(data.final_sub_menu_list[0].sub_menu_status);
          $("#sub_menu_popup_btn_name").prop('disabled', false);


        } 
      }
    });

  });
  
  $(document).on('click', '#add_sub_menu', function () {
    //$("#role_data_popup_Modal").show();
    $("#sub_menu_form")[0].reset();
    $('#menu_type').val(null).trigger('change'); // for clearing multiple selected values

    $('.submenu_popup_name').html('Create');
  });

  $(document).on('click', '#sub_menu_popup_btn_name', function(){

    var menuForm  = $("#sub_menu_form");

    var validator = menuForm.validate({

      rules     : {
        submenu_name: {
          required: {
            depends:function() {
                $(this).val($.trim($(this).val()));
                return true;
            }
          },
          //remote : { url : "/settings/checkMenuNameExists", type :"post", data: {'id' : $('#main_menu_id').val()}}
        },
        submenu_icon: {
          required : true
        },
        submenu_url: {
          required : true
        },
        menu_type: {
          required : true
        },
        sub_menu_status: {
          required : true
        }
      },

      messages : {

        submenu_name: {
          required : "Please enter sub menu name",
          //remote   : "Menu name already taken"
        },
        submenu_icon: {
          required: "Please enter sub menu icon",
        },
        submenu_url: {
          required: "Please enter sub menu url",
        },
        menu_type: {
          required: "Please select menu type ",
        },
        sub_menu_status: {
          required : "Please select sub menu status"
        }
      },

      submitHandler: function(form) {

        $("#menu_popup_btn_name ").prop('disabled', true);
        $("#loader").show();
        var json_arr_selected = [];
        var sub_menu_id      = $('#sub_menu_id').val(); 
        var sub_menu_name    = $('#submenu_name').val(); 
        var menu_type_id     = $("#menu_type").val();
        var sub_menu_url     = $("#submenu_url").val();
        var sub_menu_icon    = $("#submenu_icon").val();
        var sub_menu_status  = $("#sub_menu_status").val();
        var selected_menu_id = $('#menu_type option:selected').parent().attr('id');
        var selected_json    = $('#menu_type option:selected').map(function(e) {
                                var value     = $(this).val();
                                var main_menu = $(this).parent().attr('id'); // main menu id
                                var main_menu_name = $(this).parent().attr('label');
                                 //return $(this).parent().attr('id');
                                json_arr_selected.push({
                                  [main_menu] : {'menu_type_id' : value, 'main_menu_name': main_menu_name}
                                })
                                });
        var main_menu_id      = $("#main_menu_id").val(); //getting as string
        var prev_menu_type_id = $("#menu_type_id").val();
       
        $.ajax({
          url      : '/settings/sub_menu_insert_update',
          type     : 'POST',
          data     : {
            'sub_menu_id'     : sub_menu_id,
            'sub_menu_name'   : sub_menu_name,
            'menu_type_id'    : menu_type_id,
            'sub_menu_url'    : sub_menu_url,
            'sub_menu_icon'   : sub_menu_icon,
            'sub_menu_status' : sub_menu_status,
            'selected_menu_id' : selected_menu_id,
            'selected_json'    : json_arr_selected,
            'main_menu_id'     : main_menu_id,
            'prev_menu_type_id' : prev_menu_type_id,
           
          },
          success : function (data) {
            $("#loader").hide();
            if (data.status == '200') {
              $('#submenu_notification').html('<div class="alert alert-success"><strong>Success! </strong>' + data.message + '</div>');
            } else {
              $("#role_form ").prop('disabled', false);
              $('#submenu_notification').html('<div class="alert alert-danger "><strong>Error! </strong>' + data.message + '</div>');
            }

            setTimeout(function(){ 
              $('#submenu_notification').hide();
              location.reload(); 
            }, 3000);
          }
        });
      }
    });            
  }); 


</script>
