<% include ../../layouts/header %>
<% var access = user['permission_access'];  %>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Teams</h4>
        <% if(access.hasOwnProperty('create')) { %>
        <button type="button" name="add_team" id="add_team" data-toggle="modal" data-target="#team_popup_Modal" class="btn btn-primary float-right">Create</button>  
        <% } %>
        <% if(access.hasOwnProperty('read')) { %>
        <div class="table-responsive">
          <table class="table table-bordered custom_table">
            <thead>
              <tr>
                <th>#</th>
                <th>Team</th>
                <th>Description</th>
                <th>Status</th>
                <th>Created AT</th>
                <% if(access.hasOwnProperty('update')) { %><th>Action</th> <% } %>
              </tr>
            </thead>
            <tbody>
              <% for(var i = 0; i < get_teams.length; i++) { %>
              <tr>
                <td><%= (i+1) %></td>
                <td><%= get_teams[i].team_name %></td>
                <td><%= get_teams[i].team_description %></td>
                <% if (get_teams[i].team_status == '1') { %>
                  <td><label class="badge badge-success">Active</label></td>
                <% } else { %>
                  <td><label class="badge badge-danger">Non-Active</label></td>
                <% } %>
                <td><%= get_teams[i].created_at %></td>
                <% if(access.hasOwnProperty('update')) { %><td><a href="#" class="update_team" data-toggle="modal" data-target="#team_popup_Modal" data-id="<%= get_teams[i]._id %>" id="update_team"><i class="mdi mdi-pencil" data-name="mdi-pencil"></i></a></td> <% } %>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <% } %>
      </div>
    </div>

    <!-- create/update role popup modal start -->
    <div class="modal fade" id="team_popup_Modal" tabindex="-1" role="dialog" aria-labelledby="team_popup_Modal"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><span class="team_popup_name">Create</span> Team </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="team_notification"></div>
            <form id="team_form" type="post">
              <input type="hidden" name="team_id" id="team_id" />  
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="team_name">Team Name</label>
                    <input type="text" id="team_name" name="team_name" class="form-control" placeholder="Enter Team Name">
                  </div>
                  <div class="form-group">
                    <label for="team_status">Team Status</label>
                    <select class="form-control team_status" name="team_status" id="team_status">
                      <option value="">--- Please select team ---</option>
                      <option value="1">Active</option>
                      <option value="0">Non-Active</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="team_desc">Team Description</label>
                    <input type="text" id="team_desc" name="team_desc" class="form-control" placeholder="Enter Team Descriptions">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary team_popup_name" id="team_popup_btn_name">Add</button>
                  <img src="/public/images/loader_form.gif" class="img-responsive " id="loader" style="width: 25px;display:none;" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- create/update role popup modal end -->

  </div>
</div>
<% include ../../layouts/footer %>

<script>
    

  $(document).on('click', '#update_team', function () {
    $("#team_form")[0].reset();
    $('.team_popup_name').html('Update');  
    $("#team_popup_btn_name ").prop('disabled', true);

    var id     = $(this).data('id');
    $("#loader").show();
    $.ajax({
      url      : '/settings/get_team_data_by_id',
      type     : 'POST',
      data     : {
        'id'   : id,
      },
      success  : function (data) {
        $("#loader").hide();
        if (data.status == '200') {
          $('#team_id').val(data.teams_data[0]._id); 
          $('#team_name').val(data.teams_data[0].team_name);  
          $('#team_status').val(data.teams_data[0].team_status);  
          $('#team_desc').val(data.teams_data[0].team_description);  
          $("#team_popup_btn_name ").prop('disabled', false);
        } 
      }
    });

  });
  
  $(document).on('click', '#add_team', function () {
    //$("#role_data_popup_Modal").show();
    $("#team_form")[0].reset();
    $('.team_popup_name').html('Create');
  });

  $(document).on('click', '#team_popup_btn_name', function(){

    var teamForm  = $("#team_form");

    var validator = teamForm.validate({

      rules     : {
        team_name: {
          required: {
            depends:function() {
              $(this).val($.trim($(this).val()));
              return true;
            }
          },
        },
        team_status: {
          required : true
        },
        team_desc: {
          required : true
        },
      },

      messages : {

        team_name: {
          required : "Please enter team name"
        },
        team_status: {
          required: "Please enter team status",
        },
        team_desc: {
          required: "Please enter team description",
        }
      },

      submitHandler: function(form) {

        $("#team_popup_btn_name ").prop('disabled', true);
        $("#loader").show();
        var id           = $('#team_id').val(); console.log(id)
        var team_name    = $('#team_name').val(); 
        var team_status  = $("#team_status").val();
        var team_desc    = $("#team_desc").val();

        $.ajax({
          url      : '/settings/team_insert_update',
          type     : 'POST',
          data     : {
            'id'          : id,
            'team_name'   : team_name,
            'team_status' : team_status,  
            'team_desc'   :  team_desc
          },
          success : function (data) {
            $("#loader").hide();
            if (data.status == '200') {
              $('#team_notification').html('<div class="alert alert-success"><strong>Success! </strong>' + data.message + '</div>');
            } else {
              $("#team_popup_btn_name").prop('disabled', false);
              $('#team_notification').html('<div class="alert alert-danger "><strong>Error! </strong>' + data.message + '</div>');
            }

            setTimeout(function(){ 
              $('#team_notification').hide();
              location.reload(); 
            }, 3000);
          }
        });
      }
    });            
  }); 


</script>
