<% include ../layouts/header %>
<% var access = user['permission_access'];  %>
<div class="row">
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">User List</h4>
            <% if(access.hasOwnProperty('create')) { %>
            <a class="btn btn-primary btn-fw" href="/accounts/add" style="float: right;margin-bottom: 10px;">
            Create
            </a>
            <% } %>
            <% if(access.hasOwnProperty('read')) { %>
            <div class="table-responsive">
                <table class="table table-bordered custom_table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Email</th>
                      <th>Role Type</th>
                      <th>Created at</th>
                      <% if(access.hasOwnProperty('update')) { %>
                      <th>Action</th>
                      <% } %>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Users -->
                    <% for(var i = 0; i < users.length; i++) { 
                      var d       = new Date(users[i].date),
                          month   = '' + (d.getMonth() + 1),
                          day     = '' + d.getDate(),
                          year    = d.getFullYear(),
                          hours   = d.getHours(),
                          minutes = d.getMinutes(),
                          seconds = d.getSeconds();

                      if (month.length < 2) month = '0' + month;
                      if (day.length < 2) day = '0' + day;
                      
                      var date_format = day + '-' + month + '-' + year + ' ' + hours + ':' + minutes + ':' + seconds;
	                  %>
                    <tr>
                      <td><%= (i+1) %></td>
                      <td><%= users[i].first_name %></td>
                      <td><%= users[i].last_name %></td>
                      <td><%= users[i].email %></td>
                      <td><%= users[i].role_name %></td>
                      <td><%= date_format %></td>
                      <% if(access.hasOwnProperty('update')) { %>
                      <td>
                     
                        <a href="#" class="update_user_profile" data-toggle="modal" data-target="#updateUserModal" id=<%= users[i]._id %>><i class="mdi mdi-pencil" data-name="mdi-pencil"></i></a>

                      </td>
                      <% } %>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
            </div>
            <% } %>
        </div>
    </div>

    <div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="updateUserModal"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" id="update_user">
          <div class="modal-header"> 
            <h5 class="modal-title" id="createCategoryModal">Edit</h5> 
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"> 
            <div id="notification"></div>
            <form id="update_user_accounts"> 
              <input type="hidden" id="pid" class="user_id"> 
              <div class="row">
                <div class="col-12"> 
                  <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" id="first_name" name="first_name" class="form-control" placeholder="Enter First Name"/>
                  </div>
                  <div class="form-group">
                    <label for="first_name">Last Name</label>
                    <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Enter Last Name"/>
                  </div>
                  <div class=" form-group "> 
                    <label for="email ">Email</label> 
                    <input type="email" id="email" name="email" class="form-control " placeholder="Enter Email " disabled>
                  </div>
                  <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input type="text" id="mobile" name="mobile" class="form-control" placeholder="Enter Mobile Number"/>
                  </div>
                  <div class="form-group">
                    <label for="country">Country</label>
                    <select class="form-control country" name="country" id="country">
                      <option value="">--- Please select country ---</option>
                      <% for(var i = 0; i < get_countries.length; i++) { %>
                          <option value="<%= get_countries[i].country_id %>"><%= get_countries[i].country_name%></option>
                        <% } %>
                    </select>
                  </div>    
                  <div class="form-group">
                    <label for="im">IM</label>
                    <select class="form-control im" name="im" id="im">
                      <option value="">--- Please select IM ---</option>
                      <option value="1">Skype</option>
                      <option value="2">GTalk</option>
                      <option value="3">QQ</option>
                      <option value="4">Yahoo</option>
                      <option value="5">Facebook</option>
                      <option value="6">WeChat</option>
                      <option value="7">Twitter</option>
                      <option value="8">Other</option>
                    </select>
                  </div>
                   <div class="form-group">
                    <label for="im_acc">IM Account</label>
                    <input type="text" id="im_acc" name="im_acc" class="form-control" placeholder="Enter IM Account"
                    />
                  </div>
                   <div class="form-group">
                    <label for="address">Address</label>
                    <textarea class="form-control" name="address" id="address" placeholder="Enter Address"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="team">Team</label>
                      <select class="form-control team" name="team" id="team">
                        <option value="">--- Please select team ---</option>
                        <% for(var i = 0; i < get_teams.length; i++) { %>
                          <option value="<%= get_teams[i]._id %>"><%= get_teams[i].team_name%></option>
                        <% } %>
                      </select>
                  </div>
                  <div class="form-group">
                    <label for="team">Team Leader</label>
                      <select class="form-control team_leader" name="team_leader" id="team_leader">
                        <option value="">--- Please select team leader ---</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                      </select>
                  </div>
                  <div class="form-group">
                    <label for="email">Role Type</label>
                    <select class="form-control role_type" name="role_type" id="role_type">
                      <option value="">--- Please select role ---</option>
                      <% for(var i = 0; i < get_roles.length; i++) { %>
                        <option value="<%= get_roles[i]._id %>"><%= get_roles[i].role_name%></option>
                      <% } %>
                    </select>
                  </div>
                  <div class="form-group "> 
                    <label for="password ">Password</label> 
                    <input type="password" id="password" name="password" class="form-control " placeholder="Create Password " value="' + password + '"> </div>
                  </div>
                  <div class="modal-footer"> 
                    <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button> 
                    <button type="submit" class="btn btn-primary" id="save_users">Update</button>
                    <img src="/public/images/loader_form.gif" class="img-responsive " id="loader " style="width: 25px;display:none;"/>
                  </div>
                </div>
              </form>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../layouts/footer %>
<script>
    
  $(document).on('click', '.update_user_profile', function () {

    $("#update_user_accounts")[0].reset();
    var user_id  = this.id;
    $("#loader").show();
    $("#save_users ").prop('disabled', true);
    $.ajax({
      url     : '/accounts/popup_content',
      type    : 'POST',
      data    : { 
        'type' : 'edit', 
        'id'   : user_id 
      },
      success : function (data) {
         $("#loader").hide();
        if (data.status == 200) {
          
          $('#pid').val(data.user_data[0]._id); 
          $('#email').val(data.user_data[0].email); 
          $("#first_name").val(data.user_data[0].first_name);
          $("#last_name").val(data.user_data[0].last_name);
          $("#mobile").val(data.user_data[0].mobile);
          $("#country").val(data.user_data[0].country_id);
          $('#im').val(data.user_data[0].im_id);
          $('#im_acc').val(data.user_data[0].im_account);
          $('#team').val(data.user_data[0].team_id);
          $('#team_leader').val(data.user_data[0].team_leader);
          $("#role_type").val(data.user_data[0].role_id);
          $("#password").val(data.user_data[0].password);
          $("#password2").val(data.user_data[0].password); 
          $("#address").val(data.user_data[0].address); 
          $("#save_users ").prop('disabled', false);
        }
      }
    });

  });


$(document).on('click', '#save_users', function(){

        var userForm = $("#update_user_accounts");

        var validator = userForm.validate({

            rules: {
                first_name: {
          required: {
            depends:function() {
              $(this).val($.trim($(this).val()));
              return true;
            }
          },
        },
        last_name: {
          required: {
            depends:function() {
              $(this).val($.trim($(this).val()));
              return true;
            }
          },
        },
        email: {
          required : true,
          email    : true
        },
        mobile: {
          required : true
        },
        country: {
          required : true
        },
        team: {
          required : true
        },
        team_leader: {
          required : true
        },
        role_type: {
          required : true
        },
        password: {
          required : true,
          minlength : 6,
        },
        password2: {
          required  : true,
          equalTo   : "#password"
        },
      },

      messages : {

        first_name: {
          required : "Please enter first name"
        },
        last_name: {
          required : "Please enter last name"
        },
        email: {
          required: "Please enter email address",
          email   : "Please enter valid email address"
        },
        mobile: {
          required : "Please enter mobile",
        },
        country: {
          required : "Please select country",
        },
        team: {
          required : "Please select team",
        },
        team_leader: {
          required : "Please select team leader",
        },
        role_type: {
          required: "Please select role type",
        },
        password: {
          required  : "Please enter password",
          minlength : "Password must be at least 6 characters"
        },
        password2: {
          required : "Please enter confirm password",
          equalTo  : "Passwords do not match"
        }
      },

      submitHandler: function(form) {
        $("#save_users ").prop('disabled', true);
        $("#loader").show();
        var email       = $('#email').val(); 
        var first_name  = $("#first_name").val();
        var last_name   = $("#last_name").val();
        var mobile      = $("#mobile").val();
        var country     = $("#country").val();
        var im          = $('#im').val();
        var im_acc      = $('#im_acc').val();
        var address     = $('#address').val();
        var team        = $('#team').val();
        var team_leader = $('#team_leader').val();
        var role_type   = $("#role_type").val();
        var password    = $("#password").val();
        var password2   = $("#password2").val(); 
        var role_name   = $('#role_type option:selected').text();
        var pid         = $("#pid").val();

        $.ajax({
          url     : '/accounts/update',
          type    : 'POST',
          data    : {
            'id'       : pid,
            'email'      : email,
            'first_name' : first_name,
            'last_name'  : last_name,
            'mobile'     : mobile,
            'country_id' : country,
            'im_id'      : im,
            'im_account' : im_acc,
            'address'    : address,
            'team_id'    : team,
            'team_leader': team_leader,
            'role_id'    : role_type,
            'password'   : password,
            'password2'  : password2,
            'role_name'  : role_name,
          },
          success : function (data) {
            $("#loader").hide();
            if (data.status == 200) {
              $('#notification').html('<div class="alert alert-success"><strong>Success!</strong> User Account Updated successfully.</div>');
            } else {
              $("#save_users ").prop('disabled', false);
              $('#notification').html('<div class="alert alert-danger "><strong>Error!</strong> A problem has been occurred while submitting your data.</div>');
            }
          setTimeout(function() { 
            $('#notification').hide();
            location.reload(); 
            }, 3000);
          }
      });
    }
  });            
});

</script>
