<% include ../layouts/header %>
<% var access = user['permission_access'];  %>
<% if(access.hasOwnProperty('create')) { %>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <div id="register_notification"></div>
      <h3 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Add new user
      </h3>
      <% include ../partials/messages %>
      <form id="register_form">
        <div class="form-group">
          <label for="first_name">First Name</label>
          <input type="text" id="first_name" name="first_name" class="form-control" placeholder="Enter First Name" value="<%= typeof first_name != 'undefined' ? first_name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="first_name">Last Name</label>
          <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Enter Last Name" value="<%= typeof last_name != 'undefined' ? last_name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="mobile">Mobile</label>
          <input type="text" id="mobile" name="mobile" class="form-control" placeholder="Enter Mobile Number" value="<%= typeof mobile != 'undefined' ? mobile : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <select class="form-control country" name="country" id="country">
            <option value="">--- Please select country ---</option>
            <% for(var i = 0; i < get_countries.length; i++) { %>
                <option value="<%= get_countries[i].country_id %>"><%= get_countries[i].country_name%></option>
              <% } %>
          </select>
        </div>       
        <div class="form-group">
          <label for="im">IM</label>
          <select class="form-control im" name="im" id="im">
            <option value="">--- Please select IM ---</option>
            <option value="1">Skype</option>
            <option value="2">GTalk</option>
            <option value="3">QQ</option>
            <option value="4">Yahoo</option>
            <option value="5">Facebook</option>
            <option value="6">WeChat</option>
            <option value="7">Twitter</option>
            <option value="8">Other</option>
          </select>
        </div>
         <div class="form-group">
          <label for="im_acc">IM Account</label>
          <input type="text" id="im_acc" name="im_acc" class="form-control" placeholder="Enter IM Account" value="<%= typeof im_acc != 'undefined' ? im_acc : '' %>"
          />
        </div>
         <div class="form-group">
          <label for="address">Address</label>
          <textarea class="form-control" name="address" id="address" placeholder="Enter Address"></textarea>
        </div>
        <div class="form-group">
          <label for="team">Team</label>
            <select class="form-control team" name="team" id="team">
              <option value="">--- Please select team ---</option>
              <% for(var i = 0; i < get_teams.length; i++) { %>
                <option value="<%= get_teams[i]._id %>"><%= get_teams[i].team_name%></option>
              <% } %>
             
            </select>
        </div>
        <div class="form-group">
          <label for="team">Team Leader</label>
            <select class="form-control team_leader" name="team_leader" id="team_leader">
              <option value="">--- Please select team leader ---</option>
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
        </div>
        <div class="form-group">
          <label for="email">Role Type</label>
            <select class="form-control role_type" name="role_type" id="role_type">
              <option value="">--- Please select role ---</option>
              <% for(var i = 0; i < get_roles.length; i++) { %>
                <option value="<%= get_roles[i]._id %>"><%= get_roles[i].role_name%></option>
              <% } %>
            </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block" id="register_btn">
          Save
        </button>
        <img src="/public/images/loader_form.gif" class="img-responsive " id="loader" style="width: 25px;display:none;" />
      </form>
      
    </div>
  </div>
</div>
<% } %>
 <% include ../layouts/footer %>

<script type="text/javascript">
  $(document).on('click', '#register_btn', function(){

    var registerForm  = $("#register_form");

    var validator     = registerForm.validate({

      rules : {
        first_name: {
          required: {
            depends:function() {
              $(this).val($.trim($(this).val()));
              return true;
            }
          },
        },
        last_name: {
          required: {
            depends:function() {
              $(this).val($.trim($(this).val()));
              return true;
            }
          },
        },
        email: {
          required : true,
          email    : true
        },
        mobile: {
          required : true
        },
        country: {
          required : true
        },
        team: {
          required : true
        },
        team_leader: {
          required : true
        },
        role_type: {
          required : true
        },
        password: {
          required : true,
          minlength : 6,
        },
        password2: {
          required  : true,
          equalTo   : "#password"
        },
      },

      messages : {

        first_name: {
          required : "Please enter first name"
        },
        last_name: {
          required : "Please enter last name"
        },
        email: {
          required: "Please enter email address",
          email   : "Please enter valid email address"
        },
        mobile: {
          required : "Please enter mobile",
        },
        country: {
          required : "Please select country",
        },
        team: {
          required : "Please select team",
        },
        team_leader: {
          required : "Please select team leader",
        },
        role_type: {
          required: "Please select role type",
        },
        password: {
          required  : "Please enter password",
          minlength : "Password must be at least 6 characters"
        },
        password2: {
          required : "Please enter confirm password",
          equalTo  : "Passwords do not match"
        }
      },

      submitHandler: function(form) {
      
        $("#register_btn").prop('disabled', true);
        $("#loader").show();
        var email       = $('#email').val(); 
        var first_name  = $("#first_name").val();
        var last_name   = $("#last_name").val();
        var mobile      = $("#mobile").val();
        var country     = $("#country").val();
        var im          = $('#im').val();
        var im_acc      = $('#im_acc').val();
        var address     = $('#address').val();
        var team        = $('#team').val();
        var team_leader = $('#team_leader').val();
        var role_type   = $("#role_type").val();
        var password    = $("#password").val();
        var password2   = $("#password2").val(); 
        var role_name   = $('#role_type option:selected').text();

        $.ajax({
          url            : '/accounts/register',
          type           : 'POST',
          data           : {
            'email'      : email,
            'first_name' : first_name,
            'last_name'  : last_name,
            'mobile'     : mobile,
            'country_id' : country,
            'im_id'      : im,
            'im_account' : im_acc,
            'address'    : address,
            'team_id'    : team,
            'team_leader': team_leader,
            'role_id'    : role_type,
            'password'   : password,
            'password2'  : password2,
            'role_name'  : role_name,
          },
          success : function (data) {
            $("#loader").hide();
            if (data.status == '200') {
              $('#register_notification').html('<div class="alert alert-success"><strong>Success! </strong>' + data.message + '</div>');
              $("#register_form")[0].reset();
            } else {
              $("#register_btn").prop('disabled', false);
              $('#register_notification').html('<div class="alert alert-danger "><strong>Error! </strong>' + data.message + '</div>');
            }

            // setTimeout(function(){ 
            //   $('#role_notification').hide();
            //   location.reload(); 
            // }, 3000);
          }
        });
      }
    });            
  }); 
</script>
