<% include ../layouts/header %>
<!-- content-wrapper start -->
<style type="text/css">
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
</style>
<div class="content-wrapper">
  

  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Move Contacts & exports</h4>
        <form role="form" class="export-csv-form" id="export-contacts-form" action="/export/export_csv" type="post">
            <a class="btn btn-warning btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="float:right;">
                <i class="mdi mdi-plus"></i> Show Indicator
            </a>
          <fieldset id="fieldset_1">
            <p class="card-description card-title">Indicator</p>
          </fieldset>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="first_name" checked="checked"> First Name
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="middle_name"> Middle Name
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="last_name" checked="checked"> Last Name
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="father_name"> Father Name
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="email_id"> Email ID
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" checked="checked"  data-value="mobile_no"> Mobile No
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="alternate_no"> Alternate No
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="mobile_no_with_cc"> Mobile No With CC
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="whatsapp_status"> Whatsapp Status
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="address"> Address
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="locality"> Locality
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="city"> City
                      <i class="input-helper"></i></label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="district"> District
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="state"> State
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="nationality">  Nationality
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="pincode"> Pincode
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="profession"> Profession
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="designation"> Designation
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="company_1"> Company_1
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="skill_1"> Skill_1
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="skill_2"> Skill_2
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="experience"> Experience
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="salary"> Salary
                      <i class="input-helper"></i></label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="qualification_1"> Qualification_1
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="qualification_2"> Qualification_2
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="title"> Title
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="add1"> Add1
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="add2"> Add2
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="add3"> Add3
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="company_name"> Company Name
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="company_circle"> Company Circle
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="operator_name"> Operator Name
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="occupation"> Occupation
                      <i class="input-helper"></i></label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" data-value="category_name" checked="checked"> Category Name
                      <i class="input-helper"></i></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class ="background">
          <div class="row row-eq-height" style="width: 100%; margin: 0 auto;">
            <div class="col-md-5" style="border: 1px solid black;margin-bottom: 15px;">
              <div class="card jsCard">
                <div class="card-body">
                  <h4 class="card-title"><label class="badge badge-danger">Source</label></h4>
                    
                    <div class="form-group row">
                      <input type="hidden" name="copyToken"/>
                      <label class="col-sm-4 col-form-label card-title">Category</label>
                    <div class="col-sm-8">
                      <select class="form-control select2 jsSelect jsCategory" name="from_category_id" id="from_category_id" multiple="multiple" data-placeholder="Select a category">
                        <option value="0" selected>Others</option>
                        <% for(var i = 0; i < category_list.length; i++) { %>
                        <option value="<%= category_list[i]._id %>"><%= category_list[i].name  %></option>
                        <% } %>
                      </select>
                        <p id="from_err_cat" class="error"></p>
                    </div>
                  </div>
                  <div class="form-group row" id="source_campaign" style="display:none;">
                      <input type="hidden" name="downloadToken"/>
                    <label class="col-sm-4 col-form-label card-title">Campaign</label>
                    <div class="col-sm-8">
                      <select class="form-control jsSelect jsCampaign" name="from_campaign_id" id="from_campaign_id" multiple="multiple" data-placeholder="Select a campaign">
                       
                      </select>
                    </div>
                  </div>
                  <div class="form-group row"  id="source_campaign_content" style="display:none;">
                    <label class="col-sm-4 col-form-label card-title">Content Label</label>
                    <div class="col-sm-8">
                      <select class="form-control jsSelect jsContentLabel" name="from_content_label_id" id="from_content_label_id" multiple="multiple" style="display:none;"  data-placeholder="Select a campaign content">
                       
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label card-title">Topper</label>
                    <div class="col-sm-8">
                      <select class="form-control jsSelect" name="from_topper_id" id="from_topper_id">
                        <option value="sender">Sender</option>
                        <option value="non-sender">Non Sender</option>
                        <option value="clicker">Clicker</option>
                      </select>
                    </div>
                  </div>


                <div class="form-group row">
                    <label class="col-sm-4 col-form-label card-title">Mode</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="mode_type" type="checkbox" checked data-toggle="toggle"  data-on="Include" data-off="Exclude" data-onstyle="success">
                    </div>
                </div>                 
                  
                </div>
              </div>
            </div>
            <div class="col-md-2" style="text-align: center;">
              <span style="display: table;height: 100%;width: 100%;">
                <span style="display: table-cell;height: 100%;vertical-align: middle;">
                  <i class="mdi mdi-account-convert" style="font-size: 30px;"></i>
                </span>
              </span>
            </div>
            <div class="col-md-5" style="border: 1px solid black;margin-bottom: 15px;">
              <div class="card jsCard">
                <div class="card-body">
                  <h4 class="card-title"><label class="badge badge-success">Destination</label></h4>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label card-title">Category</label>
                    <div class="col-sm-8">
                      <select class="form-control select2 jsSelect to_Category" name="to_category_id" id="to_category_id">
                        <option value="">---Select Category ---</option>
                        <% for(var i = 0; i < category_list.length; i++) { %>
                        <option value="<%= category_list[i]._id %>"><%= category_list[i].name  %></option>
                        <% } %>
                      </select>
                        <p id="err_category" class="error"></p>
                    </div>
                  </div>
                    
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label card-title">Campaign</label>
                    <div class="col-sm-8">
                      <select class="form-control jsSelect to_Campaign" name="to_campaign_id" id="to_campaign_id">
                        <option value="">---Select Campaign ---</option>
                      </select>
                        <p id="err_cat_campaign" class="error"></p>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label card-title">Content Label</label>
                    <div class="col-sm-8">
                      <select class="form-control jsSelect toContentLabel" name="to_content_label_id" id="to_content_label_id">
                        <option value="">---Select Content Label ---</option>
                      </select>
                        <p id="err_cat_campaign_content" class="error"></p>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label card-title">Topper</label>
                    <div class="col-sm-8">
                      <select class="form-control jsSelect" name="to_topper_id" id="from_topper_id">
                        <option value="sender">Sender</option>
                        <option value="non-sender" selected>Non Sender</option>
                        <option value="clicker">Clicker</option>
                      </select>
                    </div>
                  </div>
                    
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-5">
              <div id="btns" style="float:right;">
                <button type="button" class="btn btn-primary btn-fw" id="move_contact">Start Copy <span class="mdi mdi-arrow-right-thick"></span></button>
                <button type="button" class="btn btn-dark btn-fw" id="generate_btn">Search <span class="mdi mdi-account-search"></span></button>
              </div>
            </div> 
            <div class="col-md-2">
                
            </div>
            <div class="col-md-5">
              <div id="btns" style="float:right;">
                <button type="button" class="btn btn-danger btn-fw" id="reset_dd">Reset <span class="mdi mdi-lock-reset"></span></button>
                <button type="submit" class="btn btn-primary btn-fw" id="export_contact">Export as CSV <span class="mdi mdi-file-export"></span></button>
              </div>
            </div>
          </div>
        </form>
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Contacts List</h4>
                  <img src="/public/images/loader_report.gif" id="loader_report" style="display: none;width: 60px;display: block;margin: 0 auto;">
                <div class="log"></div>
                <div class="table-responsive" id="report-section">
                </div>
              <div id="pagination">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>
<% include ../layouts/footer %>

<style>
.jconfirm-closeIcon {
    visibility: hidden;
}
.jconfirm-buttons{
    display:none;
}
.toggle-handle{
    background-color: #fff;
    border-color: #ccc;
}
</style>

<script type="text/javascript">

$(document).ready(function () {
    $("#from_category_id").select2();
    
    var downloadToken = new Date().getTime();

    $('#export_contact').click(function(){

      var to_category_id =  $("#to_category_id").val();
      var to_campaign_id =  $("#to_campaign_id").val();
      var to_content_label_id = $("#to_content_label_id").val();

        if(parseInt(to_category_id)>0 && parseInt(to_campaign_id)>0 && parseInt(to_content_label_id)>0)
        {     
              $("#err_category").html('');
              $("#err_cat_campaign").html('');
              $("#err_cat_campaign_content").html('');

                downloadToken = new Date().getTime();
                $("[name='downloadToken']").val(downloadToken);
                $("#export-contacts-form").trigger("submit");
                $.confirm({
                    title: 'Downloading data.....',
                    content: '<img src="/public/images/4.gif" id="copy_loader" style="display: block;margin: 0 auto;"><p><strong>Please wait download in progress.</strong></p>',
                    icon: 'fa fa-question-circle-o',
                    //theme: 'light',
                    closeIcon: true,
                    animation: 'scale',
                    type: 'blue',
                    columnClass: 'col-sm-4',
                    backgroundDismissAnimation: 'shake',   
                    buttons: {
                        cancel: function(){
                            // lets the user close the modal.
                        }
                    }, 
                    onClose: function(){
                        $.alert({
                            title: 'Success!',
                            icon: 'fa fa-success',
                            closeIcon: true,
                            content: '<strong style="color:green;">contacts downloaded successfully</em>',
                            type: 'green',
                            backgroundDismiss: true

                        });

                    },   
                }); 
            timer();
          //});
              //$("#export-contacts-form").submit();
              return true;
          }
        
          if(parseInt(to_category_id)>0)
          {
             $("#err_category").html('');
          }

          if(parseInt(to_campaign_id)>0)
          {
             $("#err_cat_campaign").html('');
          }

          if(parseInt(to_content_label_id)>0)
          {
             $("#err_cat_campaign_content").html('');
          }
            
          if(to_category_id=='')
          {
              var elem = $('.card');
              $('html').scrollTop(elem.offset().top);
              
              $("#err_category").html('Please select the category');

          }

          if(to_campaign_id=='')
          {
              var elem = $('.card');
              $('html').scrollTop(elem.offset().top);

              $("#err_cat_campaign").html('Please select the campaign');

          }

          if(to_content_label_id=='')
          {
              var elem = $('.card');
              $('html').scrollTop(elem.offset().top);

              $("#err_cat_campaign_content").html('Please select the campaign content');

          }
            
            
            //var elem = $('#myTab');
          //$('html').scrollTop(elem.offset().top);
          return false;
        
    });
    


function timer() {

    var attempts = 100; /* As you required */
    var downloadTimer = window.setInterval(function () {
        $('.jconfirm-title').html('');
        var token = getCookie("downloadToken");
        attempts--;       
       
        $('.jconfirm-title').html('Downloading data.....<p style="color:red;font-weight:bold;">Estimated time Left: '+attempts+' seconds</p>');
        if (token == downloadToken || attempts == 0) {
            //$(".log").prepend("Browser received file from server<br/>");
            window.clearInterval(downloadTimer);

        }
        else {
            //$(".log").prepend("Browser not received file from server yet<br/>");
        }

        if(token == downloadToken )
        {
            $('.jconfirm-closeIcon').click();
        }
    
    }, 1000);
}
function parse(str) {
    var obj = {};
    var pairs = str.split(/ *; */);
    var pair;
    if ('' == pairs[0]) return obj;
    for (var i = 0; i < pairs.length; ++i) {
        pair = pairs[i].split('=');
        obj[decodeURIComponent(pair[0])] = decodeURIComponent(pair[1]);
    }
    return obj;
}

function getCookie(name) {
    var parts = parse(document.cookie);
    return parts[name] === undefined ? null : parts[name];
}

    
});

</script>


<script type="text/javascript">

$(document).ready(function () {
                   
    $('#generate_btn').click(function() {
        load_table(1);
    });
    $('.jsSelect').select2();
    
    var copyToken = new Date().getTime();
    
    $("#move_contact").click(function(){

          var from_category_id = $("#from_category_id").val();
          var from_campaign_id = $("#from_campaign_id").val();
          var from_content_label_id = $("#from_content_label_id").val();
          var from_topper_id = $("#from_topper_id").val();

          var to_category_id = $("#to_category_id").val();
          var to_campaign_id = $("#to_campaign_id").val();
          var to_content_label_id = $("#to_content_label_id").val();
          
          if($("#mode_type").prop('checked')==true)
          {
              var mode = 'include';
          }else{
              var mode = 'exclude';
          }

          copyToken = new Date().getTime();
          $("[name='copyToken']").val(copyToken);        
          $("#from_err_cat").text('');
          $("#err_category").text('');
        
         if(from_category_id=='')
          { 
              $("#from_err_cat").text('Please select at least one category');
              return false;

          }else if(to_category_id=='')
          {
              $("#err_category").text('Please select at least one assign category');
              return false;
              
          }else
          {
              
                $.confirm({
                    title: 'Copying data.....',
                    content: '<img src="/public/images/copying_loader.gif" id="copy_loader" style="width: 100%;"><p><strong>Don\'t go anywhere just yet! Please wait on this screen untill the contacts transfer is completed.</strong></p>',
                    icon: 'fa fa-question-circle-o',
                    //theme: 'light',
                    closeIcon: true,
                    animation: 'scale',
                    type: 'green',
                    columnClass: 'col-sm-4',
                    backgroundDismissAnimation: 'shake',   
                    buttons: {
                        cancel: function(){
                            // lets the user close the modal.
                        }
                    }, 
                    onClose: function(){
                        $.alert({
                            title: 'Success!',
                            icon: 'fa fa-success',
                            closeIcon: true,
                            content: '<strong style="color:green;">contacts copied successfully</em>',
                            type: 'green',
                            backgroundDismiss: true
                           
                        });
                        
                    },                    
                });
              
              $("#from_err_cat").text('');
              $("#err_category").text('');
              //contact_move_timer();

              $.ajax({
                type : "POST",
                url : '/move/copycontacts',
                data : {
                    'from_category_id':from_category_id,
                    'from_campaign_id':from_campaign_id,
                    'from_content_label_id':from_content_label_id,
                    'from_topper_id': from_topper_id,
                    'to_category_id':to_category_id,
                    'to_campaign_id':to_campaign_id,
                    'to_content_label_id':to_content_label_id,
                    'copyToken':copyToken,
                    'mode':mode
                },
                dataType: 'json',
                success: function(response) {
                    //setTimeout(function(){ $('.jconfirm-closeIcon').click(); }, 3000);
                   /* $("#copy_loader").hide();*/
                    $('.jconfirm-closeIcon').click();
                    //console.log('Ajax Request done');
                }
              });               
          }
       
    });
    

    //Load the data.
    load_table(1);

    //Reset functions
    $('#reset_dd').click(function(){
      $("#to_category_id").val('0').change();
      $("#to_campaign_id").val('').change();
      $("#to_content_label_id").val('').change();
    });
    
    $("#from_topper_id").select2();
    $("#from_campaign_id").select2();
    
    $('#from_campaign_id').css('display', 'none');
    $('#from_content_label_id').css('display', 'none');
    /*category change event to update the campaign dropdown*/
    $('#from_topper_id').on('change', function() {

        var topper = this.value;

        if(topper=='clicker'){
            $("#from_campaign_id").select2();
            $("#from_content_label_id").select2();

            $("#source_campaign").show();
            $("#source_campaign_content").show();
            
            $("#from_campaign_id").show();
            $("#from_content_label_id").show();
        }else{
            $("#source_campaign").hide();
            $("#source_campaign_content").hide();
            
            $("#from_campaign_id").hide();
            $("#from_content_label_id").hide();
        }
    });
    
    /*category change event to update the campaign dropdown*/
    $('.jsCategory').on('change', function() {
      var camp_id = $(this).closest('.jsCard').find('.jsCampaign').attr('id');
      
      var category_id = $("#from_category_id").val();

        
      $.ajax({
        type : "POST",
        url : '/export/get_dependent_dropdown',
        data : {'category_id':category_id,'dropdown_type':'campaign' },
        dataType: 'json',
        success: function(response) {
          $("#" + camp_id).html(response.html);
          $("#" + camp_id).select2();
        }
      });

    });

    /*campaign change event to update the content label dropdown*/
    $('.jsCampaign').on('change', function() {

      var content_label_id = $(this).closest('.jsCard').find('.jsContentLabel').attr('id');
      var campaign_id = $("#from_campaign_id").val();
      
      $.ajax({
        type : "POST",
        url : '/export/get_dependent_dropdown',
        data : {'campaign_id':campaign_id,'dropdown_type':'campaign_coneten_label' },
        dataType: 'json',
        success: function(response) {
          $("#" + content_label_id).html(response.html);
          $('#' + content_label_id).select2();
        }
      });
    });

    /*category change event to update the campaign dropdown*/
    $('.to_Category').on('change', function() {
      var camp_id = $(this).closest('.jsCard').find('.to_Campaign').attr('id');
      $.ajax({
        type : "POST",
        url : '/export/get_dependent_destination_dropdown',
        data : {'campaign_id':this.value,'dropdown_type':'campaign' },
        dataType: 'json',
        success: function(response) {
          $("#" + camp_id).html(response.html);
          $("#" + camp_id).select2();
        }
      });

    });

    /*campaign change event to update the content label dropdown*/
    $('.to_Campaign').on('change', function() {
      var content_label_id = $(this).closest('.jsCard').find('.toContentLabel').attr('id');
      $.ajax({
        type : "POST",
        url : '/export/get_dependent_destination_dropdown',
        data : {'campaign_id':this.value,'dropdown_type':'campaign_coneten_label' },
        dataType: 'json',
        success: function(response) {
          $("#" + content_label_id).html(response.html);
          $('#' + content_label_id).select2();
        }
      });
    });
    
    function contact_move_timer() {

        var attempts = 100; /* As you required */
        var copyTimer = window.setInterval(function () {
            $('.jconfirm-title').html('');
            var gettoken = getCopyCookie("copyToken");
            attempts--;       

            $('.jconfirm-title').html('Copying data.....<p style="color:red;font-weight:bold;">Estimated time Left:  '+attempts+' seconds</p>');
            if (gettoken == copyToken || attempts == 0) {
                //$(".log").prepend("Browser received file from server<br/>");
                window.clearInterval(copyTimer);

            }
            else {
                //$(".log").prepend("Browser not received file from server yet<br/>");
            }
            console.log('copyToken: '+copyToken);
            if(gettoken == copyToken)
            {
                $('.jconfirm-closeIcon').click();
            }

        }, 1000);
    }


    function getCopyCookie(name) {
        var parts = Copyparse(document.cookie);
         console.log('test');
            console.log(parts);

        return parts[name] === undefined ? null : parts[name];
    }

    function Copyparse(str) {
        var obj = {};
        var pairs = str.split(/ *; */);
        var pair;
        if ('' == pairs[0]) return obj;
        for (var i = 0; i < pairs.length; ++i) {
            pair = pairs[i].split('=');
            obj[decodeURIComponent(pair[0])] = decodeURIComponent(pair[1]);
        }
        return obj;
    }
    
});

  function load_table(page_no) {
     $("#pagination").empty();
     $("#report-section").empty();
     
      var resultObj = [];

      $(".form-check-input:checked").each(function () {
        resultObj.push($(this).data('value'));
      });

      var json_data = JSON.stringify(resultObj);
     
      //Date range
      var page_no = page_no;

      if($("#mode_type").prop('checked')==true)
      {
          var mode = 'include';
      }else{
          var mode = 'exclude';
      }
      
      var category_id = $('#from_category_id').val();
      var campaign_id = $('#from_campaign_id').val();
      var content_label_id = $('#from_content_label_id').val();
      var topper_id = $('#from_topper_id').val();
     
      $("#loader_report").show();
      $.ajax({
        type : "POST",
        url : '/export/report_filter',
        data : {'topper_id':topper_id,'category_id':category_id,'campaign_id':campaign_id,'content_label_id':content_label_id,'page_no':page_no,'selected_columns':json_data,'mode':mode },
        dataType: 'json',
        success: function(response) {
          $("#loader_report").hide();
          $('#loader').hide(); 
          $("#report-section").html(response.table_content);
          $('#pagination').html(response.pagination_content);
        }
      });
   }
</script>

<style>
    .error{
        color:red;
    }
    .toggle.btn.btn-success,.toggle.btn.btn-default.off
    {
        width:50%!important;
    }
    .toggle.btn.btn-default.off{
        background: grey;
        color:#fff;
    }
    .select2-search__field{
        width: 100%!important;
    }
</style>